<!--
<?php
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
   
  <tr> 
    <td align="center"> 
      <input type="button" name="Submit22" value="管理设置" onClick="window.location=('index.php?lfj=$lfj&hack=$hack&job=set')">
      　　 
      <input type="button" name="Submit2" value="今日流量分析" onClick="window.location=('index.php?lfj=$lfj&hack=$hack&job=list')">
      　　 
      <input type="button" name="Submit23" value="最近详情分析" onClick="window.location=('index.php?lfj=$lfj&hack=$hack&job=listmore')">
      　　 
      <input type="button" name="Submit232" value="本年度流量分析" onClick="window.location=('index.php?lfj=$lfj&hack=$hack&job=listall')">
    </td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form1" method="post" action="index.php?lfj=$lfj&hack=$hack&action=$job">
    <tr class="head"> 
      <td colspan="2" height="23"><font color="#FFFFFF">设置:</font></td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="26%">最多统计多少条用户详情信息: </td>
      <td width="74%"> 
        <input type="text" name="webdbs[MaxOnlineUser]" size="5" value="$webdb[MaxOnlineUser]">
        推荐2000以内,默认1000</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="26%">是否停止统计功能:</td>
      <td width="74%"> 
        <input type="radio" name="webdbs[close_count]" value="0" $close_count[0]>
        启用 
        <input type="radio" name="webdbs[close_count]" value="1" $close_count[1]>
        停止</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="26%">是否只保留当天的最近详情:</td>
      <td width="74%">
        <input type="radio" name="webdbs[KeepTodayCount]" value="1" $KeepTodayCount[1]>
        仅保留当天 
        <input type="radio" name="webdbs[KeepTodayCount]" value="0" $KeepTodayCount[0]>
        不限 (建议只保留当天的,这样更方便分析当天的情况)</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="26%">不想统计来源地址的域名:<br>
        每个域名换一行,如<br>
        mmcbbs.com<br>
        php168.com <br>
        (比如自己的域名,就没必要统计来源的) </td>
      <td width="74%"> 
        <textarea name="webdbs[ForbidCountDomain]" cols="50" rows="8">$webdb[ForbidCountDomain]</textarea>
      </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="26%">&nbsp;</td>
      <td width="74%"> 
        <input type="submit" name="Submit" value="提交">
      </td>
    </tr>
  </form>
</table>

<SCRIPT LANGUAGE="JavaScript">
<!--
function JM_cc(ob){
var obj=document.getElementById(ob); if (obj) { 
obj.select();js=obj.createTextRange();js.execCommand("Copy");}
}
//-->
</SCRIPT>
<!--
EOT;
?>
-->
