<!--
<?php
if($id!=1){
print <<<EOT
--> 
<table id="top_menu" width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <tr bgcolor='#FFFFFF'> 
    <td bgcolor="#FFFFFF"> 
      <div align="center">
       <!-- <input type="button" name="Submit222" value="创建新频道" onClick="window.location=('index.php?lfj=$lfj&job=autoadd')">-->
        　　 
        <input type="button" name="Submit22" value="添加频道页" onClick="window.location=('index.php?lfj=$lfj&job=add')">
        　　 　　 
        <input type="button" name="Submit23" value="管理频道页" onClick="window.location=('index.php?lfj=$lfj&job=list')">
      </div>
    </td>
  </tr>
</table>

<!--
EOT;
}else{print <<<EOT
--> 
<style type="text/css">
#setindex a{
	font-size:14px;
	line-height:28px;
	color:red;
}
</style>
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth" >
  <form name="form1" method="post" action="index.php?lfj=center&action=config">

    <tr> 
      <td align="center" bgcolor='#FFFFFF' id="setindex"> 
        <p>  
          [<a href="../index.php?&ch=1&MakeIndex=1" target="_blank" onclick="return confirm('你确实要把首页生成静态吗?');">把首页生成静态页</a>] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          [<a href="index.php?lfj=center&job=delindex" target="_self">删除首页静态页</a>] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          [<a href="../" target="_blank">查看首页</a>] </p>
        </td>
    </tr>
  </form>
</table>
<!--
EOT;
}
?>
-->