<!--
<?php
print <<<EOT
--> <script src="images/setday.js"></script>
<table width="100%" cellspacing="1" cellpadding="3" class="tablewidth">
<form name="form1" method="post" action="?action=make">
  <tr class="head"> 
    <td colspan="2" > 
      <div align="center"><font color="#FFFFFF">请选择要生成静态网页的栏目</font></div>
    </td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
      <td width="28%">请选择栏目,同时按住<font color="#FF0000">Ctrl键</font>可多选,不推荐选择很多栏目，以免服务器支持不了</td>
      <td width="72%">请必须确认b/html或静态文件存放目录可写，切必须在整站目录下</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td colspan="2">$failmsg</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
      <td width="28%">$select_news</td>
      <td width="72%" valign="top"> 
        <p><!--访问网址路径 
          <input type="text" name="www_url" size="50" value="$webdb[www_url]">
          <br>
          列表页的格式 
          <input type="text" name="list_filename" size="50" value="$webdb[list_filename]">
          <br>
          内容页的格式 
          <input type="text" name="bencandy_filename" size="50" value="$webdb[bencandyFormatHtml]">
          <br>-->
          每批生成几个静态页 
          <input type="text" name="showNum" value="10" size="3">
          ( 默认10,数值太大的话,有的服务器或带宽可能支持不了)<br>
        <!--  <br>
          有选择性的生成文章 
          <input type="radio" name="Mtype" value="time" checked onclick=showmu('time')>
          按日期选择 
          <input type="radio" name="Mtype" value="id" onclick=showmu('id')>
          按文章ID选择--></p>
      <p> 
       <!-- <div id='mtime' style='DISPLAY: '> 开始日期 
          <input type="text" name="beginTime" size="22" onclick="setday(this)">
          ,结束日期 
          <input type="text" name="endTime" size="22" onClick="setday(this)">
          <br>
        </div>
		 
        <div id='mid' style='DISPLAY: none'> 文章开始ID 
          <input type="text" name="beginId" size="3">
          ,文章结束ID 
          <input type="text" name="endId" size="3">
        </div>
		 
        <p><font color="#FF0000">留空则不做限制,生成全部文章</font></p>--><input type="submit" name="Submit" value="开始生成"  >
      </td>
  </tr>  </form>
</table>
<script>
function showmu(kk){
	if (kk == 'time'){
		mtime.style.display = '';
		mid.style.display = 'none';
	}else{
		mtime.style.display = 'none';
		mid.style.display = '';
	}
}
</script>
<!--
EOT;
?>
-->