<!--
<?php
print <<<EOT
--> 
 
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <form name="form1" method="post" action="?action=$job">
    <tr class="head"> 
      <td align="left"> <b><font color="#FFFFFF">设置如下</font></b></td>
    </tr>
    <tr> 
      <td bgcolor='#FFFFFF' align="center">[<a href="$Mdomain/index.php?MakeIndex=1" target="_blank">点击把首页生成静态</a>] 
        [<a href="?action=deleteindex">点击删除首页静态文件</a>]</td>
    </tr>
    <tr> 
      <td bgcolor='#FFFFFF'>&nbsp;</td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->
