 <!--
<?php
print <<<EOT
--> 
<table width=100% cellspacing=1 cellpadding=3  class="tablewidth">
  <tr> <form name="form2" method="post" action="">
      <td>[<a href="?lfj=$lfj&job=liststudent&id=$id">全部会员的问卷</a>]</td>
    </form>
  </tr>
</table>
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
        <tr> 
          <td height="21" class="head"> 
            批阅试卷
          </td>
        </tr> <tr> 
          
    <td height="21" class="head3">试卷名:《 <b>{$rsdb[name]}</b> 》 <br>
      会员：<a href="../member/homepage.php?uid=$rsdb[student_uid]" target="_blank"><font color="#0000FF">{$rsdb[student_name]}</font></a> 
      　　　当前总分数:<b><font color="#FF0000">{$rsdb[total_fen]}</font></b>分 　　　　提交日期:$rsdb[posttime] 
    </td>
        </tr>
        <tr> 
          <td height="50" class="middle" valign="top"> <form name="form1" method="post" action="?lfj=$lfj">
              <!--
EOT;
$i=0;
foreach($listdb AS $key=>$array){
$i++;
$num=count($array);
$eachfen=$config[fendb][$key]/$num;
print <<<EOT
-->
              <table width="99%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                
            <td bgcolor="#D5DFFB" style="padding:4px;">{$numDB[$i]}、{$paperType[$key]}。(共{$num}题,共<font color="#FF0000"><b>{$config[fendb][$key]}</b></font>分,每题<font color="#FF0000">{$eachfen}</font>分)</td>
              </tr>
              <tr>
                <td>
 
<!--
EOT;
$j=0;
foreach($array AS $rs){
$j++;
print <<<EOT
-->    
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:8px;">
                    <tr> 
                      <td>{$j}. {$rs[question]}</td>
                    </tr>
                    <tr> 
                      <td style="padding:4px;"> 
                        
$rs[showcontent]
 
                    <table width="100" border="0" cellspacing="0" cellpadding="0"><!--
EOT;
if($rs[st_id]){print <<<EOT
-->  
                      <tr> 
                        <td><FIELDSET><LEGEND>得分</LEGEND> 
                          <input type="text" name="fenDB[$rs[st_id]]" size="4" style="background:#F2F2F2;" value="$rs[_fen]">
                          </FIELDSET></td><td>&nbsp;&nbsp;</td>
                        <td><FIELDSET><LEGEND>点评</LEGEND> 
                          <textarea name='commentDB[$rs[st_id]]' cols='50' rows='3' style="background:#F2F2F2;">$rs[_comment]</textarea>
                          </FIELDSET></td>
                        
                      </tr><!--
EOT;
}print <<<EOT
-->  
                    </table>
						
						
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td>最佳答案是:<font color="#FF0000">$rs[answer]</font> </td>
                      </tr>
                    </table>
                  </td>
                    </tr>
                  </table>
<!--
EOT;
}print <<<EOT
-->  
                </td>
              </tr>
            </table>
            <!--
EOT;
}print <<<EOT
-->
            <div style="padding:10px;text-align:center;"> 
                    <input type="submit" name="Submit" value="提交">
                    
              <input type="hidden" value="postRead" name="action">
              <input type="hidden" value="$student_id" name="student_id">
              <input type="hidden" value="$id" name="id">
            </div>  </form>
            
    </td>
        </tr>
         
      </table>
      
    
<script language="JavaScript"> 
<!--
function MM_jumpMenu(selObj){
	va=selObj.options[selObj.selectedIndex].value;
	if(va!=''){
		//window.location.href='?job=list&classid='+va;
		document.form2.submit();
	}
}
function MM_jumpMenu2(selObj){
	va=selObj.options[selObj.selectedIndex].value;
	if(va!=''){
		document.form2.submit();
	}
}
//-->
</script>
<!--
EOT;
?>
-->
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
        <tr> 
          
    <td height="21" class="head">说明： </td>
  </tr>
  <tr>
    <td>1、会员提交的表单内容不允许修改，但可以做评论与修改分数。<br>
      2、会员没填写的题目，则不允许评论与评分。 </td>
  </tr>
</table>
