<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth" style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word'>
  <form name="form_work" method="post" action="index.php?lfj=$lfj&action=delete">
    <tr class="head"> 
      <td width="6%" align="center">序号</td>
      <td width="26%" align="center">文件存放地址</td>
      <td width="17%" align="center">所在栏目</td>
      <td width="32%" align="center">所在文章</td>
      <td width="11%" align="center">大小</td>
      <td width="8%" align="center">删除</td>
    </tr>
<!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr bgcolor="#FFFFFF"> 
      <td width="6%" align="center">$rs[did]</td>
      <td width="26%"> 
        <input type="checkbox" name="diddb[{$rs[did]}]" value="{$rs[did]}">
        <a href="$rs[fileurl]" target="_blank">$rs[fileurl]</a></td>
      <td width="17%" align="center"><a href="?fid=$rs[fid]">$rs[fname]</a></td>
      <td width="32%" align="center"><a href="?fid=$rs[fid]&id=$rs[aid]">$rs[title]</a></td>
      <td width="11%" align="center">$rs[filesize]<b>(K)</b></td>
      <td width="8%" align="center"><a href="index.php?lfj=$lfj&action=delete&diddb[{$rs[did]}]={$rs[did]}">删除</a></td>
    </tr>
    <!--
EOT;
}
print <<<EOT
-->
    <tr align="center"> 
      <td colspan="6" bgcolor="#FFFFFF"> 
     $showpage
      </td>
    </tr> <tr align="center"> 
      <td colspan="6" bgcolor="#FFFFFF">  <a href="#" onClick="CheckAll('all')">全选</a>/<a href="#" onClick='CheckAll()'>反选</a>
        <input type="submit" name="Submit" value="删 除">
      </td>
    </tr>
  </form>
</table>
<SCRIPT LANGUAGE="JavaScript">
<!--
function postdo(va){
	document.form_work.jobs.value=va
	document.form_work.submit();
}
function CheckAll(va){
	form=document.form_work
	for (var i=0;i<form.elements.length;i++){
		var e = form.elements[i];
		if(va=='all'){
			e.checked = true;
		}else{
			e.checked == true ? e.checked = false : e.checked = true;
		}
	}
}
//-->
</SCRIPT>
<!--
EOT;
?>
-->