<!--
<?php
print <<<EOT
-->
	<table width="100%" cellspacing="0" cellpadding="0" id="guide"  >
    <tr>
      <td width="15%" rowspan="2" align="right" valign="top"><img src="$Murl/member/{$member_style}/notice.jpg"  border="0"/></td>
      <td width="85%" height="30"><a href="$Murl/member/homepage_ctrl.php?atn=info">
 		<strong>商家信息已经登记，但是您的商铺页面未初始化，<a href='$Mdomain/myhomepage.php' target='_blank'>[点击这里初始化]</a></strong>
	  </td>
    </tr>
    <tr>
      <td height="50" valign="top">
      1.公司资料越完善，客户对您的信任度越高。<br />
      2.完善公司资料，潜在客户更容易找到您。<br />
      3.<a href="$Murl/member/homepage_ctrl.php?atn=base">模板设置</a>中可以管理您的商铺界面，让您的商铺界面更美观大方。</td>
    </tr>
  </table>

<!--
EOT;
?>
-->