<!--
<?php

if(!$action){
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main" > 
     
	   <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr> 
          <td class="head">
          	<strong>以下我的代理商资格</strong>。<strong>如果您要继续申请代理商资格，请点击<a href="?action=add"><font color="#ff2200">[申请新的代理商资格]</font></a></strong></span>
          </td>
        </tr>
      </table>
	 
	    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr  class="trA"> 
          <td height="80" align="left" valign="middle" style="padding:10px;">
<!--
EOT;
if(count($listdb)){

print <<<EOT
-->		  
<table width="100%" cellspacing="1" cellpadding="0">
  <tr class="head_in"> 
   
    <td width="14%"><strong>代理商名称</strong></td>
    <td width="9%"><strong>代理等级</strong></td>
    <td width="7%" align="center"><strong>证书</strong></td>
    <td width="11%" align="center"><strong>提交时间</strong></td>
    <td width="11%"><strong>当前状态</strong></td>
    <td width="25%"><strong>联系方式</strong></td>
    <td width="13%" align="center"><strong>撤销资格</strong></td>
  </tr>
<!--
EOT;
foreach($listdb as $rs){
	$rs[contact_info][url_link]=$rs[contact_info][url];
	$rs[contact_info][url]=$rs[contact_info][url]?"点击查看...":"";
print <<<EOT
-->	 
   <tr class='trA' onmouseover="this.className='trB'" onmouseout="this.className='trA'">
    
    
    <td height="80">$rs[ag_name]</td>
     <td>$rs[ag_level]</td>
    <td align="center"><a href="$rs[ag_cert]" target="_blank"><img src="$Murl/member/images/img_ico.gif" />预览</a></td>
    
    <td align="center">$rs[posttime]</td>
    <td><font color="#FF3300">$rs[status]</font></td>
    <td style="line-height:16px;">
	  联 系 人：{$rs[contact_info][name]}<br />
      联系电话：{$rs[contact_info][tel]}<br />
      传真号码：{$rs[contact_info][fax]}<br />
      邮箱地址：{$rs[contact_info][email]}<br />
      详细地址：{$rs[contact_info][address]}<br />
	  参考网址：<a href="{$rs[contact_info][url_link]}" target="_blank">{$rs[contact_info][url]}</a>	  </td>
	<td align="center"><a href="?action=cancel&ag_id=$rs[ag_id]" onclick="return confirm('撤销后无法恢复,确定要撤销吗？');">$rs[cancel]</a>&nbsp;</td>
  </tr>
<!--
EOT;
}
print <<<EOT
-->	 
</table>
  					
<!--
EOT;

}else{
print <<<EOT
-->		  

					<table width="100%" cellspacing="0" cellpadding="0" id="guide"  >
    <tr>
      <td width="20%" rowspan="2" valign="top" align="right"><img src="$Murl/member/{$member_style}/notice.jpg"  border="0"/></td>
      <td width="80%" height="30"><a href="?action=add"><strong>抱歉，暂无代理商资格记录 [申请新的代理商资格]</strong></a></td>
    </tr>
    <tr>
      <td height="50" valign="top">
    <script language="javascript" type="text/javascript" src="$Murl/help_js.php?keyw=代理&fid=&listnum=5&length=60"></script>
			</td>
    </tr>
  </table>
            	    
				
				
<!--
EOT;
}
print <<<EOT
-->				
		  </td>
        </tr>
      </table>
	
	  
	</td>
  </tr>
</table>


<!--
EOT;
}elseif($action=='add'){
print <<<EOT
-->


<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main" > 
       <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr> 
          <td class="head">
          	<strong>申请新的代理商资格</strong>：
          </td>
        </tr>
      </table>
	  
	  
	    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr  class="trA"> 
          <td height="80" align="left" valign="middle"  style="padding:10px;" width="60%"><form action="?" method="post" enctype="multipart/form-data" name="form1" id="form1" >
		  
		    <input name="action" type="hidden" id="action" value="save_add" />
            <table width="800" cellspacing="0" cellpadding="5">
              <tr>
                <td width="22%" align="right">代理商名称：</td>
                <td width="78%" align="left" valign="top"><input name="ag_name" type="text" id="ag_name" size="40" />                  
                  * 5-20个汉字</td>
              </tr>
              <tr>
                <td align="right">代理商等级：</td>
                <td align="left" valign="top"><select name="ag_level" id="ag_level" >
<!--
EOT;
foreach($ag_level_array as $key=>$val){
print <<<EOT
-->
	<option value="$key">$val</option>
<!--
EOT;
}
print <<<EOT
-->				
                </select>                </td>
              </tr>
              <tr>
                <td align="right">代理商资格证书：</td>
                <td align="left" valign="top"><input name="ag_cert" type="file" id="ag_cert" size="40" />
                  *<br />
                  (清晰可见的证书照片或者扫描件，大小在500k以内,只能是jpg，gif格式)</td>
              </tr>
              <tr>
                <td align="right">负责人姓名：</td>
                <td align="left" valign="top"><input name="contact_info[name]" type="text" id="contact_info[name]" size="10" maxlength="10" value="$contact_info[name]" /> 
                  * </td>
              </tr>
              <tr>
                <td align="right">联系电话：</td>
                <td align="left" valign="top"><input name="contact_info[tel]" type="text" id="contact_info[tel]" maxlength="20"  value="$contact_info[tel]" />
                  *</td>
              </tr>
              <tr>
                <td align="right">传真：</td>
                <td align="left" valign="top"><input name="contact_info[fax]" type="text" id="contact_info[fax]" maxlength="20"  value="$contact_info[fax]"/></td>
              </tr>
              <tr>
                <td align="right">邮箱地址：</td>
                <td align="left" valign="top"><input name="contact_info[email]" type="text" id="contact_info[email]" value="$contact_info[email]" size="40" maxlength="40" />
                  *</td>
              </tr>
              <tr>
                <td align="right">详细地址：</td>
                <td align="left" valign="top"><input name="contact_info[address]" type="text" id="contact_info[address]" size="50" maxlength="40" value="$contact_info[address]" />
                  *</td>
              </tr>
			  <tr>
                <td align="right">参考网址：</td>
                <td align="left" valign="top"><input name="contact_info[url]" type="text" id="contact_info[url]" size="50" maxlength="80" />
                  * (一个真实的访问网址,必须以http://开头)</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td align="left"><input type="submit" name="Submit" value="提交申请" />
                  <input type="button" name="Submit2" value="放 弃"  onclick="window.location='?';"/></td>
              </tr>
            </table>
			<p><script language="javascript" type="text/javascript" src="$Murl/help_js.php?keyw=代理&fid=&listnum=5&length=60"></script></p>
          </form>
          </td>
         
        </tr>
      </table>
	  	
	</td>
  </tr>
</table>

    
<!--
EOT;
}
?>
-->	  