<!--
<?php

if(!$action && !$job){
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main" >
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
        <tr> 
          <td class="head">
 	<strong>我的品牌,</strong><strong>&nbsp;&nbsp;&nbsp;<a href="?job=add">申请新的<font color="#ff2200">[品牌入驻]</font></a></strong></span>
	  </td>
        </tr>
    
        <tr  class="trA"> 
          <td height="80" align="left" valign="middle">	  
		  
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="head_in"> 
   
    <td width="19%" align="center"><strong>LOGO</strong></td>
	<td width="25%" align="left"><strong>品牌名称</strong></td>
    <td width="16%" align="center"><strong>状态</strong></td>
	<td width="13%" align="center"><strong>推荐</strong></td>
	<td width="27%" align="center"><strong>操作</strong></td>
    </tr>
<!--
EOT;
foreach($listdb as $rs){
print <<<EOT
-->	 
   <tr class='trA' onmouseover="this.className='trB'" onmouseout="this.className='trA'">
    
    <td height="70" align="center"><img src="$rs[picurl]"  style="border:1px #CCCCCC solid; width:180px; height:60px;" onerror="this.src='images/nopic.jpg';"/></td>
	<td align="left">$rs[name]</td>
    <td align="center">$rs[yz]</td>
	<td align="center">$rs[level]</td>
	  <td align="center" style="line-height:16px;"><a href="?job=edit&bid=$rs[bid]" onclick="return confirm('编辑后品牌会重回待审核状态。是否要继续编辑？');">编辑</a>
	   | <a href="$rs[url]" target="_blank">预览</a></td>
    </tr>
<!--
EOT;
}
print <<<EOT
-->
</table>
	

	
		  </td>
        </tr>
      </table>	


        
	 
	</td>
</tr> 
</table>

<!--
EOT;
}elseif($job=='add' || $job=='edit'  ){
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main" >
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
        <tr> 
          <td class="head">
		 <strong>申请我的品牌入驻</strong>
		  </td>
		</tr>
	
      <tr  class="trA">
        <td height="80" align="left" valign="middle"  style="padding:10px;" width="54%">
		<form action="?" method="post" enctype="multipart/form-data" name="form1" id="form1" style="margin:0">
             <table width="800" cellspacing="0" cellpadding="5">
              <tr>
                <td width="21%" height="30" align="right"><strong>品牌名称</strong>：</td>
                <td width="38%" align="left" valign="top"><input name="name" type="text" id="name" value="$rsdb[name]" size="40" /></td>
                <td width="41%" align="left" valign="top">必须填写 </td>
              </tr>
              <tr>
                <td width="21%" height="20" align="right" valign="top"><strong>LOGO</strong>：</td>
                <td width="38%" align="left" valign="top"><input name="postfile" type="file" id="postfile" />
           <input name="oldpicurl" type="hidden" id="oldpicurl" value="$rsdb[oldpicurl]" />
           <br />
		   <img src="$rsdb[picurl]"  style="border:1px #CCCCCC solid" width="180" height="60" onerror="this.style.display='none';"/></td>
                <td width="41%" align="left" valign="top">如果不修改，请不要选择,LOGO必须是像素为180*60的jpg,gif的小图片</td>
              </tr>
             <tr>
         <td height="30" align="right"><strong>品牌官网</strong>：</td>
         <td align="left" bgcolor="#FFFFFF"><input name="postdb[website]" type="text" id="postdb[website]" value="$rsdb[website]" size="40" /></td>
         <td align="left" bgcolor="#FFFFFF">http://开头</td>
       </tr>
       <tr>
         <td align="right"><strong>品牌描述</strong>：</td>
         <td align="left" bgcolor="#FFFFFF"><textarea name="postdb[description]" cols="40" rows="10" id="postdb[description]">$rsdb[description]</textarea></td>
         <td align="left" bgcolor="#FFFFFF">请尽量填写品牌描述</td>
       </tr>
       <tr>
         <td height="30" align="right"><strong>品牌关键字</strong>：</td>
         <td align="left" bgcolor="#FFFFFF"><input name="postdb[metakeywords]" type="text" id="postdb[metakeywords]" value="$rsdb[metakeywords]" size="40" /></td>
         <td align="left" bgcolor="#FFFFFF">&nbsp;</td>
       </tr>

              <tr>
                <td height="50" align="center">&nbsp;</td>
                <td align="left"><input type="submit" name="Submit" value="提交保存"  />
                  <input type="button" name="Submit2" value="放 弃"  onclick="window.location='?';"/>
                  <input name="action" type="hidden" id="action" value="$job" />
                  <input name="bid" type="hidden" id="bid" value="$bid" /></td>
                <td align="center">&nbsp;</td>
              </tr>
            </table>
		
        </form></td>
        </tr>
     
    </table></td>
  </tr>
</table>
    
<!--
EOT;
}
?>
-->	  