<!--
<?php
if(!$job){
print <<<EOT
-->
<table width="100%" border="0" cellspacing="1" cellpadding="1" align="center" class="MainTable">
  <tr> 
    <td  valign="top" class="Main" > 
       <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr> 
          <td class="head">
          	<strong>我的采购商</strong>：
          </td>
        </tr>
      </table>
   </td>
  </tr>
   <form id="form1" name="form1" method="post" action="?job=$job"><tr>
  <td valign="middle" > 
    关键字:
    <input name="keyword" type="text" id="keyword" value="$keyword" />
    <select name="ms_id" id="ms_id">
      <option value="0">采购商分类</option>
	  $ms_id_options
    </select>(同供应信息分类)
       <select name="yz" id="yz">
     <option value="0">全部状态</option>
	<option value="1" $yz_sel[1]>等待确定</option>
    <option  value="2" $yz_sel[2]>已经确定</option>
    </select>
    <input type="submit" name="button" id="button" value="搜索" />
</td>
  </tr>  </form>
  <tr> 
    <td   valign="top"> 
    <table width="100%" border="0" cellspacing="1" cellpadding="3" class="dragTable" >
  <form name="form_work" method="post" action="?" id="betch_action">
    <tr align="center" class="head"> 
      
      <td colspan="3"  align="left">采购商名称</td>
      <td width="15%" align="left">查看认证情况</td>
      <td width="10%" align="left">分类</td>
      <td width="10%" align="left">确定时间</td>
      <td width="10%" align="left">关系状态</td>
      <td width="10%">操作</td>
      <td width="10%">站内信</td>
    </tr>
<!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr style="background-color:#FFFFFF;" onmouseover="this.style.backgroundColor='#f5f5f5';" onmouseout="this.style.backgroundColor='#ffffff';"> 
     
    
      <td width="20"><input name="id_db[$rs[vid]]" type="checkbox" value="$rs[vid]" /></td>
      <td width="62"><img src="$rs[picurl]"  width="60" height="60" onerror="this.src='$Murl/member/images/nopic.jpg';" style="border:1px #CCCCCC solid"/></td>
      <td width="588"><a href="$Mdomain/homepage.php?uid=$rs[owner_uid]" target="_blank">$rs[title] </a><br />
        ($rs[owner_username])</td>
      <td><a href="$Mdomain/homepage.php?uid=$rs[owner_uid]&m=certification" target="_blank">$rs[renzheng]</a></td>
	  <td>$rs[mysort]</td>
      <td>$rs[posttime]</td>
      <td align="left">$rs[yz]</td>
      <td align="center" width="76"><a href="?job=del&vid=$rs[vid]"  onclick="return confirm('确定解除和此公司的采购关系吗？');">解除关系</a></td>
      <td align="center" width="84"><a href="$webdb[www_url]/member/pm.php?job=send&username=$rs[pm_username]" >写站内信</a></td>
    </tr>
<!--
EOT;
}
print <<<EOT
-->
    <tr bgcolor="#FFFFFF" align="center"> 
      <td colspan="9">{$showpage}</td>
    </tr>
    <tr bgcolor="#FFFFFF" align="center">
      <td colspan="9">选中项目:
        <select name="to_ms_id" id="to_ms_id" onchange="betch_submit(this,'betch_move')">
          <option value="0">移动到分类</option>
		    $ms_id_options
        </select><input name="job" type="hidden" id="action_job" value="betch_move" />
		<script language="javascript">
		function betch_submit(sel,action){
			if(sel.options[sel.selectedIndex].value){
				document.getElementById('action_job').value=action;
				document.getElementById('betch_action').submit();
			}
		}
		</script>        
		其他动作:
		<input type="button" name="button2" id="button2" value="群发站内信" onclick="window.location='?job=betch_pm'" /></td>
    </tr>
  </form>
</table>    

    
    
   </td>
  </tr>
</table>


<!--
EOT;
}elseif($job=='betch_pm'){

print <<<EOT
-->	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td  valign="top" class="Main" > 
       <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr> 
          <td class="head">
          	<strong>我的供应商 > 群发站内信</strong>：
          </td>
        </tr>
      </table>
   </td>
  </tr>
   <form id="form1" name="form1" method="post" action="?job=$job"><tr>
  <td valign="middle"> 
  	<table width="90%" border="0" cellspacing="1" cellpadding="5">
       <tr>
         <td width="11%" align="right" valign="top">标题：</td>
         <td width="89%"><input name="title" type="text" id="title" size="40" />
           <br />
           标题不能为空</td>
       </tr>
       <tr>
         <td align="right" valign="top">内容：</td>
         <td><textarea name="content" id="content" cols="60" rows="10"></textarea>
           <br />
           内容不能为空,且不能超过500个字</td>
       </tr>
        <tr>
         <td align="right" valign="top">提示：</td>
         <td>1.未确定关系的不会发送。<br />
           2.此次发送将发送给您所有的采购商,发送后不可撤销，请注意内容。属非系统信息。<br />
           3.<strong>发送期间请勿刷新页面。</strong></td>
       </tr>
       <tr>
         <td align="right">&nbsp;</td>
         <td><input type="submit" name="button3" id="button3" value="发送" /> 
         <input type="button" name="button4" id="button4" value="返回" onclick="window.location='?'"/>
         <input name="step" type="hidden" id="step" value="1" /></td>
       </tr>
     </table>
  </td>
  </tr>
     
   </form>
  </table>
<!--
EOT;
}
?>
-->