<!--
<?php
$webdb[kefuinfo]=nl2br($webdb[kefuinfo]);
print <<<EOT
-->
<!--
EOT;
if($webdb[allNotice]){
print <<<EOT
-->
<div style="width:100%; padding:5px; background-color:#FDE9EB; border-bottom:1px #CC0000 solid; color:#FF0000; font-size:12px; font-weight:bold; text-align:center;">
$webdb[allNotice]
</div>
<!--
EOT;
}

print <<<EOT
-->


  <table width="100%" cellspacing="0" cellpadding="0" id="guide">
    <tr>
      <td width="9%" rowspan="2" align="right" valign="top"><img src="$Murl/member/{$member_style}/notice.jpg"  border="0"/></td>
      <td width="91%" height="30"><a href="$Murl/member/vip.php">
<!--
EOT;
if(!$rsdb[is_vip]){
print <<<EOT
-->  
	  <strong>您现在还不是VIP商家，不能享受VIP商家的特殊服务：</strong><strong><font color="blue" style="font-size:14px;">点击成为VIP商家</font></strong>
<!--
EOT;
}else{
print <<<EOT
--> 
	 <strong>恭喜您，您现在是本网的VIP商家，享受特有的VIP服务</strong>
<!--
EOT;
}


print <<<EOT
-->   
	  </a>

	  </td>
    </tr>
    <tr>
      <td height="50" valign="top">
      1.商铺独立域名;****.chinarubberdirectory.com,更容易记住您的商铺地址
<!--
EOT;
if($rsdb[host]){
print <<<EOT
-->
	,当前二级域名：<a href="$rsdb[host]" target="_blank"><strong>$rsdb[host]</strong></a>
<!--
EOT;
}
print <<<EOT
--> 
	  <br />
      2.信息在列表页将会提前显示，列表标题追加“<font color="#FF0000">vip</font>”图标,更醒目<br />
      3.还有更多vip专属服务提供给您</td>
    </tr>
  </table>




<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td  valign="top" class="Main" > 
       <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr> 
          <td   class="head">
          <strong>截止到现在</strong>：		   </td>
        </tr>
      </table>
   </td>
  </tr>
  <td valign="middle" class="middle noticetb" style="padding:0px;"><table width="100%" cellpadding="5" cellspacing="1" bgcolor="#D4EAF1">
  <tr>
    <td width="8%" rowspan="2" align="right" bgcolor="#F5FBFF"><img src="$Murl/member/{$member_style}/arrow.gif" /> 表单</td>
    <td width="45%" bgcolor="#F5FBFF">您收到了 <a href="$Murl/member/myform1.php"><strong>$data[form1_num]</strong></a> 张询价单，<a href="$Murl/member/myform2.php"><strong>$data[form2_num]</strong></a> 张报价单；</td>
    <td width="47%" bgcolor="#F5FBFF">点此查看： <a href="$Murl/member/myform1.php"><font color="blue">询价单</font></a> &nbsp;&nbsp;<a href="$Murl/member/myform2.php"><font color="blue">报价单</font></a></td>
  </tr>
  <tr>
    <td bgcolor="#F5FBFF"> 您发出了<a href="$Murl/member/form1.php"><strong> $data[myform1_num] </strong></a>张询价单，<a href="$Murl/member/form2.php"><strong>$data[myform2_num]</strong></a> 张报价单；</td>
    <td bgcolor="#F5FBFF">点此查看： <a href="$Murl/member/form1.php"><font color="blue">询价单</font></a>&nbsp;&nbsp;  <a href="$Murl/member/form2.php"><font color="blue">报价单</font></a></td>
  </tr>
  <tr>
    <td rowspan="5" align="right" bgcolor="#F5FBFF"><img src="$Murl/member/{$member_style}/arrow.gif" /> 信息</td>
    <td bgcolor="#F5FBFF">您发布了 <a href="$Murl/member/selllist.php"><strong>$data[sell_num]</strong></a> 条供应信息，<a href="$Murl/member/buylist.php"><strong>$data[buy_num]</strong></a> 条求购信息； </td>
    <td bgcolor="#F5FBFF">点此查看： <a href="$Murl/member/selllist.php"><font color="blue">供应</font></a>&nbsp;&nbsp;  <a href="$Murl/member/buylist.php"><font color="blue">求购</font></a></td>
  </tr>
  <tr>
    <td bgcolor="#F5FBFF">您收藏了 <a href="$Murl/member/collection.php"><strong>$data[coll_num]</strong></a> 条信息在收藏夹；</td>
    <td bgcolor="#F5FBFF"><a href="$Murl/member/collection.php">点此查看</a></td>
  </tr>
  <tr>
    <td bgcolor="#F5FBFF">您收到了 <a href="$Murl/member/comment.php?job=list"><strong>$data[commtome_num]</strong></a> 条信息评论，发出了 <a href="$Murl/member/comment.php?job=mylist"><strong>$data[commtoother_num]</strong></a> 条信息评论； </td>
    <td bgcolor="#F5FBFF">点此查看： <a href="$Murl/member/comment.php?job=list"><font color="blue">收到的评论</font></a>&nbsp;&nbsp;  <a href="$Murl/member/comment.php?job=mylist"><font color="blue">发出的评论</font></a></td>
  </tr>
  <tr>
    <td bgcolor="#F5FBFF">您发布了 <a href="$Murl/member/hr.php?job=mylist"><strong>$data[jobs_num] </strong></a>条招聘信息，收藏了 <a href="$Murl/member/hr.php?job=mytdlist"><strong>$data[resume_num]</strong></a> 条人才信息；</td>
    <td bgcolor="#F5FBFF"><a href="$Murl/member/hr.php?job=mylist">管理招聘</a></td>
  </tr>
  <tr>
    <td bgcolor="#F5FBFF">您发布了 <a href="$Murl/member/zh.php?job=zh"><strong>$data[zh_num]</strong></a> 条展会信息，<a href="$Murl/member/zh.php?job=zlg"><strong>$data[zlg_num]</strong></a> 条展览馆信息； </td>
    <td bgcolor="#F5FBFF">点此查看： <a href="$Murl/member/zh.php?job=zh"><font color="blue">展会</font></a> &nbsp; <a href="$Murl/member/zh.php?job=zlg"><font color="blue">展览馆</font></a></td>
  </tr>
</table>

  </td>
  </tr>
</table>
  


<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td  valign="top" class="Main" > 
       <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr> 
          <td   class="head">
          <strong>常用操作提示</strong>：	      </td>
        </tr>
      </table>
   </td>
  </tr>
  <td valign="middle" class="middle fastdo_bg" style="padding-left:20px;"> 
<style>
.fast_home{ background:url($Murl/member/images/fast/home.gif) no-repeat left;}
.fast_homeset{ background:url($Murl/member/images/fast/homeset.gif) no-repeat left;}
.fast_selllist{ background:url($Murl/member/images/fast/selllist.gif) no-repeat left;}
.fast_buylist{ background:url($Murl/member/images/fast/buylist.gif) no-repeat left;}
.fast_coll{ background:url($Murl/member/images/fast/coll.gif) no-repeat left;}
.fast_pic{ background:url($Murl/member/images/fast/pic.gif) no-repeat left;}
.fast_form1{ background:url($Murl/member/images/fast/form1.gif) no-repeat left;}
.fast_form2{ background:url($Murl/member/images/fast/form2.gif) no-repeat left;}
.fast_tg{ background:url($Murl/member/images/fast/tg.gif) no-repeat left;}
.fast_money{ background:url($Murl/member/images/fast/money.gif) no-repeat left;}
</style>
  <table width="800" cellspacing="0" cellpadding="0"  class="noticetb">
      <tr>
        <td width="20%" height="40" align="left"><a href="$Mdomain/homepage.php?uid=$lfjuid" target="_blank"><strong  class="btn fast_home">&nbsp;我的商铺</strong></a></td>
        <td width="20%" align="left"><a href="$Murl/member/homepage_ctrl.php?atn=base"><strong  class="btn fast_homeset">&nbsp;商铺设置</strong></a></td>
        <td width="20%" align="left"><a href="$Murl/member/selllist.php"><strong  class="btn fast_selllist">&nbsp;供应信息</strong></a></td>
        <td width="20%" align="left"><a href="$Murl/member/buylist.php"><strong  class="btn fast_buylist">&nbsp;求购信息</strong></a></td>
        <td width="20%" align="left"><a href="$Murl/member/collection.php"><strong  class="btn fast_coll">&nbsp;我的收藏</strong></a></td>
      </tr>
      <tr>
        <td height="40" align="left"><a href="$Murl/member/homepage_ctrl.php?atn=pic"><strong  class="btn fast_pic" >&nbsp;图库管理</strong></a></td>
        <td height="40" align="left"><a href="$Murl/member/myform2.php"><strong  class="btn fast_form1">&nbsp;报 价 单</strong></a></td>
        <td align="left"><a href="$Murl/member/myform1.php"><strong  class="btn fast_form2">&nbsp;询 价 单 </strong></a></td>
        <td align="left"><a href="$Mdomain/tg_sell.php?action=tg" target="_blank"><strong class="btn fast_tg">&nbsp;信息推广</strong></a></td>
        <td align="left"><a href="$webdb[www_url]/member/money.php?job=list"><strong  class="btn fast_money">&nbsp;账户充值</strong></a></td>
      </tr>
      <!--
EOT;
if(!$rsdb[renzheng]){
print <<<EOT
-->
      <tr>
        <td height="40" colspan="5" align="left"><strong>您的商家资料还未申请认证: <a href="$Murl/member/renzheng.php">点击这里申请</a></strong></td>
      </tr>
      <!--
EOT;
}
print <<<EOT
-->
    </table>
  
  </td>
  </tr>
</table>
  
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td  valign="top" class="Main" > 
       <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr> 
          <td   class="head">
          <strong>重要操作提示</strong>：		   </td>
        </tr>
      </table>
   </td>
  </tr>
  <td valign="middle" class="middle noticetb"> 

  <div style="font-size:14px; color:#003399; font-weight:bold; padding-left:20px;">
<!--
EOT;
if($data[sell_num]<1){
print <<<EOT
--> 
<img src="$Murl/member/{$member_style}/hand.jpg"  border="0"/> 您还没有发布任何供应信息，客户无法找到您. 
<input type="button" value="立即发布" name="btn1" onclick="window.location='$Murl/member/post_sell.php';" /><br /> 

<!--
EOT;
}else{
print <<<EOT
--> 
<img src="$Murl/member/{$member_style}/hand.jpg"  border="0"/> 您已经发布<font color="red">{$data[sell_num]}</font>条供应信息. 
<input type="button" value="继续发布" name="btn1"  onclick="window.location='$Murl/member/post_buy.php';" /><br />
<!--
EOT;
}
if($data[buy_num]<1){
print <<<EOT
--> 
<br /><img src="$Murl/member/{$member_style}/hand.jpg"  border="0"/> 您还没有发布任何求购信息，客户无法找到您. 
<input type="button" value="立即发布" name="btn1"  onclick="window.location='$Murl/member/post_buy.php';" /><br />
<!--
EOT;
}else{
print <<<EOT
-->  
<br /><img src="$Murl/member/{$member_style}/hand.jpg"  border="0"/> 您已经发布<font color="red">{$data[buy_num]}</font>条求购信息. 
<input type="button" value="继续发布" name="btn1" onclick="window.location='$Murl/member/post_buy.php';" /><br />
<!--
EOT;
}
if($rsdb[renzheng]<1){
print <<<EOT
-->
<br /><img src="$Murl/member/{$member_style}/hand.jpg"  border="0"/> 您还没有提交任何认证资料，客户无法信任您. 
<input type="button" value="立即提交" name="btn1"  onclick="window.location='$Murl/member/renzheng.php';" /><br />
<!--
EOT;
}elseif($rsdb[renzheng]>0 && $rsdb[renzheng]<3){
print <<<EOT
-->  
<br /><img src="$Murl/member/{$member_style}/hand.jpg"  border="0"/> 您还没有提交最高级认证资料，为了客户更信任您. 
<input type="button" value="继续提交" name="btn1"  onclick="window.location='$Murl/member/renzheng.php';"/><br />
<!--
EOT;
}

print <<<EOT
--> 


  
</div>
<br />
<table width="100%" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
  <tr>
    <td width="13%" align="right" bgcolor="#FFFFFF"><b>代 理 商</b></td>
    <td width="87%" align="left" bgcolor="#FFFFFF">如果您已经得到新的代理资格资料，可以上传资料增加代理商资格，让您的信息出现“<strong>代理</strong>”字样,<a href="$Murl/member/agents.php"><font color="blue">[点击上传]</font></a></td>
  </tr>
   <tr>
    <td align="right" bgcolor="#FFFFFF"><b>供 应 商</b></td>
    <td align="left" bgcolor="#FFFFFF">是否为寻找供应商而发愁，赶快开启寻找供应商通知 <a href="$Murl/member/vendor.php?job=want_vendor"><font color="blue">[点击开启]</font></a></td>
  </tr>
  <tr>
    <td align="right" bgcolor="#FFFFFF"><b>站外参考</b></td>
    <td align="left" bgcolor="#FFFFFF">如果您在使用其他商务平台，可以引用其他平台的诚信信息作为本网诚信说明 <font color="blue"><a href="$Murl/member/cankao.php"><font color="blue">[点击增加]</font></a> </td>
  </tr>
 
  <tr>
    <td align="right" bgcolor="#FFFFFF"><b>信息推广</b></td>
    <td align="left" bgcolor="#FFFFFF">使您发布的信息更明显的显示，参与类目竞价排名.<a href="$Mdomain/tg.php?action=tgnew" target="_blank"><font color="blue">[点击参与]</font></a></td>
  </tr>
   <tr>
    <td align="right" bgcolor="#FFFFFF"><b>列表靠前</b></td>
    <td align="left" bgcolor="#FFFFFF">想让您的供求信息更在列表里更靠前显示，参考本页底部联系方式，联系客服，让客服推荐您的供求信息到列表前段显示</a></td>
  </tr>
</table> 
  </td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td  valign="top" class="Main"  > 
     <a href="$Mdomain/brand.php" target="_blank"><img src="$Murl/member/images/main_11.jpg"  border="0"/></a>
	 <br />
   </td>
  </tr>
  <tr>
  <td valign="middle" height="30" style="padding-left:100px;" >
  <strong  style="padding:10px;">商务中心服务推荐：</strong>
   </td>
  </tr>
  <tr>
  <td valign="middle"  style="padding-left:100px;"  >	

<style>
.style1{background:url($Murl/member/images/ser/1.gif) no-repeat left; padding-left:30px;}
.style2{background:url($Murl/member/images/ser/2.gif) no-repeat left; padding-left:30px;}
.style3{background:url($Murl/member/images/ser/3.gif) no-repeat left; padding-left:30px;}
.style4{background:url($Murl/member/images/ser/4.gif) no-repeat left; padding-left:30px;}
.style5{background:url($Murl/member/images/ser/5.gif) no-repeat left; padding-left:30px;}
.style6{background:url($Murl/member/images/ser/6.gif) no-repeat left; padding-left:30px;}
</style>
    

<table width="480" border="0" cellspacing="10" cellpadding="0">
  <tr>
    <td width="133" height="40"  class="ser"><span> <a href="$Murl/member/agents.php" class="style1"><b>代理资质</b></a></span></td>
    <td width="15">&nbsp;</td>
    <td width="133"class="ser"><span ><a href="$Murl/member/zh.php?job=zh" class="style2">行业展会</a></span></td>
    <td width="15">&nbsp;</td>
    <td width="133"class="ser"><span > <a href="$Murl/member/hr.php?job=mylist" class="style3">人才招聘</a></span></td>
  </tr>
  <tr>
    <td height="40"class="ser"><span > <a href="$Murl/member/homepage_ctrl.php" class="style4">企业网站</a></span></td>
    <td>&nbsp;</td>
    <td class="ser"><span ><a href="$Murl/tg.php?action=tg&ctype=0" class="style5" target="_blank">竞价信息推广</a></span></td>
    <td >&nbsp;</td>
    <td class="ser"><span ><a href="$Murl/member/homepage_ctrl.php?atn=mydomain" class="style6">店铺二级域名</a></span></td>
  </tr>
</table>
       

   </td>
  </tr>
</table>






<!--
EOT;
?>
-->