<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="schoolId" value="1"/>
    <add key="schoolPas" value="1"/>
    <add key="schoolUrl" value="http://dev.hooyes.com/Simulate"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=(local);uid=LMS;pwd=hooyes;database=LMS_henan"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SendMessageSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.sms.hooyes.com/SendMessage.asmx"
        binding="basicHttpBinding" bindingConfiguration="SendMessageSoap"
        contract="SMS.SendMessageSoap" name="SendMessageSoap" />
    </client>
  </system.serviceModel>
</configuration>
