<?xml version="1.0"?>
<configuration>
  <nlog throwExceptions="true">
    <targets async="true">
      <default-target-parameters type="File" archiveAboveSize="104857600" maxArchiveFiles="50" archiveNumbering="Rolling" keepFileOpen="false"
                                 layout="${longdate} ${level} ${callsite} ${message} ${exception:format=Message, Type, ShortType, ToString, Method, StackTrace}"/>
      <target name="f1" type="File" fileName="${basedir}\App_Data\NLog.txt"  archiveFileName="${basedir}\App_Data\NLog_{###}.txt"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="f1" />
    </rules>
  </nlog>
</configuration>
