<!--
<?php
print<<<EOT
--> 
<table width=100% cellspacing=1 cellpadding=3  class="tablewidth">
  <tr class="head"> 
    <td align="center" colspan="2"> <span class=bold><font color="#FFFFFF">添加题目</font></span></td>
  </tr>
  <form action="?lfj=$lfj&action=$job" method=POST>
    <tr> 
      <td bgcolor=#FFFFFF width="30%"> 分类:</td>
      <td bgcolor=#FFFFFF width="70%">$sort_fid</td>
    <tr> 
      <td bgcolor=#FFFFFF width="30%">题型:</td>
      <td bgcolor=#FFFFFF width="70%"> 
        <select name="ctype" onChange="MM_jumpMenu(this)" id="chooses">
          <!--
EOT;
foreach($paperType AS $key=>$value){
$ck=$key==$rsdb[type]?' selected ':'';
print <<<EOT
-->
          <option value="$key" $ck>$value</option>
          <!--
EOT;
}print <<<EOT
-->
        </select>
      </td>
    <tr id="subject_tr"> 
      <td bgcolor=#FFFFFF width="30%">题目:<br><div id="subject_div"></div>
      </td>
      <td bgcolor=#FFFFFF width="70%"> 
        <textarea name="atc_question" cols="70" rows="5">$rsdb[question]</textarea>
      </td>
    <tr id="set_tr"> 
      <td bgcolor=#FFFFFF width="30%">参数:<br><div id="set_div"></div></td>
      <td bgcolor=#FFFFFF width="70%"> 
        <textarea name="atc_config" cols="70" rows="8" id="atc_config">$rsdb[config]</textarea>
      </td>
    <tr id="answer_tr"> 
      <td bgcolor=#FFFFFF width="30%">答案:<br><div id="answer_div"></div></td>
      <td bgcolor=#FFFFFF width="70%"> 
        <textarea name="atc_answer" cols="70" rows="3">$rsdb[answer]</textarea>
      </td>
    <tr id="answer_tr" style="display:none;"> 
      <td bgcolor=#FFFFFF width="30%">是否共享:</td>
      <td bgcolor=#FFFFFF width="70%">
        <input type="radio" name="atc_ifshare" value="1" $ifsharedb[1]>
        是 
        <input type="radio" name="atc_ifshare" value="0"  $ifsharedb[0]>
        否 </td>
    
    <tr> 
      <td bgcolor=#FFFFFF width="30%">&nbsp;</td>
      <td bgcolor=#FFFFFF width="70%"> 
        <input type="submit" name="Submit" value="提交">
<script language="JavaScript">
<!--
function MM_jumpMenu(selObj){ //v3.0
	get_obj("answer_tr").style.display='';
	get_obj("set_tr").style.display='';
	get_obj("subject_div").innerHTML='';
	get_obj("set_div").innerHTML='';
	get_obj("answer_div").innerHTML='';
	va=selObj.options[selObj.selectedIndex].value
	if(va=='9'||va=='4'||va=='7'||va=='8'){
		get_obj("answer_tr").style.display='none';
		get_obj("set_tr").style.display='none';
	}
	if(va=='8'||va=='7'||va=='6'){
		get_obj("set_tr").style.display='none';
	}
	if(va=='1'||va=='2'){
		get_obj("set_div").innerHTML='每个选项换一行';
	}
	if(va=='3'&&get_obj("atc_config").value==''){
		get_obj("atc_config").value='正确\\r\\n错误';
	}
	if(va=='3'){
		get_obj("set_div").innerHTML='你只能填两个选项,即正确与错误,每个选项换一行';
	}
	if(va=='1'||va=='3'){
		get_obj("answer_div").innerHTML='上面答案当中,是什么,这里就写什么';
	}
	if(va=='2'){
		get_obj("answer_div").innerHTML='上面答案当中,是什么,这里就写什么.如有多个答案请用英文逗号,隔开';
	}
	if(va=='4'){
		get_obj("subject_div").innerHTML='请把填空的文字用<<<>>>括起来，可以设置多项，如:中国的英文单词是<<< China >>>，而美国的英文单词是<<< America >>>';
	}
	if(va=='5'){
		get_obj("set_div").innerHTML='每个选项换一行,前面用小写字母代表,如<br>a、第一项.<br>b、第二项.<br>c、第三项.';
		get_obj("answer_div").innerHTML='请输入正确的答案，如:bcdea';
	}
	if(va=='6'){
		get_obj("answer_div").innerHTML='请输入唯一的正确的答案';
	}
	if(va=='8'){
		get_obj("answer_div").innerHTML='请输入正确的参考答案,但并不是唯一的';
	}
}
MM_jumpMenu(get_obj('chooses'));
//-->
</script>
        <input type="hidden" name="id" value="$id">
      </td>
  </form>
</table>
<table width=100% cellspacing=1 cellpadding=3  class="tablewidth">
  <tr class="head"> 
    <td colspan="2">帮助说明:</td>
  </tr>
  <tr>
    <td>1.单选题、判断题、填空题、排序题、计算题具有唯一的答案,用户提交时,系统会自动给分,其它题目,系统不能自动给分.作0分处理,需要管理员在后台手工修改评分.<br>
      2.半角与全角输入法,会判断为不同的答案,请务必注意.<br>
      3.填空题,如果有多个空格,每答对一个空格,都有相应的分数,而多选题,如果答对部分,也有一半的分,如果有一个错,就不能得分.</td>
  </tr>
</table>
<!--
EOT;
?>
-->
