<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WcfHalfService.HalfService" behaviorConfiguration="HalfServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/HalfServices/" />
          </baseAddresses>
        </host>
        <endpoint address="HalfService" binding="basicHttpBinding"
         contract="WcfHalfService.IHalfService"  />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HalfServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
