<!--
<?php
$backdb[subject] || ($backdb[subject]="没有了") && ($backdb[click]="return false;");
$nextdb[subject] || ($nextdb[subject]="没有了") && ($nextdb[click]="return false;");
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td width="70%" height="393" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable viewcontent" id="viewshop">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG"><a editurl='$webdb[www_url]/do/job.php?job=bencandy&fid=$fid&id=$id&act=do'>TOP</a></span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" valign="top"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="3" bordercolor="#FFFFFF" bgcolor="#F9F9F9">
              <tr> 
                <td colspan="2" class="a1" style="padding-left:5px;padding-top:2px;"><b>{$fidDB[M_alias]}基本信息</b></td>
              </tr>
              <tr> 
                <td width="30%" class="a1" bgcolor="#FFFFFF" align="center"><br>
                  <a href="$rsdb[picurl]" target="_blank"><img src="$rsdb[picurl]" onError="this.src='$webdb[www_url]/images/default/nopic.jpg'" width="200" height="150" border="0"></a></td>
                <td width="70%" bgcolor="#FFFFFF"> 
                  <table width="100%" border="0" cellspacing="1" cellpadding="2">
                    <tr> 
                      <td width="15%">{$fidDB[M_alias]}名称:</td>
                      <td width="85%"><b>{$rsdb[title]}</b></td>
                    </tr>
                    <tr id='tr_shop_id'> <td class='a1 b1'>商品编号:</td> <td class='a2 b1'>{$rsdb[shop_id]}&nbsp;</td></tr><tr id='tr_shoptype'> <td class='a1 b2'>商品型号:</td> <td class='a2 b2'>{$rsdb[shoptype]}&nbsp;</td></tr><tr id='tr_shopmoney'> <td class='a1 b1'>积分点数:</td> <td class='a2 b1'>{$rsdb[shopmoney]}&nbsp;点</td></tr><tr id='tr_martprice'> <td class='a1 b2'>市面价格:</td> <td class='a2 b2'>{$rsdb[martprice]}&nbsp;元</td></tr><tr id='tr_nowprice'> <td class='a1 b1'>现售价格:</td> <td class='a2 b1'>{$rsdb[nowprice]}&nbsp;元</td></tr><tr id='tr_shopnum'> <td class='a1 b2'>库存量:</td> <td class='a2 b2'>{$rsdb[shopnum]}&nbsp;个</td></tr>
                    <tr> 
                      <td width="15%">浏览人次:</td>
                      <td width="85%"><font id="hits">{$rsdb[hits]}</font></td>
                    </tr>
                    <tr> 
                      <td width="15%">发 布 者:</td>
                      <td width="85%">{$rsdb[username]} </td>
                    </tr>
                    <tr> 
                      <td width="15%">发布日期:</td>
                      <td width="85%">{$rsdb[posttime]}</td>
                    </tr>
                    <tr align="center"> 
                      <td colspan="2"><a href="$webdb[www_url]/do/buy.php?job=buy&id=$id" target="_blank"><img src="$webdb[www_url]/images/default/but_buy.gif" border="0"></a></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="3" bordercolor="#FFFFFF" bgcolor="#F9F9F9">
              <tr> 
                <td class="a1" style="padding-left:5px;padding-top:2px;"> <b>{$fidDB[M_alias]}介绍</b></td>
              </tr>
             
              <tr> 
                <td  bgcolor="#FFFFFF">
                  <table width="100%" cellspacing="3" cellpadding="0" style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word'>
                    <tr> 
                <td>{$rsdb[content]}</td></tr></table></td>
              </tr>
            </table><!--
EOT;
if($rsdb[ifvote]){print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="content_vote">
  <tr>
    <td><SCRIPT src="$webdb[www_url]/do/vote.php?job=js&aid=$rsdb[aid]"></SCRIPT></td>
  </tr>
</table>
<!--
EOT;
}print <<<EOT
-->
            
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <!--php168
EOT;
if($webdb[showComment] && $fidDB[allowcomment] && !$rsdb[forbidcomment]){@include(html("bencandy_tpl/comment"));}print <<<EOT
php168-->    </td>
    <td width="30%" height="393" valign="top" class="Side" align="right"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable" id="sonSortName">
        <tr> 
          <td class="head" height="19"> 
            <h3 class="L"></h3>
            <span class="TAG">相关栏目</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
            <!--php168
EOT;
//相关栏目名称
@include("$sortnameTPL");print<<<EOT
php168-->           </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">最新{$fidDB[M_alias]}</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
            <script language="JavaScript">
<!--
document.write('<div id="article_Newtopic">$Load_Msg</div>');
document.write('<div style="display:none;"><iframe src="$webdb[www_url]/do/jsarticle.php?fid=$fid&type=new&rows=$webdb[JsListRows]&leng=$webdb[JsListLeng]&iframeID=article_Newtopic" width=0 height=0></iframe></div>');
//-->
</script>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">热门{$fidDB[M_alias]}</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
            <script language="JavaScript">
<!--
document.write('<div id="article_Hottopic">$Load_Msg</div>');
document.write('<div style="display:none;"><iframe src="$webdb[www_url]/do/jsarticle.php?fid=$fid&type=hot&rows=$webdb[JsListRows]&leng=$webdb[JsListLeng]&iframeID=article_Hottopic" width=0 height=0></iframe></div>');
//-->
</script>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">推荐{$fidDB[M_alias]}</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
            <script language="JavaScript">
<!--
document.write('<div id="article_Comtopic">$Load_Msg</div>');
document.write('<div style="display:none;"><iframe src="$webdb[www_url]/do/jsarticle.php?fid=$fid&type=com&rows=$webdb[JsListRows]&leng=$webdb[JsListLeng]&iframeID=article_Comtopic" width=0 height=0></iframe></div>');
//-->
</script>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table><table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">相关{$fidDB[M_alias]}</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
            <script language="JavaScript">
<!--
document.write('<div id="article_Liketopic">$Load_Msg</div>');
document.write('<div style="display:none;"><iframe src="$webdb[www_url]/do/jsarticle.php?fid=$fid&type=like&id=$id&rows=$webdb[JsListRows]&leng=$webdb[JsListLeng]&iframeID=article_Liketopic" width=0 height=0></iframe></div>');
//-->
</script>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">广告位</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" valign="top" align="left"> {$AD_label['article_show']}
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
