<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form1" method="post" action="?job=$job">
    <tr class="head"> 
      <td><font color="#FFFFFF">内容搜索</font></td>
    </tr>
    <tr> 
      <td align="center"> 关键字 
        <input type="text" name="keyword" value="$keyword">
        <select name="type">
          <option value="title">标题名称</option>
           <option value="username">用户帐号</option>
        </select>
        <input type="submit" name="Submit7" value="提交">
      </td>
    </tr>
  </form>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form_work" method="post" action="?job=work">
    <tr align="center" class="head"> 
      <td width="4%">ID</td>
      <td colspan="2">标 题</td>
      <td width="8%">发布者</td>
      <td width="9%">所在栏目</td>
      <td width="5%">点击</td>
      <td width="10%">发表日期</td>
      <td width="7%">审核</td>
      <td width="6%">推荐</td>

      <td width="10%">删除</td>
    </tr>
<!--
EOT;
$list_file = array(1 => 'selllist.php', 2 => 'buylist.php');
$bencandy_file = array(1 => 'sell_bencandy.php', 2 => 'buy_bencandy.php');

foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr bgcolor="#FFFFFF"> 
      <td width="4%" align="center">$rs[id]</td>
      <td width="7%">$rs[ctype_t]</td>
      <td width="34%"><input type="checkbox" name="listdb[{$rs[id]}]" value="$rs[id]" />
        <a href="../{$bencandy_file[$rs['ctype']]}?fid=$rs[fid]&id=$rs[id]" target='_blank'  style="color:$rs[titlecolor];">$rs[title]</a></td>
      <td width="8%" align="center">$rs[username]</td>
      <td width="9%" align="center"><a href="{$list_file[$rs[ctype]]}?job=list&fid=$rs[fid]">$rs[fname]</a></td>
      <td width="5%" align="center">$rs[hits]</td>
      <td width="10%" align="center">$rs[posttime]</td>
      <td width="7%" align="center">$rs[ischeck]</td>
      <td align="center" width="6%">$rs[iscom]</td>
	  
      <td align="center" width="10%"><a href="{$list_file[$rs[ctype]]}?jobs=del&listdb[]=$rs[id]&fromadmin=1" onclick="return confirm('确定删除吗？');">删除</a></td>
    </tr>
<!--
EOT;
}
print <<<EOT
-->
    <tr bgcolor="#FFFFFF" align="center"> 
      <td colspan="11"> {$showpage}</td>
    </tr>
    <tr bgcolor="#FFFFFF" align="center"> 
      <td colspan="11"> <a href="#" onClick="CheckAll('all')">全选</a>/<a href="#" onClick='CheckAll()'>反选</a> 
        <input type="button" name="Submit2" value="审核操作" onclick="postdo('yz')">
		<input type="button" name="Submit2" value="取消审核" onclick="postdo('unyz')">
        <input type="button" name="Submit42223" value="推荐操作" onclick="postdo('com')">
		<input type="button" name="Submit42223" value="取消推荐" onclick="postdo('uncom')">
        <select name="new_fid"><option value="0" style="color:red">移到到....(不能移到顶级栏目)</option>
			$fup_select
		</select><input type="button" name="Submit42222" value="移动" onClick="postdo('move')">
		<input type="button" name="Submit4222222" value="批量删除" onClick="postdo_del()">
        <input type="hidden" name="jobs" value="0">      </td>
    </tr>
  </form>
</table>
<SCRIPT LANGUAGE="JavaScript">
<!--
function postdo(va){
	document.form_work.jobs.value=va
	document.form_work.submit();
}
function postdo_del(){
	if(confirm('删除后无法恢复，确定要删除吗？')){
		postdo('del');
	}
}
function CheckAll(va){
	form=document.form_work
	for (var i=0;i<form.elements.length;i++){
		var e = form.elements[i];
		if(va=='all'){
			e.checked = true;
		}else{
			e.checked == true ? e.checked = false : e.checked = true;
		}
	}
}
//-->
</SCRIPT><br>

<!--
EOT;
?>
-->
 