<!--
<?php
print<<<EOT
--> 
<table width=100% cellspacing=1 cellpadding=3  class="tablewidth">
  <tr class="head"> 
    <td align="center" colspan="2"> <span class=bold><font color="#FFFFFF">添加试卷/调查表</font></span></td>
  </tr>
  <form action="?lfj=$lfj&action=$job" method=POST>
    <tr> 
      <td bgcolor=#FFFFFF width="30%"> 所属分类:</td>
      <td bgcolor=#FFFFFF width="70%">$sort_fid</td>
    <tr> 
      <td bgcolor=#FFFFFF width="30%">问卷表单名称:</td>
      <td bgcolor=#FFFFFF width="70%"> 
        <input type="text" name="atc_name" size="50" value="$rsdb[name]">
      </td>
    <tr> 
      <td bgcolor=#FFFFFF width="30%">类型:<span help=1>问卷跟试卷的区别是：问卷只作普通调查，系统不会自动评分，但管理员可以手工评分；而试卷是实现考查功能，系统会自动评分，管理员也可以评分。另外，试卷只给会员填写，不允许游客填写，而问卷可以允许游客填写。</span></td>
      <td bgcolor=#FFFFFF width="70%"> 
        <input type="radio" name="atc_type" value="1" $typedb[1]>
        <span class=bold>试卷(系统自动打分)</span> 
        <input type="radio" name="atc_type" value="2" $typedb[2]>
        问卷(系统不自动打分)</td>
    <tr id="answer_tr" style="display:none;"> 
      <td bgcolor=#FFFFFF width="30%">是否共享:</td>
      <td bgcolor=#FFFFFF width="70%"> 
        <input type="radio" name="atc_ifshare" value="1" $ifsharedb[1]>
        是 
        <input type="radio" name="atc_ifshare" value="0"  $ifsharedb[0]>
        否 </td>
    <tr> 
      <td bgcolor=#FFFFFF width="30%">&nbsp;</td>
      <td bgcolor=#FFFFFF width="70%"> 
        <input type="submit" name="Submit" value="提交">
        <input type="hidden" name="id" value="$id">
      </td>
  </form>
</table>
<!--
EOT;
?>
-->
