<!--
<?php
print <<<EOT
--> 
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
  <tr> 
    <td><b><font color="#FF0000">导航:</font> $rsdb[fname] -&gt; $rsdb[name]</b></td>
  </tr>
</table>
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
  <form name="form_work" method="post" action="?lfj=$lfj&action=$job"  >
    <tr bgcolor='#FFFFFF' class="head" align="center"> 
      <td width="15%">题目类型 </td>
      <td width="56%">题目元素名称</td>
      <td width="11%">排序</td>
      <td width="9%">修改题目</td>
      <td width="9%">移除题目</td>
    </tr>
    <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr bgcolor='#FFFFFF' align="center" onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
      <td width="15%">{$paperType[$rs[type]]}</td>
      <td width="56%" align="left"> $rs[question]</td>
      <td width="11%"> 
        <input type="text" name="orderdb[{$rs[element_id]}]" size="5" value="$rs[list]">
      </td>
      <td width="9%"><a href="index.php?lfj=exam_title&job=edit&id=$rs[id]">修改</a></td>
      <td width="9%"><a href="?lfj=$lfj&action=remove&element_id=$rs[element_id]&title_id=$rs[title_id]">移除</a></td>
    </tr>
    <!--
EOT;
}
print <<<EOT
-->
    <tr bgcolor='#FFFFFF' align="center"> 
      <td colspan="5"> 
        <input type="submit" name="Submit" value="更改排序">
        <input type="hidden" name="id" value="$id">
      </td>
    </tr>
  </form>
</table>
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
  <form name="form1" method="post" action="?lfj=$lfj&action=fen">
    <tr> 
      <td align="left" class="head">分数设置:你可以设置总分100分或150分</td>
    </tr>
    <tr> 
      <td> 
        <!--
EOT;
foreach($subjectDB AS $key=>$rs){print <<<EOT
-->
        <div style="float:left;width:300px;"> {$rs[name]} {$rs[num]}条:共 
          <input type="text" name="listdb[$key]" size="4" value="$rs[fen]">
          分 </div>
        <!--
EOT;
}print <<<EOT
-->
      </td>
    </tr>
    <tr>
      <td align="center"> 
        <input type="submit" name="Submit2" value="提交">
        <input type="hidden" name="id" value="$id">
      </td>
    </tr>
  </form>
</table>
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
     <tr> 
      
    <td align="left" class="head">帮助说明:</td>
    </tr>
    <tr> 
      
    <td>排序方式,数值大的排在前面 </td>
    </tr>
 </table>
<!--
EOT;
?>
-->
