<!--
<?php
foreach($listdb AS $key=>$rs){
$rs[fontweight] =($rs[fonttype]==1)?'font-weight:bold;':'';
$rs[fontcolor]  =$rs[titlecolor]?"color:$rs[titlecolor];":'';
$rs[content]=get_word($rs[content],$fidDB[config][listContentNum]>0?$fidDB[config][listContentNum]:150);
$target=$rs[target]?'_blank':'_self';
print <<<EOT
-->
<table width="98%" border="0" cellspacing="0" cellpadding="0" style="margin-left:5px;margin-top:16px;">
              
			  <tr> 

                <td rowspan="2" width="13%" style="padding-right:9px;"><a style="display:block;border:1px solid #eee;width:90px;height:65px;" href="bencandy.php?fid=$rs[fid]&id=$rs[aid]" title='$rs[full_title]'><img style="border:1px solid #fff;" width="90" height="65" onError="this.src='$webdb[www_url]/images/default/nopic.jpg'"  src="$rs[picurl]" border="0"></a></td>

                <td width="87%"><a style="color:#555;{$rs[fontweight]}{$rs[fontcolor]}" href="bencandy.php?fid=$rs[fid]&id=$rs[aid]" target="$target" title='$rs[full_title]'><b>$rs[title]</b></a></td>
              </tr>
              <tr> 
                <td width="87%" valign="top" style="border-bottom:1px dotted #ccc;text-indent:2em;line-height:200%;">{$rs[content]} 
                  ({$rs[posttime]}) </td>
              </tr>                 
            </table> 
<!--
EOT;
}
?>
-->