<!--
<?php
print <<<EOT
--> 
<table width="96%" border="0" cellspacing="0" cellpadding="0" style="margin-left:15px;margin-top:15px;">
              <!--
EOT;
foreach($listdb AS $key=>$rs){
$rs[fontweight] =($rs[fonttype]==1)?'font-weight:bold;':'';
$rs[fontcolor]  =$rs[titlecolor]?"color:$rs[titlecolor];":'';
$target=$rs[target]?'_blank':'_self';
print <<<EOT
-->
              <tr> 
                <td style="line-height:33px;background:url($webdb[www_url]/images/default/flea_line.gif) repeat-x bottom;color:#666;"><span style="float:left;">¡¤<a href="bencandy.php?fid=$rs[fid]&id=$rs[aid]" target="$target" title='$rs[full_title]' style="font-size:13px;{$rs[fontweight]}{$rs[fontcolor]}">$rs[title]</a> 
                  <!--
EOT;
if($webdb[ListShowIcon]&&$rs[picurl]){
print <<<EOT
-->
                   &nbsp;<img src="$webdb[www_url]/images/default/img_ico.gif"> 
                  <!--
EOT;
}
if($webdb[ListShowIcon]&&$rs[levels]){
print <<<EOT
-->
                   &nbsp;<img src="$webdb[www_url]/images/default/good_ico.gif"> 
                  <!--
EOT;
}
if($webdb[ListShowIcon]&&$rs['list']>$timestamp){
print <<<EOT
-->
                   &nbsp;<img src="$webdb[www_url]/images/default/top_icon.gif"> 
                  <!--
EOT;
}
if($webdb[ListShowIcon]&&$webdb[hotArticleNum]&&$rs['hits']>$webdb[hotArticleNum]){
print <<<EOT
-->
                   &nbsp;<img src="$webdb[www_url]/images/default/hot_icon.gif"> 
                  <!--
EOT;
}
if($webdb[ListShowIcon]&&$webdb[newArticleTime]&&($timestamp-$rs['full_posttime'])<$webdb[newArticleTime]*3600){
print <<<EOT
-->
                   &nbsp;<img src="$webdb[www_url]/images/default/new_ico.gif"> 
                  <!--
EOT;
}print <<<EOT
-->
                  </span><span style="float:right;">[{$rs[posttime]}]</span> </td>
              </tr>
              <!--
EOT;
}print <<<EOT
-->
            </table>
            
<!--
EOT;
?>
-->