<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="app_key_sina" value="3472084219"/>
    <add key="app_secret_sina" value="54cae7d23876c298eaaf5cb0d14d0cd9"/>
    <add key="app_key_QQ" value="3ab2872742234704925c33dec507f9bb"/>
    <add key="app_secret_QQ" value="f6cd03eb8734e8f64b98bef6ce8d546a"/>
    <add key="Timer" value="60"/>
    <add key="QQRequestNum" value="1"/>
    <add key="ConnectionString" value="server=TestDB.local.hooyes.com;database=iTalkBBWeb;uid=italkbbweb;pwd=cb13946"/>
    <add key="ImagesTempRoot" value="E:\\temp"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
