<!--
<?php
print <<<EOT
--> <table id="top_menu" width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <tr> 
    <td>[<a href="index.php?lfj=$lfj&job=list">模型列表(创建模型)</a>] 
	
	[<a href="index.php?lfj=$lfj&job=editmodule&id=$id">模型设置</a>] 
	[<a href="index.php?lfj=$lfj&job=editsort&id=$id">管理模型字段</a>] 
	[<a href="?lfj=$lfj&job=addfield&id=$id">添加字段</a>]
      [<a href="index.php?lfj=$lfj&job=tpl&id=$id">本模型生成模板</a>]
	</td>
      
  </tr>
</table>

<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
    
    <td>模型名称:<b><font color="#FF0000">$rsdb[name] </font></b> </td>
   
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form1" method="post" action="?lfj=$lfj&action=editorder&id=$id">
    <tr class="head" align="center"> 
      <td width="40%">字段名称</td>
      <td width="29%">字段ID</td>
      <td width="17%">排序</td>
      <td width="7%">修改</td>
      <td width="7%">删除</td>
    </tr>
    <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr class="trA" onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
      <td width="40%">$rs[title]</td>
      <td width="29%">$rs[field_name]</td>
      <td width="17%" align="center"> 
        <input type="text" name="postdb[{$rs[field_name]}]" size="6" value="$rs[orderlist]">
      </td>
      <td width="7%" align="center"> 
        <p><a href='?lfj=$lfj&job=editfield&id=$id&field_name=$rs[field_name]'>管理</a></p>
      </td>
      <td width="7%" align="center">
<!--
EOT;
if(in_array($rs[field_name],$ForbidDo[$id])){print <<<EOT
-->
			<a style="color:#ccc;" onclick="return alert('受保护字段,不可删除');">删除</a>
       <!--
EOT;
}else{print <<<EOT
-->    <a href="?lfj=$lfj&action=delfield&id=$id&field_name=$rs[field_name]">删除</a>   <!--
EOT;
}print <<<EOT
-->
	 </td>
    </tr>
    <!--
EOT;
}print <<<EOT
-->
    <tr align="center"> 
      <td colspan="5"> 
        <input type="submit" name="Submit" value="修改排序">
      </td>
    </tr>
    <tr align="left"> 
      <td colspan="5">注意:<font color="#FF0000"><br>
        1.数值大的排在前面<br>
        2.在列表页的模板,你可以插入显示自定义的字段,如<font color="#0000FF">{\$rs[字段名ID]}</font></font></td>
    </tr>
  </form>
</table>
<SCRIPT LANGUAGE="JavaScript">
<!--
function show_more(va){
	var s=document.getElementsByTagName("tr");
	for(var i=0;i<s.length;i++){
		if( document.form1.showmore.checked==true ||va==1 ){
			if(s[i].className=='hidetr'){
				s[i].style.display="";
			}	
		}else{
			if(s[i].className=='hidetr'){
				s[i].style.display="none";
			}	
		}
	}
}
//show_more(1);
//-->
</SCRIPT>
<!--
EOT;
?>
-->