<?xml version="1.0"?>
<configuration>
  <routeConfiguration extend=".mvc">
    <ignore>
      <add url="{resource}.axd/{*pathInfo}" />
    </ignore>
    <map default="~/home/index$0" enable="true">
      <route name="bloglist" url="blog/list/{category}$0/{page}" controller="home"
        action="list">
        <parameters>
          <add name="category" value="0" constraint="\d+" />
          <add name="page" value="1" constraint="\d+" />
        </parameters>
      </route>
    </map>
  </routeConfiguration>
</configuration>
