<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[!--pagetitle--] - Powered by hooyes</title>
<meta name="Keywords" content="[!--pagekey--]" />
<meta name="description" content="[!--pagedes--]" />
<link href="[!--news.url--]skin/default/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="[!--news.url--]skin/default/js/tabs.js"></script>
</head>
<body class="showpage info">
[!--temp.header--]
<table width="100%" border="0" cellspacing="10" cellpadding="0">
	<tr valign="top">
		<td class="main">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="position">
				<tr>
					<td>您当前的位置：[!--newsnav--]</td>
				</tr>
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="box">
			    <tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						
						
						<table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#FFFFFF">
						<tr>
								<td >
								 名称:
								</td>
								<td> [!--title--]</td>
							</tr>
							<tr>
								<td >地址:</td>
								<td >[!--address--]</td>
							</tr>
							<tr>
								<td >所属地区:</td>
								<td ><a href="[!--news.url--]e/action/ListInfo.php?classid=[!--classid--]&amp;ph=1&amp;myarea=[!--myarea--]">[!--myarea--]</a></td>
							</tr>
							
							<tr>
							<td colspan="2">
							<a href="[!--news.url--]e/DownSys/report/?classid=[!--classid--]&amp;id=[!--id--]" target="_blank">纠错</a>
							</td>
							</tr>
							
						</table>
						<table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#FFFFFF">
							
							<tr>
								<td bgcolor="#F8F8F8">&nbsp;&nbsp;<strong>推荐给朋友</strong></td>
							</tr>
							<tr>
								<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="2%">&nbsp;</td>
											<td><script type="text/javascript">
function sendtof(url)
{
window.clipboardData.setData('Text',url);
alert('复制地址成功，粘贴给你好友一起分享。');
}
  			</script>
												<input name="textfield" type="text" value="[!--titleurl--]" size="60" onclick="sendtof(this.value);" /></td>
										</tr>
									</table></td>
							</tr>
						</table>
						
          </td>
				</tr>
			</table>
			[!--temp.pl--]</td>
		<td class="sider"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="title">
				<tr>
					<td><strong>地区导航</strong></td>
				</tr>
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="box">
				<tr>
					<td>[!--temp.infoarea--]</td>
				</tr>
			</table>
			
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="title margin_top">
				<tr>
					<td><strong>推荐信息</strong></td>
				</tr>
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="box">
				<tr>
					<td><ul>
							<script src='[!--news.url--]d/js/class/class[!--self.classid--]_goodnews.js'></script>
						</ul></td>
				</tr>
			</table></td>
	</tr>
</table>
[!--temp.footer--] [!--page.stats--]
</body>
</html>