<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Timer" value="60"/>
    <add key="app_key" value="3472084219"/>
    <add key="app_secret" value="54cae7d23876c298eaaf5cb0d14d0cd9"/>
    <!--<add key="ConnectionString" value="server=192.168.1.6;database=iTalkBBWeb;uid=developer;pwd=developer"/>-->
    <add key="QQRequestNum" value="1"/>
    <add key="ConnectionString" value="server=TestDB.local.hooyes.com;database=iTalkBBWeb;uid=italkbbweb;pwd=cb13946"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
