<!--
<?php
print <<<EOT
-->
<form action="?" method="post" enctype="multipart/form-data" name="form1" id="form1">

<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
    <tr align="center" class="head"> 
	<td width="16%" align="left"><strong>设置品牌对应分类</strong></td>
    </tr>
	
	<tr bgcolor="#FFFFFF"> 
     <td height="50" align="left" valign="top">
	
	 
       <table width="600" border="0" cellspacing="0" cellpadding="5">
	   <tr>
          <td   colspan="3" align="left" valign="top">
		   <div>
	 <strong>说明：</strong><br />
	 1.品牌对应分类，也就是此品牌中，可能会出现的产品的分类；<br />
	 2.同一分类产品可能会有很多品牌，同一品牌也会有不同的产品，所以每个品牌都需要设置此项；<br />
	 3.请尽量选择最详细的分类(最底层分类)，不推荐选择大分类；<br />
	 4.如果要取消某个分类的设置，取消右边<input type="checkbox" name="1" />即可；
	 </div>
		  
		  </td>
          </tr>
        <tr>
          <td colspan="2"><strong>选择一个添加</strong></td>
          <td width="243"><strong>已经对应的分类:</strong></td>
        </tr>
        <tr>
          <td width="190" height="200" align="right" valign="top"><select name="fid"  id="fid" size="10" style="height:200px;">
            
            
		  {$fup_select}
        
          
          </select></td>
          <td width="137" align="center" valign="middle"><input type="button" name="Submit" value="添加 &gt;&gt;" onclick="adddfid();" /></td>
          <td align="left" valign="top">
		  <div style="height:190px; border:1px #CCCCCC solid; padding:5px; overflow-Y:scroll; overflow-X:hidden;" id="vs_fid_form">$vs_fid_form</div>		  </td>
        </tr>
        <tr>
          <td height="30" colspan="3" align="center" valign="top"><input type="submit" name="Submit2" value="保 存" />
            <input name="bid" type="hidden" id="bid" value="$bid" />
            <input name="action" type="hidden" id="action" value="$job" /></td>
          </tr>
      </table>	 </td>
	 
    </tr>
</table>

</form>
<script language="javascript">
function adddfid(){
	var fid=document.getElementById('fid');
	var fiddb=document.getElementById('vs_fid_form');
	try{
		if(fid.selectedIndex){
		//获取
		var j=fid.selectedIndex;		
		var fid_value=fid.options[j].value;
		var fid_text=fid.options[j].text;
		fid_text=fid_text.replace("|-","");
		fid_text=fid_text.replace(/\s/g,'');

		var fiddbname=fiddb.getElementsByTagName('input');
		//检测
		for(var i=0;i<fiddbname.length;i++){
			if(fiddbname[i].value==fid_value){
				alert('不能重复添加!');
				return false;
			}
		}		
			
		//开始
		var onestr="<div id='div_"+fid_value+"'><input type='checkbox' name='vs_fid[]' value='"+fid_value+"' checked onclick='removeFid(this);'> "+fid_text+"</div>";
		fiddb.innerHTML=fiddb.innerHTML+onestr;
			
		}else{
			alert('请先选择一个分类');
			return false;
		}
	}catch(e){
		alert('处理失败，你是否已经选择了分类');
		return false;
	}
}
function removeFid(me){
	if(!confirm('确定放弃此项吗?')){
		me.checked=' checked';
		return false;
	}else{
		
		document.getElementById("div_"+me.value).innerHTML="";	
		document.getElementById("div_"+me.value).outerHTML="";	
		
	}
}
function   Trim(x){   
  while((x.length>0)   &&   (x.charAt(0)==' '))   
  x   =   x.substring(1   ,   x.length);   
  while((x.length>0)   &&   (x.charAt(x.length-1)==' '))   
  x   =   x.substring(0,   x.length-1);   
  return   x;   
  }
</script>
<!--
EOT;
?>
-->