<!--
<?php

if(!$action || $action=='zhlist'){
print <<<EOT
-->

<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form_work1" method="post" action="?action=$action">
    <tr  class="head"> 
    <td>展会管理</td>
    </tr>
        <tr> 
    <td>
    
    关键字:
      <input name="keyword" type="text" id="keyword" value="$keyword" />      
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;归属：
      <select name="sid" id="sid">
      <option  value="0">全部分类</option>
<!--
EOT;
foreach($Fid_db[0] as $key=>$array){
$ck=$sid==$key?" selected":"";
print <<<EOT
-->
<option value="$key" $ck>{$Fid_db[name][$key]}</option>
<!--
EOT;
}
print <<<EOT
-->
      </select>
       <input type="submit" name="button" id="button" value="搜索" />
      </td>
    </tr>
  </form>
</table>
  
  <table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form_work" method="post" action="?">
    <tr align="center" class="head"> 
      
      <td colspan="2" align="left"><input name="chackall" type="checkbox" value="1" onclick="CheckAll('listdb[]',this);" />
      展会名称</td>
      <td width="211" align="left">展览馆地区</td>
      <td width="98" align="left">开始时间</td>
      <td width="84" align="left">结束时间</td>
      <td width="98" align="left">发布时间</td>
      <td width="102" align="left">发布者</td>
      <td width="77">推荐</td>
      <td width="59">审核</td>
      <td width="135">删除</td>
    </tr>
<!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr style="background-color:#FFFFFF;" onmouseover="this.style.backgroundColor='#f5f5f5';" onmouseout="this.style.backgroundColor='#ffffff';"> 
     
      <td width="20"> 
        <input type="checkbox" name="listdb[]" value="$rs[zh_id]"></td>
      <td width="436"><a href="../zhshow.php?zh_id=$rs[zh_id]" target="_blank">$rs[title] </a></td>
      <td><a href="../zh_showroom.php?sr_id=$rs[showroom]" target="_blank">$rs[showroom_name]</a></td>
	  <td>$rs[starttime]</td>
      <td>$rs[endtime]</td>
      <td width="98" align="left">$rs[posttime]</td>
      <td width="102" align="left"><a href="$rs[home]" target="_blank">$rs[username]</a></td>
      <td align="center"><a href="zh.php?action=$rs[levels_a]&zh_id=$rs[zh_id]">$rs[levels]</a></td>
      <td align="center"><a href="zh.php?action=$rs[yz_a]&zh_id=$rs[zh_id]">$rs[yz]</a></td>
      <td align="center" width="135">
      <a href="../zh_post.php?job=editzh&zh_id=$rs[zh_id]" target="_blank">编辑</a> | 
      <a href="zh.php?action=zhdel&zh_id=$rs[zh_id]"  onclick="return confirm('确定删除吗？');">删除</a></td>
    </tr>
<!--
EOT;
}
print <<<EOT
-->
    <tr bgcolor="#FFFFFF" align="center"> 
      <td colspan="11"> {$showpage}</td>
    </tr>
     <tr bgcolor="#FFFFFF" align="center"> 
      <td colspan="11">   
      选中项目：
      <input type="submit" name="button2" id="button2" value="审核" onclick="postdo('zhyz')" />  
      <input type="submit" name="button3" id="button3" value="取消审核"  onclick="postdo('zhunyz')" /> | 
      
      
        <input type="submit" name="button4" id="button4" value="推荐" onclick="postdo('zhlevels')" />
        <input type="submit" name="button5" id="button5" value="取消推荐" onclick="postdo('zhunlevels')" /> | 
        
        <select name="color" id="color">
          <option value="0" style="color:">默认颜色</option>
          <option value="red" style="color:red">红色</option>
          <option value="blue" style="color:blue">蓝色</option>
          <option value="green" style="color:green">绿色</option>
        </select>
        <input type="submit" name="button6" id="button6" value="标题变色" onclick="postdo('zhcolor')" />
        <br />
        <input name="action" type="hidden" id="action" value="zhlist" /></td>
    </tr>
  </form>
</table>    







<!--
EOT;
}
print <<<EOT
-->

<SCRIPT LANGUAGE="JavaScript">
function postdo(va){
	document.form_work.action.value=va
	document.form_work.submit();
}
function CheckAll(name,my){
	var ckbox=document.getElementsByName(name);

	for (var i=0;i<ckbox.length;i++){
		ckbox[i].checked=my.checked;
	}
}
</SCRIPT> 
<!--
EOT;
    
?>-->