<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="hooyes.WCF.Service.Sv">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="" contract="hooyes.WCF.Service.ISv">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9111/Sv"/>
          </baseAddresses>
        </host>
      </service>
      <!--新浪微博WCF Begin-->
      <service behaviorConfiguration="hooyes.WCF.Service.SinaApiServiceBehavior" name="hooyes.WCF.Service.SinaApiService">
        <endpoint address="" binding="wsHttpBinding" contract="hooyes.WCF.Service.ISinaApiService" bindingConfiguration="SinaBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9122/SinaApiService/"/>
          </baseAddresses>
        </host>
      </service>
      <!--新浪微博WCF End-->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
        <behavior name="hooyes.WCF.Service.SinaApiServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding
            name="SinaBinding"
            maxReceivedMessageSize="2147483647">
          <readerQuotas
            maxDepth="2147483647"
            maxStringContentLength="2147483647"
            maxArrayLength="2147483647"
            maxBytesPerRead="2147483647"
            maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
