/*
* 品牌页面用的CSS，使用brand文件夹
*
*
*/
.leftMain{
	width:700px;
	float:left;
	margin-top:5px;
	text-align:left;
	padding:0px;

}


.rightMain{
	width:275px;
	float:right;
	margin-left:10px;
	margin-top:5px;
	text-align:left;
	padding:0px;

}

/*滚动*/
.DAADC0_order{
	border:1px #DAADC0 solid;
	padding:5px;
	height:300px;
}
/*咨询*/
.brand_news .head{
border:1px #BE0000 solid;
background-color:#D80001;
font-size:14px;
font-weight:bold;
line-height:24px;
height:24px;
color:#FFFFFF;
padding-left:10px;
}
.brand_news .middle{
border:1px #cccccc solid;
background-color:#f9f9f9;
line-height:20px;
height:284px;
padding:0 10px 0 10px;
}

/**公司推荐**/
.brand_company .head{
border:1px #FFB4B3 solid;
background-color:#FFB4B3;
font-size:14px;
font-weight:bold;
line-height:24px;
height:24px;
color:#343434;
padding-left:5px;
background:url(brand_company.jpg) repeat-x;
}
.brand_company .head .title{background:url(brand_company2.jpg) no-repeat left; padding-left:15px;}
.brand_company .middle{
border:1px #FFB4B3 solid;
background-color:#FEF4F4;
line-height:20px;
height:284px;
padding:0 10px 0 10px;
border-top:0px;
}



/*热门品牌*/
.brand_hot{
margin-top:5px;
background-color:#ffffff;
}
.brand_hot .head{
font-size:14px;
line-height:24px;
height:24px;
color:#C11111;
border:1px #E00000 solid;
}
.brand_hot .head .title{
border:1px #FFE4E4 solid;
height:25px;
background:url(brandview_listbg.jpg) repeat-x;
color:#FFFFFF;
}
.brand_hot .head .title a{ color:#FFFFFF;}
.brand_hot .head .title .left{ float:left;margin-left:5px; font-weight:bold;}
.brand_hot .head .title .right{ float:right; margin-right:5px; background:url(ico.gif) no-repeat left; padding-left:10px;}
.brand_hot .middle{
line-height:20px;
height:auto;
border:1px #CCCCCC solid;
}

.brand_hot .middle .title2{ background:url(title2.jpg) repeat-x; height:25px; line-height:25px; border-bottom:1px #CFCFCF solid; border-right:1px #CFCFCF solid; text-align:center}
.brand_hot .middle .content { padding:5px; line-height:150%;border-bottom:1px #CFCFCF dotted;}
.brand_hot .middle .top{
	
	padding:5px 0 5px 0;
	border-bottom:1px #CFCFCF dotted;
	line-height:40px;
	margin-bottom:5px;
}
.brand_hot .middle .top img{ border:1px solid #CCCCCC;}
.brand_hot .middle .top a{ line-height:40px; height:40px;}
/**
*	分类下的品牌
**/
.brandlist{
margin-top:5px;
}
.brandlist .head .title{
height:25px; line-height:25px;
border-bottom:2px #C11111 solid;
color:#C11111;
font-weight:bold;
font-size:14px;
padding-left:10px;
}
.brandlist .head .right{
height:25px; line-height:25px;
border-bottom:2px #F3F3F3 solid;
color:#F3F3F3;
}
.brandlist .middle{
padding:5px;
line-height:20px;
}
.brandlist .middle .brand{
float:left;
margin-right:8px;
height:60px;
width:120px;
text-align:center;
}
.brandlist .middle .brand .logo{
border:1px solid #CCCCCC;
}




/**  品牌首页轮番效果 **/
.menu{border-bottom:1px #DAADC0 solid; border-left:1px #DAADC0 solid; cursor:hand;; background-color:#FDF0F5}
.menu_ck{border-bottom:1px #DAADC0 solid; border-left:0;width:150px;}



/**
品牌代理列表效果
***/

.agents_brandlist{ height:45px; padding-left:20px; background:url(list.gif) no-repeat;}