<!--
<?php
print<<<EOT
-->
 <script src="images/setday.js"></script>
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <form name="form1" method="post" action="index.php?lfj=$lfj&action=set">
    <tr class="head"> 
      <td colspan='2' > 
        <div align='center'><b><font color="#FFFFFF">静态网页生成设置</font></b></div>
      </td>
    </tr>
    <tr> 
      <td bgcolor='#FFFFFF' width="40%">文章列表页与内容页是否生成静态网页:<span help=1>文章总数小于1万篇时,没必要生成真静态,使用伪静态即可.对搜索引擎而言,真静态与伪静态的效果是一样的.文章总数大于1万篇以后,你可以选择生成真静态,此时可以减轻服务器的负担.但不足之处是,失去了灵活性.修改或删除文章要重新生成一次静态.<br>
        <font color="#FF0000">注意:</font>如果你选择真静态的话,请必须把以下栏目的文章内容全部批量生成一次静态</span></td>
      <td bgcolor='#FFFFFF' width="60%"> 
        <input type="radio" name="webdbs[NewsMakeHtml]" value="0" $NewsMakeHtml[0]>
        不生成静态 
        <input type="radio" name="webdbs[NewsMakeHtml]" value="1" $NewsMakeHtml[1]>
        生成真静态 
        <input type="radio" name="webdbs[NewsMakeHtml]" value="2" $NewsMakeHtml[2]>
        伪静态 </td>
    </tr>
    <tr> 
      <td bgcolor='#FFFFFF' width="40%">默认静态列表首页是:<span help=1>一般情况都是index.htm,但是也有个别情况是index.htm<font color="#FF0000">l</font>,当你生成列表页后.列表页的第一页无法访问时,请更改这里后,再批量的重新生成一次列表页试试</span></td>
      <td bgcolor='#FFFFFF' width="60%"> 
        <input type="radio" name="webdbs[DefaultIndexHtml]" value="2" $DefaultIndexHtml[2]>
        index.<font color="#FF0000">s</font>htm<font color="#FF0000">l</font> 
        <input type="radio" name="webdbs[DefaultIndexHtml]" value="1" $DefaultIndexHtml[1]>
        index.htm<font color="#FF0000">l</font> 
        <input type="radio" name="webdbs[DefaultIndexHtml]" value="0" $DefaultIndexHtml[0]>
        index.htm (一般选择index.htm) </td>
    </tr><tr> 
      <td bgcolor='#FFFFFF' width="40%">是否禁止访问列表页与内容的动态页面即PHP页:<span help=1>在禁止访问内容页bencandy.php与列表页list.php动态文件前,你必须把整站的文章批量的生成一次静态.否则设置不生效.并且你需要把上面第一项,设置生成真静态.这样的话.用户只访问你的静态页面了</span></td>
      <td bgcolor='#FFFFFF' width="60%"> 
        <input type="radio" name="webdbs[ForbidShowPhpPage]" value="1" $ForbidShowPhpPage[1]>
        禁止访问动态页<font color="#FF0000"></font> 
        <input type="radio" name="webdbs[ForbidShowPhpPage]" value="0" $ForbidShowPhpPage[0]>
        允许访问动态页</td>
    </tr>
    <tr align="center"> 
      <td bgcolor='#FFFFFF' colspan="2"> 
        <input    type='submit' name='w' value='保存设置'>
      </td>
    </tr>
  </form>
</table>

<table width=100% cellspacing=1 cellpadding=3  class="tablewidth"><form name="formlist" target='_blank' method="post" action="?lfj=$lfj&action=makehtml">
  <tr> 
    <td class="head" bgcolor="#EAEAEA"><font color="#FFFFFF"> 所有栏目</font></td>
  </tr>
  <tr> 
      <td bgcolor=#FFFFFF align="left"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
              <td style="padding:5px;">
<!--
EOT;
if($show_guide){print<<<EOT
-->
$show_guide
<!--
EOT;
}else{print<<<EOT
-->
			 $record
<!--
EOT;
}print<<<EOT
-->


            </td>
        </table>
        
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr align="center" height="18" class="head2"> 
            <td width="6%" style="border-right:1px solid #fff;">FID</td>
            <td  style="border-right:1px solid #fff;" width="36%">栏目名称</td>
            <td  style="border-right:1px solid #fff;" width="13%">类型</td>
            <td  style="border-right:1px solid #fff;" colspan="2">个性静态页URL样式</td>
            <td width="15%" style="border-right:1px solid #fff;">管理操作</td>
          </tr>
          <!--
EOT;
foreach($sortdb AS $key=>$rs){
print <<<EOT
-->
          <tr class="trA" onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
            <td bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;" width="6%"><b><font color="#FF0000">$rs[fid]</font></b></td>
            <td bgcolor="#FFFFFF" style="border-bottom:1px dotted #ccc;" width="36%"> 
              <input type="checkbox" name="fiddb[]" value="{$rs[fid]}" style="border:0px;" checked>
              $rs[icon]【<a href='../list.php?fid=$rs[fid]' target="_blank">{$rs[name]}</a>】</td>
            <td bgcolor="#FFFFFF" style="border-bottom:1px dotted #ccc;" width="13%" align="center" class="big_sort"> 
              <!--
EOT;
if($rs[type]==2){print <<<EOT
-->
              <font color="#0000FF">文章</font> 
              <!--
EOT;
}elseif($rs[type]==1){print <<<EOT
-->
              <a href="index.php?lfj=$lfj&job=$job&only=$only&mid=$mid&fid=$rs[fid]">大分类</a> 
              <!--
EOT;
}else{print <<<EOT
-->
              子栏目 
              <!--
EOT;
}print <<<EOT
-->
            </td>
            <td bgcolor="#FFFFFF" style="border-bottom:1px dotted #ccc;" width="22%">$rs[filename]</td>
            <td bgcolor="#FFFFFF" style="border-bottom:1px dotted #ccc;" width="8%"><a href="index.php?lfj=sort&job=editsort&fid=$rs[fid]&only=1&mid=$rs[fmid]&showtype=4" title="修改设置URL表现形式"><img src="images/edit.png" border="0"></a></td>
            <td bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;" width="15%">&nbsp; 
              <!--
EOT;
if($rs[havemade]){
print <<<EOT
-->
              <a href="../$rs[filename]" title="查看静态网页" target="_blank"><img src="../member/images/icon_view.gif" border="0"></a> 
              &nbsp;&nbsp;<a href="?lfj=$lfj&job=del&fid=$rs[fid]" title="删除静态网页"><img src="../member/images/del_icon2.gif" border="0"></a> 
              <!--
EOT;
}print <<<EOT
-->
            </td>
          </tr>
          <!--
EOT;
}print <<<EOT
-->
        </table>
        <div align="center" style="margin:10px;">$showpage</div>
        <div align="center"> 
          <table width="70%" border="0" cellspacing="0" cellpadding="0" id="makeshow" >
            <tr> 
              <td width="27%">最早发表的日期</td>
              <td width="73%"> 
                <input type="text" name="beginTime" onclick="setday(this)">
                (注:留空则最早,格式2007-07-16 22:29:50)</td>
            </tr>
            <tr> 
              <td width="27%">最后发表的日期</td>
              <td width="73%"> 
                <input type="text" name="endTime" onclick="setday(this)">
                (注:留空则最晚,格式2007-07-16 22:29:50) </td>
            </tr>
            <tr> 
              <td width="27%">开始ID</td>
              <td width="73%"> 
                <input type="text" name="beginId">
              </td>
            </tr>
            <tr> 
              <td width="27%">结束ID</td>
              <td width="73%"> 
                <input type="text" name="endId">
              </td>
            </tr>
            <tr>
              <td width="27%">是否同时生成整站首页静态:</td>
              <td width="73%">
                <input type="radio" name="webdbs[TheSameMakeIndexHtml]" value="1" $TheSameMakeIndexHtml[1]>
                同时生成 
                <input type="radio" name="webdbs[TheSameMakeIndexHtml]" value="0" $TheSameMakeIndexHtml[0]>
                不生成 　[<a href="../index.php?MakeIndex=1" target="_blank">手工生成主页静态</a>] 
                <!--
EOT;
if(is_file(PHP168_PATH."index.htm")){
print <<<EOT
-->
                [<a href="index.php?lfj=center&job=delindex"><font color="#FF0000">删除静态主页</font></a>] 
                <!--
EOT;
}print <<<EOT
-->
              </td>
            </tr>
          </table>
          <table width="59%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td> 
                <div align="center"><br>
                  [<a href="javascript:CheckAll('all');">全选</a>] [<a href="javascript:CheckAll('');">反选</a>] 
                  <script language="JavaScript">
<!--
function CheckAll(va){
	form=document.formlist
	for (var i=0;i<form.elements.length;i++){
		var e = form.elements[i];
		if(e.name=='maketype'||e.name=='webdbs[TheSameMakeIndexHtml]')continue;
		if(va=='all'){
			e.checked = true;
		}else{
			e.checked == true ? e.checked = false : e.checked = true;
		}
	}
}
//-->
</script>
                  <input type="submit" name="Submit" value="开始生成静态"></div>
                  <br>
                <font color="#FF0000">注意:</font><br>
                1、生成静态后,请在上面“<b><font color="#FF0000">静态网页生成设置</font></b>”设置生成真静态,否则的话会出现部分链接不正常。<br>
                2、上面每项设置为空，不作条件限制的话，将生成所有内容为静态。<br>
                3、静态页路径URL表现形式，如果栏目没有设置的话，将以系统默认的为标准。<br>
                4、专题页的静态化，需要另外单独生成。<br>
                
              </td>
            </tr>
          </table>
          
 		  </div>
      </td>
  </tr> </form>
</table>
<!--
EOT;
?>
-->
