<!--
<?php
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:5px;" id="baidusearch">

<form name=f action="http://www.baidu.com/baidu" target=_blank>
  <tr> 
    <td style="width:158px;height:38px;background:url(./images/baidu1.gif);">&nbsp;</td>
    <td   style="height:38px;background:url(./images/baidu2.gif);">
      
        <input type="text" name="word" style="border:1px #7F9DB9 solid;width:180px;height:21px;margin-left:20px;">
        <input type="submit" name="Submit" value="提交">
        <a href="http://news.baidu.com/" target="_blank">新闻</a> <a href="http://tieba.baidu.com/" target="_blank">贴吧</a> 
        <a href="http://zhidao.baidu.com/" target="_blank">知道</a> <a href="http://mp3.baidu.com/" target="_blank">MP3</a> 
        <a href="http://image.baidu.com/" target="_blank">图片</a> <a href="http://image.baidu.com/" target="_blank">地图</a></td>
    <td  style="width:11px;height:38px;background:url(./images/baidu3.gif);">&nbsp;</td>
  </tr></form>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="50%" valign="top" style="padding-right:10px;"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="newsdongtai">
        <tr> 
          <td class="top"> <div class="msg"> 
            <!--
EOT;
if($pmNUM){print <<<EOT
-->
            <a href="pm.php?job=list"><font color="#FF0000">你有新的消息,请注意查收!!</font></a> 
            <!--
EOT;
}else{print <<<EOT
-->
            <a href="pm.php?job=list">你暂时没有新消息!</a> 
            <!--
EOT;
}print <<<EOT
--></div>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <!--
EOT;
if($useblog){print <<<EOT
-->
			<div>最新好友: <a href="../blog/?uid=$fuid" target="_blank">$fusername</a></div>
            <div>最新访客: <a href="../blog/?uid=$vuid" target="_blank">$vname</a></div>
            <div>留言总数: <a href="../blog/index.php?file=guestbook&uid=$lfjuid" target="_blank">{$GuestbookNum}</a> 
              条</div>
            <div>评论总数: {$CommentNum} 条</div>
            <div>日志总数: <a href="../blog/index.php?file=listlog&uid=$lfjuid" target="_blank">{$Lognum}</a> 
              条</div>
            <div>相片总数: <a href="../blog/index.php?file=listlog&uid=$lfjuid" target="_blank">{$PhotoNum}</a> 
              条</div>            <!--
EOT;
}else{print <<<EOT
-->

<div>主页浏览: {$lfjdb[hits]} 次</div>
<div>评论总数: {$CommentNum} 条</div>
<div>文章总数: {$ArticleNum} 篇</div>
<div>图片总数: {$PhotoNum} 张</div>
<div>软件总数: {$DownNum} 个</div>
<div>视频总数: {$MvNum} 个</div>
<!--
EOT;
}print <<<EOT
-->
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="spaceTable">
        <tr> 
          <td>你的金币数: <b><font color="#FF0000"><img src="images/moneycard.gif"> 
            {$lfjdb[moneycard]}</font></b> 个, 积分: <b><font color="#0000FF"><img src="images/money.gif"> 
            $lfjdb[money]</font></b> {$webdb[MoneyDW]} (<a href="../do/jf.php" target="_blank">如何获取积分?</a>)<br>
            空间容量: {$space_system} + {$space_group} + {$space_user} - {$lfjdb[usespace]} 
            = <font color="#FF0000">{$onlySpace}</font> M(兆)<br>
            空间算法: 系统容量 + 用户组容量 + 自身容量 - 已用空间 = 剩余空间 </td>
        </tr>
      </table>
      <div id="ifcompany"> 
        <!--
EOT;
if($lfjdb[grouptype]==1){print <<<EOT
-->
        <a href="company.php?job=view&uid=$lfjuid"><font color="#FF0000">你是企业会员,你可以点击查看企业资料</font></a> 
        <!--
EOT;
}elseif($lfjdb[grouptype]==-1){print <<<EOT
-->
        <a href="company.php?job=edit"><font color="#0000FF">你还不是企业会员,你的资料还在审核当中</font></a>         <!--
EOT;
}else{print <<<EOT
-->
        <a href="company.php?job=edit"><font color="#0000FF">你还不是企业会员,你可以点击申请成为企业会员</font></a> 
        <!--
EOT;
}print <<<EOT
-->
      </div>
    </td>
    <td width="50%"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myinfo">
        <tr> 
          <td class="top"> 
            <div style="float:right;padding-right:8px;"><a href="userinfo.php?uid=$lfjuid" style="color:#fff;">更多...</a></div>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <div class="img"><img src="$lfjdb[icon]" onerror="this.src='../images/default/noface.gif'" width="150" height="150"></div>
            <div class="about">用户UID: <b><font color="#FF0000">$lfjuid</font></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;帐号: 
              <font color="#0000FF"><b>$lfjid</b></font><br>
              级别: <font color="#0000FF">$groupdb[grouptitle]</font> ({$lfjdb[C][endtime]})<br>
              邮箱: $lfjdb[email] <br>
              所在城市: {$area_db[name][$lfjdb[provinceid]]} {$area_db[name][$lfjdb[cityid]]} 
              <br>
              注册时间: $lfjdb[regdate] <br>
              上次登录时间: $lfjdb[lastvist] </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td valign="top" class="Main"> 
      <!--
EOT;
if($imgDB){print <<<EOT
-->
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable mapimg">
        <tr> 
          <td class="head">图片专题</td>
        </tr>
        <tr> 
          <td class="middle"> 
            <!--
EOT;
foreach($imgDB AS $key=>$rs){print <<<EOT
-->
            <table border="0" cellspacing="0" cellpadding="0" class="list_pic">
              <tr> 
                <td class="img" align="center"><a href="../bencandy.php?fid=$rs[fid]&aid=$rs[aid]" target="_blank"><img src="$rs[picurl]" width="100" height="75" border="0"></a></td>
              </tr>
              <tr> 
                <td class="t" align="center"><a href="../bencandy.php?fid=$rs[fid]&aid=$rs[aid]" target="_blank">$rs[title]</a></td>
              </tr>
            </table>
            <!--
EOT;
}print <<<EOT
-->
          </td>
        </tr>
      </table>
      <!--
EOT;
}print <<<EOT
-->
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="map_art">
  <tr> 
    <td class="top"><span class="L">最新稿件</span><span class="R"><a href="post.php">我要投稿</a></span></td>
  </tr>
  <tr> 
    <td class="middle"> 
      <!--
EOT;
foreach($articleDB AS $key=>$rs){print <<<EOT
-->
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="list $rs[cl]">
        <tr> 
          <td class="a1"><a href="../bencandy.php?fid=$rs[fid]&aid=$rs[aid]" target="_blank">$rs[title]</a></td>
        </tr>
        <tr> 
          <td align="right" class="a2">$rs[posttime] 浏览({$rs[hits]}) 评论({$rs[comments]}) 
            <a href="post.php?job=edit&aid=$rs[aid]">修改</a> <a href="myarticle.php?job=myarticle&do=del&id=$rs[aid]" onclick="return confirm('你确定要删除吗?不可恢复');">删除</a></td>
        </tr>
      </table>
      <!--
EOT;
}print <<<EOT
-->
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
