<!--
<?php
print <<<EOT
-->
<table width="92%" border="0" cellspacing="1" cellpadding="3" class="tablewidth datainfo">
 <tr  class="head"> 
    <td>数 据 简 报</td>
    </tr>
	 <tr  class="head2"> 
    <td><b>
    <a href="?day=1" $daysel[1]>24小时内</a> |
     <a href="?day=7" $daysel[7]>1周内</a> | 
     <a href="?day=30" $daysel[30]>30天内</a> | 
     <a href="?day=180" $daysel[180]>6个月内</a> | 
     <a href="?day=100000000" $daysel[100000000]>全部</a>
     </b>    </td>
    </tr>
<tr>
  <td>已经审核供应信息：<strong>$data24_ctype1</strong>  ,未审核：<strong>$data24_ctype1_unyz</strong></td>
  </tr>
<tr>
  <td>已经审核求购信息：<strong>$data24_ctype2</strong> ,未审核：<strong>$data24_ctype2_unyz</strong></td>
  </tr>
<tr>
  <td>注册用户：<strong>$data24_user</strong> ,未审核： <strong>$data24_user_unyz</strong></td>
  </tr>
<tr>
  <td>登记商家总数：<strong>$data24_company</strong>,未审核：<strong>$data24_company_unyz</strong> </td>
  </tr>
<tr>
  <td>商家新提交普通认证：<strong>$data24_renzheng1</strong>,银牌认证：<strong>$data24_renzheng2</strong>,金牌认证：<strong>$data24_renzheng3</strong></td>
  </tr>
<tr>
  <td>代理商：<strong>$data24_agent</strong>,VIP商家：<strong>$data24_vip</strong></td>
  </tr>
<tr>
  <td>职位库：<strong>$data24_jobs</strong> ,未审核：<strong>$data24_jobs_unyz</strong> ,人才库：<strong>$data24_resume</strong> ,未审核： <strong>$data24_resume_unyz</strong></td>
  </tr>
<tr>
  <td>展会信息：<strong>$data24_zh</strong>,未审核：<strong>$data24_zh_unyz</strong>　,展览馆：<strong>$data24_zlg</strong>,未审核：<strong>$data24_zlg_unyz</strong></td>
  </tr>
<tr>
  <td>询价单：<strong>$form1</strong>　,报价单：<strong>$form2</strong></td>
  </tr>
<tr>
  <td>举报信息：<strong>$report</strong></td>
  </tr>
<tr>
  <td>评论信息：<strong>$comments</strong></td>
  </tr>
<tr>
  <td>类目竞价推广：<strong>$tuiguang</strong> 次(不能统计已经被清除的推广)</td>
</tr>
</table>

<!--
EOT;
?>
-->