<html xmlns="http://www.w3.org/1999/xhtml">
<!--
<?php
print <<<EOT
-->
<head>
<title>会员操作平台</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">

<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
}
body,td,th {
	font-size: 12px;
	color: #343434;
}
body{
	SCROLLBAR-FACE-COLOR: #2B73F1;

	SCROLLBAR-HIGHLIGHT-COLOR: #0B54D4;
	SCROLLBAR-SHADOW-COLOR: #0B54D4;
	SCROLLBAR-3DLIGHT-COLOR: #0B54D4e;
	SCROLLBAR-ARROW-COLOR:#0B54D4;
	SCROLLBAR-TRACK-COLOR: #0B54D4;

	SCROLLBAR-DARKSHADOW-COLOR: #449AE8;
	SCROLLBAR-HIGHLIGHT-COLOR: #1A5DB0;
}

.tablewidth{
	BORDER: #1A5DB0 1px solid;
	background:#efefef;
	margin-bottom:8px;
}
.tablewidth tr{
	background:#fff;
}

.tablewidth .head{
	BORDER: #449AE8 0px solid;
	background:#6799B8 url(images/qq_22.gif);
	COLOR: #FFF;
	font-weight:bold
}
.tablewidth .head td{
	padding-top:5px;
	padding-left:5px;
}
.tablewidth .head td,.tablewidth .head td a{
	COLOR: #FFF;
}

.tablewidth .head2{
	BORDER: #449AE8 0px solid;
	background:#E0EEF5;
	COLOR: #FFF;
}
.tablewidth .head2 td{
	padding-top:5px;
	padding-left:5px;
	padding-bottom:3px;
}
.tablewidth .head2 td,.tablewidth .head2 td a{
	COLOR: #000;
}

.datainfo strong{ font-size:12px; color:#FF0000;}
.fastgo a{ color:#C50524;font-weight:bold}
-->
</style></head>
<body>
<table width="100%" cellspacing="0" cellpadding="0">
 
  <tr>
    <td colspan="2" style="padding-left:30px; font-weight:bold; font-size:12px;"><table width="90%" cellspacing="0" cellpadding="2"  class="fastgo">
      <tr>
        <td width="3%" height="40" align="left" valign="middle"><img src="images/fastgo/1.jpg" border="0" /></td>
        <td width="14%" align="left" valign="middle"><a href="../index.php?jobs=show">首页标签</a></td>
        <td width="3%" align="left" valign="middle"><img src="images/fastgo/3.jpg" border="0" /></td>
        <td width="14%" align="left" valign="middle"><a href="selllist.php?job=list">供求管理</a></td>
        <td width="3%" align="left" valign="middle"><img src="images/fastgo/5.jpg" border="0" /></td>
        <td width="14%" align="left" valign="middle"><a href="sort.php?job=listsort&ctype=3">分类管理</a></td>
        <td width="3%" align="left" valign="middle"><img src="images/fastgo/7.jpg" border="0" /></td>
        <td width="14%" align="left" valign="middle"><a href="renzheng.php">认证管理</a></td>
        <td width="3%" align="left" valign="middle"><img src="images/fastgo/9.jpg" border="0" /></td>
        <td width="14%" align="left" valign="middle"><a href="center.php?job=config">系统设置</a></td>
        <td width="3%" align="left" valign="middle"><img src="images/fastgo/11.jpg" border="0" /></td>
        <td width="12%" align="left" valign="middle"><a href="$webdb[www_url]/admin/index.php?lfj=member&job=list">用户管理</a></td>
      </tr>
      <tr>
        <td height="40" align="left" valign="middle"><img src="images/fastgo/2.jpg" border="0" /></td>
        <td align="left" valign="middle"><a href="news.php">帮助文档</a></td>
        <td align="left" valign="middle"><img src="images/fastgo/4.jpg" border="0" /></td>
        <td align="left" valign="middle"><a href="$webdb[www_url]/admin/index.php?lfj=artic&job=listartic&mid=0&only=1">行业资讯</a></td>
        <td align="left" valign="middle"><img src="images/fastgo/6.jpg" border="0" /></td>
        <td align="left" valign="middle"><a href="mysql.php?lfj=mysql&job=out">数据备份</a></td>
        <td align="left" valign="middle"><img src="images/fastgo/8.jpg" border="0" /></td>
        <td align="left" valign="middle"><a href="agents.php">代理商管理</a></td>
        <td align="left" valign="middle"><img src="images/fastgo/10.jpg" border="0" /></td>
        <td align="left" valign="middle"><a href="vip.php">VIP商家</a></td>
        <td align="left" valign="middle"><img src="images/fastgo/12.jpg" border="0" /></td>
        <td align="left" valign="middle"><a href="company.php">商家管理</a></td>
      </tr>
    </table></td>
  </tr>
</table>


<div style="margin:15px;">
<table width="96%" border="0" cellpadding="3" cellspacing="1" bgcolor="#FFFFFF" class="tablewidth datainfo">
 <tr  class="head"> 
    <td colspan="2">数 据 简 报</td>
    </tr>
	 <tr  class="head2"> 
    <td colspan="2"><b>
    <a href="?day=1" $daysel[1]>24小时内</a> |
     <a href="?day=7" $daysel[7]>1周内</a> | 
     <a href="?day=30" $daysel[30]>30天内</a> | 
     <a href="?day=180" $daysel[180]>6个月内</a> | 
     <a href="?day=100000000" $daysel[100000000]>全部</a>
     </b>    </td>
    </tr>
<tr>
  <td width="25%" bgcolor="#F1F3F5">已经审核供应信息：<strong>$data24_ctype1</strong>  ,未审核：<a href="list.php?job=list&ctype=1&type=unyz"><strong>$data24_ctype1_unyz</strong></a></td>
  <td width="25%" bgcolor="#F1F3F5">类目竞价推广：<strong>$tuiguang</strong> 次(不能统计已经被清除的推广)</td>
</tr>
<tr>
  <td bgcolor="#F1F3F5">已经审核求购信息：<strong>$data24_ctype2</strong> ,未审核：<a href="list.php?job=list&ctype=2&type=unyz"><strong>$data24_ctype2_unyz</strong></a></td>
  <td bgcolor="#F1F3F5">职位库：<strong>$data24_jobs</strong> ,未审核：<a href="jobs.php?job=zhiwei"><strong>$data24_jobs_unyz</strong></a> ,人才库：<strong>$data24_resume</strong> ,未审核： <a href="jobs.php?job=rencai"><strong>$data24_resume_unyz</strong></a></td>
</tr>
<tr>
  <td bgcolor="#F1F3F5">注册用户：<strong>$data24_user</strong> ,未审核： <a href="$webdb[www_url]/admin/index.php?lfj=member&job=list&T=noyz"><strong>$data24_user_unyz</strong></a></td>
  <td bgcolor="#F1F3F5">展会信息：<strong>$data24_zh</strong>,未审核：<a href="zh.php?type=0"><strong>$data24_zh_unyz</strong></a>　,展览馆：<strong>$data24_zlg</strong>,未审核：<a href="zh.php?type=0&job=postzlg"><strong>$data24_zlg_unyz</strong></a></td>
</tr>
<tr>
  <td bgcolor="#F1F3F5">登记商家总数：<strong>$data24_company</strong>,未审核：<a href="company.php"><strong>$data24_company_unyz</strong></a> </td>
  <td bgcolor="#F1F3F5">询价单：<strong>$form1</strong>　,报价单：<strong>$form2</strong></td>
</tr>
<tr>
  <td bgcolor="#F1F3F5">商家新提交普通认证：<strong>$data24_renzheng1</strong>,银牌认证：<strong>$data24_renzheng2</strong>,金牌认证：<strong>$data24_renzheng3</strong></td>
  <td bgcolor="#F1F3F5">举报信息：<strong>$report</strong></td>
</tr>
<tr>
  <td bgcolor="#F1F3F5">代理商：<strong>$data24_agent</strong>,VIP商家：<strong>$data24_vip</strong></td>
  <td bgcolor="#F1F3F5">评论信息：<strong>$comments</strong></td>
</tr>
</table>




<table width="96%" border="0" cellpadding="3" cellspacing="1" bgcolor="#FFFFFF" class="tablewidth">
  <tr  class="head">
    <td colspan="2">服务器信息</td>
  </tr>
  
  <tr bgcolor="#FFFFFF"> 
    <td width="50%" bgcolor="#F1F3F5">服务器端信息： $systemMsg[SERVER_SOFTWARE]</td>
    <td width="50%" bgcolor="#F1F3F5">邮件支持模式： $systemMsg[sys_mail]</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%" bgcolor="#F1F3F5">PHP程式版本： $systemMsg[sysversion]</td>
    <td width="50%" bgcolor="#F1F3F5">服务器IP： $systemMsg[SERVER_ADDR]</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%" bgcolor="#F1F3F5">MYSQL 版本： $systemMsg[mysqlVersion]</td>
    <td width="50%" bgcolor="#F1F3F5">服务器端口: $systemMsg[SERVER_PORT]</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%" bgcolor="#F1F3F5">最大上传限制： $systemMsg[max_upload] (<a href="http://bbs.php168.com/read-bbs-tid-202361.html" target="_blank">查看如何改为更大</a>)</td>
    <td width="50%" bgcolor="#F1F3F5">服务器所在时间： $systemMsg[systemtime]</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%" bgcolor="#F1F3F5">最大执行时间： $systemMsg[max_ex_time]</td>
    <td width="50%" bgcolor="#F1F3F5">网站所在磁盘物理位置： $systemMsg[DOCUMENT_ROOT]</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%" bgcolor="#F1F3F5">是否允许打开远程文件: $systemMsg[allow_url_fopen]</td>
    <td width="50%" bgcolor="#F1F3F5">当前文件: $systemMsg[SCRIPT_FILENAME]</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%" bgcolor="#F1F3F5">图像GD支持与否: $systemMsg[gdpic]</td>
    <td width="50%" bgcolor="#F1F3F5">你的IP： $systemMsg[onlineip]</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td width="50%" bgcolor="#F1F3F5">Zend Optimizer版本(PHP加密解释器):$systemMsg[zendVersion]</td>
    <td width="50%" bgcolor="#F1F3F5">当前域名： $systemMsg[SERVER_NAME]</td>
  </tr>
</table>



<table width="96%" border="0" cellpadding="3" cellspacing="1" bgcolor="#FFFFFF" class="tablewidth">
  <tr  class="head">
    <td width="100%">系统管理小贴士</td>
    </tr>
    <tr>
    <td width="100%" valign="top" bgcolor="#F1F3F5" style="line-height:190%">
	 <strong> 郑重说明</strong>：此版本为整站核心+商务系统模型，商务系统的资讯系统是调用整站的文章系统。<br>
	  1、如要对商务系统首页进行重大修改，请手工修改模板文件/b/template/default/index.htm<BR>
      2、如果忘记密码不能进入后台的话，请手工修改文件/admin/global.php,查找$ForceEnter=0;改为$ForceEnter=1;即能进入后台,重新设置管理员密码<BR>
      3、数据库配置文件是/php168/mysql_config.php,更换数据库帐号后,请修改此文件<BR>
      4、要想更换创始人帐号,请修改文件/php168/admin.php<BR>
     </td>
    </tr>
</table>
</div>
<br />
<br />
<br />

</body>

</html>

<!--
EOT;
?>
-->