<!--
<?php
print <<<EOT
-->

<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form_work" method="post" action="index.php?lfj=$lfj&job=work">
    <tr class="head"> 
      <td colspan="2" align="left">订单管理</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="15%">顾客姓名:</td>
      <td width="85%">$rsdb[truename]</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="15%">联系电话:</td>
      <td width="85%">$rsdb[telphone]</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="15%">联系手机:</td>
      <td width="85%">$rsdb[mobphone]</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="15%">联系邮箱:</td>
      <td width="85%">$rsdb[email]</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="15%">联系QQ:</td>
      <td width="85%">$rsdb[oicq]</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="15%">邮政编码:</td>
      <td width="85%">$rsdb[postalcode]</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="15%">配送方式:</td>
      <td width="85%">$rsdb[sendtype]</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="15%">支付方式:</td>
      <td width="85%">$rsdb[paytype] $rsdb[ifpay]</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="15%">联系地址:</td>
      <td width="85%">$rsdb[address]</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="15%">附注留言:</td>
      <td width="85%">$rsdb[othersay]</td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td width="15%">应付金额:</td>
      <td width="85%">{$totalmoney}元</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="15%" valign="top">订购商品:</td>
      <td width="85%"> 
        <table width="638" border="0" cellspacing="2" cellpadding="4" style="background:#0066CC;">
          <tr align="center"> 
            <td width="30%" style="background:#0066CC;"><font color="#FFFFFF">商品名称</font></td>
            <td width="30%" style="background:#0066CC;"><font color="#FFFFFF">商品分类</font></td>
            <td width="27%" style="background:#0066CC;"><font color="#FFFFFF">商品价格</font></td>
            <td width="13%" style="background:#0066CC;"><font color="#FFFFFF">数量</font></td>
          </tr>
          <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
          <tr bgcolor="#FFFFFF"> 
            <td width="30%"><a href="../bencandy.php?fid=$rs[fid]&id=$rs[shopid]" target="_blank">$rs[title]</a></td>
            <td width="30%" align="center"><a href="../list.php?fid=$rs[fid]" target="_blank">$rs[fname]</a></td>
            <td width="27%" align="center">{$rs[nowprice]}元</td>
            <td width="13%" align="center">$rs[amount]</td>
          </tr>
          <!--
EOT;
}print <<<EOT
-->
        </table>
      </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="15%">&nbsp;</td>
      <td width="85%"> [<a href="?lfj=$lfj&job=list">返回列表</a>] </td>
    </tr>
  </form>
</table>
<br>
<!--
EOT;
?>
-->
