<!--
<?php
print <<<EOT
--> 
 
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">
    <tr  class="head"> 
      <td colspan='3'> 
        <div align='center'><b><font color="#FFFFFF">留言本设置</font></b></div>
      </td>
    </tr>
    <tr> 
      <td width='28%' bgcolor='#FFFFFF'>是否开放留言本留言功能</td>
      <td colspan='2' bgcolor='#FFFFFF'> 
        <input type="radio" name="webdbs[ifOpenGuestBook]" value="1" $ifOpenGuestBook[1]>
        开放 
        <input type="radio" name="webdbs[ifOpenGuestBook]" value="0" $ifOpenGuestBook[0]>
        关闭 </td>
  </tr><tr> 
      <td width='28%' bgcolor='#FFFFFF'>是否使用验证码:</td>
      <td colspan='2' bgcolor='#FFFFFF'>
        <input type="radio" name="webdbs[yzImgGuestBook]" value="1" $yzImgGuestBook[1]>
        使用 
        <input type="radio" name="webdbs[yzImgGuestBook]" value="0" $yzImgGuestBook[0]>
        不使用</td>
    </tr>
    <tr> 
      <td width='28%' bgcolor='#FFFFFF'>未审核的留言是否显示出来:</td>
      <td colspan='2' bgcolor='#FFFFFF'> 
        <input type="radio" name="webdbs[viewNoPassGuestBook]" value="1" $viewNoPassGuestBook[1]>
        显示 
        <input type="radio" name="webdbs[viewNoPassGuestBook]" value="0" $viewNoPassGuestBook[0]>
        不显示</td>
    </tr>
    <tr> 
      <td width='28%' bgcolor='#FFFFFF'>留言自动通过审核的用户组:</td>
      <td colspan='2' bgcolor='#FFFFFF'>$groupPassPassGuestBook</td>
    </tr>
    <tr> 
      <td width='28%' bgcolor='#FFFFFF'>每页多少条留言:</td>
      <td colspan='2' bgcolor='#FFFFFF'>
        <input type="text" name="webdbs[GuestBookNum]" size="3" maxlength="3" value="$webdb[GuestBookNum]">
        条 </td>
    </tr>
    <tr> 
      <td width='28%' bgcolor='#FFFFFF'>&nbsp;</td>
      <td colspan='2' bgcolor='#FFFFFF'> 
        <input  class=mmcinb  type='submit' name='w' value='保存设置'>
      </td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->
