<!--
<?php
if(!$action){
print <<<EOT
-->
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">

    <tr align="center" class="head"> 
      <td width="17%" align="left">排序/名称</td>
      <td width="8%">类型</td>
      <td width="20%" align="left">模板</td>
      <td width="7%">点击</td>
      <td width="11%">显示</td>
      <td width="9%">预览</td>
      <td width="12%">标签管理</td>
      <td width="6%">编辑</td>

      <td width="10%">删除</td>
    </tr>
  <form action="?action=betch_order" name="diypage" method="post" >
<!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr bgcolor="#FFFFFF"> 
      <td width="17%" align="left"><input type="text" size="2"  name="order_sort[$rs[diyid]]" value="$rs[order_sort]"/>&nbsp;$rs[name]</td>
      <td align="center">$rs[type_v]</td>
      <td width="20%" align="left">$rs[filename]</td>
      <td width="7%" align="center">$rs[hits]</td>
      <td width="11%" align="center"><a href="?action=show&diyid=$rs[diyid]">$rs[isshow]</a></td>
      <td align="center"><a href="../page.php?diyid=$rs[diyid]" target="_blank">点击预览</a></td>
      <td align="center"><a href="../page.php?diyid=$rs[diyid]&jobs=show"  >标签</a></td>
      <td align="center" width="6%"><a href="?action=edit&diyid=$rs[diyid]">编辑</a></td>
	  
      <td align="center" width="10%">
<!--
EOT;
if($rs[type]){
print <<<EOT
-->      
      删除
 <!--
EOT;
}else{
print <<<EOT
-->
	<a href="?action=del&diyid=$rs[diyid]" onclick="return confirm('确定删除吗?');">删除</a>
<!--
EOT;
}
print <<<EOT
-->      </td>
    </tr>
<!--
EOT;
}
print <<<EOT
-->
 <tr bgcolor="#FFFFFF" align="center"> 
      <td colspan="10"> {$showpage}</td>
    </tr>
    <tr bgcolor="#FFFFFF" align="center"> 
      <td colspan="10"><input type="submit" name="button3" id="button3" value="批量修改排序" /> 
      </td>
    </tr></form>
</table>
<!--
EOT;

}elseif($action=='add' || $action=='edit'){
print <<<EOT
-->

<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
<form id="form1" name="form1" method="post" action="?">
    <tr align="center" class="head"> 
    <td colspan="2" align="left">发布独立模块</td>
    </tr>
     <tr align="center" bgcolor="#FFFFFF"> 
    <td width="17%" align="right">名称：</td>
    <td width="83%" align="left"><input name="diy[name]" type="text" id="diy[name]" value="$diy[name]" /> 
    推荐2-4个汉字，以为过长可能会导致头部导航变形     </td>
    </tr>
     <tr align="center" bgcolor="#FFFFFF">
       <td align="right">类型：</td>
       <td align="left">$diy[type]</td>
     </tr>
     <tr align="center" bgcolor="#FFFFFF">
       <td align="right">模板文件名：</td>
       <td align="left">diy_
         <input name="diy[filename]" type="text" id="diy[filename]" value="$diy[filename]" size="15" />
         .htm <br />(一次添加后不可修改,不能与其他文件重复,推荐使用默认名称，此文件将存放在当前风格文件夹(template/$webdb[style])中)</td>
     </tr>
     <tr align="center" bgcolor="#FFFFFF">
       <td align="right" valign="top">模板代码：</td>
       <td align="left"><textarea name="diy[content]"   cols="60" rows="20" id="diy[content]">$diy[content]</textarea>
       <br />
       <strong>说明：</strong>
       <br />
       1.支持标签设定,代码中包含\$label[*]即可操作标签内容,*号替换成不重复的字符串即可;<br />
       2.支持任何PHP变量，如\$webdb 全局环境变量的调用；<br />
       3.与风格模板做法相同，只需把做好的页面代码复制到此文本框保存即可；<br />
       4.所有代码都必须是此格式:
       <br />
       &lt;!--<br />
       &lt;?php<br />
       print &lt;&lt;&lt;EOT<br />
       --&gt;<br />
       HTML代码<br />
       &lt;!--<br />
       EOT;<br />
       ?&gt;<br />
       --&gt;<br /></td>
    </tr>
     <tr align="center" bgcolor="#FFFFFF">
       <td align="right">头部导航是否显示：</td>
       <td align="left"><input type="radio" name="diy[isshow]" id="radio" value="1" $isshow[1] />
         显示 
           <input type="radio" name="diy[isshow]" id="radio2" value="0" $isshow[0]/>
不显示 ,<strong>注意</strong>：头部导航只能显示排序后的前三个标题； </td>
     </tr>
     <tr align="center" bgcolor="#FFFFFF">
       <td align="right">排序：</td>
       <td align="left"><input name="diy[order_sort]" type="text" id="diy[order_sort]" value="$diy[order_sort]" size="10" /></td>
     </tr>
      <tr align="center" bgcolor="#FFFFFF">
       <td align="right">跳转到：</td>
       <td align="left"><input name="diy[jumpto]" type="text" id="diy[jumpto]" value="$diy[jumpto]" size="60" />
       忽略模板设置的内容，直接跳转此地址，不跳转请留空.</td>
     </tr>
     <tr align="center" bgcolor="#FFFFFF">
       <td align="right">&nbsp;</td>
       <td align="left"><input type="submit" name="button" id="button" value="提交" />
       <input type="button" name="button2" id="button2" value="返回"  onclick="window.location='?';"/>
       <input name="action" type="hidden" id="action" value="$action" />
       <input name="step" type="hidden" id="step" value="1" />
       <input name="diyid" type="hidden" id="diyid" value="$diyid" /></td>
     </tr>    </form>
</table>





<!--
EOT;



}


?>
-->
 