<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth" style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word'>
  <form name="form_work" method="post" action="index.php?lfj=$lfj&action=deletehtml">
    <tr class="head"> 
      <td width="6%" align="center">序号</td>
      <td align="center">文 件</td>
      <td width="11%" align="center">大小</td>
      <td width="8%" align="center">删除</td>
    </tr>
    <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr bgcolor="#FFFFFF"> 
      <td width="6%" align="center">$key</td>
      <td> 
        <input type="checkbox" name="iddb[{$key}]" value="{$key}">
        <a href="$rs[html]" target="_blank">$rs[html]</a></td>
      <td width="11%" align="center">$rs[size]<b>(K)</b></td>
      <td width="8%" align="center"><a href="index.php?lfj=$lfj&action=deletehtml&id={$key}">删除</a></td>
    </tr>
    <!--
EOT;
}
print <<<EOT
-->
    <tr align="center"> 
      <td colspan="4" bgcolor="#FFFFFF"> $showpage </td>
    </tr>
    <tr align="center">
      <td colspan="4" bgcolor="#FFFFFF">总共占用空间<b><font color="#FF0000"> $totalsize</font></b> 
        M</td>
    </tr>
    <tr align="center"> 
      <td colspan="4" bgcolor="#FFFFFF"> <a href="#" onClick="CheckAll('all')">全选</a>/<a href="#" onClick='CheckAll()'>反选</a> 
        <input type="submit" name="Submit" value="删 除">
        [<a href="index.php?lfj=$lfj&action=deletehtml&step=all" onclick="return confirm('你确实要清空所有吗?');">清空所有</a>] </td>
    </tr>
  </form>
</table>
<SCRIPT LANGUAGE="JavaScript">
<!--
function postdo(va){
	document.form_work.jobs.value=va
	document.form_work.submit();
}
function CheckAll(va){
	form=document.form_work
	for (var i=0;i<form.elements.length;i++){
		var e = form.elements[i];
		if(va=='all'){
			e.checked = true;
		}else{
			e.checked == true ? e.checked = false : e.checked = true;
		}
	}
}
//-->
</SCRIPT>
<!--
EOT;
?>
-->