<!--
<?php
if(!$job){
print <<<EOT
-->

<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form_work" method="post" action="?">
    <tr align="center" class="head"> 
      <td width="29%">{$tbname}内容</td>
      <td width="15%">评论对象</td>
      <td width="9%">状态</td>
      <td width="16%">用户</td>
      <td width="13%"> 提交时间</td>
      <td width="10%">详情</td>
      <td width="8%">删除</td>
    </tr>
    <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr bgcolor="#FFFFFF"> 
      <td width="29%" align="center">$rs[content]</td>
      <td align="center"><a href="$rs[url]" target="_blank">点击查看</a></td>
      <td width="9%" align="center"><a href="?action=yz&cid=$rs[cid]&tb=$tb">$rs[yz]</a></td>
      <td width="16%" align="center">$rs[username]</td>
      <td align="center"> $rs[posttime]</td>
      <td align="center"><a href="?job=view&cid=$rs[cid]&tb=$tb">点击查看</a></td>
      <td align="center" width="8%"><a href="?action=del&cid=$rs[cid]&tb=$tb" onclick="return confirm('确定删除此吗?');">删除</a></td>
    </tr>
    <!--
EOT;
}print <<<EOT
-->
    <tr bgcolor="#FFFFFF" align="center"> 
      <td colspan="7"> {$showpage}</td>
    </tr>
  </form>
</table>

<!--
EOT;
}elseif($job=='view'){
print <<<EOT
-->
    <table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form_work" method="post" action="?">
    <tr align="center" class="head"> 
      <td width="29%">{$tbname}内容</td>
      <td width="15%">评论对象</td>
      <td width="9%">状态</td>
      <td width="16%">用户</td>
      <td width="13%"> 提交时间</td>

    </tr>
     <tr bgcolor="#FFFFFF"> 
      <td width="29%" align="center">$rs[content]</td>
      <td align="center"><a href="$rs[url]" target="_blank">点击查看</a></td>
      <td width="9%" align="center"><a href="?action=yz&cid=$rs[cid]&tb=$tb">$rs[yz]</a></td>
      <td width="16%" align="center">$rs[username]</td>
      <td align="center"> $rs[posttime]</td>

    </tr>
   
  </form>
</table>
<!--
EOT;
}
?>
-->
