<!--
<?php
$tab  || $tab=1;
$cksel[$tab]=" ck";
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr> 
          <td class="head">
          	我的收藏夹
          </td>
        </tr>
     <!--   <tr> 
          <td class="middle"></td>
        </tr>
		
		<tr><td class="foot"></td></tr>-->
      </table>
		  
<table cellspacing="0" cellpadding="0"  class="infolist" width="100%">
  <tr>
    <td class="tab $cksel[1]"><a href="?ctype=1&tab=1">供应信息</a></td>
    <td class="tab $cksel[2]"><a href="?ctype=2&tab=2">求购信息</a></td>
    <td class="tab $cksel[company]"><a href="?ctype=3&tab=company">商家</a></td>
	<td  width="60%">&nbsp;</td>
  </tr>
</table>
           
		    <table width="100%" border="0" cellspacing="1" cellpadding="3" style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word' class="dragTable">
 
                <tr align="center" class="head_in"> 
                  <td width="58%">名 称</td>
                  <td width="15%">类型</td>
                  
                 
                  
                
                  <td width="16%">收藏日期</td>
                  
                <td width="11%">删除</td>
              </tr>
<!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
                <tr class='trA' onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
                  
                <td  align="left">·<a href="$rs[url]" target="_blank" title="$rs[full_title]">$rs[title]</a>                </td> 
                  
                  
                <td align="center">$rs[ctype]</td>
                  
               
                  
                 
                  <td align="center">$rs[posttime]</td>
                  
                <td align="center"><a href="?do=del&cid=$rs[cid]">删除</a></td>
                </tr>
<!--
EOT;
}print <<<EOT
-->
                <tr align="center"> 
                  <td colspan="6">$showpage </td>
                </tr>
            </table>
			
			
         
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->