<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr> 
          <td class="head">我发出的询价单</td>
        </tr>
        <tr> 
          <td class="middle"> 
<!--
EOT;
if(!$action){
print <<<EOT
-->
  <table width="100%" border="0" cellspacing="1" cellpadding="3" style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word'>
 
                <tr align="center" class="head_in"> 
                  <td width="43%">询价标题</td>
                  <td width="18%">商家</td>
                  <td width="11%">出价</td>
                  <td width="11%">详细/回复</td>
                  
                 
                  
                
                  <td width="17%">询价日期</td>
              </tr>
<!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
                <tr class='trA' onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
                  
                <td  align="left"><a href="$Mdomain/sell_bencandy.php?fid=$rs[fid]&id=$rs[info_id]" target="_blank" title="$rs[full_title]">$rs[title]</a>                </td> 
                  
                  
                <td  align="left"><a href="$Mdomain/homepage.php?uid=$rs[owner_uid]"  target="_blank">$rs[owner]&nbsp;</a></td>
                <td  align="center">$rs[hope_price]元</td>
                <td align="center"><a href='?action=view&id=$rs[id]'>$rs[reply]</a></td>
                  
               
                  
                 
                  <td align="center">$rs[posttime]</td>
                </tr>
<!--
EOT;
}print <<<EOT
-->
                <tr align="center"> 
                  <td colspan="8">$showpage </td>
                </tr>
            </table>
<!--
EOT;
}elseif($action=='view'){
print <<<EOT
-->
	<table width="100%" border="0" cellspacing="1" cellpadding="3" >
 
                <tr align="center" class="head_in"> 
                <td colspan="2">$rt[title]</td>
                </tr>
                  <tr  class='trA'>
                <td width="150">提交时间：</td>
                <td  >$rt[posttime]</td>
                </tr>
                <tr  class='trA'>
                <td width="150">对方商家：</td>
                <td  >$rt[owner]</td>
                </tr>
                <tr  class='trA'>
                  <td>采购数量：</td>
                  <td>$rt[quantity]</td>
                </tr>
                <tr  class='trA'>
                  <td>希望价格：</td>
                  <td>$rt[hope_price]元</td>
                </tr>
                <tr  class='trA'>
                  <td>希望了解：</td>
                  <td>$rt[get_info]</td>
                </tr>
                <tr  class='trA'>
                  <td>内容补充：</td>
                  <td>$rt[add_content]</td>
                </tr>
                <tr  class='trA'>
                  <td>希望回复：</td>
                  <td>在$rt[hopereply_time]之前</td>
                </tr>
                <tr  class='trA'>
                  <td>回复内容：</td>
                  <td>
<!--
EOT;
if($rt[is_reply]){
print <<<EOT
-->
<p>回复时间：$rt[reply_time]</p>
<p>回复内容：$rt[reply_content]</p>
<p>参考地址：$rt[reply_cankao]</p>
<!--
EOT;
}else{
print <<<EOT
-->
未回复
<!--
EOT;
}
print <<<EOT
-->                  </td>
                </tr>
                <tr  class='trA'>
                  <td>我的联系方式：</td>
                  <td><table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="left">联系人：</td>
                      <td>$contact_info[truename]</td>
                      <td align="left">联系人职位：</td>
                      <td >$contact_info[qy_contact_zhiwei]</td>
                    </tr>
                    <tr>
                      <td align="left">公司名称：</td>
                      <td>$contact_info[company_name]</td>
                      <td align="left">固定电话：</td>
                      <td>$contact_info[qy_contact_tel]</td>
                    </tr>
                    <tr>
                      <td align="left">移动电话：</td>
                      <td>$contact_info[qy_contact_mobile]</td>
                      <td align="left">邮箱地址：</td>
                      <td>$contact_info[qy_contact_email]</td>
                    </tr>
                    <tr>
                      <td align="left">传 真：</td>
                      <td>$contact_info[qy_contact_fax]</td>
                      <td align="left">Q Q：</td>
                      <td>$contact_info[qq]</td>
                    </tr>
                  </table></td>
                </tr>
                <tr  class='trA'>
                  <td>&nbsp;</td>
                  <td><input type="button" name="button" id="button" value="返回" onclick="window.location='?'" /></td>
                </tr>
    </table>
<!--
EOT;
}
print <<<EOT
-->
          </td>
        </tr><tr><td class="foot"></td></tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->