<html xmlns="http://www.w3.org/1999/xhtml">
<!--
<?php
print <<<EOT
-->
<head>
<title>会员操作平台                                                              powerby www.php168.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" href="{$member_style}/style.css" type="text/css">
</head>
<body text="#000000" leftmargin="0" topmargin="0" >
<div id="LeftMenu">

<!--
EOT;
foreach($menudb AS $SortName=>$array){
$jj++;
print<<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
  <tr>
    <td class="head"><a href='javascript:' onclick='showson("s$jj")'><img src="{$member_style}/0ico2.jpg" border="0" id="img$jj"> &nbsp;$SortName</a></td>
  </tr>
  <tr>
    <td class="middle">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style='display:' id='s$jj'>
<!--
EOT;
foreach($array AS $MenuName=>$array2){
if($power<$array2[power])continue;
if(strstr($array2[link],'../')){
$target='_blank';
}else{
$target='main';
}
print<<<EOT
-->
        <tr>
          <td >&nbsp;&nbsp;&nbsp;&nbsp;<A HREF='$array2[link]' target='$target' style="width:88%; line-height:25px; background:url({$member_style}/arrow.gif) no-repeat left; padding-left:10px">            &nbsp;$MenuName</A></td>
        </tr>
<!--
EOT;
}print<<<EOT
-->
      </table>
	 </td>
  </tr>
  <tr>
     <td class="foot"></td>
  </tr>
</table>






<SCRIPT language=javascript>
function showson(ss){
	if (document.getElementById(ss).style.display == 'none'){
		document.getElementById(ss).style.display = '';
		document.getElementById(ss.replace("s","img")).src ="{$member_style}/0ico2.jpg";
	}else{
		document.getElementById(ss).style.display = 'none';
		document.getElementById(ss.replace("s","img")).src ="{$member_style}/0ico1.jpg";
	}
}
function showmenu(ss){
	for(i=0;i<100;i++){
		obj=document.getElementById("s"+i);	
		if(ss=='open'){
			if(obj && obj.style.display=="none"){
				obj.style.display="";
			}
		}else{
			if(obj && obj.style.display==""){
				obj.style.display="none";
			}
		}
	}
}
</script>
<!--
EOT;
}
$webdb[kefuinfo]=nl2br($webdb[kefuinfo]);
print<<<EOT
-->

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
  <tr>
    <td class="head"><a href='javascript:'><img src="{$member_style}/0ico2.jpg" border="0"  > &nbsp;客户服务</a></td>
  </tr>
  <tr>
    <td class="middle">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style='display:' id='s$jj'>

        <tr>
          <td style="padding:10px;" >$webdb[kefuinfo]</td>
        </tr>

      </table>
	 </td>
  </tr>
  <tr>
     <td class="foot"></td>
  </tr>
</table>
</div>
</body>
<!--
EOT;
?>
-->

</html>