<!--
<?php

if(!$action){
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main" >
	
<!--
EOT;
if(count($listdb)<1){
print <<<EOT
-->

	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
        <tr> 
          <td class="head">
 	<strong>VIP商家服务</strong>
	  </td>
        </tr>
        <tr class="middle"><td>
	<table width="100%" cellspacing="0" cellpadding="0" id="guide"  >
    <tr>
      <td width="20%" rowspan="2" valign="top" align="right"><img src="$Murl/member/{$member_style}/notice.jpg"  border="0"/></td>
      <td width="80%" height="30"><strong>目前您还没有开通VIP商家服务，为了达到更高的商务需求，建议您开通VIP商家服务;</strong>
      <br /><br />
      <a href="?action=payfor"><strong>[ 现在就开通VIP商家服务 ]</strong></a></td>
    </tr>
    <tr>
      <td height="50" valign="top">
      <p >
	<script language="javascript" type="text/javascript" src="$Murl/help_js.php?keyw=VIP&fid=&listnum=5&length=60"></script>
	</p></td>
    </tr>
  </table>
  </td></tr>
      </table>


<!--
EOT;
}else{
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
        <tr> 
          <td class="head">
 	<strong>目前您已经开通VIP商家服务,</strong><strong><a href="?action=payfor">续费请点击<font color="#ff2200">[VIP商家服务续费]</font></a></strong></span>
	  </td>
        </tr>
      </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr  class="trA"> 
          <td height="80" align="left" valign="middle" style="padding:10px;">	  
	  
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="head_in"> 
   
    <td width="21%" align="center"><strong>VIP服务时间</strong></td>
	<td width="19%" align="center"><strong>费用计算</strong></td>
    <td width="12%" align="center"><strong>支付状态</strong></td>
	<td width="10%"><strong>支付方式</strong></td>
    <td width="12%" align="center"><strong>服务状态</strong></td>
    <td width="26%"><strong>时间记录</strong></td>
    
    </tr>
<!--
EOT;
foreach($listdb as $rs){
print <<<EOT
-->	 
   <tr class='trA' onmouseover="this.className='trB'" onmouseout="this.className='trA'">
    
    <td height="50" align="center">$webdb[vip_min_long]月 * $rs[how_long]个单位=$rs[all_how_long]个月</td>
	<td align="center">$rs[per_payfor]元 * $rs[how_long]个单位=$rs[all_pay]元</td>
    <td align="center">$rs[pay_status]<br />
      $rs[pay_act]</td>
	  <td style="line-height:16px;">$rs[pay_type]</td>
    
    <td align="center">$rs[vip_status]</td>
    <td style="line-height:20px;">提交：$rs[posttime]<br />
      支付：$rs[pay_time]<br />
      开通：<font color="#FF0000">$rs[start_time]</font><br />
      结束：<font color="#FF0000">$rs[end_time]</font></td>
    
	</tr>
<!--
EOT;
}
print <<<EOT
-->	 
</table>
	
<p>$showpage</p>
		  </td>
        </tr>
      </table>	
<!--
EOT;
}
print <<<EOT
-->

        
	 
	</td>
</tr> 
</table>
<!--
EOT;
}elseif($action=='payfor'){
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main" >
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
        <tr> 
          <td class="head">
		  <strong>续费VIP服务</strong>(首次续费即为开通)
		  </td>
		</tr>
	</table>
	
	
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
      <tr  class="trA">
        <td height="80" align="left" valign="middle"  style="padding:10px;" width="39%"><form action="?" method="post" enctype="multipart/form-data" name="form1" id="form1" >
            <input name="action" type="hidden" id="action" value="save_add" />
            <table width="600" cellspacing="0" cellpadding="5">
              <tr>
                <td width="38%" height="20" align="right">续费最小时间单位：</td>
                <td width="62%" align="left" valign="top"><strong>$webdb[vip_min_long]</strong>月</td>
              </tr>
              <tr>
                <td height="20" align="right">最小时间单位服务费：</td>
                <td align="left" valign="top"><strong>$webdb[vip_par_payfor]</strong> 元人民币</td>
              </tr>
              <tr>
                <td height="20" align="right">您要续费多少最小时间单位：</td>
                <td align="left" valign="top"><select name="how_long" onchange="tongji_this(this.options[this.selectedIndex].value)">
<!--
EOT;
for($i=1;$i<=24;$i++){
	$ii=$i*$webdb[vip_min_long];
print <<<EOT
-->
	<option value="$i">{$ii}月</option>
<!--
EOT;
}
print <<<EOT
-->
                </select>
<script language="javascript">
function tongji_this(num){
	document.getElementById('tongji').innerHTML=String(num*{$webdb[vip_par_payfor]});		
}
window.onload=function(){
	tongji_this(1);
}
</script>                ，一月按照30天计算</td>
              </tr>
              <tr>
                <td height="20" align="right"><strong>续费支付方式</strong>：</td>
                <td align="left" valign="top"><input name="pay_type" type="radio" value="online" checked="checked" />
                  <strong style="color:red">在线支付</strong> 
                  <input type="radio" name="pay_type" value="offline" />
                  <strong  style="color:blue">线下支付</strong>(<a href="$Mdomain/help.php?help_key=%D7%D4%D6%FA%BB%E3%BF%EE&sear=%CB%D1%CB%F7" target="_blank" style="background:url($Murl/images/default/help_js_ico.gif) no-repeat; padding-left:10px;">自助汇款</a>)</td>
              </tr>
              <tr>
                <td height="20" align="right">续费费用统计：</td>
                <td align="left" valign="top"><span id="tongji" style="color:#FF0000">0</span>元</td>
              </tr>

              <tr>
                <td colspan="2" align="center"><input type="submit" name="Submit" value="提交续费订单" onclick="return confirm('确定提交订单吗?');" />
                    <input type="button" name="Submit2" value="放 弃"  onclick="window.location='?';"/>
                    <input name="action" type="hidden" id="action" value="save_payfor" /></td>
                </tr>
            </table>
			<p>
          <script language="JavaScript" type="text/javascript" src="$Murl/help_js.php?keyw=VIP&fid=&listnum=10&length=60"></script>
        </p>
        </form></td>

      </tr>
    </table></td>
  </tr>
</table>
    
<!--
EOT;
}
?>
-->	  