<!--
<?php
print <<<EOT
--> 
<table width="100%" cellspacing="1" cellpadding="3"  class="tablewidth">
     <tr  class="head"> 
      <td colspan="6"> 
        
      <div align="center"><font color="#FFFFFF">用户组模型相关功能权限管理</font></div>
      </td>
    </tr>
    <tr bgcolor=#EEEEEE align="center"> 
      <td width="6%"> 
        <div align=center><b><font color="#990033">ID代号</font></b></div>
      </td>
      <td width="14%"><b><font color="#990033">用户组名称</font></b></td>
      <td width="17%"><b><font color="#990033">用户组性质</font></b></td>
      <td width="19%"><b><font color="#990033">用户组成员</font></b></td>
      <td width="20%"><b><font color="#990033">升级积分</font></b></td>
      <td width="24%"><b><font color="#990033">权限设置</font></b></td>
    </tr>
    <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr bgcolor='#FFFFFF'> 
      <td width='6%' align="center"> $rs[gid] </td>
      <td width='14%'> $rs[grouptitle] </td>
      <td width='17%' align="center">$rs[ifSystem]</td>
      
    <td width='19%' align="center"><a href="index.php?lfj=member&job=list&T=&groupid=$rs[gid]" title="查看此用户组下的所有会员名单"><img src="../member/images/icon_user.gif" border="0"></a></td>
      <td width='20%' align="center"> 
        <!--
EOT;
if(!$rs[gptype]){
print <<<EOT
-->
        $rs[levelnum] 
        <!--
EOT;
}
print <<<EOT
-->
      </td>
      
    <td align="center" width="24%"><a href="?lfj=$lfj&job=edit&gid=$rs[gid]" title="点击修改权限"><img src="../member/images/button_properties.png" border="0"></a></td>
    </tr>
    <!--
EOT;
}print <<<EOT
-->
   
  
</table> 
<table width="100%" cellspacing="1" cellpadding="3"  class="tablewidth">
  <tr  class="head" align="left"> 
    <td> <font color="#FFFFFF">说明:</font></td>
  </tr>
  <tr bgcolor='#FFFFFF'> 
    <td align="left"> 提示:<br>
      1. 超级管理员与前台管理员具有模型功能的一切权限,所以权限无须设置<br>
      2. 部分功能,对游客设置无效,请注意观察! </td>
  </tr>
</table>
<!--
EOT;
?>
-->
