<!--
<?php
$M_url=Mdirname;
$DIR=PHP168_PATH.Mdirname.'/';
print <<<EOT
-->
<table width='100%' cellspacing='1' cellpadding='3' class='tablewidth'>
  <tr class="head"> 
    <td colspan="3"> 
      <div align='center'>数据库备份完毕,以下文件占用服务器空间为:<b><font color='#FF0000'>{$rsdb[totalsize]} 
        兆(M)</font></b></div>
    </td>
  </tr>
  <tr bgcolor='#FFFFFF'> 
    <td colspan="3">备份完毕,已经自动备份到服务器里了,数据存放的目录是 <font color="#0000FF">{$DIR}cache/mysql_bak/$rand_dir</font>。<br>
<!--
EOT;
if($baktype=='s'){print <<<EOT
--> 
你选择的是特殊备份,这些数据不能使用于本系统还原,但可以给别人克隆出这样一个频道.你把{$DIR}cache/mysql_bak/里边的install目录移到频道目录里,然后把程序一起发给别人的话,别人运行http://新频道目录/install/即可全新安装此频道
	 <!--
EOT;
}print <<<EOT
-->  
	  </td>
  </tr>
  <!--
EOT;
//for($j=1;$j<=$rsdb[sqlnum];$j++){
foreach($rsdb[sqlsize] AS $key=>$size){
print <<<EOT
-->
  <tr bgcolor='#FFFFFF'> 
    <td width="3%" align="center">$key</td>
    <td width="48%"> 
      <input type="checkbox" name="checkbox" value="checkbox">
      <a href="../cache/mysql_bak/$rand_dir/$key.sql" target="_blank">$key.sql</a> 
    </td>
    <td width="49%">{$size} (K)</td>
  </tr>
  <!--
EOT;
}
print <<<EOT
-->
  <tr bgcolor='#FFFFFF'> 
    <td colspan="3" align="center">以上数据库文件总共占用空间:<b><font color='#FF0000'>{$rsdb[totalsize]}兆(M)</font></b></td>
  </tr>
</table>
<!--
EOT;
?>
-->