BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-FAMILY: Tahoma; BACKGROUND: #ffffff; FONT-SIZE: 12px
}
.clear {
	CLEAR: both; OVERFLOW: hidden
}
.clears {
	CLEAR: both
}
#main {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#topbg {
	BORDER-BOTTOM: #a3bdd8 1px solid; BORDER-LEFT: #a3bdd8 1px solid; WIDTH: 100%; BACKGROUND: url(/pc/images/newtopbg1.gif) repeat-x; HEIGHT: 65px; BORDER-TOP: #a3bdd8 1px solid; BORDER-RIGHT: #a3bdd8 1px solid
}
#top {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 910px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.content {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 910px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#top IMG {
	WIDTH: 910px; FLOAT: left; HEIGHT: 70px
}
#left {
	WIDTH: 610px; FLOAT: left; HEIGHT: 620px; PADDING-TOP: 10px
}
#right {
	WIDTH: 280px; FLOAT: right; HEIGHT: 620px; PADDING-TOP: 10px
}
.foot {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #9e9e9e; CLEAR: both; PADDING-TOP: 18px
}
.foot A:link {
	COLOR: #9e9e9e; TEXT-DECORATION: none
}
.foot A:visited {
	COLOR: #9e9e9e; TEXT-DECORATION: none
}
.foot A:active {
	COLOR: #9e9e9e; TEXT-DECORATION: none
}
.foot A:hover {
	TEXT-DECORATION: underline
}
.title_pc {
	LINE-HEIGHT: 25px; BACKGROUND: url(blueline.gif) no-repeat left bottom; HEIGHT: 25px
}
.title_pc1 {
	BACKGROUND: url(blueline2.gif) no-repeat 50% bottom; HEIGHT: 25px
}
.title_pc1 #IP{ color:Fuchsia;}
.padder {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 215px; PADDING-TOP: 0px
}
.padder1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; HEIGHT: 370px; PADDING-TOP: 10px
}
.padder2 {
	PADDING-BOTTOM: 10px; MARGIN: 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; HEIGHT: 180px; PADDING-TOP: 0px
}
.padder3 {
	PADDING-BOTTOM: 35px; MARGIN: 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; HEIGHT: 200px; PADDING-TOP: 10px
}
.padder4 {
	PADDING-BOTTOM: 10px; MARGIN: 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; HEIGHT: 90px; PADDING-TOP: 10px
}
.padders {
	MARGIN: 0px 6px
}
.padders1 {
	MARGIN: 0px 6px; HEIGHT: 190px
}
#plink {
	BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BACKGROUND: #f8f8f8; HEIGHT: 22px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
#plink_padder {
	MARGIN: 0px auto; WIDTH: 910px; COLOR: #067097
}
#plink_padder SPAN.sp1 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 450px; PADDING-RIGHT: 0px; FLOAT: right; COLOR: #738197; PADDING-TOP: 0px
}
#plink_padder SPAN.sp1 A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(/pc/images/graydot.gif) no-repeat right center; FLOAT: right; PADDING-TOP: 0px
}
#plink_padder SPAN.sp1 A.sp1a {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(/pc/images/graydot.gif) no-repeat right center; FLOAT: right; PADDING-TOP: 0px
}
#plink_padder SPAN.sp2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 0px
}
A.logo IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 215px; BORDER-TOP-STYLE: none; FLOAT: left; HEIGHT: 72px; BORDER-LEFT-STYLE: none
}
#top DL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 20px
}
#top DL DT {
	LINE-HEIGHT: 22px; COLOR: #595959; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#top DL DD {
	LINE-HEIGHT: 22px; COLOR: #808285
}
.nav {
	MARGIN: 0px auto; WIDTH: 910px; BACKGROUND: url(navbgnew1125.gif); HEIGHT: 36px
}
.nav SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 50px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.nav SPAN A.select {
	TEXT-ALIGN: center; LINE-HEIGHT: 32px; MARGIN: 4px 0px 0px 2px; WIDTH: 88px; DISPLAY: inline; BACKGROUND: url(navbutton.gif) no-repeat; FLOAT: left; HEIGHT: 32px; COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.nav SPAN A.unselect {
	TEXT-ALIGN: center; LINE-HEIGHT: 28px; MARGIN: 4px 0px 0px 2px; WIDTH: 88px; DISPLAY: inline; FLOAT: left; HEIGHT: 28px; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#tab_one {
	DISPLAY: block
}
#tab_two {
	DISPLAY: none
}
#toplink {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; COLOR: #067097; FONT-SIZE: 14px; PADDING-TOP: 28px
}
H1 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 6px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #333333; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.title_pc P {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #939598; PADDING-TOP: 0px
}
.title_pc1 P {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #939598; PADDING-TOP: 0px
}
.title_pc SPAN {
	LINE-HEIGHT: 25px; PADDING-RIGHT: 10px; FLOAT: right
}
.title_pc1 SPAN {
	LINE-HEIGHT: 25px; PADDING-RIGHT: 10px; FLOAT: right
}
.u01 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.u01 LI.red {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; LIST-STYLE-TYPE: none; PADDING-LEFT: 12px; WIDTH: 240px; PADDING-RIGHT: 0px; BACKGROUND: url(reddot.gif) no-repeat left center; PADDING-TOP: 0px
}
.u01 LI.blue {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; LIST-STYLE-TYPE: none; PADDING-LEFT: 12px; WIDTH: 240px; PADDING-RIGHT: 0px; BACKGROUND: url(bluedot.gif) no-repeat left center; PADDING-TOP: 0px
}
.upicinfo {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 10px
}
.upicinfo LI {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 25px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; WIDTH: 260px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 2px
}
.upicinfo LI SPAN.logoinfo {
	FLOAT: left
}
.upicinfo LI SPAN.logoinfo IMG {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; FLOAT: left; VERTICAL-ALIGN: middle; PADDING-TOP: 5px
}
.upicinfo LI SPAN.down {
	LINE-HEIGHT: 25px; FLOAT: right
}
.upicinfo LI SPAN.down IMG {
	MARGIN: 0px 5px 0px 0px
}
.desktop {
	WIDTH: 95%; FLOAT: left
}
.desktop UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.desktop UL LI {
	PADDING-BOTTOM: 7px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 7px
}
* HTML .desktop UL LI {
	PADDING-BOTTOM: 8px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 8px
}
* + HTML .desktop UL LI {
	PADDING-BOTTOM: 8px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 8px
}
.desktop UL LI SPAN.biglogo1 A IMG {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; WIDTH: 33px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; FLOAT: left; HEIGHT: 33px; BORDER-LEFT-STYLE: none; PADDING-TOP: 7px
}
.desktop UL LI SPAN.biglogo2 A IMG {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; WIDTH: 32px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; FLOAT: left; HEIGHT: 32px; BORDER-LEFT-STYLE: none; PADDING-TOP: 7px
}
.desktop UL LI SPAN.biglogo3 A IMG {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; WIDTH: 33px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; FLOAT: left; HEIGHT: 33px; BORDER-LEFT-STYLE: none; PADDING-TOP: 7px
}
.desktop UL LI SPAN.biglogo4 A IMG {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; WIDTH: 32px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; FLOAT: left; HEIGHT: 32px; BORDER-LEFT-STYLE: none; PADDING-TOP: 7px
}
.desktop UL LI SPAN.text {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-LEFT: 17px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
* HTML .desktop UL LI SPAN.text {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-LEFT: 17px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
* + HTML.desktop UL LI SPAN.text {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 17px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.desktop UL LI SPAN.text IMG {
	MARGIN: 0px 5px 0px 0px
}
.container {
	WIDTH: 610px; HEIGHT: 205px
}
.container A IMG {
	WIDTH: 610px; HEIGHT: 205px
}
.container IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.td_f A IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.num {
	POSITION: absolute; WIDTH: 80px; FLOAT: right; TOP: 180px; LEFT: 530px
}
.num LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 15px; LIST-STYLE-TYPE: none; MARGIN: 1px; WIDTH: 15px; FONT-FAMILY: Arial; BACKGROUND: url(flashbutton.gif) no-repeat -15px 0px; FLOAT: left; HEIGHT: 15px; COLOR: #86a2b8; FONT-SIZE: 12px; CURSOR: pointer
}
.num LI.on {
	LINE-HEIGHT: 15px; WIDTH: 15px; BACKGROUND: url(flashbutton.gif) no-repeat; HEIGHT: 15px; COLOR: #ffffff
}
.more {
	FLOAT: right
}
.more1 A {
	TEXT-ALIGN: left; LINE-HEIGHT: 25px; MARGIN: 0px 0px 0px 10px; COLOR: #3373a3
}
.rightline {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(/pc/images/blueline3.gif) no-repeat right center; FLOAT: left; PADDING-TOP: 0px
}
.corp {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-LEFT: 5px; WIDTH: 80px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #266392; PADDING-TOP: 0px
}
.f12 {
	FONT-SIZE: 12px
}
.f13 {
	ZOOM: 1; FONT-SIZE: 13px; VERTICAL-ALIGN: baseline
}
.f14 {
	FONT-SIZE: 14px
}
.f14a {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
A.blue {
	COLOR: #266392; TEXT-DECORATION: none
}
A.blue1 {
	COLOR: #266392; TEXT-DECORATION: underline
}
A.blue:hover {
	TEXT-DECORATION: underline
}
A.blue1:hover {
	TEXT-DECORATION: underline
}
A.red:hover {
	TEXT-DECORATION: underline
}
A.gray {
	COLOR: #74809a; TEXT-DECORATION: none
}
A.red {
	COLOR: #d40000; TEXT-DECORATION: none
}
