<!--
<?php
print <<<EOT
--> 
<table id="top_menu" width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <tr bgcolor='#FFFFFF'> 
    <td bgcolor="#FFFFFF"> [<a href="index.php?lfj=special&job=list">所有专题管理</a>] 
      [<a href="index.php?lfj=special&job=list&yz=yes">已审专题</a>] [<a href="index.php?lfj=special&job=list&yz=no">待审专题</a>] 
      [<a href="index.php?lfj=special&job=list&com=yes">推荐专题</a>] [<a href="index.php?lfj=special&job=list&com=no">未推荐专题</a>]</td>
  </tr>
</table>
<!--
EOT;
?>
-->