 <!--
<?php
print <<<EOT
-->
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
  <form name="form1" method="post" action="?lfj=$lfj&action=$job">
    <tr bgcolor='#FFFFFF' class="head"> 
      <td align="center" width="54%">问卷表单名称</td>
      <td width="15%" align="center">表单类型</td>
      <td width="12%" align="center" bgcolor="#FFFFFF">分类</td>
      <td width="6%" align="center">题目</td>
      <td width="6%" align="center">修改</td>
      <td width="7%" align="center">删除</td>
    </tr>
    <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr bgcolor='#FFFFFF'> 
      <td width="54%">{$rs[id]}、<a href="../do/exam_write.php?id=$rs[id]" target="_blank">{$rs[name]}</a></td>
      <td width="15%" align="center">$rs[formtype]</td>
      <td width="12%" align="center">$rs[fname]</td>
      <td width="6%" align="center"><a href="?lfj=$lfj&job=manage&id=$rs[id]"><img alt='管理题目' src='../member/images/art_icon.gif' border=0></a></td>
      <td width="6%" align="center"><a href="?lfj=$lfj&job=edit&id=$rs[id]"><img alt='点击修改' src='../member/images/button_edit.png' border=0></a></td>
      <td width="7%" align="center"><a href="?lfj=$lfj&action=delete&id=$rs[id]" onclick="return confirm('你确认要删除吗?不可恢复!');"><img alt='点击删除' src='../member/images/del_icon2.gif' border=0></a></td>
    </tr>
    <!--
EOT;
}
print <<<EOT
-->
  </form>
</table>
<table width="99%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td align="center">$showpage</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
  </tr>
</table>
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
  <tr bgcolor='#FFFFFF' class="head" > 
    <td>帮助说明:</td>
  </tr>
  <tr> 
    <td>1.问卷表单创建好之后，需要到问卷题库，挑选题目录入到问卷表单。<br>
      2.问卷跟试卷的区别是：问卷只作普通调查，系统不会自动评分，但管理员可以手工评分；而试卷是实现考查功能，系统会自动评分，管理员也可以评分。另外，试卷只给会员填写，不允许游客填写，而问卷可以允许游客填写。</td>
  </tr>
</table>
<!--
EOT;
?>
-->