<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings/>
	<connectionStrings>
		<add name="crc" connectionString="\CRC\hooyes.Data\crc.mdb"/>
		<add name="Provider" connectionString="Microsoft.Jet.OLEDB.4.0"/>
		<!-- Microsoft.ACE.OLEDB.12.1 2007   Microsoft.Jet.OLEDB.4.0 2003-->
	   </connectionStrings>
</configuration>
