<!--
<?php
print <<<EOT
--> 
<table id="top_menu" width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <tr bgcolor='#FFFFFF'> 
    <td bgcolor="#FFFFFF"> [<a href="index.php?lfj=sort&job=listsort&only=$only&mid=$mid">栏目管理</a>] 
      [<a href="index.php?lfj=sort&job=addsort&only=$only&mid=$mid">创建栏目</a>] [<a href="index.php?lfj=sort&job=save&only=$only&mid=$mid">修复出错栏目</a>] 
      [<a href="index.php?lfj=sort&job=toget&only=$only&mid=$mid">合并栏目</a>]</td>
  </tr>
</table>
<!--
EOT;
?>
-->