<html>
<!--
<?php
print <<<EOT
-->
<head>
<title>会员操作平台</title>
<link rel="stylesheet" type="text/css" href="images/style.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="keywords" content="">
<meta name="description" content=""> 
</head>
<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0">
<SCRIPT LANGUAGE="JavaScript" src="../images/default/inc.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript" src="../images/default/default.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
function get_obj(obj){
   return document.getElementById(obj);
}
//-->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<div class="wrap">');
//-->
</SCRIPT>
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth" style="margin:5px;" id="top_menu">
  <tr bgcolor='#FFFFFF'> 
    <td bgcolor="#FFFFFF">&nbsp;
<!--
EOT;
foreach($linkdb AS $name=>$url){
print <<<EOT
-->
	[<a href="$url" target="$blank" style="color:$color;">$name</a>] 
<!--
EOT;
}
print <<<EOT
--></td>
  </tr>
</table>
<div style="margin:5px;">
<!--
EOT;
?>
-->