<!--
<?php
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/yellow/center_index.css">
<SCRIPT LANGUAGE="JavaScript">
<!--//
function ShowTabs(ID,CssType,FID,EID)
{
	for (i=FID;i<EID;i++)
	{
		if(i == ID)
		{
			document.getElementById("Mune" + i).className="Out" + CssType;
			document.getElementById("Tab" + i).style.display="";
		}
		else
		{
			document.getElementById("Mune" + i).className="Over" + CssType;
			document.getElementById("Tab" + i).style.display="none";
		}
	}
}
//-->
</SCRIPT>
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="index_top_ad">
  <tr>
    <td width="20%" align="left">$label[index_ad1]</td>
    <td width="20%" align="center">$label[index_ad2]</td>
    <td width="20%" align="center">$label[index_ad3]</td>
    <td width="20%" align="center">$label[index_ad4]</td>
    <td width="20%" align="right">$label[index_ad5]</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="MainContainer">
  <tr> 
    <td width="25%">
    	<div class="NewsSide">
           <div class="h"><span class="l">行业资讯</span></div>
           <div class="c">
                $label[index_1]
		   </div>
       </div>
    </td>
    <td width="50%" class="PL10 PR10">
    	
      <div class="index_silder"> $label[index_rollpic]
      </div>
    </td>
    <td width="25%">
    	<div class="Logindiv">
<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<span id="Index_loginer">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$webdb[www_url]/do/hack.php?hack=login&iframeID=Index_loginer&styletype=yellowindex" width=0 height=0></iframe></div>');
//-->
</SCRIPT>
        </div>
        <table cellspacing="0" cellpadding="0" class="Index_Action mt10">
         <tr>
          <td> <a href="$webdb[www_url]/member/?main=$webdb[www_url]/hy/member/post_company.php" class="b" target="_blank">创建商铺</a> 
            <a href="$webdb[www_url]/member/?main=$webdb[www_url]/sell/member/post_choose.php" target="_blank">发布产品</a> 
            <a href="$webdb[www_url]/member/?main=$webdb[www_url]/buy/member/post_choose.php" target="_blank">发布求购信息</a> 
            <a href="$webdb[www_url]/member/?main=$webdb[www_url]/showroom/member/post_a.php" target="_blank">发布展会</a> 
            <a href="$webdb[www_url]/member/?main=$webdb[www_url]/hr/member/post_choose.php" target="_blank">发布招聘信息</a> 
            <a href="$webdb[www_url]/member/?main=$webdb[www_url]/brand/member/post_choose.php" target="_blank">登记品牌</a> 
          </td>
          </tr>
        </table>
    </td>
  </tr>
</table>


<div class="wangye">
<!--
EOT;
if($jobs!='show'){$OVERFLOW='hidden';}else{$OVERFLOW='';}print <<<EOT
-->
<div id=demo style="OVERFLOW: $OVERFLOW; HEIGHT: 33px; margin-top:6px;margin-bottom:0px;">

<div id=demo1>
<div style="height:33px;">$label[index_rollad1]</div>
<div style="height:33px;">$label[index_rollad2]</div>
</div>
<div id=demo2></div></div>
<!--
EOT;
if($jobs!='show'){print <<<EOT
-->
<script> 
  var speed  = 1;//滚动速度
  var rows  = 33;//每行高度
  var stim  = 100; //停留时间倍数 * speed
  var stop  = 0; //初始化值，不管
  var demo2=document.getElementById('demo2');
  var demo1=document.getElementById('demo1');
  var demo=document.getElementById('demo');
  demo2.innerHTML = demo1.innerHTML
  function Marquee(){
    if(demo.scrollTop%rows==0 && stop<=stim){
      stop++;
      return;
    }
    stop = 0;
    if(demo2.offsetTop-demo.scrollTop<=0)
      demo.scrollTop-=demo1.offsetHeight
    else{
      demo.scrollTop++
    }
  }
  var MyMar    = setInterval(Marquee,speed);

</script>
<!--
EOT;
}print <<<EOT
--> 
</div>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="MainContainer mt10">
  <tr> 
    <td width="35%">
    	<table width="100%" cellspacing="0" cellpadding="0" class="ContSide">
          <tr>
            
          <td class="h"><span class="l">供应信息</span><span class="r">$label[index_more1]</span></td>
          </tr>
          <tr>
            <td class="c padding5">
			$label[index_2]
            	
            
                
            </td>
          </tr>
        </table>
    </td>
    <td width="40%" class="PL10 PR10">
    	<table width="100%" cellspacing="0" cellpadding="0" class="ContSide">
          <tr>
            
          <td class="h"><span class="l">求购信息</span><span class="r">$label[index_more2]</span></td>
          </tr>
          <tr>
            <td class="c padding5">
            $label[index_3]
            	
            
                
            
            </td>
          </tr>
        </table>
    </td>
    <td width="25%">
    	<table width="100%" cellspacing="0" cellpadding="0" class="ContSide">
          <tr>
            <td class="h hover">
            	<span class=Out0 id=Mune1 onMouseOver=ShowTabs(1,0,1,3)>推荐企业</span>
                <span class=Over0 id=Mune2 onMouseOver=ShowTabs(2,0,1,3)>最新加入企业</span>
            </td>
          </tr>
          <tr>
            <td class="c padding5">
            	<div id=Tab1 class="cont">$label[index_L_1]</div>
                <div id=Tab2 class="cont" style="display:none;">$label[index_L_2]</div>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="MainContainer mt10">
  <tr> 
    <td width="75%" class="PR10">
    	<table width="100%" cellspacing="0" cellpadding="0" class="ContSide">
          <tr>
            
          <td class="h hpic"> <span class="l">&nbsp;</span> <span class=Out1 id=Mune3 onMouseOver=ShowTabs(3,1,3,6)>推荐产品</span> 
            <span class=Over1 id=Mune4 onMouseOver=ShowTabs(4,1,3,6)>热门产品</span> 
            <span class="r">$label[index_more3]</span> 
          </td>
          </tr>
          <tr>
            <td class="c" style="padding:10px 0 0 0;">
            	<div id=Tab3 class="cont">$label[index_4]</div>
                <div id=Tab4 class="cont" style="display:none;">$label[index_5]</div>
               
            </td>
          </tr>
        </table>
    </td>
    <td width="25%">
    	<table width="100%" cellspacing="0" cellpadding="0" class="ContSide">
          <tr>
            
          <td class="h"><span class="la">推荐展览馆</span><span class="r">$label[index_more4]</span></td>
          </tr>
          <tr>
            <td class="c padding5">
            	
            $label[index_L_3]
               
			   
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" id="index_top_2ad">
  <tr>
    <td width="12.5%" align="left">$label[index_ade1]</td>
    <td width="12.5%" align="center">$label[index_ade2]</td>
    <td width="12.5%" align="center">$label[index_ade3]</td>
    <td width="12.5%" align="center">$label[index_ade4]</td>
    <td width="12.5%" align="center">$label[index_ade5]</td>
    <td width="12.5%" align="center">$label[index_ade6]</td>
    <td width="12.5%" align="center">$label[index_ade7]</td>
    <td width="12.5%" align="right">$label[index_ade8]</td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="MainContainer mt10">
  <tr> 
    <td width="75%" class="PR10">
    	<table width="100%" cellspacing="0" cellpadding="0" class="Index_Sort">
          <tr>
            
          <td class="h"> <span class=Out2 id=Mune6 onMouseOver="ShowTabs(6,2,6,9);">产品供应分类</span> 
            <span class=Over2 id=Mune7 onMouseOver="ShowTabs(7,2,6,9);showfidtype('buy');">求购信息分类</span> 
            <span class=Over2 id=Mune8 onMouseOver="ShowTabs(8,2,6,9);showfidtype('hy');">企业商铺分类</span> 
            <span class="r">$label[index_more8]</span> 
          </td>
          </tr>
          <tr>
            <td class="c">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" id=Tab6 class="sortcont">
                  <tr>
                    <td >
					<div id="sell_content"></div>
<script type="text/javascript">
<!--
function showfidtype(type){
	if (type=='sell')
	{
		AJAX.get("sell_content","$webdb[www_url]/sell/job.php?job=showfid",1);
	}
	else if (type=='buy')
	{
		AJAX.get("buy_content","$webdb[www_url]/buy/job.php?job=showfid",1);
	}
	else if (type=='hy')
	{
		AJAX.get("hy_content","$webdb[www_url]/hy/job.php?job=showfid",1);
	}
}
showfidtype('sell');

function ShowTdBg(TheTd){
	obj=document.getElementById("ShowSortTable").getElementsByTagName("td");
	for(var i=0;i< obj.length;i++ ){
		obj[i].className='';
	}
	TheTd.className='choose';
}
function HiddenTdBg(TheTable){
	obj=TheTable.getElementsByTagName("td");
	for(var i=0;i< obj.length;i++ ){
		obj[i].className='';
	}
}
//-->
</script>
					</td>
                  </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" id=Tab7 class="sortcont" style="display:none;">
                  <tr>
                    <td ><div id="buy_content"></div></td>
                  </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" id=Tab8 class="sortcont" style="display:none;">
                  <tr>
                    <td ><div id="hy_content"></div></td>
                  </tr>
                </table>
            </td>
          </tr>
        </table>
    </td>
    <td width="25%">
    	<table width="100%" cellspacing="0" cellpadding="0" class="ContSide_2">
          <tr>
            
          <td class="h"><span class="l">品牌展示</span><span class="r">$label[index_more5]</span></td>
          </tr>
          <tr>
            <td class="c padding5">
            	
           
               
			   $label[index_L_6]
            </td>
          </tr>
        </table>
        <table width="100%" cellspacing="0" cellpadding="0" class="ContSide_2 mt10">
          <tr>
            
          <td class="h"><span class="l">行业展会</span><span class="r">$label[index_more6]</span></td>
          </tr>
          <tr>
            <td class="c padding5">
            $label[index_L_5]
                
            $label[index_L_4]
                 
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="MainContainer mt10">
  <tr> 
    <td>
    <div class="Index_srow_ad">
    	$label[index_bannerad]
    </div>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="MainContainer mt10">
  <tr> 
    <td width="75%" class="PR10">
    	<table width="100%" cellspacing="0" cellpadding="0" class="ContSide_2">
          <tr>
            
          <td class="h"> <span class="l">$label[index_p3]</span> <span class="c">$label[index_t1]</span> 
            <span class="r">$label[index_more7]</span> 
          </td>
          </tr>
          <tr>
            <td class="c padding5">
                <div class="Mlistp_w">$label[index_r1]</div>
				$label[index_r2]
                
           
                
            </td>
          </tr>
        </table>
    </td>
    <td width="25%">
    	<table width="100%" cellspacing="0" cellpadding="0" class="ContSide_2">
          <tr>
            
          <td class="h"><span class="l">$label[index_p1]</span><span class="r">$label[index_more9]</span></td>
          </tr>
          <tr>
            <td class="c padding5">
            	$label[index_b1]
                
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table><table width="100%" border="0" cellspacing="0" cellpadding="0" id="index_top_3ad">
  <tr>
    <td>$label[index_b1ad]</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="MainContainer mt10">
  <tr> 
    <td width="75%" class="PR10">
    	<table width="100%" cellspacing="0" cellpadding="0" class="ContSide_2">
          <tr>
            
          <td class="h"> <span class="l">$label[index_p2]</span> <span class="c">$label[index_t2]</span> 
            <span class="r">$label[index_more10]</span> 
          </td>
          </tr>
          <tr>
            <td class="c padding5">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
					$label[index_r4]
                     
                    </td>
                    <td class="bbspicowrd">
                    	<div class="Mlistp_w">
                           
							$label[index_r3]
                        </div>
                    </td>
                  </tr>
                </table>
            </td>
          </tr>
        </table>
    </td>
    <td width="25%">
    	<table width="100%" cellspacing="0" cellpadding="0" class="ContSide_2">
          <tr>
            <td class="h1">
            	<span class=Out0 id=Mune11 onMouseOver=ShowTabs(11,0,11,13)>企业招聘</span>
                <span class=Over0 id=Mune12 onMouseOver=ShowTabs(12,0,11,13)>个人求职</span>
            </td>
          </tr>
          <tr>
            <td class="c padding5">
            	<div id="Tab11"> $label[index_L_7] </div>
                <div id="Tab12" style="display:none;">$label[index_L_8]</div>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table><table width="100%" border="0" cellspacing="0" cellpadding="0" class="MainContainer mt10">
  <tr> 
    <td  class="PR10">
    	<table width="100%" cellspacing="0" cellpadding="0" class="ContSide_2">
          <tr>
            
          <td class="h"> <span class="l">友情链接</span> <span class="r"><a href="$webdb[www_url]/do/friendlink.php?job=apply" target="_blank">申请链接</a> 
            | <a href="$webdb[www_url]/do/friendlink.php" target="_blank">更多..</a></span> 
          </td>
          </tr>
          <tr>
            <td class="friendlink">
                <div class="piclink">
<!--
EOT;
foreach($friendlinkDB[1] AS $rs){print <<<EOT
-->
		
        	<a href="$rs[url]" title="$rs[name] $rs[descrip]" target="_blank"><img src="$rs[logo]" onerror="this.src='$webdb[www_url]/images/default/nopic.jpg'" width="88" height="31"/></a>
<!--
EOT;
}print <<<EOT
-->


        </div>
        <div class="wordlink">
<!--
EOT;
foreach($friendlinkDB[0] AS $rs){print <<<EOT
-->
		
        	<a href="$rs[url]" title="$rs[descrip]" target="_blank">$rs[name]</a>
<!--
EOT;
}print <<<EOT
-->
        </div>
            </td>
          </tr>
        </table>
    </td>
    
  </tr>
</table>

<!--
EOT;
?>
-->
