<!--
<?php
print <<<EOT
--> 
 
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <form name="form1" method="post" action="?action=$job">
    <tr class="head"> 
      <td> 
        <div align='center'><b><font color="#FFFFFF">更新缓存设置</font></b></div>
      </td>
    </tr>
    <tr> 
      <td align="center" bgcolor='#FFFFFF'> [<a href="?act=updatesortnum">更新栏目的信息总数统计</a>]<br>
        <br>
        [<a href="?act=updatesort">更新栏目的配置信息</a>] </td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->
