<!--
<?php
print <<<EOT
--> 
<table width=100% cellspacing=1 cellpadding=3  class="tablewidth">
  <tr> <form name="form2" method="post" action="?job=list">
      <td>请选择分类:$sort_fid </td>
    </form>
  </tr>
</table>
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
  <form name="form1" method="post" action="?lfj=$lfj&action=$job">
    <tr bgcolor='#FFFFFF' class="head"> 
      <td align="center" width="62%">问卷名称</td>
      <td align="center" width="11%">参与人数</td>
      <td align="center" width="8%">试卷</td>
      <td width="7%" align="center">题目</td>
      <td width="5%" align="center">批阅</td>
      <td width="7%" align="center">清除</td>
    </tr>
    <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr bgcolor='#FFFFFF'> 
      <td width="62%">{$rs[id]}、<a href="../do/exam_write.php?id=$rs[id]" target="_blank">{$rs[name]}</a></td>
      <td width="11%" align="center">{$rs[num]}人</td>
      <td width="8%" align="center"><a href="../do/exam_write.php?id=$rs[id]" target="_blank"><img alt='浏览' src='../member/images/icon_view.gif' border=0></a></td>
      <td width="7%" align="center"><a href="index.php?lfj=exam_form&job=manage&id=$rs[id]"><img alt='管理题目' src='../member/images/art_icon.gif' border=0></a></td>
      <td width="5%" align="center"><a href="?lfj=$lfj&job=liststudent&id=$rs[id]"><img alt='批阅管理问卷' src='../member/images/post_icon.gif' border=0></a></td>
      <td width="7%" align="center"><a href="?lfj=$lfj&action=delete&id=$rs[id]" onclick="return confirm('你确实要清除会员已参与调查的数据吗？不可恢复');"><img alt='清除会员已参与调查的数据' src='../member/images/del_icon2.gif' border=0></a></td>
    </tr>
    <!--
EOT;
}
print <<<EOT
-->
  </form>
</table>
<table width="99%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td align="center">$showpage</td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
  </tr>
</table>
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
  <tr> 
    <td align="left" class="head">帮助说明:</td>
  </tr>
  <tr> 
    <td>1.只有当用户提交过的问卷，这里才会有显示。<br>
      2.清除指把会员参与考查的数据清空，但不会删除此问卷。</td>
  </tr>
</table>
<script language="JavaScript">
<!--
function MM_jumpMenu(selObj){
	va=selObj.options[selObj.selectedIndex].value;
	if(va!=''){
		//window.location.href='?job=list&classid='+va;
		document.form2.submit();
	}
}
function MM_jumpMenu2(selObj){
	va=selObj.options[selObj.selectedIndex].value;
	if(va!=''){
		document.form2.submit();
	}
}
//-->
</script>
<!--
EOT;
?>
-->