<!--
<?php
print <<<EOT
--> 
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
  <tr> 
    <td><b><font color="#FF0000">试卷类型:</font> $classname -&gt; $sortname</b></td>
  </tr>
</table>
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
  <form name="form_work" method="post" action="?lfj=$lfj&action=$job"  >
    <tr bgcolor='#FFFFFF' class="head" align="center"> 
      <td width="10%">题目类型 </td>
      <td width="64%">题目名称</td>
      <td width="12%">排序</td>
      <td width="5%">修改</td>
      <td width="4%">题目</td>
    </tr>
    <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr bgcolor='#FFFFFF' align="center" onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
      <td width="10%">{$paperType[$rs[type]]}</td>
      <td width="64%" align="left"> 
        <input type="checkbox" name="listdb[]" value="$rs[id]">
        $rs[question]</td>
      <td width="12%"> 
        <input type="text" name="orderdb[{$rs[id]}]" size="10" value="$rs[elist]">
      </td>
      <td width="5%"><a href="?job=edit&id=$rs[id]">修改</a></td>
      <td width="4%"><a href="?action=remove&id=$rs[eid]">移除</a></td>
    </tr>
    <!--
EOT;
}
print <<<EOT
-->
    <tr bgcolor='#FFFFFF' align="center"> 
      <td colspan="5"> <a href="javascript:" onClick="CheckAll('all')">全选</a>/<a href="javascript:" onClick='CheckAll()'>反选</a> 
        <input type="submit" name="Submit" value="更改排序">
        <input type="hidden" name="eid" value="$id">
      </td>
    </tr>
  </form>
</table>
<table width='100%' cellspacing='1' cellpadding='3'  class="tablewidth">
  <form name="form1" method="post" action="?lfj=$lfj&action=fen">
    <tr> 
      <td align="left" class="head">分数设置:你可以设置总分100分或150分</td>
    </tr>
    <tr> 
      <td> 
        <!--
EOT;
foreach($subjectDB AS $key=>$rs){print <<<EOT
-->
        <div style="float:left;with:200px;margin-right:50px;"> {$rs[name]} {$rs[num]}条:共 
          <input type="text" name="listdb[$key]" size="4" value="$rs[fen]">
          分 </div>
        <!--
EOT;
}print <<<EOT
-->
      </td>
    </tr>
    <tr>
      <td align="center"> 
        <input type="submit" name="Submit2" value="提交">
        <input type="hidden" name="eid" value="$id">
      </td>
    </tr>
  </form>
</table>
<script language="JavaScript">
<!--
function MM_jumpMenu(selObj){
  if (selObj.options[selObj.selectedIndex].value!=''){
		window.location.href="?job=list&sortid="+selObj.options[selObj.selectedIndex].value;
  }
}
function postdo(){
	if(document.form_work.examid.value==''&&get_obj('ctype_put').checked==true){
		alert("不能为空,请选择一张试卷");
		document.form_work.examid.focus();
		return false;
	}
}
function CheckAll(va){
	form=document.form_work
	for (var i=0;i<form.elements.length;i++){
		var e = form.elements[i];
		if(va=='all'){
			e.checked = true;
		}else{
			e.checked == true ? e.checked = false : e.checked = true;
		}
	}
}
//-->
</script>
<!--
EOT;
?>
-->
