<!--
<?php
print<<<EOT
-->

<table width=100% cellspacing=1 cellpadding=3  class="tablewidth" style='display:'>
  <tr class="head"> 
    <td> <span class=bold><font color="#FFFFFF">创建新的内容模型</font></span></td>
  </tr>
  <tr> 
    <td bgcolor=#FFFFFF> 
      <form action="?lfj=$lfj&action=addmodule" method=POST>
        <span class=bold>创建新模型--</span>&nbsp;名称 
        <input type=text name="name" size=10>
        是否分表: 
        <input type="radio" name="iftable" value="1">
        分表(分负载,数据量小的时候不明显,甚至会影响速度,数据量大时才有效,但会牺牲部分功能,数据量小于50万时,请不要分表) 
        <input type="radio" name="iftable" value="0" checked>
        不分表
<input type=submit value="创 建" name="submit">
      </form>
    </td>
  <tr>
 
</table>
<table width=100% cellspacing=1 cellpadding=3  class="tablewidth"><form name="formlist" method="post" action="?lfj=$lfj&action=editlist">
  <tr> 
      <td class="head" bgcolor="#EAEAEA"><font color="#FFFFFF">编辑模型</font></td>
  </tr>
  <tr> 
      <td bgcolor=#FFFFFF align="left"> 
        <ul>
          <li>注意:<font color="#FF0000">数值大的排在前面</font></li>
          <li><font color="#FF0000">所有操作,必须手工点击生成模板后,前台才能生效</font></li>
        </ul> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr align="center" height="18" class="head"> 
            <td width="5%" style="border-right:1px solid #fff;">ID</td>
            <td  style="border-right:1px solid #fff;" width="20%">内容模型名称</td>
            <td width="7%" style="border-right:1px solid #fff;">排序</td>
            <td width="7%" style="border-right:1px solid #fff;">模型设置</td>
            <td width="12%" style="border-right:1px solid #fff;">字段设置</td>
            <td width="13%" style="border-right:1px solid #fff;">生成模板</td>
            <td width="10%" style="border-right:1px solid #fff;">数据</td>
            <td width="10%" style="border-right:1px solid #fff;">别名</td>
            <td width="7%" style="border-right:1px solid #fff;">内容</td>
            <td width="9%" style="border-right:1px solid #fff;">删除</td>
          </tr>
          <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
          <tr class="trA" onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
            <td width="5%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;"><b><font color="#FF0000">$rs[id]</font></b></td>
            <td bgcolor="#FFFFFF" style="border-bottom:1px dotted #ccc;" width="20%"> 
              【<a href='?lfj=$lfj&job=editsort&id=$rs[id]' target="_self">{$rs[name]}</a>】</td>
            <td width="7%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;"> 
              <input type='text' name='order[{$rs[id]}]' value='$rs[list]' size='5'>
            </td>
            <td width="7%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;"><a href='?lfj=$lfj&job=editmodule&id=$rs[id]'><img src="../member/images/icon_manage2.gif" alt="模型设置" border="0">设置</a></td>
            <td width="12%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;"><a href='?lfj=$lfj&job=editsort&id=$rs[id]'><img src="../member/images/button_field.gif" alt="修改字段" border="0">字段</a></td>
            <td width="13%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;"><a href="?lfj=$lfj&job=tpl&id=$rs[id]"><img src="../member/images/icon_html.gif" alt="生成模板" border="0"> 
              生成模板</a></td>
            <td width="10%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;">{$rs[NUM]}条</td>
            <td width="10%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;"> 
              <!--
EOT;
if($rs[ifclose]){print <<<EOT
 
              <a href="?lfj=$lfj&job=use&va=0&id=$rs[id]"><font color="#0000FF">禁用</font></a> 
             
EOT;
}else{print <<<EOT
 
              <a href="?lfj=$lfj&job=use&va=1&id=$rs[id]" onclick="return confirm('你确实要禁用此模型吗?');">启用</a> 
           
EOT;
}print <<<EOT
-->
              &nbsp;$rs[alias] </td>
            <td width="7%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;"><a href="index.php?lfj=artic&job=listartic&mid=$rs[id]&only=1"><img alt='' src='../member/images/art_icon.gif' border=0></a></td>
            <td width="9%" bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #ccc;"> 
              
              [<a href="?lfj=$lfj&action=delete&id=$rs[id]" onclick="return confirm('你确实要删除吗?不可恢复');">删除</a>] 
              
            </td>
          </tr>
          <!--
EOT;
}print <<<EOT
-->
        </table>
        <div align="center">$showpage<br>
          <a href="javascript:" onClick="CheckAll('all')"> </a><a href="javascript:" onClick='CheckAll()'></a> 
          <input type="button" name="Submit2" value="修改以上排序" onclick="postlist('list')">
		  <!--
EOT;
if($IS_BIZ){print <<<EOT
-->
		  <input type="button" name="Submit22" value="批量生成模板" onClick="postlist('automaketpl')">
<!--
EOT;
}print <<<EOT
-->
          <SCRIPT LANGUAGE="JavaScript">
<!--
function postlist(t){
	if(t=='list'){
		document.formlist.action="?lfj=$lfj&action=editlist";
	}else if(t=='automaketpl'){
		document.formlist.action="?lfj=$lfj&job=tpl&automaketpl=1";
	}
	document.formlist.submit();
}
function CheckAll(va){
	form=document.formlist
	for (var i=0;i<form.elements.length;i++){
		var e = form.elements[i];
		if(va=='all'){
			e.checked = true;
		}else{
			e.checked == true ? e.checked = false : e.checked = true;
		}
	}
}
//-->
</SCRIPT>
		  </div>
      </td>
  </tr> </form>
</table>
<table width=100% cellspacing=1 cellpadding=3  class="tablewidth" style='display:'>
  <tr class="head"> 
    <td> <span class=bold><font color="#FFFFFF">帮助说明</font></span></td>
  </tr>
  <tr> 
    <td bgcolor=#FFFFFF> 
       1.文章模型是默认的.所以功能字段,也是默认固定的,你如要对文章模型增加字段的话,那就请在这里新建一个文章模型即可.<br>
      2.生成模板后,你可以对新模板进行风格修改.修改之后就不要再次生成模板了,否则会被再次新生成的替换掉.或者你把修改后的模板放到其它目录就不会被替换. 
      <br>
      3.创建新模型,可以使标题与内容都完全使用独立的表,可以很好的分负载,数据量小的时候不明显,甚至会影响速度,只有数据量大的时候,才有效果,但是会牺牲一小部分功能,如果你的网站数据量小于50万,不建议你分表.</td>
  <tr> 
</table>
<!--
EOT;
?>
-->
