<!--
<?php
print<<<EOT
--> 
<table width=100% cellspacing=1 cellpadding=3  class="tablewidth">
  <form name="formlist" method="post" action="index.php?lfj=$lfj&action=editlist">
    <tr> 
      <td class="head" bgcolor="#EAEAEA"><font color="#FFFFFF">更新标签</font></td>
    </tr>
    <tr> 
      <td bgcolor=#FFFFFF align="left"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
              <td style="padding:5px;">
<!--
EOT;
if($show_guide){print<<<EOT
-->
$show_guide
<!--
EOT;
}else{print<<<EOT
-->
			你可以设置只显示以下部分栏目 [<a href="?lfj=$lfj&job=showsort&step=1&only=$only&mid=$mid" style="color:$article_show_step[1]">1级</a>] 
              [<a href="?lfj=$lfj&job=showsort&step=2&only=$only&mid=$mid" style="color:$article_show_step[2]">2级以内</a>] 
              [<a href="?lfj=$lfj&job=showsort&step=3&only=$only&mid=$mid" style="color:$article_show_step[3]">3级以内</a>] 
              [<a href="?lfj=$lfj&job=showsort&step=4&only=$only&mid=$mid" style="color:$article_show_step[4]">4级以内</a>] 
              [<a href="?lfj=$lfj&job=showsort&step=5&only=$only&mid=$mid"  style="color:$article_show_step[5]">5级以内</a>] 
              [<a href="?lfj=$lfj&job=showsort&step=0&only=$only&mid=$mid"  style="color:$article_show_step[0]">全部</a>] 
<!--
EOT;
}print<<<EOT
-->


            </td>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id='list_sort'>
          <tr align="center" class="head"> 
            <td width="6%" style="border-right:1px solid #fff;">FID</td>
            <td  style="border-right:1px solid #fff;" width="32%">栏目名称</td>
            <td  style="border-right:1px solid #fff;" width="13%">类型</td>
            <!--
EOT;
if($onlyshow=='style'||!$onlyshow){
print <<<EOT
-->
            <td style="border-right:1px solid #fff;" width="17%">风格模板设置</td>
            <!--
EOT;
}if($onlyshow=='label'||!$onlyshow){
print <<<EOT
-->
            <td style="border-right:1px solid #fff;" width="16%">列表页标签</td>
            <td height="21" style="border-right:1px solid #fff;" width="16%">内容页标签</td>
            <!--
EOT;
}print <<<EOT
-->
          </tr>
          <!--
EOT;
foreach($sortdb AS $key=>$rs){
if($only&&$rs[fmid]!=$mid){continue;}
print <<<EOT
-->
          <tr class="trA" onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
            <td bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #eee;" width="6%"><b><font color="#FF0000">$rs[fid]</font></b></td>
            <td bgcolor="#FFFFFF" style="border-bottom:1px dotted #eee;" width="32%"> 
              $rs[icon]【<a href='$webdb[www_url]/list.php?fid=$rs[fid]' target="_blank">{$rs[name]}</a>】<span class='sort_span'></span></td>
            <td bgcolor="#FFFFFF" style="border-bottom:1px dotted #eee;" width="13%" align="center" class="big_sort">
              <!--
EOT;
if($rs[type]==2){print <<<EOT
-->
              <font color="#0000FF">文章</font> 
              <!--
EOT;
}elseif($rs[type]==1){print <<<EOT
-->
              <a href="index.php?lfj=$lfj&job=$job&only=$only&mid=$mid&fid=$rs[fid]">大分类</a> 
              <!--
EOT;
}else{print <<<EOT
-->
              子栏目 
              <!--
EOT;
}print <<<EOT
-->
            </td>
            <!--
EOT;
if($onlyshow=='style'||!$onlyshow){
print <<<EOT
-->
            <td bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #eee;" width="17%"><a href="index.php?lfj=sort&job=editsort&fid=2&only=1&mid=$rs[fmid]&showtype=2" title="更改风格模板"><img src="images/icon_editstyle.gif" border="0"></a></td>
            <!--
EOT;
}if($onlyshow=='label'||!$onlyshow){
print <<<EOT
-->
            <td bgcolor="#FFFFFF" align="center" style="border-bottom:1px dotted #eee;" width="16%"><a href="index.php?lfj=$lfj&action=updatelabel&label_type=list&fid=$rs[fid]" title="更新列表页标签内容"><img src="images/icon_updatalabel.gif" border="0"></a></td>
            <td height="21" bgcolor="#FFFFFF" align="center" width="16%" style="border-bottom:1px dotted #eee;">&nbsp; 
              <!--
EOT;
if(!$rs[type]){
print <<<EOT
-->
              <a href="index.php?lfj=$lfj&action=updatelabel&label_type=bencandy&fid=$rs[fid]" title="更新内容页标签内容"><img src="images/icon_updatalabel.gif" border="0"></a> 
              <!--
EOT;
}print <<<EOT
-->
            </td>
            <!--
EOT;
}print <<<EOT
-->
          </tr>
          <!--
EOT;
}print <<<EOT
-->
        </table>
        <div align="center" style="margin:10px;">$showpage</div>
        <div align="center"><br>

          <script language="JavaScript" src="images/sort.js"></script>
          <script language="JavaScript">
<!--
load_sort_td($webdb[labelsort_show_step]);
//-->
</script>
          <input type="hidden" name="only" value="$only">
          <input type="hidden" name="mid" value="$mid">
        </div>
      </td>
    </tr>
  </form>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">
    <tr class="head"> 
      <td>帮助说明</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td>要想不同的栏目具有不同的标签参数,请更换新风格,并且复制list.htm模板到新风格里,更换里边的标签变量<br>
        要想不同的文章具有不同的标签参数,请更换文章新风格,并且复制bencandy.htm模板到新风格里更换里边的标签变量<br>
        不同的风格,但是模板一样的话.标签参数也是一样的,主要是方便定期更换栏目风格而不需再重新设置参数</td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->
