/***
特定页面
***/
.marginTop5px{ clear:both; margin-top:5px;}
/*
*白色底部，有边框没有头部 头部下
*/
.baisediv{ clear:both; border:#CBCBCB solid 1px; background-color:#FFFFFF; clear:both;width:270px; margin-top:5px;}
.baisediv .head{ font-size:12px; color:#666666; border-bottom:1px #CCCCCC dotted; height:20px; line-height:20px;}
.baisediv .head .title{ float:left; font-weight:bold; padding:3px; color:#333333; margin-left:3px;  }
.baisediv .head .right{ float:right; text-align:right; padding:3px;}
.baisediv .content{ font-size:12px; color:#666666; padding:3px; line-height:20px; line-height:150%}
.baisediv .content li,a{ list-style:none; line-height:180%}
/*
*黄色块主题头部下
*/
.ylwdiv{background-color:#FFFFFF; clear:both; width:270px; margin-top:5px;}
.ylwdiv .head{ font-size:12px; color:#666666; background:url(001.jpg) no-repeat; height:25px;}
.ylwdiv .head .title{ float:left; font-weight:bold; padding:3px; margin-left:15px; font-size:14px; color:#333333; margin-top:3px;}
.ylwdiv .head .right{ float:right; text-align:right; padding:3px;}
.ylwdiv .content{ font-size:12px; color:#666666; padding:3px; border-bottom:#FFB571 1px solid; border-right:#FFB571 1px solid; border-left:#FFB571 1px solid; line-height:150%}
.ylwdiv .content li,a{ list-style:none; line-height:180%}
/*
*淡蓝色头部下
*/
.dbluediv{ clear:both; width:430px; border:1px #A7CAEE solid;background-color:#FFFFFF; margin-top:5px;}
.dbluediv .head{ font-size:12px; color:#666666; background:url(002.jpg) repeat-X; height:25px;}
.dbluediv .head .title{ float:left; font-weight:bold; padding:3px;  font-size:12px; color:#333333;}
.dbluediv .head .right{ float:right; padding:3px; font-size:12px;}
.dbluediv .content{ font-size:12px; color:#666666; padding:3px; line-height:150%}
.dbluediv .content li,a{ list-style:none; line-height:180%}

/**
商家导航
**/
.user_guide{
height:226px; margin-top:5px;
}
.user_guide .ll{ background:url(userinfo_1.jpg) no-repeat; width:8px;}
.user_guide .rr{ background:url(userinfo_3.jpg) no-repeat; width:8px;}
.user_guide .mm{ background:url(userinfo_2.jpg) repeat-x; padding:20px 1px 5px 15px; }

.user_guide #index_login_from{ text-align:center; line-height:20px;}
.user_guide #index_login_from .ipt{ width:100px; padding:0px; height:16px; border:1px #FC4415 solid}
.user_guide #index_login_from .spt{ width:52px; height:47px; background:url(004.jpg) no-repeat; border:0px}

.index_fast { }
.index_fast td{ padding:0px 0px 0px 10px; background:url(arrow_listaa.gif) no-repeat left; text-align:left}
.index_fast td a{ font-size:14px; font-weight:bold; color:#851903;}


.free_reg{ text-align:center; padding:10px;}
/**
左右框架
**/
.mainTB{ clear:both; margin-top:5px;}
.mainTB .left{ padding-right:5px; text-align:left;}
.mainTB .right{ width:270px; text-align:left;}


.mainTB2{ clear:both; margin-top:5px;}
.mainTB2 .left_td{ text-align:left; width:300px;}
.mainTB2 .right_td{text-align:left; padding-left:5px; width:685px;}

/**
*带切换的新闻资讯样式
**/
.Tabinfolist{ clear:both; width:268px; margin-top:5px;}
.Tabinfolist .head{ height:25px;background:url(013.jpg) bottom repeat-x;}
.Tabinfolist .head .unck{ width:67px; height:25px; line-height:25px; color:#013A91; background:url(011.jpg) no-repeat; float:left; cursor:hand; text-align:center; }
.Tabinfolist .head .ck{ width:67px;  height:25px;line-height:25px; color:#343434; background:url(012.jpg) no-repeat; float:left; cursor:hand; text-align:center;}
.Tabinfolist .content{ padding:5px; border:1px #A4B5BF solid; border-top:0px; background-color:#FFFFFF; line-height:160%}


/**
*图文信息
**/
.PicInfoList{ clear:both;border:1px #AACCEE solid; background-color:#FFFFFF; margin-top:5px;}
.PicInfoList .head{ background-color:#D0E5F1;  background:url(014.jpg) repeat-x; height:24px;  }
.PicInfoList .head .ck{float:left; background-color:#FFFFFF;    padding:5px 14px 5px 14px; font-size:12px; font-weight:bold; border-right:#AACCEE 1px solid; }
.PicInfoList .head .unck{float:left;  padding:5px 14px 5px 14px; font-size:12px; font-weight:bold; border-right:#AACCEE 1px solid; }
.PicInfoList .head .right{ float:right;   padding:4px; font-size:12px; text-align:right; padding-right:10px}
.PicInfoList .content{ padding:5px;}

/**
*现货建议
**/
.xhjylist{ clear:both;border:1px #AACCEE solid; background-color:#FFFFFF; margin-top:5px;}
.xhjylist .head{ background:url(016.jpg) repeat-x; height:26px; border-bottom:1px #AACCEE solid; }
.xhjylist .head .title{float:left; background:url(017.jpg) no-repeat;  padding:4px 14px 4px 34px; font-size:14px; font-weight:bold; color:red; }
.xhjylist .head .title a{ color:red;}
.xhjylist .head .right{ float:right;   padding:4px; font-size:14px; text-align:right; padding-right:10px}
.xhjylist .content{ padding:5px;}

/**
*普通框架
**/
.listtable{ clear:both;border:1px #AACCEE solid; background-color:#FFFFFF; margin-top:5px;}
.listtable .head{ background:url(015.jpg) repeat-x; height:26px; border-bottom:1px #AACCEE solid; }
.listtable .head .title{float:left;   padding:4px 14px 4px 14px; font-size:14px; font-weight:bold; color:red; }
.listtable .head .title a{ color:red;}
.listtable .head .right{ float:right; width:60%;  padding:4px; font-size:14px; text-align:right; padding-right:10px}
.listtable .content{ padding:5px;}

/**
*展会
**/
.indexzhDiv{
border:1px #C6DFF4 solid;
border-top:3px #C6DFF4 solid;
}
.indexzhDiv .head{
border-bottom:1px #C6DFF4 solid;
background-color:#EAF4FD;
height:25px;
} 
.indexzhDiv .head .L{
height:25px;
 float:left;
background-image:url(zh_right_top1.png); 
background-position:center; 
width:30px;
} 
.indexzhDiv .head .title{
	height:25px; line-height:25px;
	 font-weight:bold; font-size:14px; 
	 color:#E30072; float:left;
}
.indexzhDiv .head .R{
height:25px;  float:left;
} 

.indexzhDiv .head .more{
height:25px;  float:right; width:30%;
line-height:25px;
text-align:right;
padding-right:5px;
}

.indexzhDiv .content{
line-height:180%; padding:5px;
background-color:#FFFFFF;
word-break:break-all
} 
.indexzhDiv .imgdiv{
border:1px #C6DFF4 solid;
background-color:#EAF4FD; padding:1px;}

/*
*展会列表表头
*/
.indexzhDiv .trA td{ color:#666666; font-weight:bold; border-bottom:1px #999999 dotted;}
.indexzhDiv .trB td{ color:#666666; background-color:#FFFFFF; padding-top:5px;}
.indexzhDiv .trC td{ color:#666666; background-color:#F5F9FC; padding-top:5px;}



/*
*人才招聘容器
*/
.index_job_div{ clear:both; border:1px #AACCEF solid; width:100%;}
.index_job_div .head{ background:url(job_div_headbg.gif); height:28px; background-repeat:repeat-x;}
.index_job_div .head .tab1{ border-right:1px #AACCEF solid; background-color:#FFFFFF; padding:4px 20px 3px 20px; color:#075198; float:left; line-height:28px; font-weight:bold; width:120px; text-align:center;}
.index_job_div .head .tab2{ border-right:1px #AACCEF solid;  padding:4px 20px 3px 20px;color:#075198; float:left; line-height:28px;font-weight:bold; width:120px; text-align:center;}

.index_job_div .head a{ color:#075198; text-decoration:none;}
.index_job_div .head .more{float:right; padding:0 10px 0 10px; line-height:28px;}
.index_job_div .list{ padding:5px;line-height:24px; width:100%;}
.index_job_div .list .tr2{ background-color:#F5F9FC; height:24px; line-height:24px;}
.index_job_div .list .tr1{ background-color:#ffffff; height:24px; line-height:24px;}
.index_job_div .list .tr_title{ background-color:#ffffff; height:30px; line-height:30px; font-weight:bold; }
.index_job_div .list .tr_title td{border-bottom:1px #CCCCCC solid;}
.index_job_div .list .title {font-size:14px; font-weight:bold; color:#075198; line-height:150%}
.index_job_div .cols_name{  background-color:#F4F9FD; line-height:150%; border-bottom:1px #CCCCCC dotted;padding:5px; border-top:1px #FFFFFF solid;}
.index_job_div .cols_value{ background-color:#ffffff; line-height:150%; border-bottom:1px #CCCCCC dotted; padding:5px;}
.index_job_div .bigbtn{padding:10px; color:#FF3300; border:1px #CCCCCC solid; font-size:14px;background-color:#f5f5f5}


/**
*为了方便期间。咨询中心的样式也写在这里
**/


/**
*TAB框架-外
**/
.newslisttable{ clear:both;border:1px #C3CECD solid; background-color:#F4F7F7;}
.newslisttable .head{ height:24px; }
.newslisttable .head .title{float:left;padding:4px 14px 4px 14px; font-size:14px; font-weight:bold; color:red; }
.newslisttable .head .title a{ color:red;}
.newslisttable .head .right{ float:right; width:60%;  padding:4px; font-size:14px; text-align:right; padding-right:10px}
.newslisttable .content{ padding:5px;}
/**
*TAB框架-内
**/
.newslisttable .Tabinfolist{ clear:both; width:390px; }
.newslisttable .Tabinfolist .head{ height:25px;background:url(013.jpg) bottom repeat-x;}
.newslisttable .Tabinfolist .head .unck{ width:65px; height:25px; line-height:25px; color:#013A91; background:url(020.jpg) no-repeat; float:left; cursor:hand; text-align:center; }
.newslisttable .Tabinfolist .head .ck{ width:65px;  height:25px;line-height:25px; color:#343434; background:url(019.jpg) no-repeat; float:left; cursor:hand; text-align:center;}
.newslisttable .Tabinfolist .content{ padding:5px; border:1px #A4B5BF solid; border-top:0px; background-color:#FFFFFF;}

/*
*一般常用列表
*/
.newstable{ clear:both;border:1px #8EB4CE solid; background-color:#FFFFFF;}
.newstable .head{ height:24px; background:url(021.jpg) repeat-x; border-bottom:1px solid #8EB4CE;}
.newstable .head .title{float:left; margin-left:5px;padding:0px 14px 0px 24px; font-size:14px; font-weight:bold; color:red; background:url(022.jpg) no-repeat; height:24px; line-height:24px;}
.newstable .head .title a{ color:red;}
.newstable .head .r{ float:right;   line-height:24px; font-size:14px;  padding-right:10px; text-align:right; }
.newstable .content{ padding:5px;}

.newstable .head .pictitle{float:left;padding:0px 14px 0px 10px; font-size:14px; font-weight:bold; color:red; background:url(023.jpg) no-repeat right; height:24px; line-height:24px;}



/*
*继续寻找供应商的列表
*/
.want_vendor{ clear:both; height:80px; border:1px #AACCEE solid; padding:5px; margin-top:5px; background:url(want_vendor_bg.gif) no-repeat; padding-left:30px; }
.want_vendor li{float:left; width:47%; padding-left:20px; background:url(want_vendor.gif) no-repeat left;  height:18px;}




/**首页大广告**/
.index_fullad{ width:990px; margin:auto; text-align:left;display:none;z-index:100; overflow:hidden;}/*z-index:100;position:absolute;*/
.index_fullad p{ height:20px; font-weight:bold; color:#0000FF; text-align:right;}