<!--
<?php
print <<<EOT
--> 
<SCRIPT LANGUAGE="JavaScript">
<!--//屏蔽出错代码
function killErr(){
	return true;
}
window.onerror=killErr;
//-->
</SCRIPT>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <tr>
    <td><a href="sort.php?job=listsort">顶级分类</a>$gudie</td>
  </tr>
</table>
<table border="0" cellspacing="1" cellpadding="3" width="100%" class="tablewidth">
  <form name="form1" method="post" action="?lfj=$lfj&action=$job">
    <tr align="center"> 
      <td colspan="2" class="head">栏目修改</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td colspan="2"><font color="#0000FF">打开详细选项设置&gt;&gt;&gt;</font><font color="#FF0000"> 
        <input type="checkbox" name="showmore" value="checkbox" id="showmore" onClick="show_more(0);" checked>
        [<a href="../list.php?fid=$fid" target="_blank">浏览前台</a>] [<a href="list.php?lfj=artic&job=list&fid=$fid">管理内容</a>] 
        [<a href="?job=addfield&fid=$fid">增加字段</a>] [<a href="?job=listfield&fid=$fid">字段管理</a>]</font></td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="40%">栏目名称:</td>
      <td width="60%"> 
        <input type="text" name="postdb[name]" value="$rsdb[name]">
      </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="40%">所属模块: 
        <input type="checkbox" name="Together[mid]" value="1">
      </td>
      <td width="60%"> $_module</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="40%">当前栏目FID值:</td>
      <td width="60%"> <b><font color="#FF0000">$rsdb[fid]</font></b> </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="40%">父栏目: 
        <input type="checkbox" name="Together[fup]" value="1">
      </td>
      <td width="60%"> $select_fid </td>
    </tr>
    <tr bgcolor="#FFFFFF" style="display:$moresons"> 
      <td width="40%">分类/栏目/单篇文章: </td>
      <td width="60%"> 
        <input type="radio" name="postdb[type]" value="1" $typedb[1]  >
        分类 
        <input type="radio" name="postdb[type]" value="0" $typedb[0]  >
        栏目 
        <input type="radio" name="postdb[type]" value="2" $typedb[2]  >
        单篇文章</td>
    </tr>
    <!--
    <tr bgcolor="#FFFFFF" style="display:$smallsort"> 
      <td width="40%">是否在首页显示本栏目内容(不包括子栏目内容):</td>
      <td width="60%"> 
        <input type="radio" name="postdb[index_show]" value="1" $index_show[1]>
        显示 
        <input type="radio" name="postdb[index_show]" value="0" $index_show[0]>
        不显示 </td>
    </tr>
-->
    <tr bgcolor="#FFFFFF" class="hidetr" style="display:$smallsort"> 
      <td width="40%">允许发表内容的用户组,（不设置，则所有用户组有权限.然而超级管理员与栏目管理员默认有权限）: 
        <input type="checkbox" name="Together[allowpost]" value="1">
      </td>
      <td width="60%"> $group_post</td>
    </tr>
    <tr bgcolor="#FFFFFF" class="hidetr" style="display:$smallsort"> 
      <td width="40%">允许浏览内容的用户组,（不设置，则所有用户组有权限.然而超级管理员与栏目管理员默认有权限）: 
        <input type="checkbox" name="Together[allowviewcontent]" value="1">
      </td>
      <td width="60%"> $group_viewcontent </td>
    </tr>
    <tr bgcolor="#FFFFFF"  class="hidetr" style="display:$smallsort"> 
      <td width="40%">是否禁止在父栏目显示本栏目: 
        <input type="checkbox" name="Together[forbidshow]" value="1">
        <br>
        (当父栏目下有很多子栏目的时候,就没必要全部显示出来)</td>
      <td width="60%"> 
        <input type="radio" name="postdb[forbidshow]" value="0" $forbidshow[0]>
        显示 
        <input type="radio" name="postdb[forbidshow]" value="1" $forbidshow[1]>
        不显示 </td>
    </tr>
    <tr bgcolor="#FFFFFF"  class="hidetr"> 
      <td width="40%">栏目风格: 
        <input type="checkbox" name="Together[style]" value="1">
        <br>
        (一般留空,即以默认为标准) </td>
      <td width="60%"> $select_style </td>
    </tr>
    <tr bgcolor="#FFFFFF"  class="hidetr"> 
      <td width="40%">栏目模板: 
        <input type="checkbox" name="Together[template]" value="1">
        <br>
        (一般留空,即以默认为标准) </td>
      <td width="60%"> 头部模板: 
        <input type="text" name="postdb[tpl][head]" value="$tpl[head]" id="tpl_head" size="40">
        <a href="#" onclick="document.getElementById('tpl_head').value='template/default/none.htm'"><font color="#FF0000">白板</font></a> 
        (即禁用头部的意思)<br>
        底部模板: 
        <input type="text" name="postdb[tpl][foot]" value="$tpl[foot]" id="tpl_foot" size="40">
        <a href="#" onClick="document.getElementById('tpl_foot').value='template/default/none.htm'"><font color="#FF0000">白板</font></a> 
        (即禁用底部的意思)<br>
        列表模板: 
        <input type="text" name="postdb[tpl][list]" value="{$tpl['list']}" id="tpl_list" size="40">
        <span style="display:$smallsort"><br>
        内容模板: 
        <input type="text" name="postdb[tpl][bencandy]" value="$tpl[bencandy]" id="tpl_bencandy" size="40">
        </span> </td>
    </tr>
    <tr bgcolor="#FFFFFF"  class="hidetr"> 
      <td width="40%">静态网页表现形式:<br>
        (留空则以系统默认为标准)<br>
        系统默认是:<br>
        列表页:<font color="#0000FF">$webdb[Info_list_filename]</font><br>
        内容页:<font color="#0000FF">$webdb[Info_bencandy_filename]</font><br>
        你可以把<font color="#FF0000">html/</font>去除,则在本系统的根目录,你也可以把<font color="#FF0000">{\$dirid}/</font>删除,这样的话,存在一个问题就是一个栏目如果太多文章就会造成一个目录太多文件,<font color="#FF0000">{\$fid}</font>可以换成栏目的英文名,内容页也可以换成日期的组合,日期的格式是<br>
        {\$time_Y} 年(如:2008) {\$time_y} 年(如:08)<br>
        {\$time_m} 月 {\$time_d} 日 {\$time_W} 周(如:第21周)<br>
        {\$time_H} 时 {\$time_i} 分 {\$time_s} 秒<br>
        <br>
        <br>
        <br>
        <br>
      </td>
      <td width="60%"> 
        <p>列表页: 
          <input type="text" name="postdb[list_html]" value="$rsdb[list_html]" id="list_html" size="50">
          <span style="display:$smallsort"><br>
          内容页: 
          <input type="text" name="postdb[bencandy_html]" value="$rsdb[bencandy_html]" id="bencandy_html" size="50">
          </span></p>
        <p>选择样式: [<a href="javascript:choose_html(1);"><font color="#0000FF">最佳</font></a>] 
          [<a href="javascript:choose_html(2);"><font color="#0000FF">个性1</font></a>] 
          [<a href="javascript:choose_html(3);"><font color="#0000FF">个性2</font></a>]</p>
        <SCRIPT LANGUAGE="JavaScript">
<!--
function choose_html(t){
	if(t==1){
		var list="html/{\$fid}/{\$page}.htm";
		var show="html/{\$fid}/{\$dirid}/{\$id}/{\$page}.htm";
		
	}else if(t==2){
		var list="$htmldirname/{\$page}.html";
		var show="$htmldirname/{\$time_Y}{\$time_m}{\$time_d}/{\$id}-{\$page}.html";
	}else if(t==3){
		var list="$htmldirname/list-{\$page}.html";
		var show="$htmldirname/show-{\$time_Y}{\$time_W}/{\$time_Y}{\$time_m}{\$time_d}{\$time_H}{\$time_i}{\$time_s}-{\$page}.html";
	}
	document.getElementById("bencandy_html").value=show;
	document.getElementById("list_html").value=list;
}
//-->
</SCRIPT>
        注意:内容页的{\$id}如果去除的话,必须把日期的时分秒都补上,不然的话,会有文件雷同<br>
        自己修改样式注意的是,不能为汉字,确保内容页文件不能雷同,确保一个目录文件不能大于3000个</td>
    </tr>
    <!--
EOT;
if($rsdb[type]==0){print <<<EOT
-->
    <tr bgcolor="#FFFFFF"  class="hidetr" style="display:$smallsort"> 
      <td width="40%">列表页内容排序方式: 
        <input type="checkbox" name="Together[listorder]" value="1">
      </td>
      <td width="60%"> 
        <select name="postdb[listorder]">
          <option value="0" $listorder[0]>默认</option>
          <option value="1" $listorder[1]>发表时间降序</option>
          <option value="2" $listorder[2]>发表时间升序</option>
          <option value="3" $listorder[3]>点击率降序</option>
          <option value="4" $listorder[4]>点击率升序</option>
          <option value="5" $listorder[5]>最近浏览</option>
        </select>
      </td>
    </tr>
    <tr bgcolor="#FFFFFF"  class="hidetr" style="display:$smallsort"> 
      <td width="40%">本栏目是否启用评论(有的风格不支持):</td>
      <td width="60%"> 
        <input type="radio" name="postdb[allowcomment]" value="1" $allowcomment[1]>
        启用评论 
        <input type="radio" name="postdb[allowcomment]" value="0" $allowcomment[0]>
        禁用评论 </td>
    </tr>
    <tr bgcolor="#FFFFFF"  class="hidetr" style="display:$smallsort"> 
      <td width="40%">列表页的文章显示方式(标题\图片\内容):</td>
      <td width="60%"> 
        <select name="ListShowType">
          <option value="0" $ListShowType[0]>仅标题</option>
          <option value="1" $ListShowType[1]>标题+图片</option>
          <option value="2" $ListShowType[2]>标题+内容</option>
          <option value="3" $ListShowType[3]>标题+内容+图片</option>
        </select>
        <br>
        如果上面选择显示内容,那内容显示几个字节 
        <input type="text" name="listContentNum" size="5" value="{$array[listContentNum]}">
        个 </td>
    </tr>
    <tr bgcolor="#FFFFFF"  class="hidetr" style="display:$smallsort"> 
      <td width="40%">列表页每页显示多少条内容: 
        <input type="checkbox" name="Together[maxperpage]" value="1">
      </td>
      <td width="60%"> 
        <input type="text" name="postdb[maxperpage]" size="5" value="$rsdb[maxperpage]">
        行 (留空或为0则以默认为标准)</td>
    </tr>
    <!--
EOT;
}
if($rsdb[type]==1){print <<<EOT
-->
    <tr bgcolor="#FFFFFF"  class="hidetr"> 
      <td>若有子栏目,每个子栏目显示多少篇文章:</td>
      <td width="60%"> 
        <input type="text" name="sonTitleRow" size="5" value="{$array[sonTitleRow]}">
        行 (留空则以默认为标准) </td>
    </tr>
    <tr bgcolor="#FFFFFF"  class="hidetr"> 
      <td>若有子栏目,每篇文章显示多少个字节(一汉字相当于两个字节)</td>
      <td width="60%"> 
        <input type="text" name="sonTitleLeng" size="5" value="{$array[sonTitleLeng]}">
        个 (留空则以默认为标准) </td>
    </tr>
    <tr bgcolor="#FFFFFF"  class="hidetr"> 
      <td width="40%">如有子栏目,子栏目文章排序方式:</td>
      <td width="60%"> 
        <select name="sonListorder">
          <option value="0" $sonListorder[0]>默认(效率很高)</option>
          <option value="1" $sonListorder[1]>发表时间降序</option>
          <option value="2" $sonListorder[2]>点击率降序</option>
          <option value="3" $sonListorder[3]>最近浏览</option>
          <option value="4" $sonListorder[4]>随机显示（数据大时，效率极低）</option>
        </select>
      </td>
    </tr>
    <!--
EOT;
}print <<<EOT
-->
    <!--
    <tr bgcolor="#FFFFFF"  class="hidetr" style="display:none;"> 
      <td width="40%">大分类下每页显示多少个栏目: 
        <input type="checkbox" name="Together[sortnum]" value="1">
      </td>
      <td width="60%"> 
        <input type="text" name="postdb[sortnum]" size="5" value="$rsdb[sortnum]">
        个 (留空或为0则以默认为标准)</td>
    </tr>
-->
    <tr bgcolor="#FFFFFF"  class="hidetr"> 
      <td width="40%">跳转到外部地址: 
        <input type="checkbox" name="Together[jumpurl]" value="1">
        <br>
        (输入其它地址后,将不会显示本栏目) </td>
      <td width="60%"> 
        <input type="text" name="postdb[jumpurl]" value="$rsdb[jumpurl]" size="60">
      </td>
    </tr><tr bgcolor="#FFFFFF"  class="hidetr"> 
      <td width="40%">栏目管理员: 
        <input type="checkbox" name="Together[admin]" value="1">
        <br>
        (多个的话,请用,号隔开)</td>
      <td width="60%"> 
        <input type="text" name="postdb[admin]"   value="$rsdb[admin]" size="40">
        
      </td>
    </tr>
    <!--
EOT;
if($rsdb[type]<2){print <<<EOT
-->
    <tr bgcolor="#FFFFFF"  class="hidetr"> 
      <td width="40%">栏目LOGO装饰图片: 
        <input type="checkbox" name="Together[logo]" value="1">
      </td>
      <td width="60%"> 
        <input type="text" name="postdb[logo]" id="atc_logo" value="$rsdb[logo]" size="60">
        <br>
        <iframe frameborder=0 height=23 scrolling=no src='../../upfile.php?fn=upfile&dir=info$fid&label=atc_logo' width=310></iframe> 
        <script>
function upfile(url,name,size,ty){
	document.getElementById(ty).value=url;
}
</script>
      </td>
    </tr>
    <tr bgcolor="#FFFFFF"  class="hidetr"> 
      <td width="40%">栏目描述(支持HTML): 
        <input type="checkbox" name="Together[descrip]" value="1">
      </td>
      <td width="60%"> 
        <textarea name="postdb[descrip]" cols="50" rows="7">$rsdb[descrip]</textarea>
      </td>
    </tr>
    <!--
EOT;
}elseif($rsdb[type]==2){print <<<EOT
-->
    <tr bgcolor="#FFFFFF"  class="hidetr"> 
      <td colspan="2"><b><font color="#FF0000">单篇文章内容:</font></b><br>
        <input type="hidden" name="postdb[descrip]" id="content" size="50" value='$rsdb[descrip]'>
        <iframe id="eWebEditor1" src="../../ewebeditor/ewebeditor.php?id=content&style=standard" frameborder="0" scrolling="no" width="100%" height="450"></iframe> 
      </td>
    </tr>
    <!--
EOT;
}print <<<EOT
-->
    <!--
    <tr bgcolor="#FFFFFF"  class="hidetr" style="display:none;"> 
      <td width="40%">内容中的图片专题对应整站中的栏目: 
        <input type="checkbox" name="Together[photo_fid]" value="1">
        <br>
        (一般留空)</td>
      <td width="60%"> $photo_fid </td>
    </tr>
    <tr bgcolor="#FFFFFF"  class="hidetr" style="display:none;"> 
      <td width="40%">内容中的文章专题对应整站中的栏目: 
        <input type="checkbox" name="Together[article_fid]" value="1">
        <br>
        (一般留空,如设置栏目的话,不能与上面的雷同) </td>
      <td width="60%"> $article_fid</td>
    </tr>
    <tr bgcolor="#FFFFFF"  class="hidetr" style="display:none;"> 
      <td width="40%">内容中的贴子专题对应论坛中的栏目: 
        <input type="checkbox" name="Together[bbs_fid]" value="1">
      </td>
      <td width="60%"> 
        <input type="text" name="postdb[bbs_fid]" value="$rsdb[bbs_fid]" size="7">
        注意:必须先整合PW或DZ论坛</td>
    </tr>
	-->
    $TempLate 
    <tr align="center"> 
      <td colspan="2" bgcolor="#FFFFFF"> 
        <input type="submit" name="Submit" value="提交">
        <input type="hidden" name="postdb[fid]" value="$fid">
      </td>
    </tr>
    <tr align="left"> 
      <td colspan="2" bgcolor="#FFFFFF">注意:每个属性左边有个多选框,点击选择后,将可以把他的下一个子栏目的属性也一起修改</td>
    </tr>
  </form>
</table>
<SCRIPT LANGUAGE="JavaScript">
<!--
function show_more(va){
	var s=document.getElementsByTagName("tr");
	for(var i=0;i<s.length;i++){
		if( document.form1.showmore.checked==true ||va==1 ){
			if(s[i].className=='hidetr'){
				s[i].style.display="";
			}	
		}else{
			if(s[i].className=='hidetr'){
				s[i].style.display="none";
			}	
		}
	}
}
//show_more(1);
function set_code(){
	eWebEditor1.editor.code();
}
document.onmousemove=set_code;

//-->
</SCRIPT>
<!--
EOT;
?>
-->