<!--
<?php
print <<<EOT
--> 
<table id="top_menu" width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth" align="center">
  <tr> 
    <td align="center"> 
      <input type="button" name="Submit222" value="添加广告位" onClick="window.location=('index.php?lfj=$lfj&job=addplace')">
      　　　 
      <input type="button" name="Submit23" value="广告位管理" onClick="window.location=('index.php?lfj=$lfj&job=listad')">

     　　<input type="button" name="Submit23" value="购买广告" onClick="window.open('../member/index.php?main=buyad.php?job=list')">      　　 　 
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->