<?xml version="1.0"?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="hooyesNlog" xsi:type="File" fileName="${basedir}NLog.txt"
       layout="${date:format=yyyy/MM/dd HH/mm/ss}|${level}| ${callsite:className=false}|${message}"
               />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="hooyesNlog"  />
    </rules>
  </nlog>
</configuration>
