.MainContainer img{
	border:0;
}
.MainContainer .MainL{
	padding-right:10px;
}
.md10{
	margin-bottom:10px;
}
/*
*分类与搜索
*/
.sort_search{
	background:url(brand_sortbg.gif) right top no-repeat;
}
.sort_search .sortdiv{
	width:98%;
	background:url(brand_sortbg.gif) left top no-repeat;
}
.sort_search .sortdiv .c{
	color:#999;
}
.sort_search .searchdiv{
	background:url(brand_sortbg.gif) right bottom no-repeat;
	border-top:#dfdfdf dotted 1px;
}
.sort_search .searchdiv form{
	width:98%;
	background:url(brand_sortbg.gif) left bottom no-repeat;
}
.sort_search .h{
	background:url(supply_list_icon.gif) 10px 16px no-repeat;
	padding:15px 0 5px 25px;
	font-weight:bold;
}
.sort_search .h span,.sort_search a:link,.sort_search a:hover,.sort_search a:visited{
	color:#006CD0;
}
.sort_search .c{
	padding:5px 0 10px 25px;
	word-spacing:20px;
	line-height:22px;
}
.sort_search .searchdiv .c{
	padding-bottom:20px;
}
/*
*右边样式
*/
.sidertable{
	background:url(showroom_side_head.gif) left top repeat-x;
}
.sidertable .h{
	background:url(showroom_side_r.gif) right top no-repeat;
	height:30px;
	line-height:30px;
}
.sidertable .h .l{
	background:url(showroom_side_l.gif) left top no-repeat;
	float:left;
	padding-left:10px;
	font-weight:bold;
}
.sidertable .h .r{
	float:right;
	padding-right:10px;
}
.sidertable .c {
	border:#B7D8FD solid 1px;
	border-top:0;
	padding:5px;
}
.sidertable .c .list {
	width:90%;
	height:22px;
	overflow:hidden;
	line-height:22px;
	padding-left:15px;
	background:url(point_ccc.gif) 5px 9px no-repeat;
}
.sidertable .c p {
	line-height:25px;
	padding-left:5px;
	padding-right:5px;
}
.sidertable .c .l1 {
	background:url(sn0-9b.gif) -2px top no-repeat;
}
.sidertable .c .l2 {
	background:url(sn0-9b.gif) -2px -20px no-repeat;
}
.sidertable .c .l3 {
	background:url(sn0-9b.gif) -2px -40px no-repeat;
}
.sidertable .c .l4 {
	background:url(sn0-9b.gif) -2px -60px no-repeat;
}
.sidertable .c .l5 {
	background:url(sn0-9b.gif) -2px -80px no-repeat;
}
.sidertable .c .l6 {
	background:url(sn0-9b.gif) -2px -100px no-repeat;
}
.sidertable .c .l7 {
	background:url(sn0-9b.gif) -2px -120px no-repeat;
}
.sidertable .c .l8 {
	background:url(sn0-9b.gif) -2px -140px no-repeat;
}
.sidertable .c .l9 {
	background:url(sn0-9b.gif) -2px -160px no-repeat;
}
.sidertable .c .l10 {
	background:url(sn0-9b.gif) -2px -180px no-repeat;
}
/*
*列表样式
*/
.brand_piclist .h{
	background:url(brand_headb.gif) right top no-repeat;
	line-height:35px;
	line-height:35px;
}
.brand_piclist .h span{
	display:block;
	float:left;
}
.brand_piclist .h span.l{
	background:url(brand_headb.gif) left top no-repeat;
	width:115px;
	text-align:center;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
}
.brand_piclist .h span.r{
	width:150px;
	float:right;
}
.brand_piclist .h span.r em{
	float:left;
	padding-right:10px;
	font-style:normal;
}
.brand_piclist .h span.r a{
	float:left;
	padding-right:10px;
}
.brand_piclist .h span.r img{
	margin-top:9px;
}
.brand_piclist .c{
	border:#dfdfdf solid 1px;
	border-top:0;
	padding:5px;
}
.ListTable td{
	vertical-align:middle;
} 
.ListTable .up td{
	line-height:35px;
	border-bottom:#dfdfdf dotted 1px;
}
.ListTable .down td{
	line-height:35px;	
	padding-top:10px;
}
.ListTable .up td.butter{
	background:url(to_down.gif) 8px 12px no-repeat;
	padding-left:30px;
}
.ListTable .down td.butter{
	background:url(to_top.gif) 8px 12px no-repeat;
	padding-left:30px;
}
.ListTable td.butter a{
	display:block;
	width:80px;
	background:url(brand_but1.gif) center 6px no-repeat;
	float:left;
	text-align:center;
	text-decoration:none;
}
.ListTable td.butter a.totop{
	width:70px;
	padding-left:10px;
	background:url(brand_but2.gif) center 6px no-repeat;
	margin-left:20px;
}
.ListTable td.pic,.ListTable td.city,.ListTable td.yz{
	text-align:center;
}
.ListTable .list td{
	height:70px;
	border-bottom:#dfdfdf dotted 1px;
	color:#999;
}
.ListTable .list td.pic{
	background:url(brand_listpicbg.gif) center 10px no-repeat;
}
.ListTable .list td.word{
	line-height:25px;
}
.ListTable .list td.word span a{
	font-size:14px;
	font-weight:bold;
}
/*
*分页样式
*/
.brand_piclist .c .page{
	line-height:25px;
	text-align:center;
	padding-bottom:10px;
}
.brand_piclist .c .page a{
	border:#dfdfdf solid 1px;
	padding:3px 5px 2px 5px;
	text-decoration:none;
}
.brand_piclist .c .page a:hover{
	background:green;
	color:#FFF;
}
