<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form_work" method="post" action="?job=data&step=1">
    <tr  class="head"> 
  	  <td>预选数据(自定义字段)管理</td>
    </tr>
<tr> 
	<td>
	
	
	<table cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">

 
<!--
EOT;
foreach($jobData as $key=>$array){
$choose_to_sel[$key][$array[choose_to]]=" selected";
$form_type_sel[$key][$array[form_type]]=" selected";
print <<<EOT
-->
  <tr>
  	<td width="100"  align="left" valign="top" bgcolor="#FFFFFF">
	<strong>$array[name]</strong></td>
    <td width="200"  align="left" valign="top" bgcolor="#FFFFFF">
      应用到:<select name="postData[$key][choose_to]">
	  <option value="0" {$choose_to_sel[$key][0]}>职位和简历信息</option>
	  <option value="job" {$choose_to_sel[$key][job]}>职位信息</option>
	  <option value="resume" {$choose_to_sel[$key][resume]}>简历信息</option>
      </select><br />
	  名&nbsp;&nbsp;称:<input type="text" name="postData[$key][name]"  value="{$array[name]}"/><br />
	  表单项:<select name="postData[$key][form_type]">
	  <option value="select"  {$form_type_sel[$key][select]}>下拉列表</option>
	  <option value="checkbox"  {$form_type_sel[$key][checkbox]}>多选框</option>
	  <option value="radio"  {$form_type_sel[$key][radio]}>单选框</option>
	  <option value="text"  {$form_type_sel[$key][text]}>单行输入框</option>
	  <option value="textarea"  {$form_type_sel[$key][textarea]}>多行输入框</option>
	  
	  </select>      </td>
    <td  align="left" valign="top" bgcolor="#FFFFFF"><textarea name="postData[$key][value]" cols="70" rows="5" >$array[value]</textarea></td>
    <td align="left" valign="top" bgcolor="#FFFFFF"><textarea name="postData[$key][remarks]" cols="30" rows="5" >$array[remarks]</textarea></td>
  </tr>
  
<!--
EOT;
}
$test_key="jd".date("YmdHis");
print <<<EOT
--> 
 	<tr style="display:none" id="addnewData">
	<td  align="left" valign="top" bgcolor="#FFFFFF">
	<strong><font color="blue">新内容</font></strong></td>
    <td  align="left" valign="top" bgcolor="#FFFFFF">
	<br />
	应用到:<select name="postData[$test_key][choose_to]">
	  <option value="0" >职位信息和简历信息</option>
	  <option value="1" >职位信息</option>
	  <option value="2" >简历信息</option>
      </select><br />
	  名&nbsp;&nbsp;称:<input type="text" value="" name="postData[$test_key][name]"/><br />
	  表单项:<select name="postData[$test_key][form_type]">
	  <option value="select" >下拉列表</option>
	  <option value="checkbox" >多选框</option>
	  <option value="radio"  >单选框</option>
	  <option value="text"  >单行输入框</option>
	  <option value="textarea"  >多行输入框</option>
	  
	  </select>	  </td>
    <td  align="left" valign="top" bgcolor="#FFFFFF">预选值：(<strong>注意：一行表示一个选项。</strong>)<br />
      <textarea name="postData[$test_key][value]" cols="70" rows="5" ></textarea></td>
    <td  align="left" valign="top" bgcolor="#FFFFFF">备注：<br />
      <textarea name="postData[$test_key][remarks]" cols="30" rows="5" ></textarea></td></tr>
   <tr>
    <td height="50"  align="left" valign="middle" bgcolor="#FFFFFF">&nbsp;</td>
    <td colspan="3"  align="left" valign="middle" bgcolor="#FFFFFF">
	  <input type="submit" name="Submit" value="保 存" /> &nbsp;&nbsp;<input type="button" name="Submit" value="添加新项"  onclick="document.getElementById('addnewData').style.display='block';"/>
      <input name="job" type="hidden" id="job" value="data" />
      <input name="step" type="hidden" id="step" value="1" />
      <input type="button" name="Submit2" value="恢复初始选项"  onclick="if(confirm('确定恢复初始设置吗?')){ window.location='?job=resetjobdata';}"/></td>
    </tr>
</table>
<br />
<strong><font color="red">如果是删除某项，直接清空该项目名称输入框，点击更新即可删除；</font></strong>
	</td>
</tr>
  </form>
</table>


<!--
EOT;
?>-->