<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth" >
 
                <tr align="center" class="head"> 
                  <td width="40%">标 题</td>
				  <td width="5%">页数</td>
                  <td width="13%">栏 目 </td>
                  <td width="13%">日期</td>
                  
                
                  <td width="13%">状态</td>
                  <td width="16%">修改/续发/作废</td>
                </tr>
<!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
                <tr  class="trA" onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
                  
                <td  align="left" >{$rs[aid]}、<a href="../bencandy.php?fid=$rs[fid]&id=$rs[aid]" target="_blank" title="$rs[full_title]">$rs[title]</a> </td> 
                   <td align="center" >$rs[pages]</td>
                  
                <td align="center" >&nbsp;<a href="../list.php?fid=$rs[fid]" target="_blank">$rs[fname]</a></td>
                  <td align="center" >$rs[posttime]</td>
                  
                 
                  <td align="center" >$rs[state]/$rs[levels]</td>
                  
    <td align="center" ><a href="?lfj=post&job=manage&aid=$rs[aid]&only=$only&mid=$mid">修改</a> 
      / 
      <!--
EOT;
if(!$rs[mid]){
print <<<EOT
-->
      <a href="?lfj=post&job=post_more&aid=$rs[aid]&only=$only&mid=$mid">续发</a> 
      / 
      <!--
EOT;
}print <<<EOT
-->
      <a onclick="return confirm('你确实要删除本文吗?')" href="?lfj=$lfj&job=$job&do=del&id=$rs[aid]&only=$only&mid=$mid">删除</a></td>
                </tr>
<!--
EOT;
}print <<<EOT
-->
                <tr align="center"> 
                  <td colspan="6">$showpage</td>
                </tr>
 
            </table>
          
<!--
EOT;
?>
-->