<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <tr>
    <td class="head">相关选项</td>
  </tr>
  <tr>
    <td align="center"> 
      <input type="button" name="Submit" value="所有" onclick="window.location.href='index.php?lfj=artic&job=listartic&only=$only&mid=$mid'">

	  <input type="button" name="Submit" value="我发表的" onclick="window.location.href='index.php?lfj=artic&job=listartic&type=my&only=$only&mid=$mid'">
     
      <input type="button" name="Submit5" value="未审" onclick="window.location.href='index.php?lfj=artic&job=listartic&fid=$fid&type=unyz&only=$only&mid=$mid'">

	   
      <input type="button" name="Submit6" value="已审" onclick="window.location.href='index.php?lfj=artic&job=listartic&fid=$fid&type=yz&only=$only&mid=$mid'">

      <input type="button" name="Submit52" value="精华" onclick="window.location.href='index.php?lfj=artic&job=listartic&fid=$fid&type=levels&only=$only&mid=$mid'">

      <input type="button" name="Submit522" value="非精华" onclick="window.location.href='index.php?lfj=artic&job=listartic&fid=$fid&type=unlevels&only=$only&mid=$mid'">

      <input type="button" name="Submit5222" value="图片主题" onClick="window.location.href='index.php?lfj=artic&job=listartic&fid=$fid&type=picurl&only=$only&mid=$mid'">

	  <input type="button" name="Submit5222" value="回收站" onClick="window.location.href='index.php?lfj=artic&job=listartic&type=rubbish&only=$only&mid=$mid'">

      $sort_fid </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth" style="TABLE-LAYOUT: fixed;WORD-WRAP: break-word;">
  <form name="form_work" method="post" action="index.php?lfj=artic&job=work">
    <tr align="center" class="head"> 
      <td width="7%">ID</td>
      <td width="40%">标 题</td>
      <td width="9%">所在栏目</td>
	  <td width="8%">发布者</td>
	  <td width="4%">浏览</td>
      <td width="4%">评论</td>
      <td width="8%">发表日期</td>
      <td width="4%">审核</td>
      <td width="4%">推荐</td>
      <td width="4%">续发</td>
      <td width="6%">改 删</td>
      <td width="2%">页</td>
    </tr>
    <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr bgcolor="#FFFFFF" class="trA" onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
      <td align="center">$rs[aid]</td>
      <td > <a href="$webdb[www_url]/do/rss.php?fid=$rs[fid]&id=$rs[aid]" target="_blank"><img src="$webdb[www_url]/images/default/rss.gif" border="0"></a> 
        <input type="checkbox" name="listdb[{$rs[aid]}]" value="$rs[title]">
        <a href="$webdb[www_url]/bencandy.php?fid=$rs[fid]&aid=$rs[aid]"  style="color:$rs[titlecolor];" target="_blank">$rs[title]</a></td>
      <td align="center"><a href="$webdb[www_url]/list.php?fid=$rs[fid]" target="_blank">$rs[fname]</a></td>
      <td  align="center">$rs[username]</td>
	  <td  align="center">$rs[hits]</td>
	  <td   align="center"><a href="index.php?lfj=comment&job=list&aid=$rs[aid]">$rs[comments]</a></td>
      <td  align="center">$rs[posttime]</td>
      <td   align="center">$rs[ischeck]</td>
      <td   align="center">$rs[iscom]</td>
      <td   align="center">
        <!--
EOT;
if(!$rs[mid]||$rs[mid]>105){print <<<EOT
-->
	  <a href="?lfj=post&job=post_more&aid=$rs[aid]" title="续发文章"><img src="../member/images/icon_add.gif" border="0"></a>
	  
        <!--
EOT;
}else{
print <<<EOT
-->    
&nbsp;
<!--
EOT;
}
print <<<EOT
-->
	  </td>
      <td   align="center"><a href="index.php?lfj=post&job=manage&aid=$rs[aid]&only=$only&mid=$mid" title="修改内容"><img src="images/edit.png" border="0"></a>&nbsp;
        <!--
EOT;
if($rs[yz]==2){print <<<EOT
-->
        <a href="index.php?lfj=$lfj&action=work&jobs=delete&listdb[]=$rs[aid]&forcedel=1&only=$only&mid=$mid" onclick="return confirm('回收站的内容,你确认要清除它吗?不可恢复')"><img src="../member/images/del_icon2.gif" border="0"></a> 
        <!--
EOT;
}elseif($webdb[ForceDel]){
print <<<EOT
-->
        <a href="index.php?lfj=$lfj&action=work&jobs=delete&listdb[]=$rs[aid]&forcedel=1&only=$only&mid=$mid" onclick="return confirm('你确认要删除它吗?不可恢复')" title="放进回收站"><img src="../member/images/icon_rubbish.gif" border="0"></a> 
        <!--
EOT;
}else{
print <<<EOT
-->
        <a href="index.php?lfj=$lfj&action=work&jobs=delete&listdb[]=$rs[aid]&only=$only&mid=$mid" title="放进回收站"><img src="../member/images/icon_rubbish.gif" border="0"></a> 
        <!--
EOT;
}
print <<<EOT
-->
      </td>
      <td   align="center">$rs[pages]</td>
    </tr>
    <!--
EOT;
}print <<<EOT
-->
    <tr bgcolor="#FFFFFF" align="center"> 
      <td colspan="12"> $showpage</td>
    </tr>
    <tr bgcolor="#FFFFFF" align="center"> 
      <td colspan="12"> 
     
        <a href="javascript:" onClick="CheckAll('all')">全选</a>/<a href="javascript:" onClick='CheckAll()'>反选</a> 
        <input type="button" name="Submit2" value="审核" onclick="postdo('yz')">
 
        <input type="button" name="Submit22" value="静态" onClick="postdo('html')">
 
		
        <input type="button" name="Submit42223" value="推荐" onclick="postdo('com')">
		<input type="button" name="Submit42223" value="专题操作" onclick="postdo('special')">
        <input type="button" name="Submit4" value="置顶" onclick="postdo('top')">
        <input type="button" name="Submit422" value="提前" onclick="postdo('front')">
        <input type="button" name="Submit42" value="标题彩色" onclick="postdo('color')">
        <input type="button" name="Submit4222" value="沉底" onclick="postdo('bottom')">
        <input type="button" name="Submit42222" value="移动" onclick="postdo('move')">
        <input type="button" name="Submit422222" value="回收站还原" onClick="postdo('return')">
        <input type="button" name="Submit3" value="删除" onclick="postdo('delete')">
        <input type="hidden" name="jobs" value="0">
        <input type="hidden" name="only" value="$only">
        <input type="hidden" name="mid" value="$mid">
      </td>
    </tr>
  </form>
</table>
<SCRIPT LANGUAGE="JavaScript">
<!--
function postdo(va){
	if(va=='html'){
		document.form_work.target='_blank';
		document.form_work.action='?lfj=html&action=makehtml&fiddb[]=$fid&posttype=fromarticle';
	}
	document.form_work.jobs.value=va
	document.form_work.submit();
}
function CheckAll(va){
	form=document.form_work
	for (var i=0;i<form.elements.length;i++){
		var e = form.elements[i];
		if(va=='all'){
			e.checked = true;
		}else{
			e.checked == true ? e.checked = false : e.checked = true;
		}
	}
}
//-->
</SCRIPT>

<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth"> <form name="form1" method="post" action="index.php?lfj=artic&job=listartic">
  <tr class="head">
      <td><font color="#FFFFFF">内容搜索</font></td>
  </tr>
  <tr>
      <td align="center"> 关键字 
        <input type="text" name="keyword">
        <select name="type">
          <option value="title">文章标题</option>
          <option value="aid">文章内容</option>
          <option value="aid">文章ID</option>
          <option value="username">发布者</option>
        </select>
        <input type="submit" name="Submit7" value="提交">
        <input type="hidden" name="only" value="$only">
        <input type="hidden" name="mid" value="$mid">
      </td>
  </tr>  </form>
</table>
<!--
EOT;
?>
-->
