<!--
<?php
print <<<EOT
-->
 <form name="form_work" method="post" action="?">
<!--
EOT;
$i=0;
if($cols){
print <<<EOT
-->
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="tablewidth"> 
 
    <tr align="center" class="head"> 
      <td align="left">字段名称</td>
      <td align="left">字段类型</td>

      <td align="left">字段预设值</td>
      <td align="left">字段备注</td>
    </tr>
	
<!--
EOT;

foreach($cols as $rs){
print <<<EOT
-->
	 <tr align="center" class="middle"> 
      <td width="14%" align="left" valign="top"><input name="cols[$i][name]" type="text" value="$rs[name]" /></td>
	  <td width="9%" align="left" valign="top"><select name="cols[$i][type]">
<!--
EOT;
foreach($cols_type as $key=>$val){
	$ckk=$key==$rs[type]?" selected":"";
print <<<EOT
-->
	<option value="$key" $ckk>$val</option>
<!--
EOT;
}
print <<<EOT
-->
	  </select></td>
	  <td width="30%" align="left"><textarea name="cols[$i][value]" cols="50" rows="5">$rs[value]</textarea></td>
	  <td width="47%" align="left" valign="top"><textarea name="cols[$i][remarks]" cols="50">$rs[remarks]</textarea></td>
	 </tr>
	 
<!--
EOT;
	$i++;
}
print <<<EOT
-->
<tr align="center" class="middle"> 
      <td align="left">&nbsp;</td>
      <td colspan="2" align="left"><input type="submit" name="Submit" value="更 新" />	  
        删除字段时，清空对应字段名称即可</td>
	  <td align="left">&nbsp;</td>
</tr>
</table>  
<!--
EOT;
}
print <<<EOT
-->
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="tablewidth"> 	 
   <tr align="center" class="head"> 
      <td colspan="3" align="left">新增加【$middb[name]】字段(如果有新增加的，请完善以下内容，无新增加时请留空)</td>
    </tr>
	
	  <tr align="center" class="middle"> 
      <td width="16%" align="right">新字段名称：</td>
	  <td width="84%" align="left">  <input name="cols[$i][name]" type="text" value="" /> 
	  (添加时必填)  </td>
	 </tr>
	   <tr align="center" class="middle"> 
      <td width="16%" align="right">新字段类型：</td>
	  <td width="84%" align="left"><select name="cols[$i][type]">
<!--
EOT;
foreach($cols_type as $key=>$val){
print <<<EOT
-->
	<option value="$key">$val</option>
<!--
EOT;
}
print <<<EOT
-->
	  </select>
	  </td>
	 </tr>
	 
	  <tr align="center" class="middle"> 
      <td width="16%" align="right">新字段预设值：</td>
	  <td width="84%" align="left">  <textarea name="cols[$i][value]" cols="50" rows="5"></textarea><br />
如果是多个选项，请注意一行一个选项,<font color="red">尽量避免空行</font></td>
	 </tr>
	 
	  <tr align="center" class="middle"> 
      <td width="16%" align="right">新字段备注：</td>
	  <td width="84%" align="left">  <textarea name="cols[$i][remarks]" cols="50"></textarea> </td>
	 </tr>
	 
	 
 
	<tr align="center" class="middle"> 
      <td align="left">&nbsp;</td>
      <td align="left"><input type="submit" name="Submit" value="保  存" /> 
        <input name="action" type="hidden" id="action" value="addcolslist" />
      <input name="mid" type="hidden" id="mid" value="$middb[mid]" />
	  </td>
	</tr>
	
</table> 

</form>
<!--
EOT;
?>
-->