<!--
<?php
$backdb[subject] || ($backdb[subject]="没有了") && ($backdb[click]="return false;");
$nextdb[subject] || ($nextdb[subject]="没有了") && ($nextdb[click]="return false;");
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td style="padding-top:4px;">{$label[show_topad]}</td>
  </tr>
</table>
<div class="MainTable MainDivTable">
  <div class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="view_article">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG"><a editurl='$webdb[www_url]/do/job.php?job=bencandy&fid=$fid&id=$id&act=do'>TOP</a></span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <div class="main_title">$rsdb[title]</div>
            <div class="fit_title">$rsdb[subhead]</div>
            <div class="top_about"><a editurl='$webdb[www_url]/do/job.php?job=bencandy&fid=$fid&id=$id&act=do'>{$rsdb[posttime]}</a> 
              来源:<a href="$rsdb[copyfromurl]" target="_blank">{$rsdb[copyfrom]}</a> 
              作者:{$rsdb[author]} 【<a 
            href="javascript:doZoom(18)">大</a> <a 
            href="javascript:doZoom(14)">中</a> <a 
            href="javascript:doZoom(12)">小</a>】 浏览:<font id="hits">{$rsdb[hits]}</font>次 
              评论:<font id="commnetsnum">{$rsdb[comments]}</font>条 </div>
            <table class="content" width="100%" cellspacing="0" cellpadding="0" style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word' align="center">
              <tr> 
                <td align="left" class="content_word" id="read_tpc"><font id="zoom" face="宋体"><span id="post1">
                  <div style="float:left;">{$AD_label['article_content']}</div>
                  $rsdb[content]</span></font></td>
              </tr>
            </table>
            <!--//投票
EOT;
if($rsdb[ifvote]){print <<<EOT
-->
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="content_vote">
              <tr> 
                <td>
                  <SCRIPT src="$webdb[www_url]/do/vote.php?job=js&aid=$rsdb[aid]"></SCRIPT>
                </td>
              </tr>
            </table>
            <!--
EOT;
}print <<<EOT
-->
            <table width="98%" border="0" cellspacing="0" cellpadding="0" style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word;' align="center">
              <tr> 
                <td colspan="2" align="center">
                  
				  
				  
                    <!--
EOT;
if($webdb[UseArticleDigg]){print <<<EOT
--><table width="74" border="0" cellspacing="0" cellpadding="0" height="71" class="Digg">
					<tr> 
                      <td class="left"></td>
                      <td valign="top" class="center"> 
                        <div class="number" id="DiggNum_$id">$rsdb[digg_num]</div>
                        <div class="title" id="DiggDo_$id"><A HREF="$webdb[www_url]/do/job.php?job=digg&type=vote&id=$id" target="DiggIframe_$id">顶一下</A></div>
                        <div style="display:none;"><iframe src="$webdb[www_url]/do/job.php?job=digg&type=getnum&id=$id" width=0 height=0 name="DiggIframe_$id" id="DiggIframe_$id"></iframe></div>
                      </td>
                      <td class="right"></td>
                    </tr></table>
                    <!--
EOT;
}print <<<EOT
-->
                  
				  
				  
                  
                    <!--
EOT;
if($webdb[UseArticleHeart]){print <<<EOT
--><table border="0" cellspacing="25" cellpadding="15">
                    <tr> 
                      <td class="article_heart" align="left">您看到此篇文章时的感受是： <br>
                        <SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<div id="article_heart"></div>');
document.write('<div style="display:none;"><iframe name="iframe_article_heart" id="iframe_article_heart" src="$webdb[www_url]/do/job.php?job=heart&id=$id" width=0 height=0></iframe></div>');
document.write('<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/cookie.js"><\/SCRIPT>');
function vote_heart(vt){
	if(getCookie('heart__'+'$id')){
		alert('^_^,你不是表过态了嘛?');
		return ;
	}
	setCookie('heart__'+'$id',1);
	window.open("$webdb[www_url]/do/job.php?job=heart&id=$id&type=vote&Vtitle="+vt,"iframe_article_heart");
}
//-->
</SCRIPT>
                      </td>
                    </tr> </table>
                    <!--
EOT;
}print <<<EOT
-->
                 
                  <table width="99%" border="0" cellspacing="0" cellpadding="0" align="center" class="tag_username">
                    <tr> 
                      <td width="71%" align="left" class="Tags">Tags：$rsdb[keywords]</td>
                      <td align="right" width="29%">责任编辑：<a href="$webdb[www_url]/member/homepage.php?uid=$rsdb[uid]" target="_blank">{$rsdb[username]}</a></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr> 
                <td colspan="2" align="center" class="page" height="25">$showpage</td>
              </tr>
              <tr align="right"> 
                <td colspan="2" height="25"  > 
                  <SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/bencandy.js"></SCRIPT>
                  【<a 
            href="javascript:doZoom(18)">大</a> <a 
            href="javascript:doZoom(14)">中</a> <a 
            href="javascript:doZoom(12)">小</a>】【<a 
            href="javascript:doPrint()">打印</a>】 
                  <input type=hidden value=1 name="h1" id="h1">
                  【<a href="javascript:ft(1)" id="Maiweb1">繁体</a>】【<a href="$webdb[www_url]/member/post.php?job=postnew&fid=$fid" target=_blank>投稿</a>】【<a href="$webdb[www_url]/do/job.php?job=collect&fid=$fid&id=$id">收藏</a>】 
                  【<a href="$webdb[www_url]/do/job.php?job=recommend&fid=$fid&id=$id" target=_blank>推荐</a>】【<a href="$webdb[www_url]/do/job.php?job=report&fid=$fid&id=$id" target=_blank>举报</a>】【<a href="$webdb[www_url]/do/comment.php?fid=$fid&id=$id" target=_blank>评论</a>】 
                  【<a 
            href="javascript:window.close()">关闭</a>】 【<a 
            href="javascript:window.close()"></a><a 
            href="#">返回顶部</a>】</td>
              </tr>
              <tr class="nextpage"> 
                <td width="50%" align="left"><a href="bencandy.php?fid=$backdb[fid]&id=$backdb[aid]" onclick="$backdb[click]">上一篇</a>：<a href="bencandy.php?fid=$backdb[fid]&id=$backdb[aid]" onclick="$backdb[click]" title="$backdb[title]">$backdb[subject]</a></td>
                <td width="50%" align="right" height="25"><a href="bencandy.php?fid=$nextdb[fid]&id=$nextdb[aid]" onclick="$nextdb[click]">下一篇</a>：<a href="bencandy.php?fid=$nextdb[fid]&id=$nextdb[aid]" onclick="$nextdb[click]" title="$nextdb[title]">$nextdb[subject]</a></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="view_article_bbs">
        <!--
EOT;
if($label[view_article_bbs]){print <<<EOT
-->
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">$label[view_article_bbs_tag]</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> $label[view_article_bbs]<div style="display:none"><!--访问统计,这段代码,会加快内容的打开速度,但是会影响右边列表的打开速度,<script src='http://pw.cnzz.com/c.php?id=$webdb[cnzz_id]' language='JavaScript' charset='gb2312'></script>--></div></td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
        <!--
EOT;
}print <<<EOT
-->
      </table>
      <!--php168
EOT;
//评论调用代码
if($webdb[showComment] && $fidDB[allowcomment] && !$rsdb[forbidcomment]){
	if( $webdb[allowGuestComment] || (!$webdb[allowGuestComment]&&$lfjid) || (!$webdb[allowGuestComment]&&$id_array) ){
		@include(html("bencandy_tpl/comment"));
	}
}print <<<EOT
php168-->
    </div>
    <div class="Side"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable" id="sonSortName">
        <tr> 
          <td class="head" height="19"> 
            <h3 class="L"></h3>
            <span class="TAG">相关栏目</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
            <!--php168
EOT;
//相关栏目名称
@include("$sortnameTPL");print<<<EOT
php168--> </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" >
        <tr> 
          <td style="padding-top:6px;" align="right">{$label[show_right_top_picad]}</td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">最新{$fidDB[M_alias]}</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<span id="article_Newtopic">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$webdb[www_url]/do/jsarticle.php?fid=$fid&type=new&rows=$webdb[JsListRows]&leng=$webdb[JsListLeng]&iframeID=article_Newtopic" width=0 height=0></iframe></div>');
//-->
</SCRIPT>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table id="ListShowPic" width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">图片主题</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<span id="article_Pictopic">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$webdb[www_url]/do/jsarticle.php?fid=$fid&type=pic&rows=4&leng=22&iframeID=article_Pictopic" width=0 height=0></iframe></div>');
//-->
</SCRIPT>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">热门{$fidDB[M_alias]}</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<span id="article_Hottopic">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$webdb[www_url]/do/jsarticle.php?fid=$fid&type=hot&rows=$webdb[JsListRows]&leng=$webdb[JsListLeng]&iframeID=article_Hottopic" width=0 height=0></iframe></div>');
//-->
</SCRIPT>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">推荐{$fidDB[M_alias]}</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<span id="article_Comtopic">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$webdb[www_url]/do/jsarticle.php?fid=$fid&type=com&rows=$webdb[JsListRows]&leng=$webdb[JsListLeng]&iframeID=article_Comtopic" width=0 height=0></iframe></div>');
//-->
</SCRIPT>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">相关{$fidDB[M_alias]}</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<span id="article_Liketopic">$Load_Msg</span>');
document.write('<div style="display:none;"><iframe src="$webdb[www_url]/do/jsarticle.php?fid=$fid&type=like&id=$id&rows=$webdb[JsListRows]&leng=$webdb[JsListLeng]&iframeID=article_Liketopic" width=0 height=0></iframe></div>');
//-->
</SCRIPT>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">{$label[article_show_tag]}</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" valign="top" align="left"> {$label[article_show]} 
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
	  </div>
    </div>
<!--
EOT;
?>
-->
