<!--
<?php
$listdb || $hide_listnews='none';		//如果是大分类的话,就不存在标题,就把标题框隐藏
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td width="70%" height="393" valign="top" class="Main"> 
       
      <!--
EOT;
foreach($listdb_moresort AS $key=>$rss){
print <<<EOT
-->
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" style="display:$hide_listpic">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG"><a href="listsp.php?fid=$rss[fid]">$rss[name]</A></span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <!--
EOT;
foreach($rss[article] AS $key1=>$rs){
print <<<EOT
-->
            <div  class="listpic"> 
              <p class=img><a href="$webdb[www_url]/do/showsp.php?fid=$rs[fid]&id=$rs[id]" title='$rs[full_title]'><img width="120" height="90" src="$rs[picurl]" border="0"></a></p>
              <p class=title><A HREF="$webdb[www_url]/do/showsp.php?fid=$rs[fid]&id=$rs[id]" title='$rs[full_title]'>$rs[title]</A></p>
            </div>
            <!--
EOT;
}print <<<EOT
-->
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <!--
EOT;
}print <<<EOT
-->
      <div id="AutoRows"> </div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable"  style="clear:both;display:$hide_listnews">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">专题列表</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="listsp">
              <!--
EOT;
foreach($listdb AS $key=>$rs){
$target=$rs[target]?'_blank':'_self';
print <<<EOT
-->
              <tr> 
                <td class="sptd">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td class="pic" width="15%"><a href="$webdb[www_url]/do/showsp.php?fid=$rs[fid]&id=$rs[id]"><img onload="this.width=100;" src="$rs[picurl]" onerror="this.src='$webdb[www_url]/images/default/noimg.jpg'" border="0"></a></td>
                      <td valign="top">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td class='title'>·<a href="$webdb[www_url]/do/showsp.php?fid=$rs[fid]&id=$rs[id]" target="$target" title='$rs[full_title]' style="font-size:14px;font-weight:bold;">$rs[title]</a></td>
                          </tr>
                          <tr>
                            <td class="about"  valign="top">$rs[about]({$rs[posttime]})</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                
                  
                </td>
              </tr>
              <!--
EOT;
}print <<<EOT
-->
            </table>
            <div class="page">$showpage</div>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
    <td width="30%" height="393" valign="top" class="Side" align="right"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head" height="19"> 
            <h3 class="L"></h3>
            <span class="TAG">热门专题</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
            <script src="$webdb[www_url]/do/jsspecial.php?fid=$fid&type=hot&rows=$webdb[JsListRows]&leng=$webdb[JsListLeng]"></script>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">推荐专题</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" valign="top" align="left"> 
            <script src="$webdb[www_url]/do/jsspecial.php?fid=$fid&type=com&rows=$webdb[JsListRows]&leng=$webdb[JsListLeng]"></script>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">广告位</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" valign="top" align="left"> 
            {$AD_label['article_list']}
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
