<!--
<?php
$width=500;						//视频宽度,可以自由更改
$height=400;					//视频高度,可以自由更改
$urlstring=mymd5($true_url);	//对真实地址进行加密处理
$_height=$height+70;
$_width=$width-5;
print <<<EOT
-->
<head>
<title>$rsdb[title]</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<style type="text/css">
*{
	font-size: 12px;
}
</style>
<SCRIPT LANGUAGE='JavaScript' src='$webdb[www_url]/do/job.php?job=playurl&urlstring=$urlstring'></SCRIPT>
</head>
<body oncontextmenu="window.event.returnValue=false" scroll="no" ondragstart="window.event.returnValue=false" onselectstart="event.returnValue=false" topmargin=0 leftmargin=0 marginwidth=0 marginheight=0>
<SCRIPT LANGUAGE="JavaScript">
p8_player(playurl,'$width','$height','$type','autostart');
</SCRIPT>
</body>
</html>
<SCRIPT LANGUAGE="JavaScript">
<!--
self.resizeTo($_width,$_height);
//-->
</SCRIPT>
<!--
EOT;
?>
-->
<!--
帮助说明:
如果要更换其它播放器的话,请把p8_player(playurl,'$width','$height','$type','autostart');代码删除,换成你要的播放器
如要使用真实地址的话,就用变量 {$true_url}
如果要使用加密地址的话,就使用 playurl 
使用加密地址,必须要注意的是,此变量是JS变量,所以你需要用document.write()方式改写你的播放器代码
系统自带播放器会自动识别RM或WMV格式,换成你的播放器就不一定能自动识别了.
-->