<!--
<?php
if($job=="record"){
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="viewarticle">
        <tr> 
          <td class="head"><b>付款记录</b></td>
        </tr>
        <tr> 
          <td class="middle">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr align="center" class="head_in"> 
                <td width="20%">付款订单号</td>
                <td width="21%">付款日期</td>
                <td width="24%">付款金额</td>
                <td width="14%">是否支付成功</td>
                <td width="11%">支付方式</td>
                <td width="10%">删除</td>
              </tr>
              <!--
EOT;
foreach($listdb AS $rs){print <<<EOT
-->
              <tr align="center"  class="trA" onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
                <td width="20%">$rs[numcode]</td>
                <td width="21%">$rs[posttime]</td>
                <td width="24%">$rs[money] 元</td>
                <td width="14%">$rs[ifpay]</td>
                <td width="11%">$rs[banktype]</td>
                <td width="10%"><a href="?job=$job&action=del_record&id=$rs[id]"><img alt='点击删除' src='./images/del_icon2.gif' border=0></a></td>
              </tr>
              <!--
EOT;
}print <<<EOT
-->
              <tr align="center"> 
                <td colspan="6">$showpage</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
}else{
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="viewarticle">
        <tr> 
          <td class="head"> 金币充值</td>
        </tr>
        <tr> 
          <td class="middle"> 
            <table width="100%" border="0" cellspacing="5" cellpadding="5">
              <tr align="left"> 
                <td height="22" colspan="5"><br>
                  1.积分不足,网站很多功能受限制,那怎么办?可以用金币兑换.没有金币又怎么办?可以通过以下方式购买<br>
                  <br>
                  2.你当前拥有金币数为<img src="images/moneycard.gif"><b><font color="#FF0000"> 
                  {$lfjdb[moneycard]}</font></b>个,每一块钱人民币可换取<b><font color="#0000FF">{$webdb[alipay_scale]}</font></b>个金币,你可以选择以下方式在线即时购买金币</td>
              </tr>
              <tr align="center"> 
                <td height="10" width="21%"><img src="../images/default/yeepay_logo.gif" width="96" height="37"> 
                  <input type="radio" name="paytype" value="yeepay" checked style="border:0px;" id="pay_yee">
                </td>
                <td height="10" width="21%"><img src="../images/default/tenpay_logo.gif" width="96" height="37"> 
                  <input type="radio" name="paytype" value="ten" style="border:0px;" id="pay_ten">
                </td>
                <td height="10" width="20%"><img src="../images/default/alipay_logo.gif" width="96" height="37"> 
                  <input type="radio" name="paytype" value="ali" style="border:0px;" id="pay_ali">
                </td>
                <td height="10" width="19%"><img src="../images/default/99bill_logo.gif" width="96" height="37"> 
                  <input type="radio" name="paytype" value="99bi" style="border:0px;" id="pay_99bi">
                </td>
                <td height="10" width="19%"><img src="../images/default/card_logo.gif" width="96" height="37"> 
                  <input type="radio" name="paytype" value="card" style="border:0px;" id="pay_card">
                </td>
              </tr>
              <tr align="center"> 
                <td height="74" colspan="5"><a href="money.php?job=record"><img src="images/button_czrecord.gif" border="0"></a> 
                  　　<a href="javascript:paytype();"><img src="images/button_cz.gif" border="0"></a> 
                  <SCRIPT LANGUAGE="JavaScript">
<!--
function paytype(){
	var url='';
	if(document.getElementById("pay_ten").checked==true){
		url='tenpay';
	}
	else if(document.getElementById("pay_ali").checked==true){
		url='alipay';
	}
	else if(document.getElementById("pay_99bi").checked==true){
		url='99pay';
	}
	else if(document.getElementById("pay_yee").checked==true){
		url='yeepay';
	}
	else {
		window.open("../do/moneycard.php");
		return ;
	}
	window.open("../do/buymoneycard.php?paytype="+url);
}
//-->
</SCRIPT>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="viewarticle">
        <tr> 
          <td class="head"> 金币兑换积分</td>
        </tr>
        <tr> 
          <td class="middle"> 
            <table width="100%" border="0" cellspacing="5" cellpadding="5">
              <form name="form1" method="post" action="?&" enctype="multipart/form-data">
                <tr> 
                  <td height="25"> 
                    <table width="100%" border="0" cellspacing="1" cellpadding="6" style="margin-bottom:40px;margin-top:20px;">
                      <tr> 
                        <td colspan="3" style="border-bottom:1px solid #ccc;background:#F6F6F6;padding:4px 0 3px 3px;">你目前的{$webdb[MoneyName]}有 
                          <img src="images/money.gif"> <b><font color="#0000FF">{$lfjdb[money]}</font></b>{$webdb[MoneyDW]},金币有 
                          <img src="images/moneycard.gif"><b><font color="#FF0000"> 
                          {$lfjdb[moneycard]}</font></b>个。每个金币可兑换<b><font color="#0000FF">{$webdb[MoneyRatio]}</font></b>个{$webdb[MoneyName]}</td>
                      </tr>
                      <tr> 
                        <td width="28%" style="padding:15px 0 0 0;">把金币兑换为积分</td>
                        <td width="36%" style="padding:15px 0 0 0;"> 请输入金币数 
                          <input type="text" name="atc_moneycard" style="width:50px;" size="5"  >
                          个</td>
                        <td width="36%" style="padding:15px 0 0 0;"> 
                          <input type="submit" name="Submit3" value="提 交">
                          <input type="hidden" name="action" value="money2card">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </form>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="viewarticle">
        <tr> 
          <td class="head"> 积分兑换金币</td>
        </tr>
        <tr> 
          <td class="middle"> 
            <table width="100%" border="0" cellspacing="5" cellpadding="5">
              <form name="form1" method="post" action="?&" enctype="multipart/form-data">
                <tr> 
                  <td height="25"> 
                    <!--
EOT;
if($webdb[Money2card]){print <<<EOT
-->
                    <table width="100%" border="0" cellspacing="1" cellpadding="6">
                      <tr> 
                        <td colspan="3" style="border-bottom:1px solid #ccc;background:#F6F6F6;">你目前的{$webdb[MoneyName]}有 
                          <img src="images/money.gif"> <b><font color="#0000FF">{$lfjdb[money]}</font></b>{$webdb[MoneyDW]},金币有 
                          <img src="images/moneycard.gif"><b><font color="#FF0000"> 
                          {$lfjdb[moneycard]}</font></b>个。每<b><font color="#0000FF">{$webdb[MoneyRatio]}</font></b>个{$webdb[MoneyName]}可兑换1个金币</td>
                      </tr>
                      <tr> 
                        <td width="28%">把积分兑换为金币</td>
                        <td width="36%"> 请输入{$webdb[MoneyName]} 
                          <input type="text" name="atc_money" style="width:50px;" size="5"  >
                          {$webdb[MoneyDW]}</td>
                        <td width="36%"> 
                          <input type="submit" name="Submit3" value="提 交">
                          <input type="hidden" name="action" value="card2money">
                        </td>
                      </tr>
                      <tr> 
                        <td colspan="3">&nbsp;</td>
                      </tr>
                    </table>
                    <!--
EOT;
}else{print <<<EOT
-->
                    <div align="center"><b><font color="#FF0000">管理员关闭了此功能!!</font></b></div>
                    <!--
EOT;
}print <<<EOT
-->
                  </td>
                </tr>
              </form>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
}
?>
-->
