<!--
<?php
if($job=="view"){
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="viewarticle">
        <tr> 
          <td class="head"><b>订单详情</b></td>
        </tr>
        <tr> 
          <td class="middle"> 
            <table width="100%" border="0" cellspacing="5" cellpadding="0"><tr>
                <td width="8%">订单号:</td>
                <td width="92%">$rsdb[Id] </td>
              </tr>
              <tr>
                <td width="8%">联系人:</td>
                <td width="92%">$rsdb[truename] $rsdb[sex] </td>
              </tr>
              <tr>
                <td width="8%">联系手机:</td>
                <td width="92%">$rsdb[telphone]</td>
              </tr>
              <tr>
                <td width="8%">联系电话:</td>
                <td width="92%">$rsdb[mobphone]</td>
              </tr>
              <tr>
                <td width="8%">联系邮箱:</td>
                <td width="92%">$rsdb[email]</td>
              </tr>
              <tr>
                <td width="8%">联系QQ:</td>
                <td width="92%">$rsdb[oicq]</td>
              </tr>
              <tr>
                <td width="8%">邮政编码:</td>
                <td width="92%">$rsdb[postalcode]</td>
              </tr>
              <tr>
                <td width="8%">送货方式:</td>
                <td width="92%">$rsdb[sendtype]</td>
              </tr>
              <tr>
                <td width="8%">付款方式:</td>
                <td width="92%">$rsdb[paytype]</td>
              </tr>
              <tr>
                <td width="8%">收货地址:</td>
                <td width="92%">$rsdb[address]</td>
              </tr>
              <tr>
                <td width="8%">付注信息:</td>
                <td width="92%">$rsdb[othersay]</td>
              </tr>
              <tr>
                <td width="8%">下单日期:</td>
                <td width="92%">$rsdb[posttime]</td>
              </tr>
              <tr>
                <td width="8%">发货与否:</td>
                <td width="92%">$rsdb[ifsend]</td>
              </tr>
              <tr>
                <td width="8%">付款情况:</td>
                <td width="92%">$rsdb[ifpay]</td>
              </tr>
              <tr>
                <td width="8%">应付金额:</td>
                <td width="92%">$rsdb[totalmoney]</td>
              </tr>
               
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="head_in" align="center"> 
                <td width="33%">商品名称 </td>
                <td width="19%">商品分类</td>
                <td width="13%">商品型号</td>
                <td width="19%">商品价格</td>
                <td width="16%">数量</td>
              </tr>
              <!--
EOT;
foreach($listdb AS $rs){
print <<<EOT
-->
              <tr align="center"  class="trA" onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
                <td width="33%"><a href="../bencandy.php?fid=$rs[fid]&id=$rs[aid]" target="_blank">$rs[title]</a></td>
                <td width="19%">$rs[fname]</td>
                <td width="13%">$rs[shoptype]</td>
                <td width="19%">$rs[nowprice]</td>
                <td width="16%">$rs[amount]</td>
              </tr>
              <!--
EOT;
}
print <<<EOT
-->
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center">
                  <p>&nbsp;</p>
                  <p>[<a href="?job=list">点击返回</a>]</p>
                  <p>&nbsp;</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
}else{
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="viewarticle">
        <tr> 
          <td class="head"><b>所有商品订单</b></td>
        </tr>
        <tr> 
          <td class="middle"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr align="center" class="head_in"> 
                <td width="16%">订单号</td>
                <td width="18%">下单日期</td>
                <td width="20%">应付款金额</td>
                <td width="16%">付款情况</td>
                <td width="13%">发货与否</td>
                <td width="8%">详情</td>
                <td width="9%">删除</td>
              </tr>
              <!--
EOT;
foreach($listdb AS $rs){print <<<EOT
-->
              <tr align="center"  class="trA" onMouseOver="this.className='trB'" onMouseOut="this.className='trA'"> 
                <td width="16%">$rs[Id]</td>
                <td width="18%">$rs[posttime]</td>
                <td width="20%">$rs[totalmoney] 元</td>
                <td width="16%">$rs[ifpay]</td>
                <td width="13%">$rs[ifsend]</td>
                <td width="8%"><a href="?job=view&id=$rs[id]"><img alt='浏览' src='../member/images/icon_view.gif' border=0></a></td>
                <td width="9%"><a href="?job=$job&action=del_record&id=$rs[id]" onclick="return confirm('你确实要删除吗?');"><img alt='点击删除' src='./images/del_icon2.gif' border=0></a></td>
              </tr>
              <!--
EOT;
}print <<<EOT
-->
              <tr align="center"> 
                <td colspan="7">$showpage</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
}
?>
-->
