<!--
<?php
print <<<EOT
-->
<link rel="stylesheet" type="text/css" href="$Murl/images/$STYLE/brand/style.css">
<div class="leftMain">
<!--头部翻滚广告-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="DAADC0_order"  style="padding:0px; height:180px">
  <tr>
    <td>
{$label[brand_banner]}

</td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="brandlist">
  <tr class="head">
    <td class="title" width="160" >
	<font style="float:left">最新入驻品牌</font>	</td>
    <td class="right" width="540">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" class="middle" style="height:150px;">
<!--
EOT;
foreach($new_brand as $rs){ 
print <<<EOT
-->
	
	<span class="brand">
	<a href="{$Brand_db[url][$rs[bid]]}" target="_blank"><img src="{$Brand_db[picurl][$rs[bid]]}"  border="0" width="120" height="40" onerror="this.src='$Murl/images/$STYLE/brandnopic.jpg';" class="logo" alt="{$Brand_db[name][$rs[bid]]}"/></a>
	<a href="{$Brand_db[url][$rs[bid]]}" target="_blank"><strong>{$Brand_db[name][$rs[bid]]}</strong></a></span> 
	
<!--
EOT;
}
print <<<EOT
-->	</td>
    </tr>
</table>



<!--
EOT;
if(!$fid){
foreach($bcategory->categories as $key=>$val){
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="brandlist">
  <tr class="head">
    <td class="title" width="160" >
	<font style="float:left">{$val['name']}</font><font style="float:right; padding-top:5px;"><a href="?fid=$key"><img src="$Murl/images/$STYLE/more.gif" border="0" /></a></font>	</td>
    <td class="right" width="540">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" class="middle" style="height:200px;">
<!--
EOT;
$i=1;
foreach($Fid_db_brand[$key] as $bid){ 
if($i>10)break;
print <<<EOT
-->
	
	<span class="brand">
	<a href="{$Brand_db[url][$bid]}" target="_blank"><img src="{$Brand_db[picurl][$bid]}"  border="0" width="120" height="40" onerror="this.src='$Murl/images/$STYLE/brandnopic.jpg';" class="logo" alt="{$Brand_db[name][$bid]}"/></a>
	<a href="{$Brand_db[url][$bid]}" target="_blank"><strong>{$Brand_db[name][$bid]}</strong></a></span> 
	
<!--
EOT;
$i++;
}
print <<<EOT
-->	</td>
    </tr>
</table>

<!--
EOT;
}

}else{

print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="brandlist">
  <tr class="head">
    <td class="title" width="160" >
	<font style="float:left">{$cat[name]}</font><font style="float:right; padding-top:5px;"></font>	</td>
    <td class="right" width="540">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" class="middle"  height="200">


<!--
EOT;

foreach($oneFid_db_brand as $bid){ 

print <<<EOT
-->
	
	<span class="brand">
	<a href="{$Brand_db[url][$bid]}" target="_blank"><img src="{$Brand_db[picurl][$bid]}"  border="0" width="120" height="40" onerror="this.src='$Murl/images/$STYLE/brandnopic.jpg';" class="logo" alt="{$Brand_db[name][$bid]}"/></a>
	<a href="{$Brand_db[url][$bid]}" target="_blank"><strong>{$Brand_db[name][$bid]}</strong></a></span> 
	
<!--
EOT;
}
print <<<EOT
--></td>
    </tr>
</table>

<!--
EOT;
}
print <<<EOT
-->

</div>

<div class="rightMain">
<!--咨询-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="brand_news">
  <tr>
    <td class="head" align="left"><font style="float:left">品牌咨询</font><font style="float:right">&nbsp;</font></td>
  </tr>
  <tr>
    <td class="middle" align="left" valign="top">{$label[brandnews]}</td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="brand_hot">
  <tr>
    <td class="head" align="left">
	<div class="title">
	<span class="left">推荐品牌</span>
	<!--<span class="right">{$label[brandbest_right]}</span>-->
	</div>
	
  </tr>
  <tr>
    <td class="middle" align="left" valign="top">
<div class="content">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<!--
EOT;
foreach($levellistdb as $rs){
$name=get_word($Brand_db[name][$rs[bid]],20);
print <<<EOT
-->

	<tr>
    <td class="top" width="130"><a href="{$Brand_db[url][$rs[bid]]}" target="_blank"><img src="{$Brand_db[picurl][$rs[bid]]}"  border="0" width="120" height="40" onerror="this.src='$Murl/images/$STYLE/brandnopic.jpg';" alt="{$Brand_db[name][$rs[bid]]}"/></a>	</td><td  class="top"><a href="{$Brand_db[url][$rs[bid]]}" target="_blank"><strong>$name</strong></a></td>
  </tr>
<!--
EOT;
}
print <<<EOT
-->
</table>
</div>

	</td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="brand_hot">
  <tr>
    <td class="head" align="left">
	<div class="title">
	<span class="left">热门品牌</span>
	<!--<span class="right">{$label[brandhot_right]}</span>-->
	</div>
	</td>
  </tr>
  <tr>
    <td class="middle" align="left" valign="top">
	<div class="content">
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
<!--
EOT;
foreach($hotlistdb as $rs){
$name=get_word($Brand_db[name][$rs[bid]],20);
print <<<EOT
-->

	<tr>
    <td class="top" width="130"><a href="{$Brand_db[url][$rs[bid]]}" target="_blank"><img src="{$Brand_db[picurl][$rs[bid]]}"  border="0" width="120" height="40" onerror="this.src='$Murl/images/$STYLE/brandnopic.jpg';" alt="{$Brand_db[name][$rs[bid]]}"/></a>	</td><td  class="top"><a href="{$Brand_db[url][$rs[bid]]}" target="_blank"><strong>$name</strong></a></td>
  </tr>
<!--
EOT;
}
print <<<EOT
-->
</table></div>

	</td>
  </tr>
</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{$label[brand_right1]}</td>
  </tr>
  <tr>
    <td>{$label[brand_right2]}</td>
  </tr>
    <tr>
    <td>{$label[brand_right3]}</td>
  </tr>
    <tr>
    <td>{$label[brand_right4]}</td>
  </tr>
    <tr>
    <td>{$label[brand_right5]}</td>
  </tr>
</table>


</div>


<br  clear="all"/>
<br  clear="all"/>
<!--
EOT;
?>
-->