<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="393" valign="top" class="Main"><!--
EOT;
if($paytype=='yeepay'){print <<<EOT
--> <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" style="display:$hide_listpic" >
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">欢迎使用易宝支付在线支付系统</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <form name="form1" method="post" action="?vo_id=$vo_id&banktype=yeepay">
            <td class="middle" align="center"> <table width="100%" border="0" cellspacing="2" cellpadding="2">
                <tr>
                  <td align="left"><b><font color="#0000FF">切换支付方式:</font></b> [<a href="?id=$id&paymoeny=$paymoeny&paytype=yeepay">易宝支付</a>] 
                    [<a href="?id=$id&paymoeny=$paymoeny&paytype=tenpay">财付通</a>] [<a href="?id=$id&paymoeny=$paymoeny&paytype=alipay">支付宝</a>] 
                    [<a href="?id=$id&paymoeny=$paymoeny&paytype=99pay">快钱</a>]</td>
                </tr>
              </table>
             
              <a href="http://www.yeepay.com/" target="_blank"><img src="$webdb[www_url]/images/$STYLE/yeepay_logo.gif" border="0"></a><br>
              您确定要支付金额 
              <input name="atc_moeny" type="text" value="$atc_moeny" readonly size="6">
              元（RMB）吗? 
              <input type="submit" name="Submit" value="确定支付">
              <br>
              <br></td>
          </form>
        </tr>
        <tr>
          <td class="foot">
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
     <!--
EOT;
}elseif($paytype=='tenpay'){print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" style="display:$hide_listpic" >
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">欢迎使用财付通在线支付系统</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <form name="form1" method="post" action="?vo_id=$vo_id&banktype=tenpay">
            <td class="middle" align="center"> <table width="100%" border="0" cellspacing="2" cellpadding="2">
                <tr>
                  <td align="left"><b><font color="#0000FF">切换支付方式:</font></b> [<a href="?id=$id&paymoeny=$paymoeny&paytype=yeepay">易宝支付</a>] 
                    [<a href="?id=$id&paymoeny=$paymoeny&paytype=tenpay">财付通</a>] [<a href="?id=$id&paymoeny=$paymoeny&paytype=alipay">支付宝</a>] 
                    [<a href="?id=$id&paymoeny=$paymoeny&paytype=99pay">快钱</a>]</td>
                </tr>
              </table>
             
              <img src="$webdb[www_url]/images/$STYLE/tenpay_logo.gif"><br>
              您确定要支付金额 
              <input name="atc_moeny" type="text" value="$atc_moeny" readonly size="6">
              元（RMB）吗? 
              <input type="submit" name="Submit" value="确定支付">
              <br>
              <br></td>
          </form>
        </tr>
        <tr>
          <td class="foot">
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
     <!--
EOT;
}elseif($paytype=='99pay'){print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" style="display:$hide_listpic" >
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">欢迎使用快钱在线支付系统</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <form name="form1" method="post" action="?vo_id=$vo_id&banktype=99pay">
            <td class="middle" align="center"> 
              <table width="100%" border="0" cellspacing="2" cellpadding="2">
                <tr>
                  <td align="left"><b><font color="#0000FF">切换支付方式:</font></b> [<a href="?id=$id&paymoeny=$paymoeny&paytype=yeepay">易宝支付</a>] 
                    [<a href="?id=$id&paymoeny=$paymoeny&paytype=tenpay">财付通</a>] [<a href="?id=$id&paymoeny=$paymoeny&paytype=alipay">支付宝</a>] 
                    [<a href="?id=$id&paymoeny=$paymoeny&paytype=99pay">快钱</a>]</td>
                </tr>
              </table>
             
              <img src="$webdb[www_url]/images/$STYLE/99bill_logo.gif"><br>
您确定要支付金额 
              <input name="atc_moeny" type="text" value="$atc_moeny" readonly size="6">
              元（RMB）吗? 
              <input type="submit" name="Submit" value="确定支付">
              <br>
              <br></td>
          </form>
        </tr>
        <tr>
          <td class="foot">
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      
    
<!--
EOT;
}else{print <<<EOT
-->
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" style="display:$hide_listpic" >
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">欢迎使用支付宝在线支付系统</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <form name="form1" method="post" action="?vo_id=$vo_id&banktype=alipay">
            <td class="middle" align="center"> <table width="100%" border="0" cellspacing="2" cellpadding="2">
                <tr>
                  <td align="left"><b><font color="#0000FF">切换支付方式:</font></b> [<a href="?id=$id&paymoeny=$paymoeny&paytype=yeepay">易宝支付</a>] 
                    [<a href="?id=$id&paymoeny=$paymoeny&paytype=tenpay">财付通</a>] [<a href="?id=$id&paymoeny=$paymoeny&paytype=alipay">支付宝</a>] 
                    [<a href="?id=$id&paymoeny=$paymoeny&paytype=99pay">快钱</a>]</td>
                </tr>
              </table>
             
              <img src="$webdb[www_url]/images/$STYLE/alipay_logo.gif"><br>
              您确定要支付金额
              <input name="atc_moeny" type="text" value="$atc_moeny" readonly size="6">
              元（RMB）吗? 
              <input type="submit" name="Submit" value="确定支付">
              <br>
            <br></td>
          </form>
        </tr>
        <tr>
          <td class="foot">
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
<!--
EOT;
}print <<<EOT
-->
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
