<!--
<?php
print <<<EOT
--> 
       
  <form name="form" action="?" method="post" id="form">    
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="redtitle">
        <tr> 
          <td class="head"><span class="title">询价 &gt; $action_name</span></td>
        </tr>
     <tr> 
   <td class="content">   
          <div class="form_title">接受方信息 (<strong>{$listnum}</strong>条信息)</div>
          <div class="form_content">
<!--
EOT;
$i=1;
foreach($listdb AS $key=>$rs){ 
print <<<EOT
--> 
	<li>{$i}、<a href="$Mdomain/bencandy.php?fid=$rs[fid]&id=$rs[id]" target="_blank">$rs[title]</a> (<a href="$Mdomain/homepage.php?uid=$rs[uid]" target="_blank">$rs[owner_name]</a>)</li>
<!--
EOT;
$i++;
}
print <<<EOT
-->         
          </div>
          
          
          <div class="form_title">填写内容</div>
          <div class="form_content">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100"><li>询价标题：</li></td>
    <td>(每一条询价信息都将独立发送，请完善每条的标题，推荐默认标题)</td>
  </tr>
  


          <!--
EOT;
$i=1;
foreach($listdb AS $key=>$rs){ 
print <<<EOT
--> 
    <tr>
    <td align="right"><li>{$i}、</li></td>
    <td><li><input type="text" name="titles[{$rs[id]}]" value="我对您发布的“$rs[title_short]”很感兴趣"  size="90"/><input type="hidden" name="owner_uid[$rs[id]]" value="$rs[uid]" /><input type="hidden" name="owner_username[$rs[id]]" value="$rs[username]" /></a> <font color="red">*</font></li></td>
  </tr>
<!--
EOT;
$i++;
}
print <<<EOT
--> 
<tr>
    <td><li>订货总量：</li></td>
    <td><li><input type="text" name="quantity"  value="" size="10"/></li></td>
  </tr>
 <tr>
    <td><li>期望价格：</li></td>
    <td><li><input type="text" name="hope_price"  value="" size="10"/> (单价)</li></td>
  </tr>
<tr>
    <td><li>还想了解：</li></td>
    <td><li>$wantinfo_htm</li></td>
  </tr>
  <tr>
    <td><li>补充说明：</li></td>
    <td><li>$addinfo_htm</li>
    <li><textarea name="add_content" id="add_content" cols="60" rows="5"></textarea></li>
		<SCRIPT language="javascript">
            function changeaddContent(autoSelect){
			 	if (autoSelect.selectedIndex !=0){			 		
			 		document.form.add_content.value = autoSelect[autoSelect.selectedIndex].value;
					autoSelect.selectedIndex=0;
			 	}
				
			 }
	     </SCRIPT></td>
  </tr>
  <tr>
    <td><li>希望回复：</li></td>
    <td><script src="$Murl/images/$STYLE/setday.js"></script><li><input  onclick="setday(this,1)" type='text' name='hopereply_time' id='hopereply_time' size='20' value=''>在此之前</li></td>
  </tr>
  
</table>
          </div>
          
          
          
          <div class="form_title">我的联系方式</div>
          <div class="form_content">
          <li>为了让对方能方便及时的联系到您，请确认一下联系方式:</li>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right"><li>联系人姓名：</li></td>
    <td><li><input name="contact_info[truename]" type="text" id="contact_info[truename]" value="$contact_info[qy_contact]" /><font color="red">*</font></li></td>
    <td align="right"><li>联系人职位：</li></td>
    <td ><li><input name="contact_info[qy_contact_zhiwei]" type="text" id="contact_info[qy_contact_zhiwei]" value="$contact_info[qy_contact_zhiwei]" /></li></td>
  </tr>
  <tr>
    <td align="right"><li>公司名称：</li></td>
    <td><li><input name="contact_info[company_name]" type="text" id="contact_info[company_name]" value="$contact_info[title]" /><font color="red">*</font></li></td>
    <td align="right"><li>固定电话：</li></td>
    <td><li><input name="contact_info[qy_contact_tel]" type="text" id="contact_info[qy_contact_tel]" value="$contact_info[qy_contact_tel]" /><font color="red">*</font></li></td>
  </tr>
  <tr>
    <td align="right"><li>移动电话：</li></td>
    <td><li><input name="contact_info[qy_contact_mobile]" type="text" id="contact_info[qy_contact_mobile]" value="$contact_info[qy_contact_mobile]" /></li></td>
    <td align="right"><li>邮箱地址：</li></td>
    <td><li><input name="contact_info[qy_contact_email]" type="text" id="contact_info[qy_contact_email]" value="$contact_info[qy_contact_email]" /><font color="red">*</font></li></td>
  </tr>
  <tr>
    <td align="right"><li>传真：</li></td>
    <td><li><input name="contact_info[qy_contact_fax]" type="text" id="contact_info[qy_contact_fax]" value="$contact_info[qy_contact_fax]" /></li></td>
    <td align="right"><li>QQ：</li></td>
    <td><li><input name="contact_info[qq]" type="text" id="contact_info[qq]" value="$contact_info[qq]" /></li></td>
  </tr>
</table>



        </div>
<div class="form_title">请珍惜每一次询价机会，24小时内只免费发送询价单<font color="blue">$webdb[freeSentform1]</font>条,本次发送<font color="red">{$listnum}</font>条；</div>
          <div class="form_content">
          <center>
            <input name="ids_str" type="hidden" id="ids_str" value="$ids_str" />
            <input name="action" type="hidden" id="action" value="subform1" />
            <input  type="submit" name="s" value="发送询价单 &gt;&gt;" class="form_submit"/></center>
          </div>
</li>
   </td>
  </tr>
</table>
</form>


<!--
EOT;
?>
-->