<!--
<?php

if($job=='jobs' || $job=='edit_jobs'){
print <<<EOT
-->
<script>
var category_json = $category_json;
</script>
<form id="form1" name="form1" method="post" action="$Mdomain/jobs_post.php" target="postform" onsubmit="return checkdata(this);">
  <table width="100%" cellspacing="0" cellpadding="0" class="jobs_post">
    <tr>
      <td width="98%">&nbsp;</td>
      <td width="2%" rowspan="2" valign="top"><img src="$Murl/images/$STYLE/invite.jpg"  border="0"/></td>
    </tr>
    <tr>
      <td style="padding-left:50px; padding-top:10px;"><table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="title"><img src="$Murl/images/$STYLE/ico4.gif" /> <strong>基本信息</strong> (<strong><font color="#FF0000">*</font></strong>为必填项目)</td>
          </tr>
          <tr>
            <td><table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="15%" align="right" valign="top"><strong><font color="#FF0000">*</font></strong>职位类别：</td>
                  <td width="39%" align="left" style="padding-top:5px;"><span id="show_jobs_sort_1">$jobs_sort_1</span></td>
                  <td width="46%" align="left">&nbsp;</td>
                </tr>
                <tr>
                  <td align="right" valign="top"><strong><font color="#FF0000">*</font></strong>职位名称：</td>
                  <td align="left"><input name="title" type="text" id="title" value="$title" maxlength="20" size="30" />
                    <br />
                    2-20个字符.</td>
                  <td align="left">&nbsp;</td>
                </tr>
                <tr>
                  <td  align="right">招聘地区：</td>
                  <td >$province_fid<span id="showcity">$city_fid</span>
                    <script language="JavaScript" type="text/javascript">
<!--
function choose_where(fup,fid,typeid){
	var url="$Murl/job.php?job=getcity&typeid="+typeid+"&fup="+fup+"&fid="+fid;
	var target=typeid+'iframe_city';
	try{
	document.getElementById(typeid+"form_city").action=url;
	document.getElementById(typeid+"form_city").target=target;
	document.getElementById(typeid+"form_city").submit();
	}catch(e){
	document.getElementById(typeid+"iframe_city").src=url;
	}
}

choose_where("$city[0]","",'');

function choose_jobSort(sid,step){
	var url="$Murl/job.php?job=getjob_sort&step="+step+"&sid="+sid;
	if(sid==0) return false;
	try{
	document.getElementById("form_city").action=url;
	document.getElementById("form_city").target='iframe_city';
	document.getElementById("form_city").submit();
	}catch(e){
	document.getElementById("iframe_city").src=url;
	}
}
//-->
  </script>
                  </td>
                  <td >&nbsp;</td>
                </tr>
              </table></td>
          </tr>
        </table>
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="title"><img src="$Murl/images/$STYLE/ico4.gif" /> <strong>条件信息</strong> (<strong><font color="#FF0000">*</font></strong>为必填项目)</td>
          </tr>
          <tr>
            <td><table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="15%"></td>
                  <td width="85%"></td>
                </tr>
                $jobs_form_template
              </table></td>
          </tr>
        </table>
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="title"><img src="$Murl/images/$STYLE/ico4.gif" /> <strong>岗位要求</strong> (<strong><font color="#FF0000">*</font></strong>为必填项目)</td>
          </tr>
          <tr>
            <td><table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="15%" align="right" valign="top"><strong><font color="#FF0000">*</font></strong>岗位职责：</td>
                  <td width="85%" align="left"><textarea name="hr_work" cols="70" rows="10">$hr_work</textarea>
                    <br />
                    最少填写10个字符。</td>
                </tr>
                <tr>
                  <td width="15%" align="right" valign="top"><strong><font color="#FF0000">*</font></strong>能力要求：</td>
                  <td width="85%" align="left"><textarea name="hr_info" cols="70" rows="10">$hr_info</textarea>
                    <br />
                    最少填写10个字符。</td>
                </tr>
              </table></td>
          </tr>
        </table>
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="title"><img src="$Murl/images/$STYLE/ico4.gif" /> <strong>招聘单位信息</strong>
              <!--
EOT;
if(!$rt[rid]){
print <<<EOT
-->
              <font color="red">(如果您还未登记商家信息，<a href="$Mdomain/post.php?ctype=3">点此登记</a>。)</font>
              <!--
EOT;
}
print <<<EOT
-->
            </td>
          </tr>
          <tr>
            <td><table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="15%" align="right" valign="top"><strong><font color="#FF0000">*</font></strong>单位名称：</td>
                  <td width="85%" align="left"><input type="text" name="companyname"  value="$companyname" size="50" />
                  </td>
                </tr>
                <tr>
                  <td width="15%" align="right" valign="top"><strong><font color="#FF0000">*</font></strong>单位介绍：</td>
                  <td width="85%" align="left"><textarea name="companyintro" cols="70" rows="10">$companyintro</textarea>
                  </td>
                </tr>
                <tr>
                  <td width="15%" align="right" valign="top"><strong><font color="#FF0000">*</font></strong>联系方式：</td>
                  <td width="85%" align="left"><textarea name="company_contact" cols="70" rows="10">$company_contact</textarea>
                  </td>
                </tr>
              </table></td>
          </tr>
        </table>
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="title"><img src="$Murl/images/$STYLE/ico4.gif" /> <strong>完成</strong></td>
          </tr>
          <tr>
            <td height="50" align="center"><br />
              <input type="submit" name="Submit" id="Submit" value="立 即 发 布"  class="btn"   />
              <input name="jobs_id" type="hidden" id="jobs_id" value="$jobs_id" />
              <input name="job" type="hidden" id="job" value="$job" />
              <input name="step" type="hidden" id="step" value="$step" /></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td colspan="2" align="center" ><br />
        <div id="showmsg" style="color:red">&nbsp;</div></td>
      </td>
    </tr>
  </table>
  </td>
  </tr>
  </table>
</form>
<div style="display:none;">
  <iframe width=1 height=1 src='' id="iframe_city" name="iframe_city"></iframe>
  <form name="form1" method="post" action="" target="iframe_city" id="form_city">
  </form>
  <iframe width=100 height=100 src='' id="postform" name="postform"></iframe>
</div>
<script language="javascript">
function checkdata(myform){
	if(myform.title.value=='') {
		alert('职位名称不能为空'); 
		myform.title.focus();
		return false;
	}
	if(myform.title.value.length<2 || myform.title.value.length>20) {
		alert('职位名称是2-20个字符'); 
		myform.title.focus();
		return false;
	}
	if(myform.hr_info.value.length<10){
		alert('对应征者的能力要求不能少于10个字符');
		myform.hr_info.focus();
		 return false;
	}
	if(myform.hr_work.value==''){
		alert('岗位要求必须填写');
		myform.hr_contact.focus();
		 return false;
	}
	
	myform.Submit.disabled="disabled";
	return true;
}
</script>
<!--
EOT;





}elseif($job=='resume' || $job=='edit_resume'){

print <<<EOT
-->
<form id="form1" name="form1" method="post" action="jobs_post.php?" target="postform" onsubmit="return checkdata(this);" enctype="multipart/form-data">
  <table width="100%" cellspacing="0" cellpadding="0" class="jobs_post">
    <tr>
      <td width="98%">&nbsp;</td>
      <td width="2%" rowspan="2" valign="top"><img src="$Murl/images/$STYLE/resume_create.jpg"  border="0"/></td>
    </tr>
    <tr>
      <td style="padding-left:50px; padding-top:10px;"><table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="title"><img src="$Murl/images/$STYLE/ico4.gif" /> <strong>基本信息</strong> (<strong><font color="#FF0000">*</font></strong>为必填项目)</td>
          </tr>
          <tr>
            <td><table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="15%" align="right" valign="top"><strong><font color="#FF0000">*</font></strong>职位类别：</td>
                  <td width="85%" align="left"><span id="show_jobs_sort_1">$jobs_sort_1</span></td>
                </tr>
                <tr>
                  <td align="right" valign="top"><strong><font color="#FF0000">*</font></strong>真实姓名：</td>
                  <td align="left"><input name="truename" type="text" id="truename" value="$truename" maxlength="10" />
                    <br />
                    2-7个中文或2-15个英文.</td>
                </tr>
                <tr>
                  <td align="right" valign="top">英 文 名：</td>
                  <td align="left"><input name="eng_name" type="text" id="eng_name" value="$eng_name" maxlength="15"/>
                    <br />
                    2-7个中文或2-15个英文.</td>
                </tr>
                <tr>
                  <td  align="right">居住地区：</td>
                  <td >$province_fid<span id="showcity">$city_fid</span>
                    <script language="JavaScript" type="text/javascript">
<!--
function choose_where(fup,fid,typeid){
	var url="$Murl/job.php?job=getcity&typeid="+typeid+"&fup="+fup+"&fid="+fid;
	var target=typeid+'iframe_city';
	try{
	document.getElementById(typeid+"form_city").action=url;
	document.getElementById(typeid+"form_city").target=target;
	document.getElementById(typeid+"form_city").submit();
	}catch(e){
	document.getElementById(typeid+"iframe_city").src=url;
	}
}
choose_where("$province_id","$city_id",'');
function choose_jobSort(sid,step){

	var url="$Murl/job.php?job=getjob_sort&step="+step+"&sid="+sid;
	if(sid==0) return false;
	try{
	document.getElementById("form_city").action=url;
	document.getElementById("form_city").target='iframe_city';
	document.getElementById("form_city").submit();
	}catch(e){
	document.getElementById("iframe_city").src=url;
	}
}



//-->
  </script>
                  </td>
                </tr>
                <tr>
                  <td align="right" valign="top">详细地址：</td>
                  <td align="left"><input type="text" name="address" value="$address" size="40"  maxlength="100"/>
                  </td>
                </tr>
                <tr>
                  <td align="right" valign="top"><strong><font color="#FF0000">*</font></strong>联系电话：</td>
                  <td align="left"><input type="text" name="phones" value="$phones" size="40" maxlength="100" />
                    <br />
                    多个电话可以以，隔开 </td>
                </tr>
                <tr>
                  <td align="right" valign="top"><strong><font color="#FF0000">*</font></strong>Email：</td>
                  <td align="left"><input type="text" name="email" value="$email" size="30" maxlength="40" />
                  </td>
                </tr>
                <tr>
                  <td align="right" valign="top">个人主页：</td>
                  <td align="left"><input type="text" name="website" value="$website" size="30"  maxlength="40"/>
                    <br />
                    http:// 开头 </td>
                </tr>
                <tr>
                  <td align="right" valign="top">简历照片：</td>
                  <td align="left"><input type="file" name="postfile"  size="30"  />
                    <input type="hidden" name="old_icon"  value="$icon"/>
                    <br />
                    只能是jpg,gif格式的照片,最大$webdb[iconMaxUserPostResume]k,推荐尺寸150*200像素.<br />
                    <img src="$icon_url" onerror="this.style.display='none';" width="150"  border="0"/> </td>
                </tr>
              </table>
              <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="title"><img src="$Murl/images/$STYLE/ico4.gif" /> <strong>个人资料</strong> </td>
                </tr>
                <tr>
                  <td><table width="100%" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="15%" align="right">求职意向：</td>
                        <td width="85%"><input type="text" value="$job_name"  name="job_name" maxlength="20"/>
                          <br />
                          希望工作岗位名称</td>
                      </tr>
                      $jobs_form_template
                    </table></td>
                </tr>
              </table>
              <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="title"><img src="$Murl/images/$STYLE/ico4.gif" /> <strong>自我介绍</strong> (<strong><font color="#FF0000">*</font></strong>为必填项目)</td>
                </tr>
                <tr>
                  <td><table width="100%" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="15%" align="right" valign="top"><strong><font color="#FF0000">*</font></strong>自我介绍：</td>
                        <td width="85%" align="left">详细描述自身能力水平或自己的工作态度<br />
                          <textarea name="myinfo" cols="70" rows="10">$myinfo</textarea>
                          <br />
                          最少填写10个字,最多500个字。</td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="title"><img src="$Murl/images/$STYLE/ico4.gif" /> <strong>工作经历</strong></td>
                </tr>
                <tr>
                  <td><table width="100%" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="15%" align="right" valign="top">工作经历：</td>
                        <td width="85%" align="left">某年某月-某年某月  在某家公司单位  任某职位 <br />
                          <textarea name="work_his" cols="90" rows="10">$work_his</textarea>
                          一行表示一家公司单位</td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="title"><img src="$Murl/images/$STYLE/ico4.gif" /> <strong>教育背景</strong></td>
                </tr>
                <tr>
                  <td><table width="100%" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="15%" align="right" valign="top">教育背景：</td>
                        <td width="85%" align="left"> 某年某月-某年某月  在某所学校 <br />
                          <textarea name="edu_his" cols="90" rows="10">$edu_his</textarea>
                          一行表示一所学校 </td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td colspan="2" align="center" height="200" ><br />
              <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="18%" align="right" valign="top">&nbsp;</td>
                  <td width="20%" align="left"><input type="submit" name="postSubmit" id="postSubmit" value="立 即 创 建"  class="btn"   />  
				  <input name="re_id" type="hidden" id="re_id" value="$re_id" />
              <input name="job" type="hidden" id="job" value="$job" />
              <input name="step" type="hidden" id="step" value="$step" />
              <input name="jobs_id" type="hidden" id="jobs_id" value="$jobs_id" />
                  </td>
                  <td width="62%" align="left"><div id="showmsg" style="color:red">&nbsp;</div></td>
                </tr>
              </table></td>
          </tr>
        </table></td>
    </tr>
  </table>
</form>
<div style="display:none1;">
  <iframe width=1 height=1 src='' id="iframe_city" name="iframe_city" style="display: none;"></iframe>
  <form name="form1" method="post" action="" target="iframe_city" id="form_city">
  </form>
  <iframe width=1 height=1 src='' id="adc_iframe_city" name="adc_iframe_city" style="display: none;"></iframe>
  <form name="form1" method="post" action="" target="adc_iframe_city" id="adc_form_city">
  </form>
  <iframe width=100 height=100 src='' id="postform" name="postform" style="display: none;"></iframe>
</div>
<script language="javascript">
function checkdata(myform){
	if(myform.truename.value=='') {
		alert('真实姓名不能为空'); 
		myform.truename.focus();
		return false;
	}
	if(myform.email.value=='') {
		alert('邮箱地址不能为空'); 
		myform.email.focus();
		return false;
	}
	if(myform.myinfo.value.length<10){
		alert('自我介绍要求不能少于10个字符');
		myform.myinfo.focus();
		 return false;
	}
	
	myform.Submit.disabled="disabled";
	return true;
}
</script>
<!--
EOT;

}elseif($job=='postresume' ){

print <<<EOT
-->
<p>&nbsp;</p>
<form id="form2" name="form2" method="post" action="?job=postresume2"  onsubmit="return confirm('确定选择此简历进行投递操作吗?');">
  <table width="60%" border="0" align="center" cellpadding="0" cellspacing="0"  class="jobs_post">
    <tr>
      <td><strong>请选择您的简历</strong>：(温馨提示：选择一份针对性比较强的简历，可以有效提高应聘的成功率。)</td>
    </tr>
    <!--
EOT;
foreach($resumeList as $rs){
print <<<EOT
-->
    <tr>
      <td><input name="re_id" type="radio" value="$rs[re_id]"  checked="checked"/>
        <strong>$rs[title]</strong> <br />
        (最后更新:$rs[posttime],<a href="?job=update_posttime&re_id=$rs[re_id]" onclick="return confirm('确定更新发布时间为当前系统时间吗?');">更新发布时间</a>,<a href="#">编辑</a>,<a href="#">删除</a>)</td>
    </tr>
    <!--
EOT;
}
print <<<EOT
-->
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><input type="submit" name="button" id="button" value="投递选中简历" class="btn" />
        <input name="job" type="hidden" id="job" value="$job" />
        <input name="jobs_id" type="hidden" id="jobs_id" value="$jobs_id" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>您还可以管理您的简历，<a href="$Mdomain/member/?main=hr.php?job=myresume" target="_blank">点击进入</a>.</td>
    </tr>
  </table>
</form>
<!--
EOT;

}

?>
-->
