<!--
<?php
print <<<EOT
--> 
<table id="top_menu" width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <tr> 
    <td> [<a href="index.php?lfj=js&job=list">所有调用代码</a>] [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=article&ch_ifjs=1">创建文章内容JS</a>] 
      <!--
EOT;
foreach($ModuleDB AS $key=>$rs){
if($rs[type]||$key=='blog'||$key=='unite_')continue;
print <<<EOT
-->
      [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=$key&ch_ifjs=1">创建{$rs[name]}JS</a>] 
      <!--
EOT;
}
print <<<EOT
-->
      <!--
EOT;
if($ModuleDB[blog]){
print <<<EOT
-->
      [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=blog_log&ch_ifjs=1">创建博客日志JS</a>] 
      [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=blog_photo&ch_ifjs=1">创建博客图片JS</a>] 
      [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=blog_member&ch_ifjs=1">创建博客会员JS</a>] 
      <!--
EOT;
}
print <<<EOT
-->
      [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=member&ch_ifjs=1">创建会员JS</a>] 
      <!--
EOT;
if(ereg("^pwbbs",$webdb[passport_type])){
print <<<EOT
-->
      [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=pwbbs&ch_ifjs=1">创建PW论坛贴子JS</a>] 
      <!--
EOT;
}
if(ereg("^dzbbs",$webdb[passport_type])){
print <<<EOT
-->
      [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=dzbbs&ch_ifjs=1">创建DZ论坛贴子JS</a>] 
      <!--
EOT;
}
print <<<EOT
-->
      <!--
EOT;
foreach($ModuleDB AS $key=>$rs){
if(!$rs[type])continue;
print <<<EOT
-->
      [<a href="index.php?lfj=label&job=mod&ch=0&chtype=&tag=$timestamp&inc=Info_$key&ch_ifjs=1">创建{$rs[name]}JS</a>] 
      <!--
EOT;
}
print <<<EOT
-->
      [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=special&ch_ifjs=1">创建指定专题内容JS</a>] 
      [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=specialsort&ch_ifjs=1">创建专题列表JS</a>] 
      [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=comment&ch_ifjs=1">创建文章评论JS</a>] 
      [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=guestbook&ch_ifjs=1">创建留言本JS</a>] 
      [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=form&ch_ifjs=1">创建万能表单JS</a>] 
      [<a href="index.php?lfj=label&&job=mod&ch=0&chtype=&tag=$timestamp&inc=mysql&ch_ifjs=1">创建Mysql万能标签JS</a>]</td>
  </tr>
</table>
<!--
EOT;
?>
-->
