/***
特定页面
***/
.marginTop5px{ clear:both; margin-top:5px;}
/*
*白色底部，有边框没有头部 头部下
*/
.baisediv{ clear:both; border:#CBCBCB solid 1px; background-color:#F8FAFC; width:270px; margin-top:5px;}
.baisediv .content{ font-size:12px; color:#666666;  line-height:20px; line-height:150%}
.baisediv .content li,a{ list-style:none; line-height:180%}

/*
*三TAB
*/
.santab{ margin-top:5px; height:140px; background:url(santab_head.jpg) repeat-x;}
.santab .head{ height:25px;}
.santab .head .lt{background:url(santab_headL.jpg) no-repeat; width:10px; height:25px;float:left;}
.santab .head .rt{background:url(santab_headR.jpg) no-repeat; width:10px; height:25px;float:right;}

.santab .head .ck{  line-height:25px;height:25px; width:79px;text-align:center; font-weight:bold; float:left; background:url(santab_headck.gif) no-repeat bottom;}
.santab .head .unck{line-height:25px;height:25px; width:79px;text-align:center; font-weight:bold; float:left;}

.santab .content{ border:1px #BBD9E8 solid; border-top:0px; height:115px; padding:0px 5px 0px 5px}

/*
*淡蓝色头部下
*/
.dbluediv{ clear:both; width:430px; border:1px #A7CAEE solid;background-color:#FFFFFF; margin-top:5px;}
.dbluediv .head{ font-size:12px; color:#666666; background:url(002.jpg) repeat-X; height:25px;}
.dbluediv .head .title{ float:left; font-weight:bold; padding:6px 3px 0px 34px;  font-size:12px; color:#333333;background:url(0022.jpg) no-repeat;}
.dbluediv .head .right{ float:right; padding:3px; font-size:12px;}
.dbluediv .content{ font-size:12px; color:#666666; padding:3px; line-height:150%}
.dbluediv .content li,a{ list-style:none; line-height:180%}

/**
商家导航
**/
.user_guide{
height:226px; margin-top:5px;
}
.user_guide .ll{ background:url(userinfo_1.jpg) no-repeat; width:6px;}
.user_guide .rr{ background:url(userinfo_3.jpg) no-repeat; width:6px;}
.user_guide .mm{ background:url(userinfo_2.jpg) repeat-x; padding:12px 1px 5px 3px; }
.user_guide .mm .loginform{background:url(userinfo_4.jpg) no-repeat;}
.user_guide .mm .loginform  #index_login_from{ padding-left:5px;}
.user_guide .mm .loginform  .title{ font-weight:bold;  height:45px; line-height:40px;}

.user_guide #index_login_from{ text-align:center; line-height:20px;}
.user_guide #index_login_from .ipt{ width:100px; padding:0px; height:16px; border:1px #85BCE5 solid}
.user_guide #index_login_from .spt{ width:52px; height:47px; background:url(004.jpg) no-repeat; border:0px}

.index_fast { margin-left:5px;}
.index_fast td{ padding:0px 0px 0px 10px; background:url(arrow_listaa.gif) no-repeat left; text-align:left}
.index_fast td a{ font-size:14px; font-weight:bold; color:#004688;}


.free_reg{ text-align:center; padding:10px;}
/**
左右框架
**/
.mainTB{ clear:both; margin-top:5px;}
.mainTB .left{ width:270px; text-align:left;}
.mainTB .right{ padding-left:5px; text-align:left;}


.mainTB2{ clear:both; margin-top:5px;}
.mainTB2 .left_td{ text-align:left; width:300px;}
.mainTB2 .right_td{text-align:left; padding-left:5px; width:685px;}


/**首页大广告**/
.index_fullad{ width:990px; margin:auto; text-align:left;display:none;z-index:100; overflow:hidden;}/*z-index:100;position:absolute;*/
.index_fullad p{ height:20px; font-weight:bold; color:#0000FF; text-align:right;}



/**报价**/
.baojia { clear:both;}
.baojia  .head{ background:url(baojiaR.jpg) right no-repeat; height:25px; line-height:25px;}
.baojia  .head .titleL{background:url(baojiaLL.jpg) left no-repeat;float:left; width:4px; height:25px;}
.baojia  .head .ck{background:url(baojiaL.jpg) left no-repeat; font-weight:bold; float:left; width:100px;  text-align:center;cursor:hand;}
.baojia  .head .unck{background:url(baojiaM.jpg) left no-repeat; float:left; width:100px; text-align:center; cursor:hand;}
.baojia  .head .more{float:right; padding-right:20px;}
.baojia  .middle{ border:1px #69BCF0 solid; border-top:0px; height:140px;padding:5px;}


/**系统分类**/
.Isortlist { clear:both;margin-top:5px;}
.Isortlist  .head{ background:url(sortR.jpg) right no-repeat; height:27px; line-height:27px;}
.Isortlist  .head .title{background:url(sortL.jpg) left no-repeat; font-weight:bold; float:left; width:123px; text-align:center}
.Isortlist  .head .links{ float:left; width:60px; margin-left:20px;}
.Isortlist  .head .more{float:right; padding-right:20px;}
.Isortlist  .search{ border-bottom:1px #83B0E4 solid;  background-color:#EBF4FC; padding:8px;}
.Isortlist  .middle{ border:1px #83B0E4 solid; border-top:0px;}


/**左边新闻样式1 **/
.left270bg1 { clear:both;background:url(left270bg1.jpg) no-repeat;}
.left270bg1  .head{  height:27px; line-height:27px;}
.left270bg1  .head .title{font-weight:bold; float:left; text-align:center; padding-left:10px; font-size:14px;}
.left270bg1  .head .more{float:right; padding-right:20px;}
.left270bg1  .middle{ border:1px #C8DBEA solid; border-top:0px; padding:5px;}
.left270bg1  .middle .line{ border-top:1px #999999 dotted; line-height:180%;}


/**********/
.left_ltitle{ margin-top:5px; border:1px #C8DBEA solid; height:90px; background-color:#F2F6F7}
.left_ltitle .lt{ background:url(left_ltitle.jpg) no-repeat left; font-weight:bold; padding-left:3px; font-size:14px; line-height:22px;}
.left_ltitle .mt{ padding:5px; }
.left_ltitle .rt{ padding:5px; }

/**左边新闻样式2***/

.left270bg2{ border:1px #69BCF0 solid; }
.left270bg2 .head{ background:url(left270bg2.jpg) repeat-x left; height:25px; line-height:23px;}
.left270bg2 .head .title{ font-size:14px; color:#000000; font-weight:bold; float:left; padding-left:10px;}
.left270bg2 .head .more{  float:right; padding-right:10px;}
.left270bg2  .middle{ padding:5px; line-height:180%; }
.left270bg2  .middle .line{ border-bottom:1px #999999 dotted; padding:5px;}

/**BBS**/
.bbsinfo { clear:both;}
.bbsinfo  .head{ background:url(bbs_head2.jpg) right no-repeat; height:25px; line-height:25px; border-bottom:2px solid #FF7300;}
.bbsinfo  .head .ck{background:url(bbs_head1.jpg) left no-repeat; font-weight:bold; float:left; width:84px;  text-align:center;cursor:hand; color:#FFFFFF}
.bbsinfo  .head .unck{background:url(bbs_headm.jpg) left no-repeat; float:left; text-align:left; cursor:hand; padding-left:25px}
.bbsinfo  .head .more{float:right; padding-right:20px;}
.bbsinfo  .middle{ border:1px #69BCF0 solid; border-top:0px;padding:5px;}



/**
*展会
**/
.indexzhDiv{
border:1px #C6DFF4 solid;
border-top:3px #C6DFF4 solid;
}
.indexzhDiv .head{
border-bottom:1px #C6DFF4 solid;
background-color:#EAF4FD;
height:25px;
} 
.indexzhDiv .head .L{
height:25px;
 float:left;
background-image:url(zh_right_top1.png); 
background-position:center; 
width:30px;
} 
.indexzhDiv .head .title{
	height:25px; line-height:25px;
	 font-weight:bold; font-size:14px; 
	 color:#E30072; float:left;
}
.indexzhDiv .head .R{
height:25px;  float:left;
} 

.indexzhDiv .head .more{
height:25px;  float:right; width:30%;
line-height:25px;
text-align:right;
padding-right:5px;
}

.indexzhDiv .content{
line-height:180%; padding:5px;
background-color:#FFFFFF;
word-break:break-all
} 
.indexzhDiv .imgdiv{
border:1px #C6DFF4 solid;
background-color:#EAF4FD; padding:1px;}

/*
*展会列表表头
*/
.indexzhDiv .trA td{ color:#666666; font-weight:bold; border-bottom:1px #999999 dotted;}
.indexzhDiv .trB td{ color:#666666; background-color:#FFFFFF; padding-top:5px;}
.indexzhDiv .trC td{ color:#666666; background-color:#F5F9FC; padding-top:5px;}