<?xml version="1.0"?>
  <routeConfiguration extend="">
    <ignore>
      <add url="{resource}.axd/{*pathInfo}" />
    </ignore>
    <map default="~/{controller}/{action}$0" enable="true">
      <route name="first"
        url="{controller}/{action}/{category}$0/{page}"
        controller="home"
        action="index">
        <parameters>
          <add name="category" value="0" constraint="\d+" />
          <add name="page" value="1" constraint="\d+" />
        </parameters>
      </route>
    </map>
    <short default="~/index$0" enable="true">
      <route name="short" 
        url="{action}/{category}$0/{page}"
        controller="home"
        action="index">
        <parameters>
          <add name="category" value="0" constraint="\d+" />
          <add name="page" value="1" constraint="\d+" />
        </parameters>
      </route>
      <route name="Account"
        url="Account/{action}"
        controller="Account"
        action="index">
      </route>
    </short>
  </routeConfiguration>