
<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <form name="formsearch" method="post" action="$webdb[www_url]/do/search.php">
    <tr> 
      <td height="14">模　型:<select name='mid'>

                <option value='0'  style='color:#aaa;'>请选择一个模型</option>
                <option value='100'>图片模型</option>
                <option value='101'>下载模型</option>
                <option value='102'>视频模型</option>
                <option value='103'>商城模型</option>
                <option value='104'>FLASH模型</option>
                <option value='105'>产品型模</option>
				<option value='-39'>健康知识</option>
              </select><br>
          关键字:<input type="text" name="keyword" size="10">
        <input type="submit" name="Submit32" value="搜索">
        
      </td>
    </tr>
   
  </form>
</table>
                