
GO
/****** Object:  Table [dbo].[Province]  hooyes   Script Date: 01/05/2012 23:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[id] [int] NOT NULL,
	[provinceID] [nvarchar](12) NOT NULL,
	[province] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_province] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Province] ([id], [provinceID], [province]) VALUES (1, N'110000', N'北京市')
INSERT [dbo].[Province] ([id], [provinceID], [province]) VALUES (2, N'120000', N'天津市')
INSERT [dbo].[Province] ([id], [provinceID], [province]) VALUES (3, N'130000', N'河北省')
/****** Object:  Table [dbo].[Area]    Script Date: 01/05/2012 23:23:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[id] [int] NOT NULL,
	[cityID] [nvarchar](12) NOT NULL,
	[city] [nvarchar](100) NOT NULL,
	[provinceID] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_area] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Area] ([id], [cityID], [city], [provinceID]) VALUES (1, N'110100', N'市辖区', N'110000')
INSERT [dbo].[Area] ([id], [cityID], [city], [provinceID]) VALUES (2, N'110200', N'县', N'110000')
INSERT [dbo].[Area] ([id], [cityID], [city], [provinceID]) VALUES (3, N'120100', N'市辖区', N'120000')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
