<!--
<?php
$priceColordb["c$price1$price2"]='red';
$orderColordb["$ordertype"]='red';

 $rezheng_s[$renzheng]=" selected";
 
$orderliststyle[1]="filter:Gray";
$orderliststyle[2]="filter:Gray";
$orderliststyle[3]="filter:Gray";
$orderliststyle[4]="filter:Gray";
$orderliststyle[$mylistorder]="";

$listorderurl="?&fid=$fid&listarea=$listarea&ordertype=$ordertype&renzheng=$renzheng&agent=$agent&vip=$vip&keyword=".urlencode($keyword);

$agent_ck[$agent]=" checked";
$vip_ck[$vip]=" checked";

print <<<EOT
--> 

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="393" valign="top" class="Main" style="padding-right:10px;"> 
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="list_search">
  <tr> 
    <td style="padding:4px;"> 
      <div class="sort">  <p  ><a href="$Mdomain">首页</a> > <a href="$Mdomain/company.php">商家</a> $guidefid
	  		  <!--
EOT;
if(!isset($bcategory->categories[$fid])){
print <<<EOT
-->
	<a href="$Mdomain/member/?main=post_company.php?fid=$fid" target="_blank"><font color="blue">[在此登记商家]</font></a>
<!--
EOT;
}
print <<<EOT
-->
	  </p><div class="t2">
<!--
EOT;

foreach($sortArray AS $key=>$value){
$color= $value['fid'] == $fid ? 'red' : '';
print <<<EOT
-->
        <span><a href="$Mdomain/clist.php?fid={$value['fid']}&listarea=$listarea&ordertype=$ordertype&renzheng=$renzheng&keyword=$keyword_code" style="color:$color;">{$value['name']}</a></span>
        <!--
EOT;
}
print <<<EOT
--></div>
      </div>
<div class="listsearch">
        <form action="?" name="listform"  method="get">
         
            <strong>在<font color="blue">$fidDB[name]</font>中筛选:</strong>&nbsp;关键字
      <input name="keyword" type="text" id="keyword" value="$keyword" size="10" />认证情况
      <select name="renzheng" id="renzheng">
        <option value="0">全部</option>
        <option value="1" $rezheng_s[1]>认证商家</option>
        <option value="2" $rezheng_s[2]>银牌认证</option>
        <option value="3" $rezheng_s[3]>金牌认证</option>
        </select>    {$area_choose} 
		<input name="agent" type="checkbox" value="1"  $agent_ck[1]/>代理商
					  <input name="vip" type="checkbox" value="1"  $vip_ck[1]/>VIP商家
        <input type="submit" name="button" id="button" value="搜索" />
        <input name="fid" type="hidden" id="fid" value="$fid" />
        <input name="ctype" type="hidden" id="ctype" value="$ctype" />
      </form></div>    </td>
  </tr>
</table>
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="redtitle" id="sort_list3">
        <tr> 
          <td class="head"> 
            
            <span class="title">商家 > $fidDB[name]</span> 
			<span class="right"><strong style="float:left;">排序：</strong>
				  	<a href="$listorderurl&mylistorder=1"><img src="$Murl/images/$STYLE/listorder2_1.jpg"  alt="新发布在前" style="$orderliststyle[1]" border="0"/></a>
				    <a href="$listorderurl&mylistorder=2"><img src="$Murl/images/$STYLE/listorder2_2.jpg"  alt="新发布在后" style="$orderliststyle[2]" border="0"/></a>	
<!--
EOT;
if(count($Fid_db[$fid])<1){
print <<<EOT
-->
	<a href="$Mdomain/post.php?ctype=$ctype&fid=$fid" target="_blank"><img src="$Murl/images/$STYLE/listpub2.gif"  border="0"/></a>
<!--
EOT;
}
print <<<EOT
-->
			</span>
			          </td>
        </tr>
        <tr> 
          <td class="middle">   
		   <form action="$Murl/action.php" name="gylist" id="gylist" method="post" target="_blank" >   
		   <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="list">
                      <tr> 
              	
                <td width="13%"  height="30" valign="middle" style="padding:5px;"><a href="javascript:viod(0);" onclick="dosub()"><img  src="$Murl/images/$STYLE/duibicompany.gif"  border="0"/></a></td>
                <td width="87%" valign="middle" style="padding-top:5px;">&nbsp;
						</td>
                </tr>
            </table>
		             <!--
EOT;
$i=1;
foreach($listdb AS $key=>$rs){
$class=$rs[levels]?"list_best":"list";
if(!$rs[bgcolor]){
		$rs[bgcolor]=$i%2==0?'#F9F9F9':'#ffffff';
    }
print <<<EOT
-->
            <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="$class" style="background-color:$rs[bgcolor]">
              <tr>
                <td colspan="4" height="10"></td>
              </tr>
              <tr>
                <td width="10" valign="middle" ><input type="checkbox" name="ids[]" value="$rs[rid]" /></td>
            
                <td width="110" align="left"><a target="_blank" href="$Mdomain/homepage.php?uid=$rs[uid]" ><img   onerror="this.src='$Murl/images/$STYLE/nopic.jpg'" src="$rs[picurl]" border="0"  style="border:1px #CCCCCC solid" onload='if(this.height>150){this.height=150}'  width="100" height="100" /></a> </td>
                <td style="border-right:1px #CCCCCC dashed">
                  <div  class="title" ><a  href="$Mdomain/homepage.php?uid=$rs[uid]" target="_blank" title='$rs[full_title]' style="color:$rs[titlecolor]; font-size:14px;"><strong>$rs[title]</strong></a> $rs[services] ({$area_DB[name][$city_DB[fup][$rs[city_id]]]}{$city_DB[name][$rs[city_id]]},$rs[qy_saletype]) </div>
                  <div class="about" style="height:50px; width:500px; color:#454545;white-space:normal; word-break:break-all;overflow:hidden; ">
				  $rs[content]   </div>
				  主营:$rs[qy_pro_ser]
				  <div class="about">
				  <a href="$Mdomain/homepage.php?uid=$rs[uid]&m=msg" target="_blank"><img src="$Murl/images/$STYLE/dianciliuyan.gif"  border="0"/></a>
				  <a href="$Mdomain/homepage.php?uid=$rs[uid]&m=contactus" target="_blank"><img src="$Murl/images/$STYLE/lianxifangshi.gif"  border="0"/></a>
				  <a href="$Mdomain/job.php?job=collect&id=$rs[rid]&ctype=3" target="_blank"><img src="$Murl/images/$STYLE/addcoll.gif"  border="0"/></a>                  </div>				 </td>
				 <td width="200" align="center" class="pading10px" > 				    $rs[renzheng]
                    <br />                    <div class="about">
                      <li>行业:$rs[my_trade]</li>
				   <li>&nbsp;</li>
				   <li>类型:$rs[qy_cate]</li>
				  
				                  </div></td>
                </tr>
              <tr>
                <td colspan="4" height="10"></td>
              </tr>
            </table>
<!--
EOT;
$i++;}
if(count($listdb)<1){
print <<<EOT
-->
	<div class="nolistdb"><strong>抱歉，暂无符合条件的商家!</strong>
	<br />1.<a href="$Mdomain">点击这里进入首页</a>;
	<br />2.<a href="$Mdomain/myhomepage.php" target="_blank">点击进入我的商铺</a>;
	</div>
<!--
EOT;
}
print <<<EOT
-->
             
			 <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="list">
             
              <tr> 
              	
                <td width="466" valign="middle"  height="30" style="padding:5px;"><a href="javascript:viod(0);" onclick="dosub()"><img  src="$Murl/images/$STYLE/duibicompany2.gif"  border="0"/></a>
                <a href="#" ><img  src="$Murl/images/$STYLE/totop.gif"  border="0"/></a></td>
                <td width="658" valign="top" >&nbsp;</td>
                <td width="100" align="center" valign="middle" >&nbsp;</td>
                <td width="150" align="center" valign="middle" >&nbsp;</td>
              </tr>
            </table>
 
          
            
           <div class="page">$showpage</div>
            <input type="submit"  id="dosubbtn" value="sub" style="display:none;"/>
            <input type="hidden" name="action" value="form3" />
            </form>
            <script>
            function dosub()
			{
				if(checkbetch()==false){
					alert('至少选择2条信息');
					return false;
				}
				try{
					document.getElementById('gylist').submit();
				}catch(e){
					try{
					document.gylist.submit();
					}catch(e){
					document.getElementById('dosubbtn').click();
					}				
				}
				
			}
			function checkbetch()
			{
				try{
					var x=0;
					var ids=document.getElementsByName('ids[]');
					for(var i=0;i<ids.length;i++){
						if(ids[i].checked){
							x++;
						}
					}
					if(x>1) return true;
					else  return false;
				}catch(e){
					return false;
				}
			}
            </script>         </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>          </td>
        </tr>
      </table>    </td>
    <td width="210" valign="top"  >

<table width="210" border="0" cellspacing="0" cellpadding="0"  class="redtitle">
        <tr>
          <td class="head"><span class="title">温馨提示&nbsp;</span><span class="right">&nbsp;</span></td>
        </tr>
        <tr>
          <td  class="content" height="30"><!--
EOT;
$webdb[list_notice]=nl2br($webdb[list_notice]);
print <<<EOT
-->
            $webdb[list_notice] </td>
        </tr>
        <tr>
          <td  class="foot"></td>
        </tr>
      </table>
 <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="redtitle">
              <tr> 
                <td class="head">                 
                  <span class="title">推荐商家</span> 
                 <span class="more"></span>
                </td>
              </tr>
              <tr> 
                <td class="content" align="left">
				
<!--
EOT;
$listdb=get_companylist($fid=0,$levels=1,$rows=10,$leng=50,$content_leng=50);
$i=0;
foreach($listdb AS $key2=>$rs){
if($i<1){
print <<<EOT
-->
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="60"><img src="$rs[picurl]" width="60" height="60"  class="imgborder" onerror="this.src='$Murl/images/$STYLE/nopic.jpg';"/></td>
    <td width="130"  ><a href="$Mdomain/homepage.php?uid=$rs[uid]" title="$rs[full_title]" target="_blank"><strong>$rs[title]</strong></a><font color="#999999">[简介] $rs[content]</font></td>
  </tr>
</table>
                  
<!--
EOT;
$i++;}else{
print <<<EOT
-->
		 
         <div>·<a href="$Mdomain/homepage.php?uid=$rs[uid]" title="$rs[full_title]" target="_blank">$rs[title]</a> </div>
                  
<!--
EOT;
}
}print <<<EOT
-->


  <td class="foot"> 
                  <h3 class="L"></h3>
                  <h3 class="R"></h3>
                </td>
              </tr>
      </table>

 <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="redtitle">
              <tr> 
                <td class="head"> 
                <span class="title">最新登记</span> 
                 <span class="more"></span>
                </td>
              </tr>
              <tr> 
                <td class="content" align="left">
				
<!--
EOT;
$listdb=get_companylist($fid=0,$levels=0,$rows=10,$leng=50,$content_leng=50);
$i=0;
foreach($listdb AS $key2=>$rs){
if($i<1){
print <<<EOT
-->
		 <table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="60"><img src="$rs[picurl]" width="60" height="60"  class="imgborder"onerror="this.src='$Murl/images/$STYLE/nopic.jpg';" /></td>
    <td width="130"  ><a href="$Mdomain/homepage.php?uid=$rs[uid]" title="$rs[full_title]" target="_blank"><strong>$rs[title]</strong></a><font color="#999999">[简介] $rs[content]</font></td>
  </tr>
</table>
                  
<!--
EOT;
$i++;}else{
print <<<EOT
-->
		 
         <div>·<a href="$Mdomain/homepage.php?uid=$rs[uid]" title="$rs[full_title]" target="_blank">$rs[title]</a> </div>
                  
         <!--
EOT;
}
}print <<<EOT
-->


  <td class="foot"> 
                  <h3 class="L"></h3>
                  <h3 class="R"></h3>
                </td>
              </tr>
      </table>

<table width="100%"  border="0" cellpadding="0" cellspacing="0" class="redtitle">
              <tr> 
                <td class="head"> 
                 
                   <span class="title">热门商家</span> 
                  <span class="more"></span>
                </td>
              </tr>
              <tr> 
                <td class="content" align="left">
				
<!--
EOT;
$listdb=get_companylist($fid=0,$levels=0,$rows=10,$leng=50,$content_leng=50,' order by hits desc');
$i=0;
foreach($listdb AS $key2=>$rs){
if($i<1){
print <<<EOT
-->
		 <table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="60"><img src="$rs[picurl]" width="60" height="60"  class="imgborder" onerror="this.src='$Murl/images/$STYLE/nopic.jpg';"/></td>
    <td width="130"><a href="$Mdomain/homepage.php?uid=$rs[uid]" title="$rs[full_title]" target="_blank"><strong>$rs[title]</strong></a><font color="#999999">[简介] $rs[content]</font></td>
  </tr>
</table>
                  
<!--
EOT;
$i++;}else{
print <<<EOT
-->
		 
         <div>·<a href="$Mdomain/homepage.php?uid=$rs[uid]" title="$rs[full_title]" target="_blank">$rs[title]</a> </div>
                  
<!--
EOT;
}
}print <<<EOT
-->


  <td class="foot"> 
                  <h3 class="L"></h3>
                  <h3 class="R"></h3>
                </td>
              </tr>
      </table>

	
	  <div style="margin-top:5px;">{$label[list_3_1]}</div>
	  <div style="margin-top:5px;">{$label[list_3_2]}</div>
	  <div style="margin-top:5px;">{$label[list_3_3]}</div>
	  <div style="margin-top:5px;">{$label[list_3_4]}</div>	
	
	</td>
  </tr>
</table>
<script language="javascript">change_search_menu('company','寻 商 家');</script>
<script>
	function showcity(m){
		var fup=m.options[m.selectedIndex].value;
		document.getElementById('frame_city').src='$Murl/job.php?job=getcity2&fup='+fup+'&name=listarea&showspan=city_span';
	}
	</script>
<iframe id='frame_city' src='' style='height:1px; widht:1px; display:none' /></iframe>
<!--
EOT;
?>
-->
