<!--
<?php
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="content">
  <tr> 
    <td rowspan="2" width="5%" class="img"><img onerror="this.src='$Murl/images/$STYLE/nohead.gif'" src='$rs[icon]' border="0"><br />$rs[username]<br>
	  </td>
    <td width="95%" class="word" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="TABLE-LAYOUT: fixed;WORD-WRAP: break-word">
        
      <tr> 
          <td><div class="c1">$rs[content]</div></td>
      
        </tr></table>
    </td>
  </tr>
  <tr> 
    <td width="95%" class="info"> ÈÕÆÚ:$rs[posttime] 
      <!--
EOT;
if($web_admin||($lfjuid&&$rs[uid]==$lfjuid)){
print <<<EOT
-->
      <A HREF="javascript:getcomment('$Murl/comment_ajax.php?action=del&ctype=$ctype&id=$id&cid=$rs[cid]')">É¾³ý</A> 
      <!--
EOT;
}print <<<EOT
-->
      </td>
  </tr>
</table>
<!--
EOT;
}print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="page">$showpage</td>
  </tr>
</table>
<!--
EOT;
?>
-->