<!--
<?php
print <<<EOT
--> 
       
  <form name="form" action="?" method="post" id="form">    
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="redtitle"  >
        <tr> 
          <td class="head">       
           <span class="title">商家对比</span></td>
        </tr>
     <tr> 
   <td class="middle">   
          <div class="form_title">要对比的商家</div>
          <div class="form_content" style="overflow-X:auto; width:948px">
		  <table border="0" cellpadding="2" cellspacing="1" bgcolor="#CCCCCC">
<!--
EOT;
foreach($data AS $key=>$line){ 
print <<<EOT
--> 
	
	<tr>
<!--
EOT;
foreach($listdb AS $key2=>$rs){ 
print <<<EOT
--> 	
	<td bgcolor="#FFFFFF"  width="300" class="pading10px"> $rs[$key]</td>
<!--
EOT;
}
print <<<EOT
--> 	
	</tr>
	

<!--
EOT;
}
print <<<EOT
-->      
 <tr>
<!--
EOT;

foreach($listdb AS $key2=>$rs){ 
print <<<EOT
--> 	
	<td bgcolor="#FFFFFF"  width="300" align="center" style="padding-top:10px">
	<a href="$Mdomain/homepage.php?uid=$rs[uid]&m=contactus" target="_blank"><img src="$Murl/images/$STYLE/lianxifangshi.gif"  border="0"/></a>
<!--
EOT;
if(count($listdb)>1){
print <<<EOT
-->
	<a href="action.php?action=form3&ids_str=$ids_str&removeid=$rs[rid]" onclick="return confirm('确定移除对比列表吗?');">
	<img src="$Murl/images/$STYLE/remove.gif"  border="0"/></a>  
<!--
EOT;
}
print <<<EOT
--> 
	</td>
<!--
EOT;
}
print <<<EOT
--> 	
	</tr>  
         </table> </div>
          
          
       
          
          
          
         


<div class="form_title">全部收藏</div>
          <div class="form_content">
          <center>
            <input name="ids_str" type="hidden" id="ids_str" value="$ids_str" />
            <input name="action" type="hidden" id="action" value="subform3" />
            <input  type="submit" name="s" value="全部收藏 &gt;&gt;" class="form_submit"/> <input  type="button" name="s" value="全部关闭 &gt;&gt;" class="form_submit" onclick="window.close();"/></center>
          </div>
</li>
   </td>
  </tr>
</table>
</form>


<!--
EOT;
?>
-->