<!--
<?php
print <<<EOT
--> 

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable" style="line-height:180%">
  <tr> 
    <td width="260" align="left" valign="top">
	  <table width="247" cellspacing="0" cellpadding="0" background="$Murl/images/$STYLE/help_02.gif" style="margin-top:5px; ">
        <tr>
          <td><img src="$Murl/images/$STYLE/help_01.gif" width="247" height="49"  border="0"/></td>
        </tr>
        <tr>
          <td style="padding:5px 10px 10px 30px">
<!--
EOT;
foreach($helpFid_db[0] as $key=>$ary){
print <<<EOT
-->	  		  
	<div style="margin-bottom:10px"><img src="$Murl/images/$STYLE/arrow_list.gif" /> <strong>{$helpFid_db[name][$key]}</strong>	 
<!--
EOT;
foreach($helpFid_db[$key] as $key2=>$ary2){
print <<<EOT
-->	  		  
	<div>&nbsp;&nbsp;&nbsp;·<a href="?fid=$key2">{$helpFid_db[name][$key2]}</a>	</div>
<!--
EOT;
}
print <<<EOT
-->	 	
	
	</div>
<!--
EOT;
}
print <<<EOT
-->	  
		  
		  
		  </td>
        </tr>
        <tr>
          <td><img src="$Murl/images/$STYLE/help_03.gif" width="247" height="7"  border="0"/></td>
        </tr>
      </table></td>
    <td valign="top">

<!--
EOT;
if($id){
print <<<EOT
-->		
	<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="redtitle">
  <tr>
    <td class="head"><span class="title">{$title_name}</span><span class="right">
	</span>
     
      <span class="right">	<a href="javascript:history.go(-1);" >返回</a>&nbsp;</span></td>
  </tr>
  <tr>
    <td  class="content" height="150">
	<div style="border-bottom:1px #999999 solid; line-height:30px; font-size:16px;"><strong>$rsdb[title]</strong></div>
	<div>$rsdb[content]</div>
	</td>
  </tr>
  <tr>
    <td  class="foot"></td>
  </tr>
</table>
<!--
EOT;
}else{
print <<<EOT
-->		
	<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="redtitle">
   <form id="form1" name="form1" method="get" action="?"><tr>
    <td class="head"><span class="title">{$title_name}</span><span class="right">
        <input name="help_key" type="text" id="help_key" value="$help_key" />
            <input type="submit" name="sear" value="搜索" />
            <input type="button" name="back" value="返回"  onclick="history.go(-1);"/>
    &nbsp;</span></td>
  </tr> </form>
  <tr>
    <td  class="content" height="150">
<!--
EOT;
foreach($listdb as $rs){
print <<<EOT
-->	  		  
	<div style="height:30px;">&nbsp;&nbsp;&nbsp;·<a href="?id=$rs[id]" target="_blank">{$rs[title]}</a></div>
<!--
EOT;
}
print <<<EOT
-->		
	<div class="page">
	  <div align="center">$showpage</div>
	</div>
	</td>
  </tr>
  <tr>
    <td  class="foot"></td>
  </tr>
</table>
<!--
EOT;
}
print <<<EOT
-->	 


	<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="redtitle">
  <tr>
    <td class="head"><span class="title">客 服 中 心</span><span class="right">&nbsp;</span></td>
  </tr>
  <tr>
    <td  class="content" height="150"><table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td width="110"><img src="$Murl/images/$STYLE/kf_0.jpg" /></td>
        <td>{$label[help_1]}</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td  class="foot"></td>
  </tr>
</table>	
	</td>
  </tr>
</table>
<!--
EOT;
?>
-->
