<!--
<?php
print <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title>商家编辑页面</title>

<link rel="stylesheet" type="text/css" href="$Murl/images/$STYLE/new.css">
<head>
<SCRIPT LANGUAGE="JavaScript">
<!--//导航菜单
function killErr(){
	return true;
}
window.onerror=killErr;
//-->
</SCRIPT>
<style>
body {
	padding:0px;
	font-size:12px;
	margin:0px
}
.menu {
	height:30px;
	line-height:30px;
	border-top:1px #999999 solid;
	border-right:1px #999999 solid;
	color:#666666;
	font-size:12px;
	text-align:center;
}
.menu_$atn{
background-color:#FFFFFF;
border-right:0;
}
td, div {
	font-size:12px;
}
a {
	font-size: 12px;
}
a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
	color: #4E667B;
}
a:active {
	text-decoration: none;
}
p {
	margin:0px;
	padding:0px
}
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" style="padding:0px;">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:0px;">
  <tr>
    <td width="150" height="500" bgcolor="#F0F0F0" valign="top";><div style=" text-align:center; border-top:1px #999999 solid; color:#003399" class="menu"><strong>基本信息管理</strong></div>

<!--
EOT;
if($webdb[vipselfdomain]){
print <<<EOT
-->
	  <div class="menu menu_mydomain"><a href="?atn=mydomain&uid=$uid">个性域名</a></div>
<!--
EOT;
}
print <<<EOT
-->	
      <div class="menu menu_base"><a href="?atn=base&uid=$uid">基本设置</a></div>
      <div class="menu menu_banner"><a href="?atn=banner&uid=$uid">头部通栏</a></div>
      <div class="menu menu_info"><a href="?atn=info&uid=$uid">公司资料</a></div>
      <div class="menu menu_pic menu_pic_upload menu_piclist menu_pic_edit"><a href="?atn=pic&uid=$uid">公司图库</a></div>
      <div class="menu menu_info2"><a href="?atn=info2&uid=$uid">公司介绍</a></div>
      <div class="menu menu_contactus"><a href="?atn=contactus&uid=$uid">联系方式</a></div>
      
	  
	  
      <div style=" text-align:center; border-top:1px #999999 solid; color:#003399"  class="menu"><strong>其他管理</strong></div>
      <div class="menu menu_news"><a href="?atn=news&uid=$uid">新闻管理</a></div>
      <div class="menu menu_postnews"><a href="?atn=postnews&uid=$uid">发布新闻</a></div>
     
	  <div class="menu menu_friendlink"><a href="?atn=friendlink&uid=$uid">友情链接</a></div>
	  <div class="menu menu_gz"><a href="?atn=gz&uid=$uid">公章管理</a></div>
	 
      <div style=" text-align:center; border-top:1px #999999 solid; height:100%"  class="menu"> <a href="$Mdomain/member/" target="_parent" style="color:#336633">更多管理...</a> </div></td>
    <td  valign="top" bgcolor="#FFFFFF"><div  style="padding:10px; overflow-Y:scroll; overflow-X:hidden; width:840px; height:493px; padding:5px;">
<!--
EOT;
if($atn=='mydomain'){
print <<<EOT
-->
		  <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC" >
		  	<tr>
				<td height="60" align="left" valign="top" bgcolor="#ffffff"><table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><img src="$Murl/images/$STYLE/vip.jpg"   border="0"/></td>
                      <td style="line-height:30px;"><strong>二级独立域名，VIP用户专享服务，尽现VIP的特殊身份；客户更容易记住，提高客户访问量. </strong><br />
<!--
EOT;
if($rsdb[is_vip]){
print <<<EOT
-->
	您已经是VIP用户，您享有独立二级域名特权；请在下面设置您的二级域名;
<!--
EOT;
}else{
print <<<EOT
-->
	您还不是VIP用户，想要有自己独立的二级域名，赶快成为VIP吧，<a href="$Mdomain/member/?main=vip.php?action=payfor" target="_blank"><font color="blue">[点此成为VIP]</font></a>
<!--
EOT;
}
print <<<EOT
-->					 </td>
                    </tr>
                  </table></td>
			</tr>
			 	<tr>
				<td height="100" align="center" valign="middle" bgcolor="#f9f9f9">
				
<!--
EOT;
if($rsdb[is_vip]){
print <<<EOT
-->
	
	<form id="form3" name="form3" method="post" action="?atn=$atn">
	您当前的二级域名是：$myolnydomain,若要修改请输入新的二级域名：<br />
		<input type="text" name="host"  value="$rsdb[host]"/>
	.$webdomain 
	<input type="submit" name="Submit2" value="保 存" /> <input name="uid" type="hidden" id="uid" value="$uid" />
	<input type="hidden" name="step" value="2" />
	</form>
	
<!--
EOT;
}else{
print <<<EOT
-->
	<a href="$Mdomain/member/?main=vip.php?action=payfor"  target="_blank"><img src="$Murl/images/$STYLE/addvip.jpg"   border="0"/></a>
<!--
EOT;
}
print <<<EOT
-->				</td>
			</tr>
	    </table>
<!--
EOT;
}elseif($atn=='base'){
print <<<EOT
-->
        <form action="?" method="post" enctype="multipart/form-data" name="form1" id="form1">
          <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC" >
            <tr>
              <td width="20%" align="left" valign="top" bgcolor="#f9f9f9" class="tdT">整体风格：</td>
              <td width="80%" align="left" valign="top" bgcolor="#FFFFFF" height="155"><select name="conf[style]" size="11" id="conf_style" style="float:left; height:150px" onchange="document.getElementById('shoostyleicon').src='$Murl/images/homepage_style/'+this.options[this.selectedIndex].value+'/icon.jpg';">
                  <!--
EOT;
	foreach($homepage_tpl as $key=>$val){
    $ck=$conf[style]==$key?" selected":"";
print <<<EOT
-->
                  <option   value="$key" $ck >$val</option>
                  <!--
EOT;
	}
print <<<EOT
-->
                </select>
                <img src="$Murl/images/homepage_style/$conf[style]/icon.jpg"  width="200" height="150" border="0"  style="float:left;" id="shoostyleicon"/> </td>
            </tr>
            <!-- <tr>
    <td align="left" valign="top" bgcolor="#f9f9f9" class="tdT">正文部分布局：</td>
    <td align="left" valign="top" bgcolor="#FFFFFF"><input type="radio" name="conf[bodytpl]" id="radio" value="left"  $bodytpl[left]/>
        <img src="images/$STYLE/ctrl_left.jpg" width="30" height="30" /> 左窄右宽 &nbsp;&nbsp;&nbsp;</td>
  </tr>-->
            <tr>
              <td align="left" valign="top" bgcolor="#f9f9f9" class="tdT">网页窄部分设置：<br />
                <br />
                <img src="$Murl/images/$STYLE/index_left_show.jpg" /></td>
              <td align="left" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                        <td width="15%">候选模块<br />
                      <select name="index_left_hx" size="8" id="index_left_hx" style="width:100px">
                        
          $index_left_hx         
          
            
                      </select>
                    </td>
                    <td width="13%" align="center" valign="middle"><input type="button" name="button2" id="button2" value="→添加" onclick="action_mod('left','add')" />
                      <br />
                      <input type="button" name="button3" id="button3" value="←移除"  onclick="action_mod('left','del')"/>
                      <br />
                      <br />
                      <input type="button" name="button4" id="button4" value="↑上移"  onclick="action_mod('left','up')" />
                      <br />
                    <input type="button" name="button5" id="button5" value="↓下移"  onclick="action_mod('left','down')"/></td>
                
					<td width="72%"><strong><font color="#FF3300">已经显示模块</font></strong><br />
                    <select name="conf[index_left][]" size="8" multiple="multiple" id="index_left" style="width:100px">
                        
            $index_left
            
            
            
                      </select></td>
                  </tr>
                </table>
                <script language="javascript">
      	function action_mod(modname,action){
			var mod   =document.getElementById("index_"+modname);
			var mod_hx=document.getElementById("index_"+modname+"_hx");
			if(action=='add'){ //添加模块
			   var val=	mod_hx.value;
			   if(val==''){
			  	 alert("请先选择一个模块再进行添加。");return false;
			   }
			   for( var i=0;i<mod.options.length;i++){
			   		if(mod.options[i].value==val){
					alert("此模块已经存在.");return false;
					}
			   }
			    var opt=new Option(mod_hx.options[mod_hx.selectedIndex].text,val);
                mod.options[mod.options.length]=opt;
						
			}else if(action=='del'){
				
				if(mod.options.length<2) {
				   alert("必须保留至少一个模块"); return false;
				}
				if(mod.value==''){
			        alert("请先选择一个模块"); return false;
				}
				mod.remove(mod.selectedIndex);
				
			}else if(action=='up'){
				
				if(mod.value==''){
			        alert("请先选择一个模块"); return false;
				}
				if(mod.selectedIndex<1){
					alert("已经到顶了"); 
				}
				var index=mod.selectedIndex;
				var upp_text =mod.options[index-1].text;
				var upp_value=mod.options[index-1].value;
				var me_text  =mod.options[index].text;
				var me_value =mod.options[index].value;
				mod.options[index-1]=new Option(me_text,me_value);
				mod.options[index]=new Option(upp_text,upp_value);
				mod.selectedIndex=index-1;
			}else if(action=='down'){
				
				if(mod.value==''){
			        alert("请先选择一个模块"); return false;
				}
				if(mod.selectedIndex == (mod.options.length-1) ){
					alert("已经是最后了"); 
				}
				var index=mod.selectedIndex;
				var down_text =mod.options[index+1].text;
				var down_value=mod.options[index+1].value;
				var me_text  =mod.options[index].text;
				var me_value =mod.options[index].value;
				mod.options[index+1]=new Option(me_text,me_value);
				mod.options[index]=new Option(down_text,down_value);
				mod.selectedIndex=index+1;
			}
		}
      </script>
              </td>
            </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#f9f9f9" class="tdT">网页宽部分设置： <br />
                <img src="$Murl/images/$STYLE/index_right_show.jpg" /></td>
              <td align="left" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="15%">候选模块<br />
                    <select name="index_right_hx" size="8" id="index_right_hx" style="width:100px">
                        
              
          $index_right_hx
          
          
            
            
                      </select></td>
                    <td width="13%" align="center" valign="middle"><input type="button" name="button6" id="button6" value="→添加" onclick="action_mod('right','add')" />
                      <br />
                      <input type="button" name="button6" id="button7" value="←移除"  onclick="action_mod('right','del')"/>
                      <br />
                      <br />
                      <input type="button" name="button6" id="button8" value="↑上移"  onclick="action_mod('right','up')" />
                      <br />
                    <input type="button" name="button6" id="button9" value="↓下移"  onclick="action_mod('right','down')"/></td>
                    <td width="72%"><strong><font color="#FF3300">已经显示模块</font></strong><br />
                    <select name="conf[index_right][]" size="8" multiple="multiple"  id="index_right" style="width:100px">
                        
              
            $index_right
            
            
            
            
                      </select></td>
                  </tr>
                </table></td>
            </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#f9f9f9" class="tdT">主页显示设置：</td>
              <td align="left" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                  <tr>
                    <td width="10%">供应信息</td>
                    <td width="13%"><input name="conf[listnum][selllist]" type="text" size="5" value="{$conf[listnum][selllist]}" />
                      行</td>
                    <td width="77%" align="left">排列顺序
                      <select name="conf[listnum][sell_orderby]"   style="width:100px">
                        <option value="0">默认排序</option>
                        <!--
EOT;
foreach($myorderby as $key=>$val){	
$ck=$key==$conf[listnum][sell_orderby]?" selected":"";
print <<<EOT
-->
                        <option value="$key" $ck>$val</option>
                        <!--
EOT;
}	
print <<<EOT
-->
                      </select>
                      筛选
                      <select name="conf[listnum][sell_mysort]"   style="width:100px">
                        <option value="0">不限类目</option>
                        <!--
EOT;
foreach($sell_mysort as $key=>$val){	
$ck=$key==$conf[listnum][sell_mysort]?" selected":"";
print <<<EOT
-->
                        <option value="$key" $ck>$val</option>
                        <!--
EOT;
}	
print <<<EOT
-->
                      </select>
                      关键字
                      <input name="conf[listnum][sell_keyword]" type="text" size="5" value="{$conf[listnum][sell_keyword]}" /></td>
                  </tr>
                  <tr>
                    <td>求购信息</td>
                    <td><input name="conf[listnum][buylist]" type="text" size="5" value="{$conf[listnum][buylist]}" />
                      行</td>
                    <td align="left"> 排列顺序
                      <select name="conf[listnum][buy_orderby]" style="width:100px">
                        <option value="0">默认排序</option>
                        <!--
EOT;
foreach($myorderby as $key=>$val){	
$ck=$key==$conf[listnum][buy_orderby]?" selected":"";
print <<<EOT
-->
                        <option value="$key" $ck>$val</option>
                        <!--
EOT;
}	
print <<<EOT
-->
                      </select>
                      筛选
                      <select name="conf[listnum][buy_mysort]"  style="width:100px">
                        <option value="0">不限类目</option>
                        <!--
EOT;
foreach($buy_mysort as $key=>$val){	
$ck=$key==$conf[listnum][buy_mysort]?" selected":"";
print <<<EOT
-->
                        <option value="$key" $ck>$val</option>
                        <!--
EOT;
}	
print <<<EOT
-->
                      </select>
                      关键字
                      <input name="conf[listnum][buy_keyword]" type="text" size="5" value="{$conf[listnum][buy_keyword]}" />
                    </td>
                  </tr>
                  <tr>
                    <td>留 言 本</td>
                    <td><input name="conf[listnum][guestbook]" type="text" size="5" value="{$conf[listnum][guestbook]}" />
                      条</td>
                    <td align="right">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>访客足迹</td>
                    <td><input name="conf[listnum][visitor]" type="text" size="5" value="{$conf[listnum][visitor]}" />
                      位</td>
                    <td align="right">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>新闻动态</td>
                    <td><input name="conf[listnum][newslist]" type="text" size="5" value="{$conf[listnum][newslist]}" />
                      条</td>
                    <td align="right">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>人才招聘</td>
                    <td><input name="conf[listnum][hr]" type="text" size="5" value="{$conf[listnum][hr]}" />
                      行</td>
                    <td align="right">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>展会信息</td>
                    <td><input name="conf[listnum][zh]" type="text" size="5" value="{$conf[listnum][zh]}" />
                      行</td>
                    <td align="right">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>友情链接</td>
                    <td><input name="conf[listnum][friendlink]" type="text" size="5" value="{$conf[listnum][friendlink]}" />
                      家</td>
                    <td align="right">&nbsp;</td>
                  </tr>
                </table></td>
            </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#f9f9f9" class="tdT">列表页显示设置：</td>
              <td align="left" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                  <tr>
                    <td width="10%">供应信息</td>
                    <td width="13%"><input name="conf[listnum][Mselllist]" type="text" size="5" value="{$conf[listnum][Mselllist]}" />
                      行</td>
                    <td width="77%"> 排列顺序
                      <select name="conf[listnum][Msell_orderby]"   style="width:100px">
                        <option value="0">默认排序</option>
                        <!--
EOT;
foreach($myorderby as $key=>$val){	
$ck=$key==$conf[listnum][Msell_orderby]?" selected":"";
print <<<EOT
-->
                        <option value="$key" $ck>$val</option>
                        <!--
EOT;
}	
print <<<EOT
-->
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>求购信息</td>
                    <td><input name="conf[listnum][Mbuylist]" type="text" size="5" value="{$conf[listnum][Mbuylist]}" />
                      行</td>
                    <td>排列顺序
                      <select name="conf[listnum][Mbuy_orderby]" style="width:100px">
                        <option value="0">默认排序</option>
                        <!--
EOT;
foreach($myorderby as $key=>$val){	
$ck=$key==$conf[listnum][Mbuy_orderby]?" selected":"";
print <<<EOT
-->
                        <option value="$key" $ck>$val</option>
                        <!--
EOT;
}	
print <<<EOT
-->
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>留 言 本</td>
                    <td><input name="conf[listnum][Mguestbook]" type="text" size="5" value="{$conf[listnum][Mguestbook]}" />
                      条 </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>新闻动态</td>
                    <td><input name="conf[listnum][Mnewslist]" type="text" size="5" value="{$conf[listnum][Mnewslist]}" />
                      条</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>人才招聘</td>
                    <td><input name="conf[listnum][Mhr]" type="text" size="5" value="{$conf[listnum][Mhr]}" />
                      行</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>展会信息</td>
                    <td><input name="conf[listnum][Mzh]" type="text" size="5" value="{$conf[listnum][Mzh]}" />
                      行</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>访客足迹</td>
                    <td><input name="conf[listnum][Mvisitor]" type="text" size="5" value="{$conf[listnum][Mvisitor]}" />
                      位</td>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
            </tr>
            <td width="20%" align="left"  valign="top" bgcolor="#f9f9f9" class="tdT">是否开放认证资料：</td>
              <td width="80%" align="left" valign="top" bgcolor="#FFFFFF"><input name="conf[renzheng_show]" type="radio" value="1"  $renzheng_show[1]/>
                开放 (仅限登陆用户)
                <input name="conf[renzheng_show]" type="radio" value="0"  $renzheng_show[0]/>
                不开放    (仅限登陆用户)<br />
                <br />
                说明：<br>
                1.没有登陆无权查看,登录后根据设置受限;<br>
                2.您新发起的供应商申请且未确认期间，对方可以看到您自己的认证信息;<br>
                3.等供应关系确认之后认证信息互相开放; </td>
            <tr>
              <td align="left" valign="top" bgcolor="#f9f9f9" class="tdT">&nbsp;</td>
              <td align="left" valign="top" bgcolor="#FFFFFF"><input type="submit" name="button" id="button" value="保 存" onclick="setindex_left_right()" />
                <input name="atn" type="hidden" id="atn" value="$atn" />
                <input name="step" type="hidden" id="step" value="1" />
                <input name="uid" type="hidden" id="uid" value="$uid" />
                <input name="conf[hid]" type="hidden" id="conf[hid]" value="$conf[hid]" />
                <input name="conf[rid]" type="hidden" id="conf[rid]" value="$conf[rid]" /></td>
            </tr>
          </table>
          <script language="javascript">
function setindex_left_right()
{
	var mod_left    =document.getElementById("index_left");
	var mod_right   =document.getElementById("index_right");
	 for( var i=0;i<mod_left.options.length;i++){
	 	mod_left.options[i].selected=true;
	 }
	 for( var j=0;j<mod_right.options.length;j++){
	 	mod_right.options[j].selected=true;
	 }
}
</script>
        </form>
        <!--
EOT;
}elseif($atn=='info'){
print <<<EOT
-->
        <form action="?" method="post" enctype="multipart/form-data" name="form1" id="form1">
          <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC" >
            <tr>
              <td align='right' bgcolor="#f9f9f9"><font color=red>*</font>公司全称:</td>
              <td bgcolor="#FFFFFF" ><input    type='text' name='title' id='atc_title' size='30' value='$intro[title]' />
              </td>
            </tr>
            <tr>
              <td align="right" valign="top" bgcolor="#f9f9f9" class="tdT">商家LOGO：<br /></td>
              <td align="left" valign="top" bgcolor="#FFFFFF"><input name="postfile" type="file" size="30" />
                <br />
                <img src="$rsdb[logo]"  border="0" width="120" height="120"  class="logo" onerror="this.style.display='none'"/>
                <input name="oldfile" type="hidden"  value="$intro[picurl]" />
                <br />
                <span class="tdT">(推荐使用公司的LOGO，尺寸120*120,格式只能是JPG,GIF,PNG,文件最大$webdb[homepage_ico_size]k)</span></td>
            </tr>
            <tr>
              <td width='20%' align='right' bgcolor="#f9f9f9"><font color=red>*</font>主营分类:</td>
              <td width='80%' bgcolor="#FFFFFF" >
<!--php168
EOT;
$post_company=1;
require(Mpath.'member/template/morechosefid.htm');

print<<<EOT
php168-->
              
              </td>
            </tr>
            <tr>
              <td align='right' bgcolor="#f9f9f9"><font color=red>*</font>所属地区:</td>
              <td bgcolor="#FFFFFF" ><select name="areachoose"   id="areachoose">
                  
    $areachoose
    
                
              </select>
              </td>
            </tr>
            <tr>
              <td width='20%' align='right' bgcolor="#f9f9f9"><font color=red>*</font>所属行业:</td>
              <td width='80%' bgcolor="#FFFFFF" ><select name='my_trade' id='atc_my_trade'>
<!--
EOT;
$detail=explode("\r\n",$webdb[companyTrade]);
foreach($detail AS $key=>$value){
$ckk=$intro[my_trade]==$value?' selected ':' ';
print <<<EOT
-->
                            <option value="$value" $ckk>$value</option>
<!--
EOT;
}print <<<EOT
-->
                </select>
              </td>
            </tr>
            <tr>
              <td align='right' bgcolor="#f9f9f9"><font color=red>*</font>企业类型:</td>
              <td bgcolor="#FFFFFF" ><select name='qy_cate' id='atc_qy_cate'>
                  <option value='个体经营' {$qy_cate['个体经营']}>个体经营</option>
                  <option value='个人独资企业' {$qy_cate['个人独资企业']}>个人独资企业</option>
                  <option value='私营合伙企业' {$qy_cate['私营合伙企业']}>私营合伙企业</option>
                  <option value='私营有限责任公司' {$qy_cate['私营有限责任公司']}>私营有限责任公司</option>
                  <option value='私营股份有限公司' {$qy_cate['私营股份有限公司']}>私营股份有限公司</option>
                  <option value='国有企业' {$qy_cate['国有企业']}>国有企业</option>
                  <option value='集体企业' {$qy_cate['集体企业']}>集体企业</option>
                  <option value='股份合作企业' {$qy_cate['股份合作企业']}>股份合作企业</option>
                  <option value='联营企业有限责任公司(国有独资)' {$qy_cate['联营企业有限责任公司(国有独资)']}>联营企业有限责任公司(国有独资)</option>
                  <option value='其他有限责任公司' {$qy_cate['其他有限责任公司']}>其他有限责任公司</option>
                  <option value='股份有限公司' {$qy_cate['股份有限公司']}>股份有限公司</option>
                  <option value='其他内资企业' {$qy_cate['其他内资企业']}>其他内资企业</option>
                  <option value='三来一补' {$qy_cate['三来一补']}>三来一补</option>
                  <option value='分支机构' {$qy_cate['分支机构']}>分支机构</option>
                  <option value='合资经营企业(港或澳、台资)' {$qy_cate['合资经营企业(港或澳、台资)']}>合资经营企业(港或澳、台资)</option>
                  <option value='合作经营企业(港或澳、台资)' {$qy_cate['合作经营企业(港或澳、台资)']}>合作经营企业(港或澳、台资)</option>
                  <option value='港、澳、台商独资经营企业' {$qy_cate['港、澳、台商独资经营企业']}>港、澳、台商独资经营企业</option>
                  <option value='港、澳、台商投资股份有限公司' {$qy_cate['港、澳、台商投资股份有限公司']}>港、澳、台商投资股份有限公司</option>
                  <option value='中外合资经营企业' {$qy_cate['中外合资经营企业']}>中外合资经营企业</option>
                  <option value='中外合作经营企业' {$qy_cate['中外合作经营企业']}>中外合作经营企业</option>
                  <option value='外资企业' {$qy_cate['外资企业']}>外资企业</option>
                  <option value='外商投资股份有限公司' {$qy_cate['外商投资股份有限公司']}>外商投资股份有限公司</option>
                  <option value='政府机构' {$qy_cate['政府机构']}>政府机构</option>
                  <option value='非盈利组织' {$qy_cate['非盈利组织']}>非盈利组织</option>
                  <option value='其他有限责任公司' {$qy_cate['其他有限责任公司']}>其他有限责任公司</option>
                  <option value='有限责任公司（国内合资）' {$qy_cate['有限责任公司（国内合资）']}>有限责任公司（国内合资）</option>
                  <option value='一人有限责任公司' {$qy_cate['一人有限责任公司']}>一人有限责任公司</option>
                  <option value='私营独资企业' {$qy_cate['私营独资企业']}>私营独资企业</option>
                </select>
              </td>
            </tr>
            <tr>
              <td align='right' bgcolor="#f9f9f9"><font color=red>*</font>注册资本:<br /></td>
              <td bgcolor="#FFFFFF" ><input type='text' name='qy_regmoney' id='atc_qy_regmoney' size='10' value='$intro[qy_regmoney]' />
                <strong><font color="#FF0000">万</font></strong>人民币 </td>
            </tr>
            <tr>
              <td align='right' bgcolor="#f9f9f9"><font color=red>*</font>经营模式:</td>
              <td bgcolor="#FFFFFF" ><select name='qy_saletype' id='atc_qy_saletype'>
                  <option value='生产型' {$qy_saletype['生产型']}>生产型</option>
                  <option value='贸易型' {$qy_saletype['贸易型']}>贸易型</option>
                  <option value='服务型' {$qy_saletype['服务型']}>服务型</option>
                  <option value='政府或其他机构' {$qy_saletype['政府或其他机构']}>政府或其他机构</option>
                </select>
              </td>
            </tr>
            <tr>
              <td align='right' bgcolor="#f9f9f9">成立时间:</td>
              <td bgcolor="#FFFFFF" ><input    type='text' name='qy_createtime' id='atc_qy_createtime' size='20' value='$intro[qy_createtime]' />
              </td>
            </tr>
            <tr>
              <td align='right' bgcolor="#f9f9f9">主营产品或服务:<br /></td>
              <td bgcolor="#FFFFFF" ><input type='text' name='qy_pro_ser' id='atc_qy_pro_ser' size='50' value='$intro[qy_pro_ser]' />
              </td>
            </tr>
            <tr>
              <td align='right' bgcolor="#f9f9f9">主要采购产品:<br /></td>
              <td bgcolor="#FFFFFF" ><input type='text' name='my_buy' id='atc_my_buy' size='50' value='$intro[my_buy]' />
              </td>
            </tr>
            <tr>
              <td align='right' bgcolor="#f9f9f9">注册地址:<br /></td>
              <td bgcolor="#FFFFFF" ><input type='text' name='qy_regplace' id='atc_qy_regplace' size='10' value='$intro[qy_regplace]' />
              </td>
            </tr>
            <tr>
              <td align='right' bgcolor="#f9f9f9">&nbsp;</td>
              <td bgcolor="#FFFFFF" ><input type="submit" name="button8" id="button12" value="提 交" />
                <input name="atn" type="hidden" id="atn" value="$atn" />
                <input name="step" type="hidden" id="step" value="1" />
                <input name="uid" type="hidden" id="uid" value="$uid" />
              </td>
            </tr>
          </table>
        </form>
        <!--
EOT;
}elseif($atn=='info2'){
print <<<EOT
-->
        <form action="?" method="post" enctype="multipart/form-data" name="form1" id="form1">
          <iframe id="eWebEditor1" src="$Murl/ewebeditor/ewebeditor.php?id=content&style=standard&etype=1" frameborder="0" scrolling="no" width="100%" height="300"></iframe>
          <input name="content" type="hidden" id="content" value='$content'>
          <input name="atn" type="hidden" id="atn" value="$atn" />
          <input name="step" type="hidden" id="step" value="1" />
          <input name="uid" type="hidden" id="uid" value="$uid" />
		  <div style="line-height:20px;"><strong>企业资质辅助说明</strong><br />(比如：插入关于企业资质的图片,可以使用<strong><font color="#669900">荣誉证书，获奖证书，营业执照</font></strong>等比较有说服力的证件照片或者扫描件,<a href="?atn=pic&amp;uid=$uid"><strong><font color="#FF0000">点击这里先上传</font></strong></a>)</div>
<div>
<!--
EOT;
	//导入绑定图片功能
    require('bd_pics.htm');
    
print <<<EOT
-->
</div>
        <input type="submit" name="button10" id="button10" value="提 交" style="padding:5px;" />
        </form>
        <!--
EOT;
}elseif($atn=='banner'){
print <<<EOT
-->
        <form action="?" method="post" enctype="multipart/form-data" name="form1" id="form1">
          <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC" >
            <tr>
              <td width="20%" align="left" valign="top" bgcolor="#f9f9f9" class="tdT"><p>头部通栏图片：<br />
                </p></td>
              <td width="80%" align="left" valign="top" bgcolor="#FFFFFF"><p>
                  <input name="postfile" type="file" id="postfile" size="30" />
                  <br />
                  <img src="$conf[banner_show]"  border="0" width="495" height="60"  class="logo" onerror="this.style.display='none'"/></p>
                <p>(尺寸990*120,格式只能是JPG,GIF,PNG,文件最大$webdb[homepage_banner_size]k)</p>
                <p>&nbsp;</p>
                <p><strong>注意</strong>：此处设置后，头部将不在显示公司名称;</p>
                <input name="conf[oldfile]" type="hidden"  value="$conf[banner]" /></td>
            </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#f9f9f9" class="tdT">删除通栏图片</td>
              <td align="left" valign="top" bgcolor="#FFFFFF"><input name="del_banner" type="checkbox" value="1" onclick="if(this.checked){return confirm('确定要删除吗?');}" />
                如果您不再想使用通栏图片，选中此项即可删除； </td>
            </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#f9f9f9" class="tdT">&nbsp;</td>
              <td align="left" valign="top" bgcolor="#FFFFFF"><input type="submit" name="button7" id="button11" value="上传" onclick="setindex_left_right()" />
                <input name="atn" type="hidden" id="atn3" value="$atn" />
                <input name="step" type="hidden" id="step3" value="1" />
                <input name="uid" type="hidden" id="uid3" value="$uid" />
                <input name="conf[hid]" type="hidden" id="conf[hid]" value="$conf[hid]" /></td>
            </tr>
          </table>
        </form>
        <!--
EOT;
}elseif($atn=='contactus'){
print <<<EOT
-->
        <form action="?" method="post" enctype="multipart/form-data" name="form1" id="form1">
          <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC" style=" ">
            <tr>
              <td width="15%" align="center" bgcolor="#F9F9F9">单位名称：</td>
              <td align="left" bgcolor="#FFFFFF">&nbsp;$address[title]</td>
              <td align="center" bgcolor="#F9F9F9">工作职位：</td>
              <td align="left" bgcolor="#FFFFFF"><input name="qy_contact_zhiwei" type="text" id="qy_contact_zhiwei" value="$address[qy_contact_zhiwei]"></td>
            </tr>
            <tr>
              <td align="center" bgcolor="#F9F9F9">联 系 人：</td>
              <td width="35%" align="left" bgcolor="#FFFFFF"><input name="qy_contact" type="text" id="qy_contact" value="$address[qy_contact]"></td>
              <td width="15%" align="center" bgcolor="#F9F9F9"> 电话号码：</td>
              <td width="35%" align="left" bgcolor="#FFFFFF"><input name="qy_contact_tel" type="text" id="qy_contact_tel" value="$address[qy_contact_tel]"></td>
            </tr>
            <tr>
              <td align="center" bgcolor="#F9F9F9">传真号码：</td>
              <td align="left" bgcolor="#FFFFFF"><input name="qy_contact_fax" type="text" id="qy_contact_fax" value="$address[qy_contact_fax]"></td>
              <td align="center" bgcolor="#F9F9F9"> 移动号码：</td>
              <td align="left" bgcolor="#FFFFFF"><input name="qy_contact_mobile" type="text" id="qy_contact_mobile" value="$address[qy_contact_mobile]"></td>
            </tr>
            <tr>
              <td align="center" bgcolor="#F9F9F9">单位主页：</td>
              <td align="left" bgcolor="#FFFFFF"><input name="qy_website" type="text" id="qy_website" value="$address[qy_website]"></td>
              <td align="center" bgcolor="#F9F9F9">邮箱地址：</td>
              <td align="left" bgcolor="#FFFFFF"><input name="qy_contact_email" type="text" id="qy_contact_email" value="$address[qy_contact_email]"></td>
            </tr>
            <tr>
              <td align="center" bgcolor="#F9F9F9">所在地区：</td>
              <td align="left" bgcolor="#FFFFFF">&nbsp;$address[city_id]</td>
              <td align="center" bgcolor="#F9F9F9">邮政编码：</td>
              <td align="left" bgcolor="#FFFFFF"><input name="qy_postnum" type="text" id="qy_postnum" value="$address[qy_postnum]"></td>
            </tr>
            <tr>
              <td align="center" bgcolor="#F9F9F9">详细地址：</td>
              <td colspan="3" align="left" bgcolor="#FFFFFF"><input name="qy_address" type="text" id="qy_address" value="$address[qy_address]" size="50"></td>
            </tr>
            <tr>
              <td align="center" bgcolor="#F9F9F9">在线交流：</td>
              <td colspan="3" align="left" bgcolor="#FFFFFF">
			  
			    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="9%" align="center">Q Q号</td>
                    <td width="91%"><input name="qq" type="text"  value="{$address[qq]}" size="40"> 多个号码以‘,’隔开  </td>
                  </tr>
				   <tr>
                    <td width="9%" align="center">M S N</td>
                    <td width="91%"><input name="msn" type="text"  value="{$address[msn]}" size="40"> 多个号码以‘,’隔开  </td>
                  </tr>
				  <tr>
                    <td width="9%" align="center">阿里旺旺</td>
                    <td width="91%"><input name="ww" type="text"  value="{$address[ww]}" size="40"> 多个号码以‘,’隔开  </td>
                  </tr>
                </table>
				
			  </td>
            </tr>
            <tr>
              <td align="center" bgcolor="#F9F9F9"><input name="atn" type="hidden" id="atn" value="$atn" />
                <input name="step" type="hidden" id="step" value="1" />
                <input name="uid" type="hidden" id="uid" value="$uid" /></td>
              <td colspan="3" align="left" bgcolor="#FFFFFF"><input type="submit" name="button9" id="button13" value="提 交" /></td>
            </tr>
          </table>
        </form>
        <!--
EOT;
}elseif($atn=='news'){
print <<<EOT
-->
        <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
          <tr>
            <td width="62%" bgcolor="#F9F9F9"><strong>新闻标题</strong></td>
            <td width="9%" align="center" bgcolor="#F9F9F9"><strong>审核</strong></td>
            <td width="11%" align="center" bgcolor="#F9F9F9"><strong>发布时间</strong></td>
            <td width="8%" align="center" bgcolor="#F9F9F9"><strong>浏览量</strong></td>
            <td width="10%" align="center" bgcolor="#F9F9F9"><strong>操作</strong></td>
          </tr>
          <!--
EOT;
foreach($listdb as $rs){
print <<<EOT
-->
          <tr>
            <td bgcolor="#FFFFFF"><a href="$Mdomain/homepage.php?uid=$uid&m=newsview&id=$rs[id]" target="_blank">$rs[title]</a></td>
            <td align="center" bgcolor="#FFFFFF">$rs[yz]</td>
            <td align="center" bgcolor="#FFFFFF">$rs[posttime]</td>
            <td align="center" bgcolor="#FFFFFF">$rs[hits]</td>
            <td align="center" bgcolor="#FFFFFF"><a href="?atn=postnews&id=$rs[id]&uid=$uid"  onclick="return confirm('编辑后将重新接受审核，是否继续？');">编辑</a> | <a href="?atn=delnews&id=$rs[id]&uid=$uid" onclick="return confirm('删除后不可恢复，是否继续？');">删除</a></td>
          </tr>
          <!--
EOT;
}
print <<<EOT
-->
        </table>
        <br />
        <p class="page">$showpage</p>
        <br />
        <p class="page"><strong>友情提示</strong>：如发现您发布的新闻长期处于‘<font color="#FF0000">审核中</font>’状态，则推荐您查看或修改您的新闻内容，并确定内容是否真实可靠；</p>
        <!--
EOT;
}elseif($atn=='postnews'){
print <<<EOT
-->
        <form action="?" method="post" enctype="multipart/form-data" name="form1" id="form1">
          <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
            <tr>
              <td width="15%" bgcolor="#F9F9F9">新闻标题：</td>
              <td width="85%" bgcolor="#FFFFFF"><input name="title" type="text" id="title" value="$news[title]" size="40" />
                (5-30个字之间)</td>
            </tr>
            <tr>
              <td bgcolor="#F9F9F9">新闻内容：</td>
              <td bgcolor="#FFFFFF"><p>新闻内容不能为空，切最多50000字符，包括HTML代码;</p>
                <iframe id="eWebEditor1" src="$Murl/ewebeditor/ewebeditor.php?id=content&style=standard&etype=1" frameborder="0" scrolling="no" width="100%" height="360"></iframe>
                <input name="content" type="hidden" id="content" value='$news[content]'></td>
            </tr>
            
            
            
            <tr>
              <td bgcolor="#F9F9F9">插入图库里的图片:
              </td>
              <td bgcolor="#FFFFFF">
<!--
EOT;
	//导入绑定图片功能
    require('bd_pics.htm');
    
print <<<EOT
-->			  
			  </td>
            </tr> 
           
		    <tr>
              <td bgcolor="#F9F9F9"><input name="atn" type="hidden" id="atn" value="$atn" />
                <input name="step" type="hidden" id="step" value="1" />
                <input name="uid" type="hidden" id="uid" value="$uid" />
                <input name="id" type="hidden" id="id" value="$id" />
              </td>
              <td bgcolor="#FFFFFF"><input type="submit" name="button14" id="button14" value="提 交"  style="padding:5px;"/></td>
            </tr>
          </table>
        </form>
        <!--
EOT;
}elseif($atn=='pic'){
print <<<EOT
-->
        <table width="100%"  cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
          <tr>
            <td width="77%" rowspan="3" align="left" valign="top" bgcolor="#FFFFFF"><!--
EOT;
foreach($listdb as $rs){
print <<<EOT
-->
              <div style="float:left; width:130px; height:140px; text-align:center; padding:5px; margin:10px;"> <a href="?atn=piclist&amp;uid=$uid&amp;psid=$rs[psid]"><img src="$webdb[www_url]/$user_picdir/$rs[uid]/$rs[faceurl].gif"  style="border:2px #CCCCCC solid;" width="90" height="90" onerror="this.src='$Murl/images/$STYLE/userpicsortdefault.gif';"/> <br />
                <strong>$rs[name]</strong></a><strong></strong> <br />
                <a href="?atn=pic&amp;edit_psid=$rs[psid]&uid=$uid">编辑</a> <a href="?atn=del_picsort&amp;psid=$rs[psid]&uid=$uid" onclick="return confirm('确定删除{$rs[name]}吗？');">删除</a></div>
              <!--
EOT;
}
print <<<EOT
-->
            </td>
            <td width="23%" bgcolor="#FFFFFF" align="center"><a href="?atn=pic_upload&uid=$uid"><img src="$Murl/images/$STYLE/userpicupload.gif"  border="0"/></a></td>
          </tr>
          <tr>
            <td bgcolor="#F9F9F9"><strong>添加图集</strong></td>
          </tr>
          <tr>
            <td align="left" valign="top" bgcolor="#FFFFFF"><form id="form2" name="form2" method="post" action="?">
                <input name="psid" type="hidden" id="psid" value="$edit_psid" />
                <input name="uid" type="hidden" id="uid" value="$uid" />
                <input name="atn" type="hidden" id="atn" value="save_picsort" />
                图集名称：(2-8个字)<br />
                <input name="name" type="text" id="name" value="$rsdb[name]" size="20" />
                <br />
                图集描述：(0-50个字)<br />
                <textarea name="remarks" cols="20" rows="3" id="remarks">$rsdb[remarks]</textarea>
                <br />
                图集排序：<br />
                <input name="orderlist" type="text" id="orderlist" value="$rsdb[orderlist]" size="5" />
                <br />
                (填写数字，数字大在前)<br />
                <br />
                <input type="submit" name="Submit" value="保 存" />
              </form></td>
          </tr>
        </table>
        <!--
EOT;
}elseif($atn=='piclist'){
print <<<EOT
-->
        <form action="?&uid=$uid" method="post" name="a">
          <table width="100%" cellpadding="5" cellspacing="1" >
            <tr>
              <td width="102" height="100" align="center" valign="middle"  style="border-bottom:1px solid #CCCCCC;"><img src="$webdb[www_url]/$user_picdir/$rsdb[uid]/$rsdb[faceurl].gif"  style="border:2px #CCCCCC solid;" width="90" height="90" onerror="this.src='$Murl/images/$STYLE/userpicsortdefault.gif';"/></td>
              <td width="713"    style="border-bottom:1px solid #CCCCCC;"><strong>$rsdb[name]</strong><br />
                $rsdb[remarks] <br />
                <a href="?atn=pic_upload&uid=$uid&psid=$psid"><img src="$Murl/images/$STYLE/userpicupload.gif"  border="0"/></a>
                <p>
                  <input type="submit" name="button16" id="button16" value="编辑选中项" onclick="document.getElementById('myaction').value='pic_edit';" />
                  <input type="submit" name="button17" id="button17" value="删除选中项" onclick="if(confirm('确定删除选中项目吗？')){document.getElementById('myaction').value='pic_del';}else{return false;}"/>
                  <input type="submit" name="button16" id="button16" value="设为图集封面" onclick="document.getElementById('myaction').value='pic_fm';" />
                  <input type="button" name="button16" id="button16" value="返回图库" onclick="window.location='?atn=pic&uid=$uid';" />
                  <input name="atn" type="hidden" id="myaction" value="pic_del" />
                  <input name="psid" type="hidden" id="psid" value="$psid" />
                </p></td>
            </tr>
            <tr>
              <td colspan="2" align="left" valign="top" height="330"><div>
                  <!--
EOT;
foreach($listdb as $rs){
print <<<EOT
-->
                  <li style="float:left; width:100px; height:130px; word-wrap: break-word; word-break: normal; text-align:center; margin:10px 10px 0px 5px;"> <a href="$Mdomain/homepage.php?uid=$rs[uid]&m=pics&psid=$rs[psid]&pid=$rs[pid]" target="_blank"><img src="$rs[url].gif"  style="border:1px #CCCCCC solid;" width="90" height="90"  onerror="this.src='$Murl/images/$STYLE/userpicdefault.gif';" /></a>
                    <p style="height:50px;">
                      <input type="checkbox" name="pids[]" value="$rs[pid]" />
                      $rs[title]</p>
                  </li>
                  <!--
EOT;
}
print <<<EOT
-->
                </div></td>
            </tr>
            <tr>
              <td  colspan="2" align="center" valign="middle"><div class="page">$showpage</div></td>
            </tr>
          </table>
        </form>
        <!--
EOT;
}elseif($atn=='pic_edit'){
print <<<EOT
-->
        <form action="?atn=pic_edit_save&uid=$uid&psid=$psid" method="post" name="a">
          <table width="100%" cellpadding="5" cellspacing="1" >
            <tr>
              <td  colspan="2" align="left" valign="middle"><strong>批量修改图片信息</strong></td>
            </tr>
            <!--
EOT;
foreach($listdb as $rs){
print <<<EOT
-->
            <tr>
              <td   align="left" valign="top" width="100"><a href="$Mdomain/homepage.php?uid=$uid&m=showpic&pid=$rs[pid]" target="_blank"><img src="$rs[url].gif"  style="border:1px #CCCCCC solid;" width="90" height="90"  onerror="this.src='$Murl/images/$STYLE/userpicdefault.gif';" /></a> </td>
              <td align="left" valign="top"><input type="hidden" name="pids[{$rs[pid]}]" value="$rs[pid]" />
                描述：
                <input name="title[$rs[pid]]" type="text" id="title_$rs[pid]" value="$rs[title]" size="30" />
                (最多16个字) <br />
                <br />
                排序：
                <input name="orderlist[$rs[pid]]" type="text" id="title_$rs[pid]" size="5" value="$rs[orderlist]" /></td>
            </tr>
            <!--
EOT;
}
print <<<EOT
-->
          </table>
          <center>
            <input name="sss" type="submit" value="保 存" style="padding:5px;" />
          </center>
        </form>
        <!--
EOT;

}elseif($atn=='pic_upload'){
print <<<EOT
-->
        <table width="100%"  cellpadding="5" cellspacing="1" bgcolor="#CCCCCC" >
          <tr>
            <td height="450" align="left" valign="top" bgcolor="#FFFFFF"><!--
EOT;
for($i=1;$i<=$webdb[company_upload_max] ;$i++){
print <<<EOT
-->
              <form name="userpostpic_$i" id="userpostpic_$i" action="?atn=pic_upload_save&uid=$uid&ind=$i" method="post" enctype="multipart/form-data" target="userpostpic_target" style=" height:30px;padding:5px;">
                图片{$i}：
                <input type="file" name="postfile" size="20" />
                标题：
                <input type="text" name="title" value="" size="20" />
                <span id="show_$i"></span>
                <input type="hidden" name="psid_$i" id="psid_$i"  value="0"/>
              </form>
              <!--
EOT;
}
print <<<EOT
-->
            </td>
            <td width="250" valign="top" bgcolor="#F9F9F9" style="line-height:200%"><strong>1.上传到图集</strong>：<br />
              <select name="psid" size="1" id="psid">
                <!--
EOT;
foreach($listdb as $rs){
$ck=$rs[psid]==$psid?" selected":"";
print <<<EOT
-->
                <option value="$rs[psid]" $ck>$rs[name]</option>
                <!--
EOT;
}
print <<<EOT
-->
              </select>
              &nbsp;
              +<a href="?atn=pic&amp;uid=$uid">新建图集</a> <br />
              <br />
              <strong>2.选择图片</strong><br />
              最多可以同时选择$webdb[company_upload_max]张<br />
              格式:gif jpg<br />
              大小：$webdb[company_uploadsize_max]k<br />
              推荐图片尺寸比列为1:1,也就长宽一样<br />
              标题最大长度为16个字<br />
              每个商家最多{$webdb[company_uploadnum_max]}张图片空间，已上传<strong><font color="#FF0000">{$myuploadedpicnum}</font></strong>张； <br />
              <br />
              <strong>3.点击开始上传</strong><br />
              <a href="javascript:" id="userpostpic_btn" style="color:#FF0000;"  ><img src="$Murl/images/$STYLE/userpicupload_do.gif" border="0"  onclick="userpost_pic_do(1);" /></a><br />
              在上传过程中，请不要刷新本页<br />
              如果不符合上传条件的图片将会被忽略<br />
              标题过长系统将自动截取前16个字 <br />
              <input type="button" name="button16" id="button16" value="返回图库" onclick="window.location='?atn=pic&uid=$uid';" />
              <br />
              <iframe name="userpostpic_target" src="" width="100" height="50" style="display:none1"></iframe>
              <script language="javascript">
	function userpost_pic_do(ind){
		if(ind<1) return false;
		if(ind>$webdb[company_upload_max]) return false;
			
		document.getElementById('show_'+String(ind)).innerHTML='上传中...';
		
		var psd=document.getElementById('psid');
		try{
		document.getElementById('psid_'+String(ind)).value=psd.options[psd.selectedIndex].value;
		}catch(e){
			alert('请先制定图集再上传');
			return false;
		}
		//alert(document.getElementById('psid_'+String(ind)).value);
		document.getElementById('userpostpic_btn').blur();
		if(ind==$webdb[company_upload_max]){
		document.getElementById('userpostpic_btn').innerHTML='点击此处继续上传';
		document.getElementById('userpostpic_btn').href="?atn=$atn&uid=$uid&psid=$psid";
		}else{
		document.getElementById('userpostpic_btn').innerHTML='上传中，当前上传的是图片'+String(ind);
		}
		//提交咯
		try{
			document.getElementById('userpostpic_'+String(ind)).submit();	
		}catch(e){
			var forms=document.getElementsByTagName('form');
			forms[(ind-1)].submit();
		}
	}

</script>
            </td>
          </tr>
        </table>
        <!--
EOT;

}elseif($atn=='friendlink'){
print <<<EOT
-->
        <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
          <form action="?" method="post" enctype="multipart/form-data" name="form1" id="form1">
            <tr>
              <td width="15%" valign="middle" bgcolor="#F9F9F9">添加新友情链接：</td>
              <td colspan="2" bgcolor="#FFFFFF"><input type="text" name="fl_username" id="fl_username" />
                <input type="submit" name="button15" id="button15" value="提交" />
                <p>输入对方通行证帐号,最多可以添加$webdb[friendlinkmax]个友情链接</p>
                <input name="atn" type="hidden" id="atn" value="$atn" />
                <input name="step" type="hidden" id="step" value="1" />
                <input name="uid" type="hidden" id="uid" value="$uid" />
              </td>
            </tr>
          </form>
          <tr>
            <td colspan="3" bgcolor="#F9F9F9">已添加的友情链接</td>
          </tr>
          <!--
EOT;
if($list_friendlink){
foreach($list_friendlink as $rs){
print <<<EOT
-->
          <tr>
            <td bgcolor="#FFFFFF">$rs[username]</td>
            <td width="73%" bgcolor="#FFFFFF"><a href="$Mdomain/homepage.php?uid=$rs[uid]"  target="_blank"/>$rs[title]</a></td>
            <td width="12%" bgcolor="#FFFFFF"><a href="?uid=$uid&atn=friendlink&del=$rs[username_code]">删除</a></td>
          </tr>
          <!--
EOT;
}}else{
print <<<EOT
-->
          <tr>
            <td bgcolor="#FFFFFF" colspan="3">暂无</td>
          </tr>
          <!--
EOT;

}
print <<<EOT
-->

        </table>
        <!--
EOT;
}elseif($atn=='gz'){
print <<<EOT
-->
        <form action="?" method="post" enctype="multipart/form-data" name="form1" id="form1">
          <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC" >
            <tr>
              <td width="20%" align="left" valign="top" bgcolor="#f9f9f9" class="tdT"><p>公司公章：<br />
                </p></td>
              <td width="80%" align="left" valign="top" bgcolor="#FFFFFF"><p>
                  <input name="postfile" type="file" id="postfile" size="30" />
                  <br />
                  <img src="$conf[gz_show]"  border="0" width="120" height="120"  class="logo" onerror="this.style.display='none'"/></p>
                <p>(尺寸120*120,格式只能是JPG,GIF,PNG,文件最大2M)</p>
                <p>&nbsp;</p>
                <p><strong>注意</strong>：此处设置后，报价单或者询价单再被打印时，将会盖上公章，提高真实性和可信任性;<br />
                    <strong>提示</strong>：公章图片最好是白色背景的公章扫描图片或者精细的照片,上传后将会自动制作成120*120的公章图片；</p>
                <input name="conf[oldfile]" type="hidden"  value="$conf[gz]" /></td>
            </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#f9f9f9" class="tdT">删除公章图片</td>
              <td align="left" valign="top" bgcolor="#FFFFFF"><input name="del_gz" type="checkbox" value="1" onclick="if(this.checked){return confirm('确定要删除吗?');}" />
                如果您不再想使用公章，选中此项即可删除； </td>
            </tr>
            <tr>
              <td align="left" valign="top" bgcolor="#f9f9f9" class="tdT">&nbsp;</td>
              <td align="left" valign="top" bgcolor="#FFFFFF"><input type="submit" name="button7" id="button11" value="上传" />
                <input name="atn" type="hidden" id="atn" value="$atn" />
                <input name="step" type="hidden" id="step" value="1" />
                <input name="uid" type="hidden" id="uid" value="$uid" />
                <input name="conf[rid]" type="hidden" id="conf[rid]" value="$conf[rid]" /></td>
            </tr>
          </table>
        </form>
<!--
EOT;
}
print <<<EOT
-->
      </div></td>
  </tr>
</table>
</body>
</html>
<!--
EOT;
?>
-->
