<!--
<?php
$search_type_sel[$search_type]=" checked";
$hr_sid=$hr_sid?$hr_sid:0;
print <<<EOT
-->
<div class="guide">首页 > <a href="$Mdomain/jobs.php">人才招聘</a> >


<!--
EOT;
	if($search_type=='jobs' || $search_type==''){
print <<<EOT
--> 
<a href="?search_type=jobs">找工作</a> 
<!--
EOT;
}elseif($search_type=='resume'){
print <<<EOT
--> 
<a href="?search_type=resume">招人才</a> 
<!--
EOT;
}

print <<<EOT
-->
 $fname</div>

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="240" align="left" valign="top">
<!--
EOT;
print <<<EOT
-->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="jobssort">
        <tr>
          <td class="head"> <span class="tab1">行业分类</span></td>
        </tr>
        <tr>
          <td class="list">
<!--
EOT;
	foreach($list AS $key=>$value){
	$color= $key == $fid ? 'red' : '';
	$word = get_word($titl=$value,16);
print <<<EOT
-->
          <li style="list-style:none; width:48%; float:left; line-height:200%" title="$titl"><a href="$Mdomain/jobslist.php?hr_sid={$key}&search_type=$search_type">{$word}</a></li>
<!--
EOT;
	}
print <<<EOT
-->
		  </td>
		 </tr>
	</table>
<!--
EOT;
print <<<EOT
-->    
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="jobssort">
        <tr>
          <td class="head"><span class="tab1">推荐职位</span></td>
        </tr>
        <tr>
          <td class="list">
<!--
EOT;
$bastzhiweilist=getzhiweilist(0,$hot=1,$rows=8,$leng=25);
foreach($bastzhiweilist as $rs){
print <<<EOT
-->
	·<a href="$Mdomain/jobsshow.php?id=$rs[jobs_id]" target="_blank" title="$rs[title_full]">$rs[cityname] $rs[title]</a><br />
<!--
EOT;
}
print <<<EOT
-->
              
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="jobssort">
        <tr>
          <td class="head"><span class="tab1">推荐人才</span></td>
        </tr>
        <tr>
          <td class="list">
<!--
EOT;
$bastrencailist=getrencailist(0,$hot=1,$rows=8,$leng=25);
foreach($bastrencailist as $rs){
print <<<EOT
-->
	·<a href="$Mdomain/resumeshow.php?id=$rs[re_id]" target="_blank" title="$rs[title_full]">$rs[job_name]($rs[truename])</a><br />
<!--
EOT;
}
print <<<EOT
-->
          </td>
        </tr>
      </table></td>
    <td width="750" align="right" valign="top">
	 <table width="100%" border="0" cellspacing="0" cellpadding="0" class="job_div">
        <tr>
          <td class="head"><span class="tab2">搜索</span></td>
        </tr>
        <tr>
          <td class="list">
          <form action="?" method="post" >
          
          <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td width="8%" height="20" align="left">关键字：</td>
                <td width="92%" align="left"><input name="keywords" type="text" id="keywords" value="$keywords" />
                <input type="submit" name="button" id="button" value="搜索" />
                <input name="hr_sid" type="hidden" id="hr_sid" value="$hr_sid" />
                <input name="search_type" type="hidden" id="search_type" value="$search_type" />
                <input type="radio" value="jobs" name="search_type"  $search_type_sel[jobs] /> 找工作
                <input type="radio" value="resume" name="search_type"  $search_type_sel[resume] /> 招人才                </td>
              </tr>
            </table>
            </form>
            
          </td>
        </tr>
      </table>
	
      <table width="100%" border="0" cellspacing="0" cellpadding="0"  class="job_div">
        <tr>
          <td class="head">
<!--
EOT;
	if($search_type=='jobs' || $search_type==''){
print <<<EOT
--> 
<span class="tab1" ><a href="?hr_sid=$hr_sid&search_type=jobs&province_id=$province_id">找工作</a></span> <span class="tab2" ><a href="?hr_sid=$hr_sid&province_id=$province_id&search_type=resume">招人才</a></span>
<!--
EOT;
}elseif($search_type=='resume'){
print <<<EOT
--> 
<span class="tab2" ><a href="?hr_sid=$hr_sid&search_type=jobs&province_id=$province_id">找工作</a></span> <span class="tab1" ><a href="?hr_sid=$hr_sid&province_id=$province_id&search_type=resume">招人才</a></span>
<!--
EOT;
}
print <<<EOT
-->           
          <span class="more"><a href="$Mdomain/jobs_post.php?job=jobs" target="_blank"><img src="$Murl/images/default/gif-0645.gif" border="0" />发布招聘信息</a> | <a href="$Mdomain/jobs_post.php?job=resume" target="_blank"><img src="$Murl/images/default/gif-0645.gif" border="0" />登记个人简历</a></span>          </td>
        </tr>
        <tr>
          <td  height="800" valign="top" class="list">
<!--
EOT;
	if($search_type=='jobs' || $search_type==''){
print <<<EOT
-->   
          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tablelist_{$hr_sid}_1" >
              <tr >
                <td colspan="2" align="left"><input type="button" name="button2" id="button2" value="申请职位" class="btn_list" /> 
                <input type="button" name="button2" id="button2" value="加入收藏" class="btn_list" /></td>
                <td colspan="3" align="left">&nbsp;</td>
              </tr>
              <tr  class="tr_title">
                <td width="24%" align="left"><input type="checkbox" name="checkbox2" id="checkbox2" />
                职位名称</td>
                <td width="32%" align="left">招聘公司</td>
                <td width="17%" align="left">地区</td>
                <td width="13%" align="left">发布时间</td>
              </tr>
<!--
EOT;

$i=1;
foreach($getzhiweilist AS $rs){
$tr=$i%2==0?"tr2":"tr1"; $i++;
$js=$rs[rid]?"return true;":"alert('该公司还未登记');return false;";
print <<<EOT
-->
              <tr  class="$tr">
                <td align="left"><input type="checkbox" name="listdb[$rs[jobs_id]]"  value="$rs[jobs_id]" /><a href="$Mdomain/jobsshow.php?id=$rs[jobs_id]" target="_blank">$rs[title]</a></td>
                <td align="left"><a href="$Mdomain/homepage.php?uid=$rs[uid]" target="_blank" onclick="$js">$rs[companyname]</a></td>
                <td align="left"><a href="$Mdomain/jobsshow.php?id=$rs[jobs_id]" target="_blank">$rs[cityname]</a></td>
                <td align="left"><a href="$Mdomain/jobsshow.php?id=$rs[jobs_id]" target="_blank">$rs[posttime]</a></td>
              </tr>
              <!--
EOT;
}
print <<<EOT
-->
          </table>
<!--
EOT;
}elseif($search_type=='resume'){
print <<<EOT
--> 

 <table width="100%" border="0" cellspacing="0" cellpadding="0"  >
  <tr >
                <td colspan="3" align="left">&nbsp;</td>
                <td colspan="3" align="left">&nbsp;</td>
              </tr>
              <tr  class="tr_title">
                <td width="22%" align="left"><input type="checkbox" name="checkbox" id="checkbox" />
                姓名</td>
                <td width="20%" align="left">期望职位</td>
                <td width="13%" align="left">所在地</td>
                <td width="16%" align="left">发布时间</td>
              </tr>
              <!--
EOT;
$getrencailist=getrencailist($hr_sid,$hot=0,$rows=8,$leng=25);
$i=1;
foreach($getrencailist AS $rs){
$tr=$i%2==0?"tr2":"tr1"; $i++;
print <<<EOT
-->
              <tr  class="$tr">
                 <td align="left"><input type="checkbox" name="listdb[$rs[re_id]]"  value="$rs[re_id]" /><a href="$Mdomain/resumeshow.php?id=$rs[re_id]" target="_blank">$rs[truename]</a></td>
                <td align="left"><a href="$Mdomain/resumeshow.php?id=$rs[re_id]" target="_blank">$rs[job_name]</a></td>
                <td align="left"><a href="$Mdomain/resumeshow.php?id=$rs[re_id]" target="_blank">$rs[cityname]</a></td>
                <td align="left"><a href="$Mdomain/resumeshow.php?id=$rs[re_id]" target="_blank">$rs[posttime]</a></td>
              </tr>
              <!--
EOT;
}
print <<<EOT
-->
            </table>
<!--
EOT;
}
print <<<EOT
-->          </td>
        </tr>
      </table>
      $showpage
      </td>
  </tr>
</table>
<script type="text/javascript">
<!--
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
//-->
</script>
<!--
EOT;
?>
-->

