<!--
<?php
print <<<EOT
-->
<table cellspacing="0" cellpadding="0">
  <tr>
    <td width="240"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="jobssort">
      <tr>
        <td class="head"><span class="tab1">简历信息</span></td>
      </tr>
      <tr>
        <td align="left" class="list">
		<p>更新时间：$resume_data[posttime]</p>
		<p>发布者ID：$resume_data[username]</p>
		<p>浏 览 量：$resume_data[hits]次</p>
		<p>所在分类：$hrFid_db[sname]</p>
		<p>&nbsp;</p>
		<p>已有<strong><font color="red">$resume_data[coll_company_to_this]</font></strong>家单位把本简历加入人才库；</p>
<!--
EOT;
if($resume_data[best]){
print <<<EOT
-->		   
		<p><strong><img src="$Murl/images/$STYLE/icon_qi.gif" /> <font color="#990000">此简历已被推荐</font></strong></p>  
<!--
EOT;
}
print <<<EOT
-->			
		<p>&nbsp;</p>
		<p align="center"><a href="?id=$id&print=1" target="_blank"><img src="$Murl/images/$STYLE/print.gif" border="0"/></a>&nbsp;&nbsp;&nbsp;<a href="$Mdomain/jobs_post.php?&job=add_td&re_id=$id"><img src="$Murl/images/$STYLE/add_resume_to_mine.gif"  border="0"/></a></p>
		<p>&nbsp;</p>
		</td>
      </tr>
    </table>
      
	  
	  </td>
    <td width="750">
	
	
	
	
	<table width="99%" border="0" cellspacing="0" cellpadding="0"  class="job_div">
        <tr>
          <td class="head"><span class="tab2" >基本资料</span>
<!--
EOT;
if($resume_data[uid]==$lfjuid || $web_admin ){
print <<<EOT
-->		   
		   <span class="more">
		   <a href="$Mdomain/jobs_post.php?job=edit_resume&re_id=$resume_data[re_id]">修改</a> 
		  <!-- <a href="$Mdomain/jobs_post.php?job=del_resume&re_id=$resume_data[re_id]" onclick="return confirm('确定删除吗？');">删除</a>-->
		  </span>
<!--
EOT;
}
print <<<EOT
-->	
       
	    
		   
	      </td>
	    </tr>
		<tr>
			<td class="list">
			<table width="100%" cellspacing="0" cellpadding="0">
			
			<tr><td width="21%" class="cols_name"><img src="$Murl/images/$STYLE/arrow_list.gif" />真实姓名：</td>
			<td width="57%"  class="cols_value"><strong class="title">$resume_data[truename]</strong>&nbsp;$resume_data[eng_name]</td>
			
			  <td width="49%" rowspan="100" align="center" valign="middle" >
			  <img src="$webdb[www_url]/$webdb[updir]/$Imgdirname_resume/$resume_data[icon]"  width="150" style="border:1px #CCCCCC solid" onerror="this.src='$Murl/images/$STYLE/nobody.gif';"/>
			  </td>
			</tr>
			<tr><td class="cols_name"><img src="$Murl/images/$STYLE/arrow_list.gif" />期望岗位：</td><td  class="cols_value"><strong class="title">$resume_data[job_name]</strong>&nbsp;</td>
			  </tr>
			
			<tr><td class="cols_name"><img src="$Murl/images/$STYLE/arrow_list.gif" />所在地区：</td><td  class="cols_value">$resume_data[city]&nbsp;</td>
			  </tr>
			
			$resume_show_template 
			  
			</table>
			
			
			</td>
		</tr>
    </table>
	
	
	

	
	
	<table width="99%" border="0" cellspacing="0" cellpadding="0"  class="job_div">
        <tr>
          <td class="head"><span class="tab2" >自我介绍</span><span class="more"><a href="#">TOP</a></span></td>
	    </tr>
		<td class="list" height="100">
			<div>
			$resume_data[myinfo]
			</div>
		  </td>
    </table>
	
	<table width="99%" border="0" cellspacing="0" cellpadding="0"  class="job_div">
        <tr>
          <td class="head"><span class="tab2" >工作经历</span><span class="more"><a href="#">TOP</a></span></td>
	    </tr>
		<td class="list" height="100">
			<div>
			$resume_data[work_his]
			</div>
		  </td>
    </table>
	
	<table width="99%" border="0" cellspacing="0" cellpadding="0"  class="job_div">
        <tr>
          <td class="head"><span class="tab2" >教育背景</span><span class="more"><a href="#">TOP</a></span></td>
	    </tr>
		<td class="list" height="100">
			<div>
			$resume_data[edu_his]
			</div>
		  </td>
    </table>
	
		<table width="99%" border="0" cellspacing="0" cellpadding="0"  class="job_div">
        <tr>
          <td class="head"><span class="tab2" >联系方式</span><span class="more"><a href="#">TOP</a></span></td>
	    </tr>
		<td class="list" height="100">
			<div>
<!--
EOT;
if(!$webdb[resumeView_contact] && !$lfjuid){
print <<<EOT
-->
&nbsp;登录后可见：
<div class="login">
        <SCRIPT src="$webdb[www_url]/hack.php?hack=login&job=js"></SCRIPT>
</div>
<!--
EOT;
}else{
print <<<EOT
-->
			<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td class="cols_name" width="21%">居住地址：&nbsp;</td>
    <td class="cols_value" width="79%">$resume_data[address]&nbsp;</td>
  </tr>
  <tr>
    <td class="cols_name">联系电话：&nbsp;</td>
    <td class="cols_value">$resume_data[phones]&nbsp;</td>
  </tr>
  <tr>
    <td class="cols_name">邮箱地址：&nbsp;</td>
    <td class="cols_value">$resume_data[email]&nbsp;</td>
  </tr>
  <tr>
    <td class="cols_name">个人主页：&nbsp;</td>
    <td class="cols_value">$resume_data[website]&nbsp;</td>
  </tr>
</table>
<!--
EOT;

}
print <<<EOT
-->	
			</div>
		  </td>
    </table>
	
	</tr>
</table>


<!--
EOT;
?>
-->