<!--
<?php
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable" id="Itable">
  <tr> 
    <td align="left"   valign="top"   class="Side">
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%"  style="padding-right:5px; line-height:180%" >
	
<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="redtitle">
  <tr>
    <td class="head"><span class="title">最新供应信息</span><span class="right">$label[sale_1_more]</span></td>
  </tr>
  <tr>
    <td  class="content" height="150">
<!--newinfolist-->
<!--
EOT;
$newinfolist=Get_Info($type='new',$rows=$webdb[InfoIndexRow],$leng=$webdb[InfoIndexLeng],$fid=0,$mid=0,$ctype=1);
foreach($newinfolist as $rs){
print <<<EOT
-->
	<div style="height:18px;">·<a href="$rs[url]" title="$rs[full_title]">$rs[title]</a> $rs[my_price]</div>
<!--
EOT;
}
print <<<EOT
-->
	</td>
  </tr>
  <tr>
    <td  class="foot"></td>
  </tr>
</table>
	
	</td>
    <td width="50%" style="padding-top:5px;">
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td height="80">$label[page1_sortlist_roll]</td>
  </tr>
  <tr>
    <td><div class="hotkeywords">
热门搜索：
<!--$webdb[Info_metakeywords_sale]-->
<!--
EOT;
$Info_metakeywords_sale=explode(" ",$webdb[Info_metakeywords_sale]);
foreach($Info_metakeywords_sale as $kw){
$kw_url=urlencode($kw);
print <<<EOT
-->
	<a href="$Mdomian/sell_list.php?keyword=$kw_url">$kw</a>
<!--
EOT;
}
print <<<EOT
-->
</div></td>
  </tr>
</table>

	</td>
  </tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="redtitle">
<tr>
    <td class="head"><span class="title"> <strong>今日供应</strong></span><span class="right"> <a href="$Mdomain/tg_sell.php?action=tgnew" target="_blank">>>>我也要出现在这里</a> &nbsp;&nbsp;</span></td>
  </tr><tr>
  <td bgcolor="#FFFFFF" class="content" height="130">
<div id="showtg_1"></div>
</td>
	</tr>
</table>
	

<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="redtitle">
  <tr>
    <td class="head"><span class="title">供应分类</span><span class="right"><a href="$Mdomain/member/?main=post_sell.php">立刻发布</a>&nbsp;&nbsp;</span></td>
  </tr>
  <tr>
    <td  class="content" >	
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="Infosort" style="margin:0; border:0px">
              <tr> 
          <td class="middle"> 
          <div class="listsearch listsearch_border_bottom" >
              <form action="$Mdomain/sell_list.php" name="listform"  method="get">
			 在<select name="fid">
<!--
EOT;
foreach($bcategory->categories as $v){
print <<<EOT
-->
		<option value="{$v['fid']}">{$v['name']}</option>
<!--
EOT;
}
print <<<EOT
-->
				 </select>中搜索：关键字
                      <input name="keyword" type="text" id="keyword" value="$keyword" size="10" />
                      {$area_choose}
					  <input name="agent" type="checkbox" value="1"  $agent_ck[1]/>代理商
					  <input name="vip" type="checkbox" value="1"  $vip_ck[1]/>VIP商家
						<input type="submit" name="button" id="button" value="搜索" />
                      
                      <input name="ctype" type="hidden" id="ctype" value="1" />
              </form>
            </div>

            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="indexlistsort">
 <!--
EOT;


$i = 0;
foreach($bcategory->categories as $v){
	$class = $i%2==0 ? 'c2' : 'c1';
print <<<EOT
-->  
	      <tr class="sellCatelist"> 	
		 	   
			    <td   class="$class" height="110"> 

                  <div class="bigsort sellCateA"><a href="$Mdomain/sell_list.php?fid={$v['fid']}" style="font-size:14px;"><img src="$Murl/images/$STYLE/adtitle_ico.gif" border="0" /> {$v['name']}</a>
				  

                 
				  
<!--
EOT;

	if(isset($v['categories']))
	foreach($v['categories'] as $vv){
		if($vv['best']) $vv['name'] = '<font color="red">'. $vv['name'] .'</font>';
print <<<EOT

-->                <div class="smallsort sellCateB"> 
  <div style="">
                    <span style="width:115px; float:left;"><font color="#CCCCCC">|</font> <a href="$Mdomain/sell_list.php?fid={$vv['fid']}" >{$vv['name']}</a></span> 
					
					<div class="smallsort2 sellCateC"> 
                    <!--
EOT;
//sfe
//
if(isset($vv['categories']))
foreach($vv['categories'] as $vvv){
	print <<<EOT
    -->
  <a href="sell_list.php?fid={$vvv['fid']}&price1=0&price2=0" > {$vvv['name']}</a>
   <!--
EOT;
	}

//sfe

print <<<EOT
-->              
                  </div>
                  </div> 
				  </div>
				  
				
<!--
EOT;
	}
print <<<EOT
--> 
		</div>
				  </td>		
  </tr>
<!--
EOT;
	$i++;
}

print <<<EOT
--> </table> 

         </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>          </td>
        </tr>
      </table>	
	  
	  

</td>
  </tr>
  <tr>
    <td  class="foot"></td>
  </tr>
</table>	

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="redtitle">
<tr>
    <td class="head"><span class="title"> <strong>推荐产品</strong></span><span class="right"> </span></td>
  </tr><tr>
  <td bgcolor="#FFFFFF" class="content">
<!--
EOT;
	$thislistdb=Get_Info($type='level',$rows=12,$leng=28,$fid=0,$mid=0,$ctype=1);
	if($thislistdb){
print <<<EOT
-->				  
				  <div class="bestlist">
<!--
EOT;
	
	foreach($thislistdb as $rs){
print <<<EOT
-->
	<div class="linelist">
	<p><a href="$rs[url]" target="_blank"><img src="$rs[picurl].gif" width="60" height="60" onerror="this.src='$Murl/images/$STYLE/nopic.jpg';" class="pic" /></a></p>
	<p class="title"><a href="$rs[url]" target="_blank">$rs[title]</a></p>
	<p style="font-size:12px;">$rs[my_price]</p>
	</div>
<!--
EOT;
}
print <<<EOT
--> 
				  </div>
<!--
EOT;
}
print <<<EOT
-->	
</td>
	</tr>
	  <tr>
    <td  class="foot"></td>
  </tr>
</table>



	
<div style="margin-top:5px;">$label[page1_sortlist_left1]</div>
<div style="margin-top:5px;">$label[page1_sortlist_left2]</div>
 
</td>

    <td width="350" valign="top" class="Side" align="right" style="padding-left:5px;">


<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="redtitle">
  <tr>
    <td class="head"><span class="title">热门推荐</span><span class="right"><a href="$Mdomain/member/post_sell.php">立刻发布</a>&nbsp;&nbsp;</span></td>
  </tr>
  <tr>
    <td  class="content" height="150">
<!--$hotinfolist-->
<!--
EOT;
$hotinfolist=Get_Info($type='level',$rows=$webdb[InfoIndexRow],$leng=$webdb[InfoIndexLeng],$fid=0,$mid=0,$ctype=1);
foreach($hotinfolist as $rs){
print <<<EOT
-->
	<div style="height:18px;">·<a href="$rs[url]" title="$rs[full_title]">$rs[title]</a> ($rs[my_price])</div>
<!--
EOT;
}
print <<<EOT
-->
	</td>
  </tr>
  <tr>
    <td  class="foot"></td>
  </tr>
</table>
	



   <div>$label[page1_sortlist_right]</div>
   
 
 
<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="redtitle">
  <tr>
    <td class="head"><span class="title">$label[sale_right_1]&nbsp;</span><span class="right">$label[sale_right_1_more]</span></td>
  </tr>
  <tr>
    <td  class="content" height="150">$label[sale_right_1_conent]<div>$label[sale_right_1_conent2]</div></td>
  </tr>
  <tr>
    <td  class="foot"></td>
  </tr>
</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="redtitle">
  <tr>
    <td class="head"><span class="title">$label[sale_right_2]&nbsp;</span><span class="right">$label[sale_right_2_more]</span></td>
  </tr>
  <tr>
    <td  class="content" height="150">$label[sale_right_2_conent]<div>$label[sale_right_2_conent2]</div></td>
  </tr>
  <tr>
    <td  class="foot"></td>
  </tr>
</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="redtitle">
  <tr>
    <td class="head"><span class="title">$label[sale_right_3]&nbsp;</span><span class="right">$label[sale_right_3_more]</span></td>
  </tr>
  <tr>
    <td  class="content" height="150">$label[sale_right_3_conent]<div>$label[sale_right_3_conent2]</div></td>
  </tr>
  <tr>
    <td  class="foot"></td>
  </tr>
</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="redtitle">
  <tr>
    <td class="head"><span class="title">$label[sale_right_4]&nbsp;</span><span class="right">$label[sale_right_4_more]</span></td>
  </tr>
  <tr>
    <td  class="content" height="150">$label[sale_right_4_conent]<div>$label[sale_right_4_conent2]</div></td>
  </tr>
  <tr>
    <td  class="foot"></td>
  </tr>
</table>



<table width="100%" border="0" cellspacing="0" cellpadding="0"  class="redtitle">
  <tr>
    <td class="head"><span class="title">$label[sale_right_5]&nbsp;</span><span class="right">$label[sale_right_5_more]</span></td>
  </tr>
  <tr>
    <td  class="content" height="150">$label[sale_right_5_conent]<div>$label[sale_right_5_conent2]</div>
	</td>
  </tr>
  <tr>
    <td  class="foot"></td>
  </tr>
</table>
<div style="text-align:left;margin-top:5px;">
{$label[sortlist_1_foot1]}</div>
<div style="text-align:left;margin-top:5px;">
{$label[sortlist_1_foot2]}</div>
<div style="text-align:left;margin-top:5px;">
{$label[sortlist_1_foot3]}</div>
   
    </td>
  </tr>
</table>
<script language="javascript">change_search_menu(1,'找 产 品');</script>
<script language="javascript" type="text/javascript" src="$Murl/tg_sell_list.php?from=sortindex&rows=6&showdiv=showtg_1"></script>


<!--
EOT;
?>
-->
