<!--
<?php

print <<<EOT
-->
<a name="mytop" id="mytop"></a>
<table width="100%" cellspacing="0" cellpadding="0" class="redtitle">
  <tr>
    <td class="head">
	<span class="title">我要推广</span><span class="right"><a href="?action=tg&amp;ctype=$ctype">>>>查看推广中信息</a>&nbsp;</span>	</td>
  </tr>
  <tr>
    <td class="content">
	 
        
<!--
EOT;
if($action=='tg'){
print <<<EOT
-->	
 <table width="100%" cellspacing="0" cellpadding="0">	
<tr>
   <td  align="left" valign="top"><table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td width="78%" height="30"><strong>推广中信息:</strong></td>
            <td width="22%" align="right">
              <input type="button" name="Submit3" value="推广新供求信息" onclick="window.location='?action=tgnew'" />            </td>
          </tr>
        </table>
        <table width="100%" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
  <tr>
    <td colspan="2" bgcolor="#f9f9f9">&nbsp;信息标题</td>
    <td width="154" align="center" bgcolor="#f9f9f9">价格</td>
    <td width="233" align="center" bgcolor="#f9f9f9">排行查看</td>
    <td width="302" align="center" bgcolor="#f9f9f9">状态</td>
    </tr>
<!--
EOT;
if($mytglist){
foreach($mytglist as $rs){
print <<<EOT
-->
 	 <tr>
    <td width="60"  height="60" bgcolor="#FFFFFF"><img src="$rs[picurl_min]"  border="0" width="60" height="60"  onerror="this.style.display='none';"/></td>
    <td width="563" bgcolor="#FFFFFF">&nbsp;【{$action_name[$rs[tg_ctype]]}】<a href="$Mdomain/sell_bencandy.php?id=$rs[tg_id]&fid=$rs[tg_fid]" target="_blank"><strong>$rs[tg_title]</strong></a><br />
     &nbsp; 提交于:$rs[posttime] ,
     &nbsp; 开始于:$rs[tg_posttime]</td>
    <td align="center" bgcolor="#FFFFFF">$rs[my_price]</td>
    <td align="center" bgcolor="#FFFFFF"><a href="?action=tg_top&amp;fid=$rs[tg_fid]" target="_blank"><strong>{$bcategory->categories[$rs[tg_fid]]['name']}</strong>的排行榜</a></td>
    <td align="center" bgcolor="#FFFFFF">$rs[tg_howmuch]积分 * $rs[tg_howlong]小时=$rs[total]积分<br /><strong>$rs[status]</strong>($rs[yz])</td>
    </tr>

<!--
EOT;
}
}else{
print <<<EOT
-->
  	<tr>
    <td bgcolor="#FFFFFF" colspan="5"  height="60"><br />&nbsp;你还没有推广供应信息,<a href="?action=tgnew&ctype=$ctype"><strong>点击这里推广新的供应信息</strong></a></td>
    </tr>
<!--
EOT;
}
print <<<EOT
-->
</table> 
		 <div class="page">{$showpage}</div>
		  </td>
        </tr>
      </table>	</td>
  </tr>
  
</table>
<!--
EOT;
}elseif($action=='tgnew'){
print <<<EOT
-->		
<form id="form1" name="form1" method="post" action="?action=$action">
<strong>选择要推广的供应信息：</strong> <input name="keyword" type="text" value="$keyword" size="10" maxlength="10" />
<input type="submit" name="Submit" value="搜索" />

</form>
<table width="100%" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
  <tr>
    <td bgcolor="#f9f9f9">&nbsp;信息标题</td>
    <td width="22%" align="center" bgcolor="#f9f9f9">状态</td>
  </tr>
<!--
EOT;
if($listdb){
foreach($listdb as $rs){
print <<<EOT
-->
 	 <tr>
    <td  height="60" bgcolor="#FFFFFF"><img src="$rs[picurl_min]"  border="0" width="60" height="60"  onerror="this.style.display='none';"/>&nbsp;<a href="$Mdomain/sell_bencandy.php?id=$rs[id]&fid=$rs[fid]" target="_blank"><strong>$rs[title]</strong></a>	</td>
    <td align="center" bgcolor="#FFFFFF">$rs[status]</td>
    </tr>

<!--
EOT;
}
}else{
print <<<EOT
-->
  	<tr>
    <td bgcolor="#FFFFFF" colspan="3" height="60"><br />&nbsp;你还没有发布供应信息,<a href="$Mdomain/member/?main=post_sell.php"><strong>点击发布新的供应信息</strong></a></td>
    </tr>
<!--
EOT;
}
print <<<EOT
-->
</table> 
		<div class="page">{$showpage}</div>
		   
<!--
EOT;
}elseif($action=='posttgnew'){
print <<<EOT
-->	
	
	<form id="posttgnew" name="posttgnew" method="post" action="?">
	 
	  <table width="100%" cellspacing="0" cellpadding="0" style="line-height:30px;">
	  <tr>
          <td colspan="2" align="left" valign="top">&nbsp;</td>
          <td align="left" valign="top"> <strong>	设置推广信息	  </strong></td>
        </tr>
		  <tr>
          <td width="10%" rowspan="5" align="right" valign="top"><img src="$rsdb[picurl_min]"  border="0" onerror="this.style.display='none';"/></td>
          <td width="10%" align="right" valign="top">推广目标：</td>
          <td width="80%" align="left" valign="top">$fid_allpath  | <a href='?action=tg_top' target='_blank' >查看总排名</a></td>
        </tr>
        <tr>
          
          <td width="10%" align="right" valign="top">推广标题：</td>
          <td width="80%" align="left" valign="top"><input name="tg_title" type="text" id="tg_title" size="60" value="$rsdb[title]" />		  </td>
        </tr>
        
        <tr>
          <td align="right" valign="top">推广时长：</td>
          <td align="left" valign="top"><select name="tg_howlong" id="tg_howlong" onblur="gettatol()" onchange="gettatol()">
            <option value="1" {$tg_howlong[1]} >1小时</option>
            <option value="2"{$tg_howlong[2]} >2小时</option>
            <option value="3"{$tg_howlong[3]} >3小时</option>
			 <option value="4"{$tg_howlong[4]} >4小时</option>
            <option value="5"{$tg_howlong[5]} >5小时</option>
			<option value="8" selected="selected"{$tg_howlong[8]} >8小时</option>
			<option value="12"{$tg_howlong[12]} >12小时</option>
			<option value="24"{$tg_howlong[24]} >1天</option>
			<option value="48"{$tg_howlong[48]} >2天</option>
			<option value="72"{$tg_howlong[72]} >3天</option>
			<option value="96"{$tg_howlong[96]} >4天</option>
			<option value="120"{$tg_howlong[120]} >5天</option>
			<option value="240"{$tg_howlong[240]} >10天</option>
			<option value="360"{$tg_howlong[360]} >15天</option>
			<option value="720"{$tg_howlong[720]} >30天</option>
          </select>          </td>
        </tr>
        <tr>
          <td align="right" valign="top">推广价格：</td>
          <td align="left" valign="top"><input name="tg_howmuch" type="text" id="tg_howmuch" size="5" value="$rsdb[tg_price]"  onblur="gettatol()" />
            积分/小时,您现在的积分为：<strong><font color="#FF0000">{$mymoney}</font></strong>积分 [<a href="$Mdomain/member/?main=money.php?job=list" target="_blank"><strong>充值换积分</strong></a>]</td>
        </tr>
        <tr>
          <td align="right" valign="top">说明：</td>
          <td align="left" valign="top">1.推广标题可以修改，您可以修改为比较有吸引力的标题,最少8个字，最多24个字；<br />
            2.推广时长为此推广信息在推广位置显示的时间范围，确定推广后开始计时；<br />
            3.积分是一个时间单位内的出价，出价越高，显示越靠前,选择分类越大出现的几率越高；<br />
            4.本次推广消耗的积分为(时长*出价=总消耗):<span id="showtatol">计算中...</span>；<br />
            5.一旦推广成功后就不能再修改标题和出价、时长信息,<font color="red">请谨慎设置推广时长和推广出价</font>；            </td>
        </tr>
        <tr>
          <td colspan="2" align="left" valign="top">&nbsp;</td>
          <td align="left" valign="top"><input type="submit" name="Submit2" value="确 定 推 广" style="padding:10px;" />
          <input name="action" type="hidden" id="action" value="savetgnew" />
          <input name="id" type="hidden" id="id" value="$id" />
          <input name="ctype" type="hidden" id="ctype" value="$ctype" /></td>
        </tr>
      </table>
	  <script language="javascript">
	  gettatol();
	  function gettatol(){
	   	var howlong=document.getElementById('tg_howlong');
		var howmuch=document.getElementById('tg_howmuch'); 	howmuch.value=Number(howmuch.value).toFixed(1);
		if(howmuch.value<{$webdb[tg_permoney]}){
		 alert("推广价格不能小于{$webdb[tg_permoney]}"); 
		 howmuch.value={$webdb[tg_permoney]};
		 return false;
		}
		var showtatol=document.getElementById('showtatol');
		var howlong_hour=howlong.options[howlong.selectedIndex].value;
		var zongsu  =howlong_hour*howmuch.value;
		showtatol.innerHTML="<font color=red><strong>"+howlong_hour+"</strong></font>小时 * <font color=blue><strong>"+ howmuch.value+"</strong></font>积分 = <strong><font color=green>"+String(zongsu.toFixed(0))+"</font></strong>积分(四舍五入)";
	  }
	  </script>
    </form>
    
<!--
EOT;
}elseif($action=='savetgnewok'){
print <<<EOT
-->	
      
      <br />
      <div align="center"><strong>恭喜，设置成功!</strong><br /><br />
	  <a href="?action=tg">点此管理推广中信息</a>
	  <br /><br />
	  <a href="?action=tgnew">点此继续推广</a>
	  </div>
<!--
EOT;
}elseif($action=='tg_top'){
print <<<EOT
-->	
      
      <strong><font color="#FF0000">{$Fid_db[name][$fid]}</font>的排行榜[Top100]</strong> <a href="?action=tg_top">点此查看总排名</a> (温馨提示：总排名靠前的，可能会在首页或者供应,求购第二首页显示)
      <table width="100%" cellpadding="0" cellspacing="1" bgcolor="#CCCCCC">
  <tr>
    <td width="5%" align="center" bgcolor="#f9f9f9">排名</td>
    <td width="10%" align="center" bgcolor="#f9f9f9">出价</td>
    <td width="75%" bgcolor="#f9f9f9"> &nbsp;标题</td>
    <td width="10%" align="center" bgcolor="#f9f9f9">状态</td>
  </tr>
<!--
EOT;
if($toplistdb){
$i=1;
foreach($toplistdb as $rs){
print <<<EOT
-->
  <tr>
    <td align="center" bgcolor="#FFFFFF" height="25">$i</td>
    <td align="center" bgcolor="#FFFFFF">$rs[tg_howmuch]积分</td>
    <td bgcolor="#FFFFFF">&nbsp;<a href="$Mdomain/sell_bencandy.php?id=$rs[tg_id]&amp;fid=$rs[tg_fid]" target="_blank">$rs[tg_title]</a></td>
    <td align="center" bgcolor="#FFFFFF">$rs[yz]</td>
  </tr>
<!--
EOT;
$i++;
}
}else{
print <<<EOT
-->
  <tr>
    <td align="center" bgcolor="#FFFFFF" colspan="4" height="60"><br /><strong>太棒了，还没有人在此类目出价！</strong></td>
  </tr>
<!--
EOT;
}
print <<<EOT
-->
</table>

      
<!--
EOT;
}
print <<<EOT
-->	
      
      
      
          </td>
    
    <tr>
    <td class="foot">&nbsp;</td>
  </tr>
    <div align="center">
      </table>	
    </div>
<!--
EOT;
?>
-->