<!--
<?php
print <<<EOT
-->

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="leftMain" width="300">
    
    
     <table width="100%" cellspacing="0" cellpadding="0" class="leftDiv" >
  <tr>
    <td class="head"><span class="L">&nbsp;</span><span class="title">展览馆信息</span><span class="R">&nbsp;</span><span class="more"><a href="?sr_id=$sr_id">>>>更多</a></td>
  </tr>
  <tr>
    <td  class="content" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
             <td align="right"><strong>所属地区</strong>：</td>
             <td align="left">$rsdb[area]</td>
           </tr>
           <tr>
             <td width="32%" align="right"> <strong>展览馆地址</strong>：</td>
             <td width="68%" align="left">$rsdb[address]</td>
           </tr>
           <tr>
             <td align="right"><strong>展览馆主页</strong>：</td>
             <td align="left"><a href="$rsdb[website]" target="_blank">$rsdb[website]</a></td>
           </tr>
           
         </table>    
         
         </td>
    </tr>
    </table>
    
    
      <table width="100%" cellspacing="0" cellpadding="0" class="leftDiv" >
  <tr>
    <td class="head"><span class="L">&nbsp;</span><span class="title">联系方式</span><span class="R">&nbsp;</span></td>
  </tr>
  <tr>
    <td  class="content" align="left">$rsdb[contact] &nbsp; </td>
    </tr>
    </table>
    
       <table width="100%" cellspacing="0" cellpadding="0" class="leftDiv" >
  <tr>
    <td class="head"><span class="L">&nbsp;</span><span class="title">近期举办的展会</span><span class="R">&nbsp;</span><span class="more"><a href="?sr_id=$sr_id&morezh=1">>>>更多</a></span></td>
  </tr>
  <tr>
    <td  class="content" align="left">
<!--
EOT;
$jinqizhlist=list_zh(array('showroom'=>$sr_id,'limit'=>5,'titlelength'=>44));
foreach($jinqizhlist as $rs){
print <<<EOT
-->    
<div align="center"><p>&nbsp;</p><a href="$Mdomain/zhshow.php?zh_id=$rs[zh_id]" target="_blank" title="$rs[title_yuan]" class="bigfont"><img src="$rs[picurl]" border="0"  width="215" height="60" onerror="this.src='$Murl/images/$STYLE/nopic430_120.gif';"/><p>$rs[title]</p></a></div>
<!--
EOT;
}
print <<<EOT
-->    
    &nbsp;
    </td>
    </tr>
    </table>
     <div class="notitle">
    
   
    
   
    
   
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30%" align="right"><strong>发 布 者</strong>：</td>
    <td width="70%"> <p>$rsdb[username]</p>
    <p>$userdb[company_name]</p></td>
  </tr>
  <tr>
    <td align="right"><strong>发布时间</strong>：</td>
    <td><p>$rsdb[posttime]</p></td>
  </tr>
  <tr>
    <td align="right"><strong>显示时间</strong>：</td>
    <td><p>$rsdb[yz_time]</p></td>
  </tr>

  <tr>
    <td align="right"><strong>浏 览 量</strong>：</td>
    <td><p><strong>$rsdb[hits] </strong>次</p></td>
  </tr>

</table>

    
    </div>
   
    
    </td>
    <td class="rightMain">
   
    
    <div class="notitle">
    <div class="zhtitle">$rsdb[title]</div>
    <div class="zhUFtitle">$rsdb[area]</div>
    </div>
    
<!--
EOT;
if(!$morezh){
print <<<EOT
-->    
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="zlgDiv">
  <tr >
    <td class="head"><span class="L">&nbsp;</span><span class="title">展览馆详细介绍</span><span class="R">&nbsp;</span>
    <!--
EOT;
if($rsdb[uid]==$lfjuid || $Admin){
print <<<EOT
-->   
    <span class="more">
    <a href="$Mdomain/zh_post.php?job=editzlg&sr_id=$rsdb[sr_id]">修改</a></span>
<!--
EOT;
}
print <<<EOT
-->    </td>
    </tr>
  <tr>
    <td class="content">
<!--
EOT;
if($rsdb[picurl]){
print <<<EOT
-->
     <span align="left" style="float:left; margin-right:10px;margin-bottom:10px;">
    <img src="$rsdb[picurl]"  border="0" onload='if(this.width>400){this.width=400;}'/>
    </span>
 <!--
EOT;
}
print <<<EOT
-->   
    $rsdb[content]
    &nbsp;
    <div style="text-align:center; float:left;">{$show_bd_pics}</div>
	</td>
    
    </tr>
    
    </table>
    
<!--
EOT;
}else{
print <<<EOT
-->    
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="zlgDiv">
  <tr >
    <td class="head"><span class="L">&nbsp;</span><span class="title">举办过的展会</span><span class="R">&nbsp;</span></td>
    </tr>
  <tr>
    <td class="content">
       <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="trA">
    <td width="75%">展会名称</td>
    <td width="13%">开展时间</td>
    <td width="12%">结束时间</td>
  </tr>



<!--
EOT;

$i=1;
foreach($jblistdb as $rs){
$trclass=$i%2==0?"trB":"trC";
print <<<EOT
-->    
    
    <tr class="$trclass">
    <td height="30"><a href="$Mdomain/zhshow.php?zh_id=$rs[zh_id]" target="_blank" title="$rs[title_yuan]" class="bigfont"><img src="$Murl/images/$STYLE/title_icon3.gif" border="0" /> $rs[title]</a></td>
    <td>$rs[starttime]</td>
    <td>$rs[endtime]</td>
  </tr>
<!--
EOT;
$i++;
}
print <<<EOT
-->
</table>
    
    <div class="page">$showpage</div>
    </td>
    
    </tr>
    
    </table>
    
<!--
EOT;

}
print <<<EOT
-->     
    </td>
  </tr>
</table>


<!--
EOT;
?>
-->